﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

    
    <div class="row" id="ban-list-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Արգելանքի առարկաներ`</th>
                                    <th>Որոշող մարմին`</th>
                                    <th class="tableDateCol">Ամսաթիվ`</th>
                                    <th>Որոշման համար`</th>
                                    <th>Դադարեցման համար`</th>
                                    <th>Ում կողմից`</th>
                                    <th>Դադարեցման ամսաթիվ`</th>
                                    <th colspan="2" class="statusCol">Կարգավիճակ</th>
                                </tr>
                            </thead>
                            <tbody id="addbantablbody" class="addbantablebody">
                                @if(Model.Prisoner.Injunctions != null)
                                {
                                    @Html.Action("Draw_BanTableRows", "_Popup_", new { Bans = Model.Prisoner.Injunctions.Items })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <button type="button" class="btn btn-default btn-flat ban-add-open" id="addbanobjectBtn">Ավելացնել</button>
}
				  </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" data-toggle="modal" data-target=".add-file-modal" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
				 </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>ծավալ</th>
                                    <th class="tableDateCol">Ամսաթիվ</th>
                                    <th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfiletablebody">
                                @if (Model.Prisoner.Injunctions != null && Model.Prisoner.Injunctions.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.Injunctions.Files, PrisonerID = Model.Prisoner.ID })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>