﻿@model  MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities;


    <div class="row" id="benefit-list-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Խրախուսանքի միջոց</th>
                                    <th>Նշանակման ամսաթիվ</th>
                                    <th>Խրախուսանքը ներկայացնող անձ</th>
                                    <th colspan="2">Խրախուսման հիմք</th>
                                </tr>
                            </thead>
                            <tbody id="enctablebody" class="enctablebody">
                               @if (Model.Encouragement != null && Model.Encouragement.Encouragements != null && Model.Encouragement.Encouragements.Any())
                               {
                                   @Html.Action("Draw_EncouragementTableRow", "_Popup_", new { Data = Model.Encouragement.Encouragements });
                               }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <button id="addEncBtn" class="btn btn-sm btn-default btn-flat">Ավելացնել</button>
}
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
				 </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>Ծավալ</th>
                                    <th class="tableDateCol">Ամսաթիվ</th>
                                    <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfileTableBody">
                                @if (Model.Encouragement != null && Model.Encouragement.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Encouragement.Files, PrisonerID = Model.Prisoner.ID })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>