﻿@model MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
	<table class="table table-bordered table-valignM">
		<thead>
			<tr>
				<th>Անհատական համար</th>
				<th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
				<th>Խրախուսանքի տեսակ</th>
				<th>Նշանակման ամսաթիվ</th>
				<th>Խրախուսանքը նշանակող անձ</th>
				<th>Խրախուսանքի նշանակման հիմք</th>
			</tr>
		</thead>
		<tbody id="convictsTableBody"class="loaderClass">
			@if (Model.ListDashboardEncouragements != null && Model.ListDashboardEncouragements.Any())
            {
                foreach (EncouragementsDashboardEntity curEncouragement in Model.ListDashboardEncouragements)
                {
					<tr>
						@if (Enumerable.Any(ViewBag.Permissions))
						{
							<td data-title="Անհատական համար"><a href="@Url.Action((curEncouragement.ArchiveStatus.Value) ? "Edit" : "Preview", (curEncouragement.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEncouragement.PrisonerID })#Encouragements">@curEncouragement.Personal_ID</a></td>
						}
						else
						{
							<td data-title="Անհատական համար">@curEncouragement.Personal_ID</td>
						}
						<td data-title="Դատապարտյալ">@curEncouragement.PrisonerName</td>
						@if (curEncouragement.PrisonerType == 3)
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
						<td data-title="Խրախուսանքի տեսակ">@curEncouragement.TypeLibItemLabel</td>
						
						<td data-title="Նշանակման ամսաթիվ">@curEncouragement.StartDate.Value.ToString("dd/MM/yyyy")</td>
						<td data-title="Խրախուսանքը նշանակող անձ">@curEncouragement.EmployeerName</td>

						<td data-title="Խրախուսանքի նշանակման հիմք">@curEncouragement.BaseLibItemLabel</td>
					</tr>
                }
            }
		</tbody>
	</table>
</div>
<div class="tableWrapPagination">
	<div class="tableWrapPaginationLeft">
		Գտնվել է <strong>@Model.EncouragementsEntityPaging.TotalCount</strong> արդյունք
	</div>
	<div class="tableWrapPaginationRight">
		<ul class="pagination pagination-sm">
			@if (Model.ListDashboardEncouragements != null && Model.EncouragementsEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.EncouragementsEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.EncouragementsEntityPaging.CurrentPage == Model.EncouragementsEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_EncouragementTableRow/1/" data-pagenumber="1" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_EncouragementTableRow/@(Model.EncouragementsEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.EncouragementsEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
					<li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
					<li><a class="latest @backClass" data-pagenumber="@(Model.EncouragementsEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
				}

				int i = 1;
				int t = Model.EncouragementsEntityPaging.TotalPage;
				int c = Model.EncouragementsEntityPaging.CurrentPage;
				int v = Model.EncouragementsEntityPaging.ViewCount;
				int l = v;

				if (t > v)
				{
					if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
					{
						i = c - (v / 2 - 1) - v % 2;
						l = c + v / 2;
					}
					else if (c >= t - ((double)v / 2.0))
					{
						i = t - v + 1;
						l = t;
					}
				}
				else if (t < v)
				{
					l = t;
				}
				for (; i <= l; i++)
				{
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_EncouragementTableRow/@i" class="paginationBtn @((i == Model.EncouragementsEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_EncouragementTableRow/@(Model.EncouragementsEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_EncouragementTableRow/@Model.EncouragementsEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
					<li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
					<li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
		</ul>
	</div>
</div>
