﻿@model MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">
                                        <div class="col-xs-12 col-md-2 @((Model.FilterEncouragements != null && Model.FilterEncouragements.PrisonerType != null && Model.FilterEncouragements.PrisonerType == 3) ? "hidden" : "")" id="convictTypeLibLIst">
                                            <div class="form-group">
                                                <label for="TypeLibItemListConvicts">Խրախուսանքի տեսակ`</label>
                                                <select name="TypeLibItemListConvicts" id="TypeLibItemListConvicts" class="selectize-sm getItemsFilter selectizeFilterEncouragements" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.TypeLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEncouragements != null && Model.FilterEncouragements.TypeLibItemID != null && Model.FilterEncouragements.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2 @((Model.FilterEncouragements != null && (Model.FilterEncouragements.PrisonerType == null || Model.FilterEncouragements.PrisonerType == 2)) ? "hidden" : "")" id="prisonerTypeLibList">
                                            <div class="form-group">
                                                <label for="TypeLibItemListPrisoners">Խրախուսանքի տեսակ`</label>
                                                <select name="TypeLibItemListPrisoners" id="TypeLibItemListPrisoners" class="selectize-sm getItemsFilter selectizeFilterEncouragements" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.TypeLibListPrisoners)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEncouragements != null && Model.FilterEncouragements.TypeLibItemID != null && Model.FilterEncouragements.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-1">Անուն`</label>
												<input name="FirstName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-1" value="@Model.FilterEncouragements.FirstName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-2">Ազգանուն`</label>
												<input name="LastName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-2" value="@Model.FilterEncouragements.LastName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-3">Հայրանուն`</label>
												<input name="MiddleName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-3" value="@Model.FilterEncouragements.MiddleName" />
											</div>
										</div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Սկիզբ`</label>
                                                <input name="StartDate" class="FilterDates getItemsFilter form-control input-sm" type="text" id="encouragement-start-date" value="@(Model.FilterEncouragements != null && Model.FilterEncouragements.StartDate != null ? Model.FilterEncouragements.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Վերջ`</label>
                                                <input name="EndDate" class="FilterDates getItemsFilter form-control input-sm" type="text" id="encouragement-end-date" value="@(Model.FilterEncouragements != null && Model.FilterEncouragements.StartDate != null ? Model.FilterEncouragements.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Նշանակող անձ`</label>
                                                <select name="EmployeerID" id="benefit-type" class="selectize-sm getItemsFilter selectizeFilterEncouragements">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (EmployeeEntity Lib in Model.EmployeeList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEncouragements != null && Model.FilterEncouragements.EmployeerID != null && Model.FilterEncouragements.EmployeerID == Lib.ID) ? "selected" : "")>@Lib.FirstName @Lib.LastName @Lib.MiddleName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="encouragments-name-2">ՔԿՀ`</label>
                                                <select name="OrgUnitIDList" id="orgunitidlist" class="getItemsFilter selectize-sm selectizeFilterEncouragements" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                                                    {
                                                        <option value="@item.Key" @((Model.FilterEncouragements != null && Model.FilterEncouragements.OrgUnitIDList != null && Model.FilterEncouragements.OrgUnitIDList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="PrisonerType">Դատապարտյալ(Կալանվոր)`</label>
                                                <select name="PrisonerType" id="PrisonerType" class="getItemsFilter selectize-sm selectizeFilterEncouragementsArchive">
                                                    <option value="">Ընտրել</option>
                                                    <option value="2" @((Model.FilterEncouragements != null && (Model.FilterEncouragements.PrisonerType == null || Model.FilterEncouragements.PrisonerType == 2)) ? "selected" : "")>Դատապարտյալ</option>
                                                    <option value="3" @((Model.FilterEncouragements != null && Model.FilterEncouragements.PrisonerType != null && Model.FilterEncouragements.PrisonerType == 3) ? "selected" : "")>Կալանավոր</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="encouragments-archived">Արխիվացված`</label>
                                                <select name="ArchiveStatus" id="prisoner-archived" class="getItemsFilter selectize-sm selectizeFilterEncouragementsArchive">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterEncouragements != null && !Model.FilterEncouragements.ArchiveStatus) ? "selected" : "")>Այո</option>
                                                    <option value="true" @((Model.FilterEncouragements != null && Model.FilterEncouragements.ArchiveStatus) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
												<button title="Չեղարկել" type="button" class="btn btn-default btn-flat" id="reloadFilterBtn">Չեղարկել</button>
												<button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="filterList">
                            @Html.Action("Draw_EncouragementTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>