﻿@model MVC___Internal_System.Models._Popup_Files_ViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade add-file-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				Դիտել Ֆայլ
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    @if (Model.currentFile != null)
                                                    {
                                                        <div class="form-group">
                                                            <label>Ֆայլ`</label>
                                                            <a href="@(Model.currentFile != null ? BusinessLayer.BusinessServices.BL_Files.getInstance().GetLink(Model.currentFile.ID.Value) : "")" target="_blank">@Model.currentFile.FileName</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="add-file-status">Կարգավիճակ`</label>
												<span>@((Model.currentFile != null && Model.currentFile.State.Value) ? "Ակտիվ" : "Պասիվ")</span>
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="add-file-description">Ավելացման Ամսաթիվ`</label>
												<span>@((Model.currentFile != null) ? Model.currentFile.ModifyDate.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="add-file-description">Ծավալ`</label>
												<span>@((Model.currentFile != null) ? Model.currentFile.ContentLength.ToString() : "")</span>
											</div>
										</div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="add-file-description">Նկարագրություն`</label>
                                                <span>@((Model.currentFile != null) ? Model.currentFile.Description : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>