﻿@model MVC___Internal_System.Models.PermissionsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade permission-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Վերակարգ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="PositionID">Պաշտոն`</label>
                                                        <select name="PositionID" id="PositionID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (OrgUnitEntity PositionEntity in Model.OrgUnitPositions)
                                                            {
                                                                <option value="@PositionEntity.ID">@PositionEntity.Label</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="PermissionIDs">Բաժին`</label>
                                                        <select name="PermissionIDs" id="PermissionIDs" class="getItemsModal checkValidateModal selectize-sm selectizeModal" multiple>
                                                            <option value="">Ընտրել</option>
                                                            @*<option value="@((int)PermissionsHardCodedIds.OfficialVisits)">Այցելություններ</option>*@
                                                            <option value="@((int)PermissionsHardCodedIds.PersonalVisits)">Տեսակցություններ</option>
                                                            <option value="@((int)PermissionsHardCodedIds.Packages)">Հանձնուքներ</option>
                                                            <option value="@((int)PermissionsHardCodedIds.Departures)">Մեկնումներ</option>
                                                            <option value="@((int)PermissionsHardCodedIds.Transfers)">Տեղափոխումներ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>

