﻿@model MVC___Internal_System.Models.TerminationViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade open-case-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Բացել գործը</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Դատարանի որոշում`</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-number">Համար`</label>
                                                <input class="form-control input-sm" type="number" id="open-case-number" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-date">Ամսաթիվ`</label>
                                                <input class="form-control input-sm" type="text" id="open-case-date" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-from">Ում կողմից`</label>
                                                <select id="open-case-from" class="selectize-sm selectizeTerminate">
                                                    <option value="">Ընտրել</option>
                                                    <option value="1">Ում կողմից</option>
                                                    <option value="2">Ում կողմից</option>
                                                    <option value="3">Ում կողմից</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="open-case-description">Նշումներ`</label>
                                                <textarea class="form-control input-sm" rows="4" id="open-case-description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>