﻿@model MVC___Internal_System.Models.ArmyViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade military-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">@Html.Raw("Դիտել ծառայութունը զինված ուժերում")</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="military-start-date">Ծառայության սկիզբ</label>
                                                <span> @((Model.armyEntity != null && Model.armyEntity.StartDate != null) ? Model.armyEntity.StartDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="military-end-date">Ծառայության ավարտ</label>
                                                <span>@((Model.armyEntity != null && Model.armyEntity.EndDate != null) ? Model.armyEntity.EndDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                            </div>
                                        </div>

                                        @*<div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="getItemsArmy TypeLibItemID" name="TypeLibItemID">Զորքի տեսակը`</label>
                                                												@{List<int> checkedIDList = new List<int>();
																									if (Model.armyEntity != null && Model.armyEntity.TypeLibItemID != null)
																									{
																										checkedIDList.Add(Model.armyEntity.TypeLibItemID.Value);
																									}
																									for (int i = 0; i < checkedIDList.Count(); i++)
																									{
																										<span>
																											@MyHelpers.GetLibNameByID(checkedIDList[i]).ToString()<span>,</span></span>
	}
	}
</div>
                                        </div>*@
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="military-profession">Զինվորական մասնագիտությունը`</label>
                                                        
                                                               @if (Model.armyEntity != null && Model.armyEntity.ProffessionLibItemID != null)
															   {
																  
																<span>@MyHelpers.GetLibNameByID(Model.armyEntity.ProffessionLibItemID)</span>
   }
                                                         
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="getItemsArmy RankLibItemID" name="RankLibItemID">Զինվորական կոչումը`</label>
                                                        														@{List<int> checkedIDListRank = new List<int>();
																													if (Model.armyEntity != null && Model.armyEntity.RankLibItemID != null)
																													{
																														checkedIDListRank.Add(Model.armyEntity.RankLibItemID.Value);
																													}
																													for (int i = 0; i < checkedIDListRank.Count(); i++)
																													{
																														<span>
																															@MyHelpers.GetLibNameByID(checkedIDListRank[i]).ToString()</span>
	}
	}
</div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="getItemsArmy PositionLibItemID" name="PositionLibItemID">Զինվորական պաշտոնը`</label>
                                                        														@{List<int> checkedIDListPos = new List<int>();
																													if (Model.armyEntity != null && Model.armyEntity.PositionLibItemID != null)
																													{
																														checkedIDListPos.Add(Model.armyEntity.PositionLibItemID.Value);
																													}
																													for (int i = 0; i < checkedIDListPos.Count(); i++)
																													{
																														<span>
																															@MyHelpers.GetLibNameByID(checkedIDListPos[i])</span>


	}
	}
</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnArmy">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>