﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-court-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">Դիտել Կալանավորման տվյալներ`</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										@*<div class="col-xs-12">
											<div class="form-group">
												<label for="entrance-case-performing-person">Վարույթ իրականացնող մարմին`</label>
												<select name="ProceedingLib_ID" id="entrance-case-performing-person" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
													<option value="">Ընտրել</option>
													@foreach (LibsEntity Lib in Model.VaruytMarmin)
													{
														<option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.ProceedingLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
													}
												</select>
											</div>
										</div>*@
										<div class="col-xs-12">
											<div class="form-group">
												<label for="entrance-court-name-1">Կալանավորում խափանման միջոց ընտրած մարմին`</label>
												@foreach (LibsEntity Lib in Model.kalanavorumMarmin)
												{
													<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.ArrestLib_ID == Lib.ID) ? @Lib.Name : "")</span>
                                                }
											</div>
										</div>
										@*<div class="col-xs-12">
											<div class="form-group">
												<label for="entrance-court-name-2">Դատավճիռ կայացրած մարմին`</label>
												<select name="VerdictLib_ID" id="entrance-court-name-2" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
													<option value="">Ընտրել</option>
													@foreach (LibsEntity Lib in Model.SentencePerformingPersons)
													{
														<option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
													}
												</select>
											</div>
										</div>*@
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-verdict-number">Որոշման համար`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictNumber != null) ? Model.arrestDataEntity.VerdictNumber.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-court-judge">Դատավոր`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.Judge != null) ? Model.arrestDataEntity.Judge.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-court-date">Որոշման ամսաթիվ`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictDate != null) ? Model.arrestDataEntity.VerdictDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="entrance-sentence-code">Օրենսգիրք`</label>
												@if (Model.arrestDataEntity.CodeLibItem_ID != null)
												{

													<span>@MyHelpers.GetLibNameByID(Model.arrestDataEntity.CodeLibItem_ID)</span>



													List<int> libtList = new List<int>();

													foreach (SentencingDataArticleLibsEntity Lib in Model.arrestDataEntity.SentencingDataArticles)
													{
														libtList.Add(Lib.LibItem_ID.Value);
													}
													@MyHelpers.drawCustomSelectRecursionSelected(Model.SentencingArticles, null, libtList)

												}

											</div>
										</div>
										<div class="col-xs-12 col-md-3">
											<div class="form-group">
												<label for="entrance-arrest-start-date">Կալանավորման սկիզբ`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.DetentionStart != null) ? Model.arrestDataEntity.DetentionStart.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-3">
											<div class="form-group">
												<label for="entrance-arrest-end-date">Կալանավորման ավարտ`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.DetentionEnd != null) ? Model.arrestDataEntity.DetentionEnd.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="CodeNumber">Քրեական գործի համար`</label>
												<span>@((Model.arrestDataEntity != null && Model.arrestDataEntity.CodeNumber != null) ? Model.arrestDataEntity.CodeNumber.ToString() : "")</span>
											</div>
										</div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="tableWrap">
                                                    <table class="table table-bordered table-valignM">
                                                        <thead>
                                                            <tr>
                                                                <th>Վարույթ իրականացնող մարմին`</th>
                                                                <th colspan="2">Ամսաթիվ`</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="proceedingsTableRow" class="proceedingLoader">
                                                            @if (Model.arrestDataEntity != null)
                                                            {
                                                                @MyHelpers.DrawArrestProceedingsViews(Model.arrestDataEntity.ArrestDataProceedings)
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="medical-examination-description">Նկարագրություն`</label>
												<p>@((Model.arrestDataEntity != null && Model.arrestDataEntity.Description != null) ? Model.arrestDataEntity.Description : "")</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>