﻿@model MVC___Internal_System.Models.BansViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade ban-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">

                    @Html.Raw("Դիտել արգելանք")

                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="Objects">Արգելանքի առարկա`</label>
                                                @if (Model.Item != null && Model.Item.Objects != null && Model.Item.VoroshoxLibItem_ID != null)
                                                {
                                                    <p>
                                                        @foreach (var item in Model.Item.Objects)
                                                        {
                                                            <span>@item.LibItem_Label@if (Model.Item.Objects.Count > 1 && Model.Item.Objects.Last().ID != item.ID)
                                                            {@Html.Raw(",")}</span>
                                                        }
                                                    </p>
                                                }
                                                else
                                                {
                                                    <span></span>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="ban-date">Ամսաթիվ`</label>
                                                <span>@((Model.Item != null && Model.Item.Date != null) ? Model.Item.Date.Value.ToString("dd/MM/yyyy") : "-")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="ban-number">Որոշման համար`</label>
                                                <span>@((Model.Item != null && Model.Item.Voroshman_Hamar != null) ? Model.Item.Voroshman_Hamar.ToString() : "-")</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="getItemsBan checkValidateBan VoroshoxLibItem_ID" name="VoroshoxLibItem_ID">Որոշող մարմին`</label>
                                            @if (Model.Item != null && Model.Item.Objects != null && Model.Item.VoroshoxLibItem_ID != null)
                                            {
                                                <span>@MyHelpers.GetLibNameByID(Model.Item.VoroshoxLibItem_ID)</span>
                                            }
                                            else
                                            {
                                                <span> </span>
                                            }
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="ban-date">Դադարեցման համար`</label>
                                                <span>@((Model.Item != null && Model.Item.TerminationNumber != null) ? Model.Item.TerminationNumber : "-")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="ban-date">Դադարեցման Ամսաթիվ`</label>
                                                <span>@((Model.Item != null && Model.Item.TerminationDate != null) ? Model.Item.TerminationDate.Value.ToString("dd/MM/yyyy") : "-")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                    <label for="ban-person">Դադարեցման Որոշող մարմին`</label>
                                                @if (Model.Item != null && Model.Item.TerminationVoroshoxLibItem_ID != null )
                                                {
                                                    <span>@MyHelpers.GetLibNameByID(Model.Item.TerminationVoroshoxLibItem_ID)</span>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                                </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="ban-state">Կարգավիճակ`</label>
                                                    @if (Model.Item.State != null)
                                                    {
                                                        <span>@MyHelpers.GetBoolName(Model.Item.State.Value)</span>

                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>