﻿@model MVC___Internal_System.Models.CameraCardViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade cell-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					
						@Html.Raw("Դիտել խցիկ")
					
				</h4>		
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 hidden warningClass">
											<div class="alert alert-warning">
												<a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
												<strong>Ուշադրություն!</strong> Խցիկում կա անհամատեղելի անձ։
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="Number">Համար`</label>
												<span>@(Model.Item != null ? Model.Item.Number.ToString() : "")</span> 
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-date">Մուտքի Ամսաթիվ`</label>
												<span>@(Model.Item != null ? Model.Item.InputDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-date">Ելքի Ամսաթիվ`</label>
												<span>@(Model.Item != null&& Model.Item.OutputDate!=null ? Model.Item.OutputDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="cell-direction">Տեղափոխման վերաբերյալ ցուցում`</label>
												<span>@(Model.Item != null ? Model.Item.Note.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-direction-person">Ցուցում տվող անձ`</label>
													
														<span>@if (Model.Item != null && Model.Item.EmployeeID != null) {
															@MyHelpers.GetEmployeeNameByID(Model.Item.EmployeeID)
}</span>

											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>