﻿@model MVC___Internal_System.Models.ConflictsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade conflictsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
					@Html.Raw("Դիտել կոնֆլիկտային անձ")
			</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    @{PersonEntity Person = new PersonEntity();
                                        Person.isEditable = true;

                                        if (Model.currentConflict != null && Model.Person != null)
                                        {
                                            Person.isEditable = true;
                                            Person = Model.Person;
                                        }
                                    }
                                    @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <span>@((Model.currentConflict != null && Model.currentConflict.Description != null) ? Model.currentConflict.Description : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>