﻿@model MVC___Internal_System.Models.DepartureViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade departure-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">Դիտել մեկնում</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="departure-type">Տեսակ`</label>
														
														@foreach (LibsEntity Lib in Model.TypeLibList)
														{
															<span>@((Model.currentDeparture != null && Model.currentDeparture.TypeLibItemID != null && Model.currentDeparture.TypeLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
													</div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="departure-purpose">Նպատակ`</label>
														@foreach (LibsEntity Lib in Model.PurposeLibList)
														{
															<span>@((Model.currentDeparture != null && Model.currentDeparture.PurposeLibItemID != null && Model.currentDeparture.PurposeLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-start-date">Սկիզբ`</label>
														<span>@((Model.currentDeparture != null && Model.currentDeparture.StartDate != null) ? Model.currentDeparture.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-end-date">Ավարտ`</label>
														<span>@((Model.currentDeparture != null && Model.currentDeparture.EndDate != null) ? Model.currentDeparture.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-duration">Տևողություն (օր)`</label>
														<span>@((Model.currentDeparture != null && Model.currentDeparture.Duration != null) ? Model.currentDeparture.Duration.ToString() : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-duration-by-hour">Տևողություն (ժամ)`</label>
														<span>@((Model.currentDeparture != null && Model.currentDeparture.DuartionByHour != null) ? Model.currentDeparture.DuartionByHour.ToString() : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-place">Վայր</label>
														<span>@((Model.currentDeparture != null && Model.currentDeparture.Place != null) ? Model.currentDeparture.Place.ToString() : "")</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>