﻿@model MVC___Internal_System.Models._Popup_DocIdentity_ViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade id-doc-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել անձ հաստատող փասթաթուղթ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="id-doc-citizenship">Քաղաքացիություն`</label>
                                                        <span>@Model.Item.CitizenshipLibItem_Name</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-type">Տեսակ`</label>
														<span>@Model.Item.TypeLibItem_Name</span>

                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-number">Համար`</label>
														<span>@Model.Item.Number</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-date">Ամսաթիվ`</label>
														<span>@Model.Item.Date.Value.ToString("dd/MM/yyyy")</span>

                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-from">Ում կողմից`</label>
														<span>@Model.Item.FromWhom</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>