﻿@model MVC___Internal_System.Models.EducationalCoursesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade training-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@Html.Raw("Դիտել դասընթաց")		
				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="training-type">Դասընթաց`</label>
														<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.TypeLibItemID != null && Model.currentEducationalCourse.TypeLibItemID != null) ? Model.currentEducationalCourse.TypeLibItemLabel : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="training-end-date">Դասընթացի ավարտի ամսաթիվ`</label>
														<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EndDate != null) ? Model.currentEducationalCourse.EndDate.Value.ToString("dd/MM/yyyy") : "")</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="training-info">Նկարագրություն`</label>
												<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.Note != null) ? Model.currentEducationalCourse.Note.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="training-involvement-date">Ներգրավման ամսաթիվ`</label>
														<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementDate != null) ? Model.currentEducationalCourse.EngagementDate.Value.ToString("dd/MM/yyyy") : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-8">
													<div class="form-group">
														<label for="training-involvement-base">Ներգրավման հիմք`</label>
														<span>@MyHelpers.GetLibNameByID(Model.currentEducationalCourse.EngagementBasisLibItemID)</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="training-involvement-status">Ներգրավվածության կարգավիճակ`</label>

												<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementState != null && Model.currentEducationalCourse.EngagementState.Value) ? "Ներգրավված" : "Ազատված")</span>
											</div>
										</div>
										<div class="col-xs-12 @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementState != null && Model.currentEducationalCourse.EngagementState.Value) ? "hidden" : "")" id="training-free-wrap">
											<div class="row">
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="training-free-date">Ազատման ամսաթիվ`</label>
														<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseDate != null) ? Model.currentEducationalCourse.ReleaseDate.Value.ToString("dd/MM/yyyy") : "")</span>
													</div>
												</div>
												<div class="col-xs-12 col-md-8">
													<div class="form-group">
														<label for="training-free-base">Ազատման հիմք`</label>
														@if (Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseBasisLibItemID != null)
														{
															<span>@MyHelpers.GetLibNameByID(Model.currentEducationalCourse.ReleaseBasisLibItemID)</span>
}
													</div>
												</div>
												<div class="col-xs-12">
													<div class="form-group">
														<label for="training-free-cause">Ազատման պատճառ`</label>
														<span>@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseNote != null) ? Model.currentEducationalCourse.ReleaseNote.ToString() : "")</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>