﻿@model MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade benefit-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                 @Html.Raw("Դիտել Խրախուսանք")
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div id="benefit-add-page-1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <label for="benefit-type">Խրախուսանքի միջոց`</label>
                                                            <span> @((Model.currentEncouragement != null && Model.currentEncouragement.TypeLibItemID != null) ? Model.currentEncouragement.TypeLibItemLabel : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="benefit-info-date">Խրախուսանքի նշանակման ամսաթիվ`</label>
                                                    <span>@((Model.currentEncouragement != null) ? Model.currentEncouragement.StartDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="benefit-info">Նկարագրություն`</label>
                                                    <span>@((Model.currentEncouragement != null) ? Model.currentEncouragement.Note : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="benefit-preseting-person">Խրախուսանքի ներկայացնող անձ՝</label>
                                                    
                                                        @foreach (EmployeeEntity curEmployee in Model.EmployeeList)
                                                        {
                                                            <span>@((Model.currentEncouragement != null && Model.currentEncouragement.EmployeerID == curEmployee.ID) ? curEmployee.FirstName+" "+ curEmployee.MiddleName+" "+curEmployee.LastName  : "")</span>
                                                        }
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="benefit-type">Խրախուսանքի Հիմք`</label>
                                                  
                                                            <span>@((Model.currentEncouragement != null && Model.currentEncouragement.BaseLibItemID!=null) ? Model.currentEncouragement.BaseLibItemLabel : "")</span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>