﻿@model MVC___Internal_System.Models.FamilyRelativesViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade modal-familtyrelative" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                    @if (Model.spouseEntity != null)
					{
						<span>Դիտել ամուսին</span>
                    }
                    else if (Model.childrenEntity != null)
                    {
                        <span>Դիտել երեխա</span>
                    }
                    else if (Model.parentEntity != null)
                    {
                        <span>Դիտել ծնող</span>
                    }
                    else if (Model.systerEntity != null)
                    {
                        <span>Դիտել քույր(եղբայր)</span>
                    }
                    else if (Model.otherRelativesEntity != null)
                    {
                        <span>Դիտել այլ հարազատ</span>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1">
                                        <div class="part11">
                                            @{
                                                PersonEntity Person = new PersonEntity();
                                                Person.isEditable = true;

                                                if (Model.Person != null)
                                                {
                                                    Person.isEditable = true;
                                                    Person = Model.Person;
                                                }
                                            }
                                            @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                                        </div>

                                    </div>
                                    <div>
                                        <div class="part3 @(Model.spouseEntity == null ? "hidden" : "")" id="family-spouse">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-status">Ամուսնությունը</label>
                                                        <span>
                                                            @if (Model.spouseEntity != null)
                                                            {
                                                                @((Model.spouseEntity.MarriageRegistered != null && Model.spouseEntity.MarriageRegistered.Value) ? "Գրանցված է" : "Գրանցված չէ")
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4" id="family-partner-marital-document-wrap">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-document">Ամուսնության վկայական</label>
                                                        <span>@((Model.spouseEntity != null && Model.spouseEntity.Certificate != null) ? Model.spouseEntity.Certificate.ToString() : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-current-status">Կարգավիճակը</label>
                                                        <span>
                                                            @if (Model.spouseEntity != null)
                                                            {
                                                                @((Model.spouseEntity.State != null && Model.spouseEntity.State.Value) ? "Ամուսնացած" : "Ամուսնալուծված")
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="part3 @(Model.childrenEntity == null ? "hidden" : "")" id="family-children">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-child-status">Երեխան`</label>
                                                        <span>
                                                            @if (Model.childrenEntity != null)
                                                            {
                                                                if (Model.childrenEntity.ChildrenType != null && (int)Model.childrenEntity.ChildrenType == 1)
                                                                {
                                                                    @String.Format("Հարազատ")
                                                                }
                                                                else if (Model.childrenEntity.ChildrenType != null && (int)Model.childrenEntity.ChildrenType == 2)
                                                                {
                                                                    @String.Format("Որդեգրած")
                                                                }
                                                                else if (Model.childrenEntity.ChildrenType != null && (int)Model.childrenEntity.ChildrenType == 3)
                                                                {
                                                                    @String.Format("Խնամքի տակ")
                                                                }
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8" id="family-child-status-document-wrap">
                                                    <div class="form-group">
                                                        <label for="family-child-status-document">Որդեգրման կամ խնամակալության վկայական</label>
                                                        <span>@((Model.childrenEntity != null && Model.childrenEntity.Certificate != null) ? Model.childrenEntity.Certificate.ToString() : "")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="part3 @(Model.parentEntity == null ? "hidden" : "")" id="family-parent">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-parent-related-person">Փոխկապակցված անձ`</label>
                                                        <span>
                                                        @if (Model.parentEntity != null && Model.parentEntity.RelatedPersonID != null)
                                                        {
                                                            @MyHelpers.GetPersonNameByID(Model.parentEntity.RelatedPersonID)
                                                        }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        @*<div class="hidden part3" id="family-systerbrother">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="family-sibling-status">Քույր / եղբայր`</label>
                                                        <select name="RelationLibItemID" id="family-sibling-status" class="checkValidate-systerbrother getItems-systerbrother selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.SysterBrotherType)
                                                            {
                                                                <option value="@Lib.ID" @((Model.systerEntity != null && Model.systerEntity.RelationLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="part3 @(Model.otherRelativesEntity == null ? "hidden" : "")" id="family-otherrelative">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="family-other-relative-status">Տեսակ`</label>
                                                        <span>
                                                            @if (Model.otherRelativesEntity != null && Model.otherRelativesEntity.RelationLibItemID != null)
                                                            {
                                                                @MyHelpers.GetLibNameByID(Model.otherRelativesEntity.RelationLibItemID)
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default family-partner-add-confirm-btn" data-dismiss="modal" >Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>