﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade searchUserModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">Ընտրել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-1">Անուն`</label>
                                                    <input name="FirstName" class="checkValidatePerson getItemsPerson form-control input-sm" type="text" id="modal-person-name-1" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-2">Ազգանուն`</label>
                                                    <input name="LastName" class="checkValidatePerson getItemsPerson form-control input-sm" type="text" id="modal-person-name-2" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-3">Հայրանուն`</label>
                                                    <input name="MiddleName" class="checkValidatePerson getItemsPerson form-control input-sm" type="text" id="modal-person-name-3" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-bd">Ծննդ. ամսաթիվ`</label>
                                                    <input name="Birthday" class="checkValidatePerson getItemsPerson Dates form-control input-sm" type="text" id="modal-person-bd" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-social-id">Սոց. քարտ`</label>
                                                    <input name="Personal_ID" class="checkValidatePerson getItemsPerson form-control input-sm" type="text" id="modal-person-social-id" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-passport">Անձնագիր`</label>
                                                    <input name="PassportNumber" class="getItemsPerson form-control input-sm" type="text" id="modal-person-passport" value="" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group text-right">
                                                    <button type="button" class="btn btn-sm btn-flat btn-default" id="findperson">Որոնել</button>
                                                    <button type="button" class="btn btn-sm btn-flat btn-default" id="findpersonAgain">Նոր Որոնում</button>
                                                    <button type="button" class="btn btn-sm btn-flat btn-default" id="menualAddBtn" disabled>Լրացնել</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row part12">
                                            <div class="col-xs-12">
                                                <div class="tableWrap searchuserloader">
                                                    <table class="table table-bordered table-valignM collapseTable hidden" id="foundusertable">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Անուն Ազգանուն Հայրանուն</th>
                                                                <th>Ծննդ. ամսաթիվ</th>
                                                                <th>Սոց. քարտ</th>
                                                                <th>Անձնագիր</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="searchuserinfoshort"></tbody>
                                                    </table>
                                                    <p class="hidden" id="foundusererrorp"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row hidden part21"">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="family-partner-sex">Սեռ`</label>
                                                <select name="SexLibItem_ID" id="family-partner-sex" class="checkValidatePerson getItemsPerson selectize-sm selectizePerson">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity lib in Model.Gender)
                                                    {
                                                        PropsEntity curprop = lib.propList.Find(r => r.ID == (int)PropsEntity.PropToLibID.IDENTIFICATION_CODE);
                                                        String idCode = curprop.Values[0].Value;
                                                        // TODO: add idCode when menual is added
                                                        <option value="@lib.ID">@lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="family-partner-nationality">Ազգություն`</label>
                                                <select name="NationalityID" id="family-partner-nationality" class="checkValidatePerson getItemsPerson selectize-sm selectizePerson">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (NationalityEntity entity in Model.Nationality)
                                                    {
                                                        <option value="@entity.ID">@entity.Label</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label>Գրանցման հասցե`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationRegionReg">Մարզ՝</label>
                                                                <input name="Registration_Region" id="registrationRegionReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationComReg">Քաղաք՝</label>
                                                                <input name="Registration_Community" id="registrationComReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="registrationStreetReg">Փողոց՝</label>
                                                                <input name="Registration_Street" id="registrationStreetReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationBuildingTypeReg">Բնակարան, Տուն՝</label>
                                                                <input name="Registration_Building" id="registrationBuildingTypeReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationBuildingReg">Տեսակ(Տուն, Բնակարան)՝</label>
                                                                <input name="Registration_Building_Type" id="registrationBuildingReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationAptReg">Համար`</label>
                                                                <input name="Registration_Apartment" id="registrationAptReg" class="checkValidatePerson getItemsRegAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label>Բնակության վայր`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationRegionLiv">Մարզ՝</label>
                                                                <input name="Registration_Region" id="registrationRegionLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationComLiv">Քաղաք՝</label>
                                                                <input name="Registration_Community" id="registrationComLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="form-group">
                                                                <label for="registrationStreetLiv">Փողոց՝</label>
                                                                <input name="Registration_Street" id="registrationStreetLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationBuildingTypeLiv">Բնակարան, Տուն՝</label>
                                                                <input name="Registration_Building" id="registrationBuildingTypeLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationBuildingLiv">Տեսակ(Տուն, Բնակարան)՝</label>
                                                                <input name="Registration_Building_Type" id="registrationBuildingLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="form-group">
                                                                <label for="registrationAptLiv">Համար`</label>
                                                                <input name="Registration_Apartment" id="registrationAptLiv" class="checkValidatePerson getItemsLivAddress form-control input-sm" type="text" value="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hidden part22">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4">
                                                                <div class="form-group">
                                                                    <label for="family-partner-doc-citizenship">Քաղաքացիություն`</label>
                                                                    <select name="CitizenshipLibItem_ID" id="family-partner-doc-citizenship" class="checkValidateDocuments getItemsDocuments selectize-sm selectizePerson">
                                                                        <option value="">Ընտրել</option>
                                                                        @foreach (LibsEntity Lib in Model.Citizenships)
                                                                        {
                                                                            <option value="@Lib.ID">@Lib.Name</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="family-partner-doc-type">Տեսակ`</label>
                                                                    <select name="TypeLibItem_ID" id="family-partner-doc-type" class="checkValidateDocuments getItemsDocuments selectize-sm selectizePerson">
                                                                        <option value="">Ընտրել</option>
                                                                        @foreach (LibsEntity Lib in Model.DocIdentity)
                                                                        {
                                                                            <option value="@Lib.ID">@Lib.Name</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="family-partner-doc-number">Համար`</label>
                                                                    <input name="Number" class="checkValidateDocuments getItemsDocuments form-control input-sm" type="text" id="family-partner-doc-type" value="" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="family-partner-doc-date">Ամսաթիվ`</label>
                                                                    <input name="Date" class="checkValidateDocuments getItemsDocuments Dates form-control input-sm" type="text" id="family-partner-doc-date" value="" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="family-partner-doc-from">Ում կողմից`</label>
                                                                    <input name="FromWhom" class="checkValidateDocuments getItemsDocuments form-control input-sm" type="text" id="family-partner-doc-from" value="" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <div class="form-group text-right">
                                                                    <button type="button" class="btn btn-sm btn-flat btn-default" id="addDocidentityButton" disabled>Ավելացնել</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Անձը հաստատող փաստաթուղթ`</label>
                                                    <div class="tableWrap">
                                                        <div class="tableWrapIn">
                                                            <table class="table table-bordered table-valignM">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Քաղաքացիություն</th>
                                                                        <th>Տեսակ</th>
                                                                        <th>Համար</th>
                                                                        <th>Ամսաթիվ</th>
                                                                        <th colspan="2">Ում կողմից</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="menualDocIdentityTableBody">

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="prevStepButton">Նախորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="nextStepButton">Հաջորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="userformsave" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>