﻿@model MVC___Internal_System.Models._Popup_Files_ViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade add-file-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title changetext">
                   @if (@Model.curFingerTattoScarItem.TypeID == 18)
				   {
					@String.Format("Դիտել Մատնահետքեր")
				   }
				   else if (@Model.curFingerTattoScarItem.TypeID == 20)
				   {
					@String.Format("Դիտել դաջվածք")
				   }
				   else
				   {
					@String.Format("Դիտել սպի")
				   }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
												<div class="col-xs-12 col-md-6">
													@if (Model.curFingerTattoScarItem == null)
													{
														<div class="form-group">
															<label for="add-file-toggle" class="add-file-label">
																<span>Ֆայլ`</span>
																<span title="Ավելացնել" class="btn btn-sm btn-default btn-flat">Ավելացնել</span>
															</label>
															<span id="filename" class=""></span>
															<div hidden>
																<input class="" type="file" id="add-file-toggle" accept="image/*,application/pdf,application/msword" />
															</div>
														</div>
}
													else
													{
														<div class="form-group">
															<label>Ֆայլ`</label>
															<img class="img-responsive" src="@(Model.curFingerTattoScarItem != null ? BusinessLayer.BusinessServices.BL_Files.getInstance().GetLinkImage(Model.curFingerTattoScarItem.FileID,200,null) : "")" />
														</div>
}
												</div>
												<div class="col-xs-12 col-md-6 ">
													<div class="col-xs-12">
														<div class="form-group">
															<label for="add-file-status">Կարգավիճակ`</label>
															<span>@((Model.curFingerTattoScarItem != null && Model.curFingerTattoScarItem.State.Value) ? "Ակտիվ" : "Պասիվ")</span>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="form-group">
															<label for="add-file-description">Անվանում`</label>
															<span>@((Model.curFingerTattoScarItem != null) ? Model.curFingerTattoScarItem.Name : "")</span>
														</div>
													</div>
													<div class="col-xs-12">
														<div class="form-group">
															<label for="add-file-description">Նկարագրություն`</label>
															<span>@((Model.curFingerTattoScarItem != null) ? Model.curFingerTattoScarItem.Description : "")</span>
														</div>
													</div>
												</div>
												
                                            </div>
                                        </div>
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>