﻿@model MVC___Internal_System.Models.HeightWeightViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade physical-weight-height-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Հասակ/Կշիռ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="physical-modal-height">Հասակ (սմ)`</label>
                                                <input name="Height" class="getItemsHW checkValidateHW form-control input-sm" type="number" id="physical-modal-height" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="physical-modal-weight">Կշիռ (կգ)`</label>
                                                <input name="Weight" class="getItemsHW checkValidateHW form-control input-sm" type="number" id="physical-modal-weight" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="btn-group btn-group-sm pull-right">
                                                    <button type="button" class="btn btn-default btn-flat" id="addBtn" disabled>Ավելացնել</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="tableWrap">
                                                <table class="table table-bordered table-valignM">
                                                    <thead>
                                                        <tr>
                                                            <th class="tableDateCol">Ամսաթիվ</th>
                                                            <th>Հասակ (սմ)`</th>
                                                            <th colspan="2">Կշիռ (կգ)`</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="heightweighttablerow" class="heightWeightLoader">
                                                        @if (Model != null && Model.List != null)
                                                        {
                                                            @MyHelpers.DrawHeightWeight(Model.List)
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>