﻿@model MVC___Internal_System.Models.InvalidsViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade invalids-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել հաշմանդամություն</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
										@if (Model.FileSrc != null)
										{
											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label class="add-file-label" for="modal-invalid-photo">
														<span>Նկար`</span>
													</label>
												</div>
												<div class="hidden">
													<input type="file" name="CertificateFileID" class="getItemsPopup checkValidatePopup" id="modal-invalid-photo" />
												</div>
												<img id="modal-invalid-photolink" src="@((Model.FileSrc != null) ? Model.FileSrc : "")" alt="" class="img-responsive" />
											</div>
										}

										@if (Model.FileSrc != null)
										{

											<div class="col-xs-12 col-md-6">
												<div class="form-group">
													<label>Վկայական`</label>
													<div class="form-group-in">
														<div class="row">
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="physical-modal-disability-document-number">Համար</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateNumber != null) ? Model.currentInvalid.CertificateNumber.ToString() : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="physical-modal-disability-document-date">Ամսաթիվ</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateDate != null) ? Model.currentInvalid.CertificateDate.Value.ToString("dd/MM/yyyy") : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="physical-modal-disability-document-issuer">Ում կողմից</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateFrom != null) ? Model.currentInvalid.CertificateFrom.ToString() : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="physical-modal-degree-of-disability">Կարգ`</label>
																	@if (Model.currentInvalid.ClassLibItem_ID == null)
																	{
																		<span></span>
}
																	else
																	{
																		<span>@MyHelpers.GetLibNameByID(Model.currentInvalid.ClassLibItem_ID)</span>

																	}

																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="physical-modal-disability-date">Ամսաթիվ</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.Date != null) ? Model.currentInvalid.Date.Value.ToString("dd/MM/yyyy") : "")</span>
																</div>
															</div>
															<div class="col-xs-12 ">
																<div class="form-group">
																	<label for="physical-modal-addiction-description">Նկարագրություն`</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.Description != null) ? Model.currentInvalid.Description : "")</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
}
										else
										{
											<div class="col-xs-12">
												<div class="form-group">
													<label>Վկայական`</label>
													<div class="form-group-in">
														<div class="row">
															<div class="col-xs-12 col-md-2">
																<div class="form-group">
																	<label for="physical-modal-disability-document-number">Համար</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateNumber != null) ? Model.currentInvalid.CertificateNumber.ToString() : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-2">
																<div class="form-group">
																	<label for="physical-modal-disability-document-date">Ամսաթիվ</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateDate != null) ? Model.currentInvalid.CertificateDate.Value.ToString("dd/MM/yyyy") : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-2">
																<div class="form-group">
																	<label for="physical-modal-disability-document-issuer">Ում կողմից</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.CertificateFrom != null) ? Model.currentInvalid.CertificateFrom.ToString() : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-2">
																<div class="form-group">
																	<label for="physical-modal-degree-of-disability">Կարգ`</label>
																	@if (Model.currentInvalid.ClassLibItem_ID == null)
																	{
																		<span></span>
}
																	else
																	{
																		<span>@MyHelpers.GetLibNameByID(Model.currentInvalid.ClassLibItem_ID)</span>

																	}

																</div>
															</div>
															<div class="col-xs-12 col-md-2">
																<div class="form-group">
																	<label for="physical-modal-disability-date">Ամսաթիվ</label>
																	<span>@((Model.currentInvalid != null && Model.currentInvalid.Date != null) ? Model.currentInvalid.Date.Value.ToString("dd/MM/yyyy") : "")</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 ">
												<div class="form-group">
													<label for="physical-modal-addiction-description">Նկարագրություն`</label>
													<span>@((Model.currentInvalid != null && Model.currentInvalid.Description != null) ? Model.currentInvalid.Description : "")</span>
												</div>
											</div>
}

                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>