﻿@model MVC___Internal_System.Models.ItemsViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade itemsobjects-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
						@String.Format("Դիտել Իրեր և առարկաներ");
				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="item-name">իր/առարկա`</label>
												@if (Model.Item != null && Model.Item.LibItemID != null)
												{
													<span>@MyHelpers.GetLibNameByID(Model.Item.LibItemID)</span>
}
												else
												{
													<span> </span>
}

											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="item-count">Քանակ`</label>
												<span>@(Model.Item != null ? Model.Item.Count.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="item-date">Ամսաթիվ`</label>
												<span>@(Model.Item != null ? Model.Item.Date.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>