﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-complaint-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել Գանգատներ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-modal-complaint-name">Անվանում`</label>
                                                        <span>@((Model.currentMedicalComplaint != null && Model.currentMedicalComplaint.ComplaintsLibItemID != null) ? Model.currentMedicalComplaint.ComplaintsLibItemLabel : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-modal-complaint-description">Նկարագրություն`</label>
                                                <span>@((Model.currentMedicalComplaint != null && Model.currentMedicalComplaint.Description != null) ? Model.currentMedicalComplaint.Description : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>