﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade medical-diagnose-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">Դիտել ԱԽտորոշում</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="medical-diagnose-name">Անվանում`</label>
												<span>@((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.NameLibItemID != null) ? @Model.currentMedicalDiagnosis.NameLibItemLabel : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="medical-diagnose-initial">Նախնական`</label>
												@if (Model.currentMedicalDiagnosis.State != null && !Model.currentMedicalDiagnosis.State.Value == true)
												{
													<span>Ոչ</span>
                                                }
												else if (Model.currentMedicalDiagnosis.State == null)
												{
													<span></span>
                                                }
												else
												{
													<span>Այո</span>
                                                }
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="medical-diagnose-description">Նկարագրություն`</label>
												<span>@((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.Description != null) ? Model.currentMedicalDiagnosis.Description.ToString() : "")</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>