﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade medical-external-examination-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել Արտաքին զննություն</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label for="medical-external-examination">Վնասվածքներ`</label>
                                                    <span>@((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.State != null && Model.currentMedicalExternalExamination.State.Value) ? "Ունի" : "Չունի")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label for="medical-external-examination-date">Ամսաթիվ`</label>
                                                <span>@((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.Date != null) ? Model.currentMedicalExternalExamination.Date.Value.ToString("dd/MM/yyyy") : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-external-examination-description">Նկարագրություն`</label>
                                                <span>@((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.Description != null) ? Model.currentMedicalExternalExamination.Description.ToString() : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>