﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-treatment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Բուժում</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group">
                                                <label for="medical-treatment-name">Անվանում`</label>
                                                <select name="NameLibItemID" id="medical-treatment-name" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.HealingNameLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentMedicalHealing != null && Model.currentMedicalHealing.NameLibItemID != null && Model.currentMedicalHealing.NameLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="medical-treatment-initial">Նախնական`</label>
                                                <select name="State" id="medical-treatment-initial" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    <option value="true" @((Model.currentMedicalHealing != null && Model.currentMedicalHealing.State != null && Model.currentMedicalHealing.State.Value) ? "selected" : "")>Այո</option>
                                                    <option value="false" @((Model.currentMedicalHealing != null && Model.currentMedicalHealing.State != null && Model.currentMedicalHealing.State.Value) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-treatment-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsModal checkValidateModal form-control input-sm" id="medical-treatment-description" rows="4">@((Model.currentMedicalHealing != null && Model.currentMedicalHealing.Description != null) ? Model.currentMedicalHealing.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>