﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade gov-body-visit-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել այցելություն</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1" id="gov-body-visit-add-page-1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="gov-body-visit-purpose">Այցելության նպատակ`</label>
                                                    @foreach (LibsEntity Lib in Model.TypeLibList)
                                                    {
                                                        <span>@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.TypeLibItemID != null && Model.currentOfficialVisit.TypeLibItemID == Lib.ID) ? Lib.Name : "")</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="gov-body-visit-start-date">Սկիզբ`</label>
                                                            <span>@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.StartDate != null) ? Model.currentOfficialVisit.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span> 
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="gov-body-visit-end-date">Ավարտ`</label>
                                                            <span>@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.EndDate != null) ? Model.currentOfficialVisit.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            @if (Model.currentOfficialVisit != null)
                                                            {
                                                                <label for="gov-body-visit-role">Պաշտոն`</label>
                                                                    foreach (LibsEntity Lib in Model.PositionLibList)
                                                                    {
                                                                        <span>@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.PositionLibItemID != null && Model.currentOfficialVisit.PositionLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                                    }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="Description">Նկարագրություն`</label>
                                                            <span>@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.Description != null) ? Model.currentOfficialVisit.Description : "")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @{
                                            PersonEntity Person = new PersonEntity();
                                            Person.isEditable = true;

                                            if (Model.Person != null)
                                            {
                                                Person.isEditable = true;
                                                Person = Model.Person;
                                            }
                                        }
                                        @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    @if (Model.currentOfficialVisit == null)
                    {
                        <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-prev-btn" id="prevBtnModal" disabled>Նախորդ</button>
                        <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-next-btn" id="nextBtnModal" disabled>Հաջորդ</button>
                    }
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" data-dismiss="modal" @(Model.currentOfficialVisit == null ? "disabled" : "")>Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>