﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade package-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">Դիտել հանձնուք</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="package-preseting-person">Ընդունող անձ՝</label>
												
													@foreach (var item in Model.EmployeeList)
													{
														<span>@((Model.currentPackage != null && Model.currentPackage.EmployeeID != null && Model.currentPackage.EmployeeID == item.ID) ? item.FirstName +" "+ item.LastName +" "+ item.MiddleName : "")</span>
}
											</div>
										</div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="private-visit-start-date">Ամսաթիվ`</label>
                                                <span>@((Model.currentPackage != null && Model.currentPackage.Date != null) ? Model.currentPackage.Date.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</span>
                                            </div>
                                        </div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="package-type">Հանձնուքի (ծանրոցի) տեսակ`</label>
											
													@foreach (var item in Model.TypeLibList)
													{
														<span>@((Model.currentPackage != null && Model.currentPackage.TypeLibItemID != null && Model.currentPackage.TypeLibItemID == item.ID) ? @item.Name : "")</span>
}
											
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="package-weight">Հանձնուքի քաշը (ընդհանուր, կգ)`</label>
												<span>@((Model.currentPackage != null && Model.currentPackage.Weight != null) ? Model.currentPackage.Weight.ToString() : "")</span> 
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<div class="formsWrapSeparator"></div>
											<div class="form-group">
												<label>Պարունակությունը`</label>
												<div class="tableWrap">
													<div class="tableWrapIn">
														<table class="table table-bordered table-valignM">
															<thead>
																<tr>
																	<th>Տիպ</th>
																	<th>Ապրանք</th>
																	<th>Չափման միավոր</th>
																	<th colspan="2">Քաշ/քանակ</th>
																</tr>
															</thead>
															<tbody id="ContentListTableBody">
																
																	@foreach (PackageContentEntity item in Model.currentPackage.ContentList)
																	{
																		<tr>
																			<td data-title="Տիպ">@MyHelpers.GetLibNameByID(item.TypeLibItemID)</td>
																			<td data-title="Ապրանք">@MyHelpers.GetLibNameByID(item.GoodsLibItemID)</td>
																			<td data-title="Չափման միավոր">@MyHelpers.GetLibNameByID(item.MeasureLibItemID)</td>
																			<td data-title="Քաշ/քանակ">@item.WeightCount</td>
																			
																		</tr>

																	}
																
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>