﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade penalty-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
						@Html.Raw("Դիտել տույժ")
				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="penalty-type">Միջոց`</label>

												@if (Model.currentPenalty != null && Model.currentPenalty.TypeListItemID != null)
												{
													<span>@MyHelpers.GetLibNameByID(Model.currentPenalty.TypeListItemID)</span>
												}
												else
												{
													<span></span>
												}
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="penalty-foul-date">Խախտման ամսաթիվ`</label>
												<span>@((Model.currentPenalty != null && Model.currentPenalty.ViolationDate != null) ? Model.currentPenalty.ViolationDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="penalty-date">Տույժի ամսաթիվ`</label>
												<span>@((Model.currentPenalty != null && Model.currentPenalty.PenaltyDate != null) ? Model.currentPenalty.PenaltyDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12">
											@*<div class="form-group">
													<label for="penalty-info">Խախտում, որի համար նշանակվել է տույժը`</label>
													<select name="ViolationList" id="penalty-info" class="getItemsPen checkValidatePen selectize-sm selectize selectizePenalty" multiple>
														<option value="">Ընտրել</option>
														@foreach (LibsEntity Lib in Model.ViolationLibList)
														{
															<option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.ViolationList != null && Model.currentPenalty.ViolationList.FindAll(r => r.LibItemID == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
														}
													</select>
												</div>*@

											<div class="form-group">
												<label class="getItemsPen checkValidatePen ViolationList" name="ViolationList">Տեսակ`</label>
												@{	List<int> checkedIDListRank = new List<int>();
													if (Model.currentPenalty != null && Model.currentPenalty.ViolationList != null)
													{
														foreach (var item in Model.currentPenalty.ViolationList)
														{
															checkedIDListRank.Add(item.LibItemID.Value);
														}
													}
													for (int i = 0; i < checkedIDListRank.Count(); i++)
													{
														<span>@MyHelpers.GetLibNameByID(checkedIDListRank[i]) @Html.Raw("<br/>")</span>
													}
												}
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="StateLibItemID">Կարգավիճակ`</label>
												@if (Model.currentPenalty != null && Model.currentPenalty.StateLibItemID != null)
												{
													<span>@MyHelpers.GetLibNameByID(Model.currentPenalty.StateLibItemID)</span>
}
													
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="penalty-end-date">Տույժի ավարտի ամսաթիվ`</label>
												<span>@((Model.currentPenalty != null && Model.currentPenalty.PenaltyEndDate != null) ? Model.currentPenalty.PenaltyEndDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="penalty-redeem-date">Տույժի մարման ժամկետ`</label>
												<span>@((Model.currentPenalty != null && Model.currentPenalty.PenaltiesMaturity != null) ? Model.currentPenalty.PenaltiesMaturity.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row" id="StateLibItemIDIn">
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="penalty-objection-base">Կարգավիճակի փոփոխման հիմք`</label>
														 @if(Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasisLibItemID != null) {

															 <span>@MyHelpers.GetLibNameByID(Model.currentPenalty.StatusChangeBasisLibItemID)</span>
														}

														
														
													</div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="penalty-status-change-date">Կարգավիճակի փոփոխման ամսաթիվ`</label>
														<span>@((Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasis != null) ? Model.currentPenalty.StatusChangeBasis.ToString() : "")</span>
													</div>
												</div>
											</div>
											<div class="form-group">
												<label for="penalty-info-description">Նկարագրություն</label>
												<span>@((Model.currentPenalty != null && Model.currentPenalty.Notes != null) ? Model.currentPenalty.Notes.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="penalty-presenting-person">Տույժը ներկայացնող անձ`</label>
							
													@foreach (EmployeeEntity Lib in Model.EmployeeList)
													{
														if (Model.currentPenalty != null && Model.currentPenalty.EmployeerID == Lib.ID)
														{<span>@Lib.FirstName @Lib.LastName @Lib.MiddleName</span>}
														else
														{
															<span></span>
														}
													}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>