﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div id="persondata" data-iscustom="@((Model.Person != null && Model.Person.isCustom != null) ? Model.Person.isCustom.ToString() : "")" data-id="@((Model.Person != null && Model.Person.ID != null) ? Model.Person.ID.ToString() : "")">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-1">Անուն`</label>
                <span>@((Model.Person != null && Model.Person.FirstName != null) ? Model.Person.FirstName.ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-2">Ազգանուն`</label>
                <span>@((Model.Person != null && Model.Person.LastName != null) ? Model.Person.LastName.ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-3">Հայրանուն`</label>
                <span>@((Model.Person != null && Model.Person.MiddleName != null) ? Model.Person.MiddleName.ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-bd">Ծննդ. ամսաթիվ`</label>
                <span>@((Model.Person != null && Model.Person.Birthday != null) ? Model.Person.Birthday.ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-social-id">Սոց. քարտ`</label>
                <span>@((Model.Person != null && Model.Person.Personal_ID != null) ? Model.Person.Personal_ID.ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-passport">Անձնագիր`</label>
                <span>@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any()) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")</span>
            </div>
        </div>
    </div>
    <div class="row partdetails @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.ID != null) ? "" : "hidden")">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap searchuserloader">
                    <table class="table table-bordered table-valignM collapseTable @(Model.Person == null ? "hidden" : "")" id="foundusertable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Անուն Ազգանուն Հայրանուն</th>
                                <th>Ծննդ. ամսաթիվ</th>
                                <th>Սոց. քարտ</th>
                                <th>Անձնագիր</th>
                            </tr>
                        </thead>
                        <tbody id="searchuserinfoshort">
                            @if (Model.Person != null)
                            {
                                <tr>
                                    <td data-title="#">0</td>
                                    <td data-title="Անուն Ազգանուն Հայրանուն">@(Model.Person.FirstName != null ? Model.Person.FirstName.ToString() : "") @(Model.Person.LastName != null ? Model.Person.LastName.ToString() : "") @(Model.Person.MiddleName != null ? Model.Person.MiddleName.ToString() : "")</td>
                                    <td data-title="Ծննդ. ամսաթիվ">@(Model.Person.Birthday != null ? Model.Person.Birthday.ToString() : "")</td>
                                    <td data-title="Սոց. քարտ">@(Model.Person.Personal_ID != null ? Model.Person.Personal_ID.ToString() : "")</td>
                                    <td data-title="Անձնագիր">@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any() && Model.Person.IdentificationDocuments[0].Number != null) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")</td>
                                </tr>
                                <tr class="collapse">
                                    <td colspan="5">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4"><img class="img-responsive" src="@((Model.Person != null &&  Model.Person.PhotoLink != null) ? Model.Person.PhotoLink.ToString() : "")" alt="" /></div> <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <label>Անձնագիր՝</label><p>
                                                        @if (Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any())
                                                        {
                                                            @String.Format((Model.Person.IdentificationDocuments[0].Number != null ? Model.Person.IdentificationDocuments[0].Number.ToString() : "") + ", " + (Model.Person.IdentificationDocuments[0].Date != null ? Model.Person.IdentificationDocuments[0].Date.Value.ToString("dd/MM/yyyy") : "") + ", " + (Model.Person.IdentificationDocuments[0].FromWhom != null ? Model.Person.IdentificationDocuments[0].FromWhom.ToString() : ""))
                                                        }
                                                    </p>
                                                </div> 
                                                <div class="form-group"> 
                                                    <label>Ազգություն՝</label> 
                                                    <p>@((Model.Person != null && Model.Person.NationalityID != null) ? @MyHelpers.GetNationalityByID(Model.Person.NationalityID).ToString() : "")</p> 
                                                </div> 
                                            <div class="form-group">
                                                    <label>Քաղաքացիություն՝</label>
                                                    <p>
                                                        @if (Model.Person.IdentificationDocuments != null)
                                                        {
                                                            foreach (IdentificationDocument doc in Model.Person.IdentificationDocuments)
                                                            {
                                                                @((doc.CitizenshipLibItem_ID != null) ? MyHelpers.GetLibNameByID(doc.CitizenshipLibItem_ID).ToString() : "")
                                                            }
                                                        }
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Սեռ՝</label>
                                                    <p>
                                                        @if (Model.Person != null && Model.Person.SexLibItem_ID != null)
                                                        {
                                                            int? LibID = Model.Person.SexLibItem_ID;
                                                            if (LibID != null)
                                                            {
                                                                @MyHelpers.GetLibNameByID(Model.Person.SexLibItem_ID).ToString()
                                                            }
                                                        }
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Գրանցման հասցե՝</label>
                                                    <p>
                                                        @((Model.Person != null && Model.Person.Registration_address != null) ? Model.Person.Registration_address.ToString() : "")
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Բնակության հասցե՝</label>
                                                    <p>
                                                        @((Model.Person != null && Model.Person.Living_place != null) ? Model.Person.Living_place.ToString() : "")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p class="hidden" id="foundusererrorp"></p>
                </div>
            </div>
        </div>
    </div>
</div>

   
    <div class="row partcustom">
        <div class="col-xs-12 col-md-6">
            <div class="form-group @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.SexLibItem_ID != null) ? "" : "hidden")">
                <label for="family-partner-sex">Սեռ`</label>
                <span>@((Model.Person != null && Model.Person.SexLibItem_ID != null) ? @MyHelpers.GetLibNameByID(Model.Person.SexLibItem_ID).ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.NationalityID != null) ? "" : "hidden") partnationality">
            <div class="form-group">
                <label for="family-partner-nationality">Ազգություն`</label>
                <span>@((Model.Person != null && Model.Person.NationalityID != null) ? @MyHelpers.GetNationalityByID(Model.Person.NationalityID).ToString() : "")</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label>Գրանցման հասցե`</label>
                        <div class="form-group-in">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationRegionReg">Մարզ՝</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Region != null) ? Model.Person.Registration_Entity.Registration_Region : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationComReg">Քաղաք՝</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Community != null) ? Model.Person.Registration_Entity.Registration_Community : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="registrationStreetReg">Փողոց՝</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Street != null) ? Model.Person.Registration_Entity.Registration_Street : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationBuildingTypeReg">Բնակարան, Տուն՝</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Building != null) ? Model.Person.Registration_Entity.Registration_Building : "")</span>
                                        </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationBuildingReg">Տեսակ(Տուն, Բնակարան)՝</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Building_Type != null) ? Model.Person.Registration_Entity.Registration_Building_Type : "")</span>    
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationAptReg">Համար`</label>
                                        <span>@((Model.Person != null && Model.Person.Registration_Entity.Registration_Apartment != null) ? Model.Person.Registration_Entity.Registration_Apartment : "")</span>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label>Բնակության վայր`</label>
                        <div class="form-group-in">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationRegionLiv">Մարզ՝</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Region != null) ? Model.Person.Living_Entity.Registration_Region : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationComLiv">Քաղաք՝</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Community != null) ? Model.Person.Living_Entity.Registration_Community : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="registrationStreetLiv">Փողոց՝</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Street != null) ? Model.Person.Living_Entity.Registration_Street : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationBuildingTypeLiv">Բնակարան, Տուն՝</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Building != null) ? Model.Person.Living_Entity.Registration_Building : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationBuildingLiv">Տեսակ(Տուն, Բնակարան)՝</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Building_Type != null) ? Model.Person.Living_Entity.Registration_Building_Type : "")</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="registrationAptLiv">Համար`</label>
                                        <span>@((Model.Person != null && Model.Person.Living_Entity.Registration_Apartment != null) ? Model.Person.Living_Entity.Registration_Apartment : "")</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>
        <div class="@((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "hidden") partcustomdetails">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.ID != null) ? "" : "hidden") partcustom">
                        <div class="form-group">
                            <label>Անձը հաստատող փաստաթուղթ`</label>
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Քաղաքացիություն</th>
                                                <th>Տեսակ</th>
                                                <th>Համար</th>
                                                <th>Ամսաթիվ</th>
                                                <th colspan="2">Ում կողմից</th>
                                            </tr>
                                        </thead>
                                        <tbody id="menualDocIdentityTableBody">
                                            @if (Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any())
                                            {
                                                foreach (var item in Model.Person.IdentificationDocuments)
                                                {
                                                    <tr class="getManualDocIdentity" data-ID="@item.ID" data-FromWhom="@item.FromWhom" data-Date="@item.Date" data-Number="@item.Number" data-CitizenshipLibItem_ID="@item.CitizenshipLibItem_ID" data-TypeLibItem_ID="@item.TypeLibItem_ID">
                                                        <td>@(item.CitizenshipLibItem_ID != null ? @MyHelpers.GetLibNameByID(item.CitizenshipLibItem_ID).ToString() : "")</td>
                                                        <td>@(item.TypeLibItem_ID != null ? @MyHelpers.GetLibNameByID(item.TypeLibItem_ID).ToString() : "")</td>
                                                        <td>@(item.Number != null ? item.Number : "")</td>
                                                        <td>@(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy") : "")</td>
                                                        <td>@(item.FromWhom != null ? item.FromWhom : "")</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
