﻿@model MVC___Internal_System.Models.PersonalVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade private-visit-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել տեսակցություն              
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1" id="gov-body-visit-add-page-1">

                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="private-visit-type">Տեսակ`</label>
                                                    
                                                        @foreach (LibsEntity Lib in Model.TypeLibList)
                                                        {
                                                            <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.TypeLibItemID != null && Model.currentPersonalVisit.TypeLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                        }

                                                </div>
                                            </div>
                                            @*<div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="private-visit-status">Կարգավիճակ`</label>
                                                        <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.VisitStatus != null && Model.currentPersonalVisit.VisitStatus.Value) ? "Թույլատրված" : "Չթույլատրված")</span>
                                                </div>
                                            </div>*@
                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group">
                                                    <label for="private-visit-start-date">Սկիզբ`</label>
                                                    <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.StartDate != null) ? Model.currentPersonalVisit.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group">
                                                    <label for="private-visit-end-date">Ավարտ`</label>
                                                    <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.EndDate != null) ? Model.currentPersonalVisit.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (Model.currentPersonalVisit == null)
                                            {
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="private-visit-visitor-sibling">Հարազատների ցուցակ`</label>
                          
                                                            @foreach (PersonEntity curEntity in Model.RelativePersonList)
                                                            {
                                                                <span>@curEntity.Personal_ID">@curEntity.FirstName @curEntity.LastName @curEntity.MiddleName (@curEntity.RelativeLabel)</span>
                                                            }
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="private-visit-group">Խումբ`</label>
                                                    <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.Group != null) ? Model.currentPersonalVisit.Group : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    @*<div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="private-visit-other-visitors">Այլ անձ(ինք)`</label>
                                                            <select id="private-visit-other-visitors" class="selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                <option value="true">Այո</option>
                                                                <option value="false">Ոչ</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group hidden">
                                                            <label for="private-visit-purpose">Նպատակ`</label>
                                                            
                                                                @foreach (LibsEntity Lib in Model.PurposeLibList)
                                                                {
                                                                    <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.PurposeLibItemID != null && Model.currentPersonalVisit.PurposeLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                                }
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="Description">Նկարագրություն`</label>
                                                            <span>@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.Description != null) ? Model.currentPersonalVisit.Description : "")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                @{	PersonEntity Person = new PersonEntity();
                                                    Person.isEditable = true;

                                                    if (Model.currentPersonalVisit != null && Model.Person != null)
                                                    {
                                                        Person.isEditable = true;
                                                        Person = Model.Person;
                                                    }
                                                }
                                                @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" id="acceptBtnModal" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>