﻿@model MVC___Internal_System.Models.PrevConvictionViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade personal-old-sentence-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">Դիտել նախկին Դատվածություն</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="prevCodeLibItemID">Օրենսգիրք`</label>
                                               <span>@((Model.prevConvictionData != null && Model.prevConvictionData.CodeLibItemID != null) ? Model.prevConvictionData.CodeLibItemName : "")</span>
                                                       
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-8 articlesHolder">

                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="personal-old-sentence-punishment">Հոդված`</label>
                                                    @{List<int>
                                                                libtList = new List<int>
                                                                    ();

                                                        foreach (SentencingDataArticleLibsEntity Lib in Model.prevConvictionData.SentencingDataArticles)
                                                        {
                                                            libtList.Add(Lib.LibItem_ID.Value);
                                                        }
                                                            @MyHelpers.drawCustomSelectRecursionSelected(Model.SentenceCodes, null, libtList)
                                                        }
                                                </div>
                                              </div>
                                            <div class="col-xs-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="personal-old-sentence-punishment">Պատժատեսակ`</label>
                                                    <span>@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyLibItemName != null) ? Model.prevConvictionData.PenaltyLibItemName : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Պատժաչափ`</label>
                                                    <div class="form-group-in">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-days">Օր`</label>
                                                                    <span>@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyDay != null) ? Model.prevConvictionData.PenaltyDay.ToString() : "")</span> 
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-months">Ամիս`</label>
                                                                    <span>@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyMonth != null) ? Model.prevConvictionData.PenaltyMonth.ToString() : "")</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-years">Տարի`</label>
                                                                    <span>@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyYear != null) ? Model.prevConvictionData.PenaltyYear.ToString() : "")</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-start-date">Պատժի սկիզբ`</label>
                                                            <span>@((Model.prevConvictionData != null && Model.prevConvictionData.StartDate != null) ? Model.prevConvictionData.StartDate.Value.ToString("dd/MM/yyyy") : "")</span> 
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-end-date">Պատժի ավարտ`</label>
                                                            <span>@((Model.prevConvictionData != null && Model.prevConvictionData.EndDate != null) ? Model.prevConvictionData.EndDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-info">Նշումներ</label>
                                                            <span>@((Model.prevConvictionData != null && Model.prevConvictionData.Notes != null) ? Model.prevConvictionData.Notes : "")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>
