﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade prisonerpunishmenttype-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել Դատապարտման(Կալանավորման) տեսակ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="BaseLibItemID">Հիմք`</label>
                                                    <span>@Model.prisonerPunishmentTypeData.BaseLibItemLabel</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="TypeLibItemID">Տեսակ`</label>
                                                    <span>@Model.prisonerPunishmentTypeData.TypeLibItemLabel</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="AccessDate">Ամսաթիվ`</label>
                                                    <span>@((Model.prisonerPunishmentTypeData.AccessDate != null) ? Model.prisonerPunishmentTypeData.AccessDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="Description">Նկարագրություն`</label>
                                                    <span>@((Model.prisonerPunishmentTypeData.Description != null) ? Model.prisonerPunishmentTypeData.Description : "")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>