﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-sentence-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">Դիտել Դատապարտման տվյալներ</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="form-group">
												<label for="entrance-sentence-performing-person">Դատավճռի որոշումը կայացրած մարմին`</label>

												@foreach (LibsEntity Lib in Model.SentencePerformingPersons)
												{
													<span>@((Model.sentenceData != null && Model.sentenceData.SentencingDecisionLibItem_ID == Lib.ID) ? @Lib.Name : "")</span>
}
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-sentence-number">Դատավճռի համար`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.SentencNumber != null) ? Model.sentenceData.SentencNumber.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-sentence-judge">Դատավոր`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.Judge != null) ? Model.sentenceData.Judge.ToString() : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="entrance-sentence-date">Դատապարտման ամսաթիվ`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.SentencingDate != null) ? Model.sentenceData.SentencingDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="entrance-sentence-entry-date">Դատավճիռը օրինական ուժի մեջ մտնելու ամսաթիվ`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.SentencingVerdictDate != null) ? Model.sentenceData.SentencingVerdictDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="entrance-sentence-code">Օրենսգիրք`</label>
												@if (Model.sentenceData.CodeLibItem_ID != null)
												{

													<span>@MyHelpers.GetLibNameByID(Model.sentenceData.CodeLibItem_ID)</span>



													List<int> libtList = new List<int>();

													foreach (SentencingDataArticleLibsEntity Lib in Model.sentenceData.SentencingDataArticles)
													{
														libtList.Add(Lib.LibItem_ID.Value);
													}
													@MyHelpers.drawCustomSelectRecursionSelected(Model.SentencingArticles, null, libtList)

												}
												
                                            </div>
                                        </div>

                                       
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-punishment-type">Պատժատեսակ`</label>
                                               
                                                    @foreach (LibsEntity Lib in Model.SentencePunishmentType)
                                                    {
                                                        <span>@((Model.sentenceData != null && Model.sentenceData.PunishmentLibItemID != null && Model.sentenceData.PunishmentLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                    }
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-punishment-type">Պատժի ծանրություն`</label>

                                                @foreach (PropValuesEntity Lib in Model.SentenceArticleTypeList)
                                                {
                                                    <span>@((Model.sentenceData != null && Model.sentenceData.SentenceArticleType != null && Model.sentenceData.SentenceArticleType == Lib.ID) ? @Lib.Value : "")</span>
                                                }
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="early-date">Վաղաժամկետ ազատման ամսաթիվ`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.EarlyDate != null) ? Model.sentenceData.EarlyDate.Value.ToString("dd/MM/yyyy") : "")</span>
											</div>
										</div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="early-type">Պայմանական վաղաժամկետ ազատում`</label>
												@if (Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 1)
												{
													<span>1/3</span>
}
												else if (Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 2)
												{
													<span>1/2</span>
}
												else if (Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 3)
												{
													<span>1/3</span>
}
												else if (Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 4)
												{
													<span>1/4</span>
}
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="LowSuit">Քաղ. հայց`</label>
														<span>@((Model.sentenceData != null && Model.sentenceData.LowSuit != null && Model.sentenceData.LowSuit.Value) ? "Ունի" : "Չունի")</span>
													</div>
												</div>
												@if (Model.sentenceData.LowSuit != null && Model.sentenceData.LowSuit != false)
												{
													<div class="col-xs-12 col-md-8" id="LowSuitIn">
														<div class="row">
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="LowSuitAmount">Գումար`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.LowSuitAmount != null) ? Model.sentenceData.LowSuitAmount : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="LowSuitPayAmount">Մասնակի մարված`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.LowSuitPayAmount != null) ? Model.sentenceData.LowSuitPayAmount : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="LowSuitState">Մուծված`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.LowSuitState != null && Model.sentenceData.LowSuitState.Value) ? "Այո" : "Ոչ")</span>
																</div>
															</div>
														</div>
													</div>
												}
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-4">
													<div class="form-group">
														<label for="PropertyConfiscationLibItemID">Գույքի բռնագրավում`</label>
															@foreach (LibsEntity Lib in Model.propertyConfiscationLibs)
															{
																<span>@((Model.sentenceData != null && Model.sentenceData.PropertyConfiscationLibItemID != null && Model.sentenceData.PropertyConfiscationLibItemID == Lib.ID) ? @Lib.Name : "")</span>
}
													</div>
												</div>
												<div class="col-xs-12 col-md-8" id="PropertyConfiscationValueIn">
													<div class="form-group">
														@if (Model.sentenceData.PropertyConfiscationValue != null)
														{
															<label for="PropertyConfiscationValue">Արժեք`</label>
														}
														<span>@((Model.sentenceData != null && Model.sentenceData.PropertyConfiscationValue != null) ? Model.sentenceData.PropertyConfiscationValue : "")</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="FineHas">Տուգանք`</label>
														<span>@((Model.sentenceData != null && Model.sentenceData.FineHas != null && Model.sentenceData.FineHas.Value) ? "Ունի" : "Չունի")</span>
													</div>
												</div>
												@if (Model.sentenceData.FineHas != null && Model.sentenceData.FineHas != false)
												{
													<div class="col-xs-12 col-md-9" id="FineHasIn">
														<div class="row">
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="Fine">Տուգանք`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.Fine != null) ? Model.sentenceData.Fine : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="FinePay">Մասնակի մարված`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.FinePay != null) ? Model.sentenceData.FinePay : "")</span>
																</div>
															</div>
															<div class="col-xs-12 col-md-4">
																<div class="form-group">
																	<label for="FineState">Մուծված`</label>
																	<span>@((Model.sentenceData != null && Model.sentenceData.FineState != null && Model.sentenceData.FineState.Value) ? "Այո" : "Ոչ")</span>
																</div>
															</div>
														</div>
													</div>

												}
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label>Պատժաչափ`</label>
												<div class="form-group-in">
													<div class="row">
														<div class="col-xs-12 col-md-2">
															<div class="form-group">
																<label for="entrance-punishment-duration-days">Օր`</label>
																<span>@((Model.sentenceData != null && Model.sentenceData.PenaltyDay != null) ? Model.sentenceData.PenaltyDay.ToString() : "")</span>
															</div>
														</div>
														<div class="col-xs-12 col-md-2">
															<div class="form-group">
																<label for="entrance-punishment-duration-months">Ամիս`</label>
																<span>@((Model.sentenceData != null && Model.sentenceData.PenaltyMonth != null) ? Model.sentenceData.PenaltyMonth.ToString() : "")</span>
															</div>
														</div>
														<div class="col-xs-12 col-md-2">
															<div class="form-group">
																<label for="entrance-punishment-duration-years">Տարի`</label>
																<span>@((Model.sentenceData != null && Model.sentenceData.PenaltyYear != null) ? Model.sentenceData.PenaltyYear.ToString() : "")</span>
															</div>
														</div>
														<div class="col-xs-12 col-md-3">
															<div class="form-group">
																<label for="SentencingStartDate">Պատժի սկիզբ`</label>
																<span>@((Model.sentenceData != null && Model.sentenceData.SentencingStartDate != null) ? Model.sentenceData.SentencingStartDate.Value.ToString("dd/MM/yyyy") : "")</span>
															</div>
														</div>
														<div class="col-xs-12 col-md-3">
															<div class="form-group">
																<label for="entrance-punishment-end-date">Պատժի ավարտ`</label>
																<span>@((Model.sentenceData != null && Model.sentenceData.SentencingEndDate != null) ? Model.sentenceData.SentencingEndDate.Value.ToString("dd/MM/yyyy") : "")</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="medical-examination-description">Նկարագրություն`</label>
												<span>@((Model.sentenceData != null && Model.sentenceData.Description != null) ? Model.sentenceData.Description : "")</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>