﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-report-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                @if(Model.Title != null)
                {
                    <h4 class="modal-title">Դիտել @String.Format(Model.Title)</h4>
                }
                else
                {
                    <h4 class="modal-title">Դիտել ՔԿՀ մուտք գործելու արձանագրություն</h4>
                }
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Խուզարկու (իրականացնող)`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="entrance-report-arrest-detective-rank">Կոչում`</label>
                                                                
                                                                    @foreach (LibsEntity Lib in Model.DetectiveRank)
                                                                    {
                                                                        <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.RankLib_ID == Lib.ID) ? @Lib.Name : "")</span>
                                                                    }
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="entrance-report-arrest-detective-select">Աշխատակից`</label>

                                                                @foreach (EmployeeEntity Lib in Model.EmployeerList)
                                                                {
                                                                    <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.EmployeeID == Lib.ID) ? (@Lib.FirstName + " " + @Lib.LastName) : "")</span>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-report-building-type">ՔԿ հիմնարկության տեսակ`</label>
                                           
                                                    @foreach (LibsEntity Lib in Model.QKHType)
                                                    {
                                                        <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.PrisonInstitutionTypeLib_ID == Lib.ID) ? @Lib.Name : "")</span>
                                                    }
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-report-date">ՔԿՀ ընդունման ամսաթիվ`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.PrisonAccessDate != null) ? Model.sentenceProtocol.PrisonAccessDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-report-base">ՔԿՀ ընդունման հիմք`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.AdoptionBasis != null) ? Model.sentenceProtocol.AdoptionBasis.ToString() : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="">ՔԿՀ ընդունելիս մարմնական զննության արդյունքներ`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.PhysicalExamnationResult != null) ? Model.sentenceProtocol.PhysicalExamnationResult.ToString() : "")</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">ՔԿՀ ընդունելիս անձնական խուզարկության արդյունքներ`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.PersonalSearchResults != null) ? Model.sentenceProtocol.PersonalSearchResults.ToString() : "")</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Անձնական իրերի և հագուստի վերաբերյալ արձանագրություն`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.PPIC != null) ? Model.sentenceProtocol.PPIC.ToString() : "")</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Սոցիալ-հոգեբանական վիճակ`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.SPC != null) ? Model.sentenceProtocol.SPC.ToString() : "")</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="entrance-arrest-description">Նկարագրություն`</label>
                                                <span>@((Model.sentenceProtocol != null && Model.sentenceProtocol.Description != null) ? Model.sentenceProtocol.Description.ToString() : "")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>