﻿@model MVC___Internal_System.Models.TerminationViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade terminate-case-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Փակել գործը</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="terminate-case-type">Փակման տեսակ`</label>
                                                <select name="CloseTypeLibItemID" id="terminate-case-type" class="getItemsBanT checkValidateBanT selectize-sm selectizeTerminate">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.caseLibs)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CloseTypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="terminate-case-date">Ամսաթիվ`</label>
                                                <input name="CloseDate" class="DatesBanT getItemsBanT checkValidateBanT form-control input-sm" type="text" id="terminate-case-date" value="@((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CloseDate != null) ? Model.currentTerminateEntity.CloseDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="terminate-case-order-id">Հրամանի համար`</label>
                                                <input name="CommandNumber" class="getItemsBanT checkValidateBanT form-control input-sm" type="text" id="terminate-case-order-id" value="@((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CommandNumber != null) ? Model.currentTerminateEntity.CommandNumber.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="terminate-case-order-from">Ում կողմից`</label>
                                                <select name="CloseFromWhomID" id="terminate-case-order-from" class="getItemsBanT checkValidateBanT selectize-sm selectizeTerminate">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.fromWhoomLib)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CloseFromWhomID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="CourtDesicion">Դատարանի որաշմամբ`</label>
                                                <select name="CourtDesicion" id="CourtDesicion" class="getItemsBanT checkValidateBanT selectize-sm selectizeTerminate">
                                                    <option value="">Ընտրել</option>
                                                    <option value="true" @((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CourtDesicion != null && Model.currentTerminateEntity.CourtDesicion.Value) ? "selected" : "")>Այո</option>
                                                    <option value="false" @((Model.currentTerminateEntity != null && Model.currentTerminateEntity.CourtDesicion != null && !Model.currentTerminateEntity.CourtDesicion.Value) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="terminate-case-description">Նշումներ`</label>
                                                <textarea name="Notes" class="getItemsBanT checkValidateBanT form-control input-sm" rows="4" id="terminate-case-description">@((Model.currentTerminateEntity != null && Model.currentTerminateEntity.Notes != null) ? Model.currentTerminateEntity.Notes.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptTerminationBtn" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>