﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade transfer-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել տեղափոխում</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="transfer-purpose">Նպատակ`</label>
                                                        @foreach (LibsEntity Lib in Model.PurposeLibList)
                                                        {
                                                        <span>@((Model.currentTransfer != null && Model.currentTransfer.PurposeLibItemID != null && Model.currentTransfer.PurposeLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="transfer-date">Ամսաթիվ`</label>
                                                        <span>@((Model.currentTransfer != null && Model.currentTransfer.StartDate != null) ? Model.currentTransfer.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="transfer-date">Ավարտ`</label>
                                                        <span>@((Model.currentTransfer != null && Model.currentTransfer.EndDate != null) ? Model.currentTransfer.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="transfer-state">Կարգավիճակ`</label>
                                                        @foreach (LibsEntity Lib in Model.StateLibList)
                                                        {
                                                        <span>@((Model.currentTransfer != null && Model.currentTransfer.StateLibItemID != null && Model.currentTransfer.StateLibItemID == Lib.ID) ? @Lib.Name : "")</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    @if (Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value)
                                                    {
                                                    <div class="form-group">
                                                        <label for="CurrentOrgUnit">Նախկին ՔԿՀ`</label>
                                                        <span>
                                                            @MyHelpers.GetOrgUnitNameByID(Model.currentTransfer.CurrentOrgUnit);
                                                        </span>
                                                    </div>
                                                    }
                                                    <div class="form-group">
                                                        <label for="transfer-place">Տեղափոխման վայր`</label>
                                                        <span>@((Model.currentTransfer != null && Model.currentTransfer.TransferLibItemLabel != null) ? Model.currentTransfer.TransferLibItemLabel : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="transfer-place">@Model.currentTransfer.TransferLibItemLabel`</label>
                                                        <span>
                                                            @if (Model.currentTransfer.TransferLibItemLabel == "ՔԿՀ հիվանդանոց" || Model.currentTransfer.TransferLibItemLabel == "Քաղ․ հիվանդանոց" || Model.currentTransfer.TransferLibItemLabel == "Նարկոլոգիա")
                                                        {
                                                            @MyHelpers.GetLibNameByID(Model.currentTransfer.HospitalLibItemID);
                                                        }
                                                        else if (Model.currentTransfer.TransferLibItemLabel == "Դատարան")
                                                        {
                                                            @MyHelpers.GetLibNameByID(Model.currentTransfer.CourtLibItemID);
                                                        }
                                                        else if (Model.currentTransfer.TransferLibItemLabel == "Հոգեբուժարան")
                                                        {
                                                            @MyHelpers.GetLibNameByID(Model.currentTransfer.HogebujaranLibItemID);
                                                        }
                                                        else if (Model.currentTransfer.TransferLibItemLabel == "Քննչական բաժին")
                                                        {
                                                            @MyHelpers.GetLibNameByID(Model.currentTransfer.QnnchakanLibItemID);
                                                        }
                                                        else
                                                        {
                                                            @MyHelpers.GetOrgUnitNameByID(Model.currentTransfer.OrgUnitID)
                                                        }
                                                        </span>
                                                    </div>
                                                </div>
                                                @if (Model.currentTransfer.TransferLibItemLabel == "Քաղ․ հիվանդանոց" && Model.currentTransfer.EmergencyLibItemID != null)
                                            {
                                                <div class="col-xs-12 col-md-4 hidden" id="EmergencyLibRow">
                                                    <div class="form-group">
                                                        <label for="transfer-emergency">Շտապ`</label>
                                                        <span>@MyHelpers.GetLibNameByID(Model.currentTransfer.EmergencyLibItemID)</span>
                                                    </div>
                                                </div>
                                            }
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="transfer-date">Նկարագրություն`</label>
                                                            <span>@((Model.currentTransfer != null && Model.currentTransfer.Description != null) ? Model.currentTransfer.Description : "")</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="transfer-date">Թույլատրող անձ`</label>
                                                            <span>@((Model.currentTransfer.ApproverEmployeeName  == null) ? "-" : Model.currentTransfer.ApproverEmployeeName)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-1">Անուն`</label>
                                                    <span>@(Model.Person != null ? Model.Person.FirstName.ToString() : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-2">Ազգանուն`</label>
                                                    <span>@((Model.Person != null && Model.Person.LastName != null) ? Model.Person.LastName.ToString() : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-name-3">Հայրանուն`</label>
                                                    <span>@((Model.Person != null && Model.Person.MiddleName != null) ? Model.Person.MiddleName.ToString() : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-bd">Ծննդ. ամսաթիվ`</label>
                                                    <span>@(Model.Person != null ? Model.Person.Birthday.ToString() : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-social-id">Սոց. քարտ`</label>
                                                    <span>@(Model.Person != null ? Model.Person.Personal_ID.ToString() : "")</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="modal-person-passport">Անձնագիր`</label>
                                                    <span>@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any()) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>