﻿@model MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade work-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դիտել Աշխատանք</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-type">Աշխատանքի տեսակ`</label>
                                                        
                                                            @foreach (LibsEntity Lib in Model.JobTypeLibItemList)
                                                            {
                                                                <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.JobTypeLibItemID != null && Model.currentWorkLoad.JobTypeLibItemID == Lib.ID) ? Lib.Name : "")</span> 
                                                            }
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-name">Աշխատանքի անվանում`</label>
														@foreach (LibsEntity Lib in Model.WorkTitleLibItemList)
														{
															<span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.WorkTitleLibItemID != null && Model.currentWorkLoad.WorkTitleLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-employer">Գործատու`</label>
														@foreach (LibsEntity Lib in Model.EmployerLibItemList)
														{
															<span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.EmployerLibItemID != null && Model.currentWorkLoad.EmployerLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-end-date">Ավարտի ամսաթիվ`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.EndDate != null) ? Model.currentWorkLoad.EndDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="work-info">Նկարագրություն`</label>
                                                <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.Note != null) ? Model.currentWorkLoad.Note.ToString() : "")</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-salary">Աշխատավարձ (Դրամ)`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.Salary != null) ? Model.currentWorkLoad.Salary.ToString() : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-document-number">Պայմանագրի համար`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.ContractNumber != null) ? Model.currentWorkLoad.ContractNumber.ToString() : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-info-date">Ներգրավման ամսաթիվ`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementDate != null) ? Model.currentWorkLoad.EngagementDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-involvement-base">Ներգրավման հիմք`</label>
														@foreach (LibsEntity Lib in Model.EngagementBasisLibItemList)
														{
															<span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementBasisLibItemID != null && Model.currentWorkLoad.EngagementBasisLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8">
                                                    <div class="form-group">
                                                        <label for="work-involvement-status">Ներգրավվածության կարգավիճակ`</label>
                                                            <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementState != null && Model.currentWorkLoad.EngagementState.Value) ? "Ներգրավված" : "Ազատված")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 @((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementState != null && Model.currentWorkLoad.EngagementState.Value) ? "hidden" : "")" id="work-free-wrap">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-8">
                                                    <div class="form-group">
                                                        <label for="work-free-base">Ազատման հիմք`</label>
														@foreach (LibsEntity Lib in Model.ReleaseBasisLibItemList)
														{
															<span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseBasisLibItemID != null && Model.currentWorkLoad.ReleaseBasisLibItemID == Lib.ID) ? Lib.Name : "")</span>
}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-free-date">Ազատման ամսաթիվ`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseDate != null) ? Model.currentWorkLoad.ReleaseDate.Value.ToString("dd/MM/yyyy") : "")</span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="work-free-cause">Ազատման Նկարագրություն`</label>
                                                        <span>@((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseNote != null) ? Model.currentWorkLoad.ReleaseNote.ToString() : "")</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                </div>
            </div>
        </div>
    </div>
</div>

