﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 @((Model.Prisoner.FingerprintsTattoosScars != null &&
        Model.Prisoner.FingerprintsTattoosScars.Fingerprints != null &&
        Model.Prisoner.FingerprintsTattoosScars.Tattoos != null &&
        Model.Prisoner.FingerprintsTattoosScars.Scars != null &&
        (Model.Prisoner.FingerprintsTattoosScars.Fingerprints.FindAll(r=> r.MergeStatus == true).Any() ||
        Model.Prisoner.FingerprintsTattoosScars.Tattoos.FindAll(r=> r.MergeStatus == true).Any() ||
        Model.Prisoner.FingerprintsTattoosScars.Scars.FindAll(r=> r.MergeStatus == true).Any())) ? "" : "hidden") fingerMergeWarningClass">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
            <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="add-file-label">
                <span>Մատնահետքեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <button type="button" id="addFingerBtn" title="Ավելացնել" class="btn btn-sm btn-default btn-flat" ><i class="fa fa-plus"></i></button>

}
			</label>
        </div>
        <div class="row fingerLoader" id="fingerprintbody">
            @Html.Action("Get_FingerRows", "_Popup_", new { PrisonerID = Model.Prisoner.ID })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label">
                <span>Դաջվածքներ`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <button type="button" id="addTatooBtn" title="Ավելացնել" class="btn btn-sm btn-default btn-flat" ><i class="fa fa-plus"></i></button>
}
			</label>
        </div>
        <div class="row tatooLoader" id="tatooprintbody">
            @Html.Action("Get_TatooRows", "_Popup_", new { PrisonerID = Model.Prisoner.ID })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label">
                <span>Սպիներ`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <button type="button" id="addScarBtn" title="Ավելացնել" class="btn btn-sm btn-default btn-flat" ><i class="fa fa-plus"></i></button>
}
			</label>
        </div>
        <div class="row scarLoader" id="scarprintbody">
            @Html.Action("Get_ScarRows", "_Popup_", new { PrisonerID = Model.Prisoner.ID })
        </div>
    </div>
</div>
