﻿@model  MVC___Internal_System_Administration.Models.DashboardViewModel
@using MVC___Internal_System_Administration.Models
@using CommonLayer.BusinessEntities;
@{
    ViewBag.Title = "Test Dashboard";
}
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="listTree">
            <div class="listTreeContent">
                <div class="listTreeFolder">
                    @MyHelpers.DrawLibList(Model.LibsList)
                </div>
            </div>
        </div>
    </div>
</div>    
            @* @using (Html.BeginForm("Register", "Dashboard", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
                <div class="boxBody">
                    <div class="form-group">
                        <label for="input-login">Name</label>
                        @Html.TextBoxFor(m => m.Name, new { @id = "input-name", @class = "form-control", @placeholder = "Name" })
                    </div>
                    <div class="form-group">
                        <label for="input-password">parent ID</label>
                        @Html.TextBoxFor(m => m.ParentID, new { @id = "input-parentid", @class = "form-control", @placeholder = "Parnet id" })
                    </div>
                    <div class="form-group clearfix">
                        <input type="submit" class="btn btn-default btn-flat pull-right" value="Մուտք">
                    </div>
                </div>
            }
            *@ 