﻿@model MVC___Internal_System.Models.TerminationViewModel
@using CommonLayer.BusinessEntities

 
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Համար</th>
                                    <th>ՔԿՀ</th>
                                    <th>Սկիզբ</th>
                                    <th>Ավարտ</th>
                                    <th colspan="2">Կարգավիճակ</th>
                                </tr>
                            </thead>
                            <tbody id="terminatetablebody">
                                @if (Model.TerminateEntity != null)
                                {
                                    @Html.Action("Draw_TerminateTableRows", "_Popup_", new { Data = Model.TerminateEntity })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>Ծավալ</th>
                                    <th>Ամսաթիվ</th>
                                    <th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfileTableBody">
                                @if (Model.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Files, PrisonerID = Model.Prisoner.ID })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>