﻿@model  MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities;


    <div class="row" id="penalty-list-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Միջոց</th>
                                    <th>Հիմք</th>
                                    <th>Նշանակման ամսաթիվ</th>
                                    <th>Ավարտման ամսաթիվ</th>
                                    <th>Տույժի մարման ժամկետ`</th>
                                    <th>Նշանակող անձ</th>
                                    <th colspan="2">Կարգավիճակ</th>
                                    <th>Կարգավիճակի փոփոխման ամսաթիվ</th>
                                    <th>Բողոքարկել</th>
                                </tr>
                            </thead>
                            <tbody id="pentablebody" class="pentablebody">
                                @if (Model.Penalty != null && Model.Penalty.Penalties != null && Model.Penalty.Penalties.Any())
                                {
                                    @Html.Action("Draw_PenaltyTableRow", "_Popup_", new { Data = Model.Penalty.Penalties });
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default btn-flat" id="addPenBtn">Ավելացնել</button>
                </div>
}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
				  </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>Ծավալ</th>
                                    <th class="tableDateCol">Ամսաթիվ</th>
                                    <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfileTableBody">
                                @if (Model.Penalty != null && Model.Penalty.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Penalty.Files, PrisonerID = Model.Prisoner.ID })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>