﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Տույժի տեսակ</th>
                <th>Նշանակման ամսաթիվ</th>
                <th>Տույժի մարման ժամկետ`</th>
                <th>Տույժը նշանակող անձ</th>
                <th>Կարգավիճակի փոփոխման հիմք</th>
                <th>Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody" class="loaderClass">
            @if (Model.ListDashboardPenalties != null && Model.ListDashboardPenalties.Any())
            {
                foreach (PenaltiesDashboardEntity curEntity in Model.ListDashboardPenalties)
                {
                    <tr>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Penalty">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }       
                                         
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
						@if (curEntity.PrisonerType == 3)
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
                        <td data-title="Տույժի տեսակ">@curEntity.TypeListItemName</td>
                        <td data-title="Նշանակման ամսաթիվ">@curEntity.PenaltyDate</td>
                        <td data-title="Նշանակման ամսաթիվ">@curEntity.PenaltiesMaturity</td>
                        <td data-title="Տույժը նշանակող անձ">@curEntity.EmployeerName</td>
						@if (curEntity.Status == true)
						{
							<td data-title="Կարգավիճակի փոփոխման հիմք">@curEntity.StatusChangeBasisLibItemName </td>
						}
						else
						{
							<td data-title="Կարգավիճակի փոփոխման հիմք"></td>
						}                       
                        <td data-title="Կարգավիճակ">@curEntity.StateLibItemLabel
                        @if (curEntity.StatusChangeBasisLibItemID == null)
                        {
                            <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completePenaltyRow"><i class="fa fa-check-square-o"></i></button>
                        }</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.PenaltiesEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardPenalties != null && Model.PenaltiesEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.PenaltiesEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.PenaltiesEntityPaging.CurrentPage == Model.PenaltiesEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PenaltyTableRow/1/" data-pagenumber="1" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PenaltyTableRow/@(Model.PenaltiesEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.PenaltiesEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"data-pagenumber="@(Model.PenaltiesEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
				}

				int i = 1;
				int t = Model.PenaltiesEntityPaging.TotalPage;
				int c = Model.PenaltiesEntityPaging.CurrentPage;
				int v = Model.PenaltiesEntityPaging.ViewCount;
				int l = v;

				if (t > v)
				{
					if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
					{
						i = c - (v / 2 - 1) - v % 2;
						l = c + v / 2;
					}
					else if (c >= t - ((double)v / 2.0))
					{
						i = t - v + 1;
						l = t;
					}
				}
				else if (t < v)
				{
					l = t;
				}
				for (; i <= l; i++)
				{
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PenaltyTableRow/@i" class="paginationBtn @((i == Model.PenaltiesEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PenaltyTableRow/@(Model.PenaltiesEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PenaltyTableRow/@Model.PenaltiesEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
