﻿@model MVC___Internal_System.Models._Popup_Files_ViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade add-file-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                @if (Model.currentFile == null) {
                    @String.Format("Ավելացնել ֆայլ");
                }
                else
                {
                    @String.Format("Խմբագրել ֆայլ");
                }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    @if (Model.currentFile == null)
                                                    {
                                                    <div class="form-group">
                                                        <label for="add-file-toggle" class="add-file-label">
                                                            <span>Ֆայլ`</span>
                                                            <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat">Ավելացնել</span>
                                                        </label>
                                                        <span id="filename" class=""></span>
                                                        <div hidden>
                                                            <input class="" type="file" id="add-file-toggle" accept="image/*,application/pdf,application/msword"/>
                                                        </div>
                                                    </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="form-group">
                                                            <label>Ֆայլ`</label>
                                                            <a href="@(Model.currentFile != null ? BusinessLayer.BusinessServices.BL_Files.getInstance().GetLink(Model.currentFile.ID.Value) : "")" target="_blank">@Model.currentFile.FileName</a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="add-file-status">Կարգավիճակ`</label>
                                                <select name="State" id="add-file-status" class="getItemsFile checkValidateAddFile selectize-sm selectizeAddFile">
                                                    <option value="true" @((Model.currentFile != null && Model.currentFile.State.Value) ? "selected" : "")>Ակտիվ</option>
                                                    <option value="false" @((Model.currentFile != null && !Model.currentFile.State.Value) ? "selected" : "")>Պասիվ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="add-file-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsFile checkValidateAddFile  form-control input-sm " id="add-file-description"  rows="4">@((Model.currentFile != null) ? Model.currentFile.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" >Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>