﻿@model MVC___Internal_System.Models._Popup_Files_ViewModel
@using CommonLayer.BusinessEntities

@if (Model.Files != null && Model.Files.Any())
{
    foreach (AdditionalFileEntity file in Model.Files)
    {
        <tr class="@((file.MergeStatus != null && file.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Նկարի անվանում">@file.FileName</td>
            <td data-title="Կարգավիճակ">@MyHelpers.GetBoolName(file.State.Value)</td>
            <td data-title="Նկարագրություն">@file.Description</td>
            <td data-title="Ավելացման Ամսաթիվ">@file.ModifyDate.ToString("dd/MM/yyyy")</td>
            <td data-title="Ծավալ">@((long)file.ContentLength * 1000)</td>
            <td>
                <div class="btn-group">
                    <a href="@BusinessLayer.BusinessServices.BL_Files.getInstance().GetLink(file.ID.Value)" target="_blank" data-id="@file.ID" class="btn btn-sm btn-default btn-flat" title="Ներբեռնել"><i class="fa fa-download" ></i></a>
                    <button data-id="@file.ID" class="btn btn-sm btn-default btn-flat viewFileButton" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    @if (Model.PrisonerID == file.PrisonerID && (int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-type="@((int)file.TypeID)" data-id="@file.ID" class="btn btn-sm btn-default btn-flat editFileButton @((file.MergeStatus != null && file.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-type="@((int)file.TypeID)" data-id="@file.ID" class="btn btn-sm btn-default btn-flat removeFileButton @((file.MergeStatus != null && file.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    
                </div>
            </td>
        </tr>
    }
}