﻿@model MVC___Internal_System.Models.ArchiveViewModel
@using CommonLayer.BusinessEntities

@if (Model.archives != null && Model.archives.Any())
{
    foreach (ArchiveEntity curEntity in Model.archives)
    {
        <tr>
            <td data-title="Համար"><a href="@Url.Action("Preview", Model.controllerName, new { id = curEntity.ID })" target="_blank">@curEntity.PersonalCaseNumber</a></td>
            <td data-title="ՔԿՀ">@curEntity.OrgUnitLabel</td>
            <td data-title="Սկիզբ" class="tableDateCol">@curEntity.StartDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Ավարտ" class="tableDateCol">@curEntity.EndDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Կարգավիճակ">@MyHelpers.GetBoolName(false)</td>
            @*<td data-title=""><button data-toggle="modal" data-target=".open-case-modal" class="btn btn-sm btn-default btn-flat">Բացել</button></td>*@
        </tr>
    }
}