﻿@model MVC___Internal_System.Models.ArmyViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade military-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">@if (Model.armyEntity == null)
                {
                    @Html.Raw("Ավելացնել ծառայութունը զինված ուժերում")
                }
                else
                {
                    @Html.Raw("Խմբագրել ծառայութունը զինված ուժերում")
                }</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="military-start-date">Ծառայության սկիզբ</label>
                                                <input name="StartDate" class="getItemsArmy checkValidateArmy DatesModal form-control input-sm" type="text" id="military-start-date" value="@((Model.armyEntity != null && Model.armyEntity.StartDate != null) ? Model.armyEntity.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="military-end-date">Ծառայության ավարտ</label>
                                                <input name="EndDate" class="getItemsArmy checkValidateArmy DatesModal form-control input-sm" type="text" id="military-end-date" value="@((Model.armyEntity != null && Model.armyEntity.EndDate != null) ? Model.armyEntity.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                @*<label class="getItemsArmy TypeLibItemID" name="TypeLibItemID">Զորքի տեսակը`</label>
                                                @{
                                                    List<int> checkedIDList = new List<int>();
                                                    if (Model.armyEntity != null && Model.armyEntity.TypeLibItemID != null)
                                                    {
                                                        checkedIDList.Add(Model.armyEntity.TypeLibItemID.Value);
                                                    }
                                                    @MyHelpers.DrawCustomSelect(Model.MilitaryType, "TypeLibItemID", false, null, checkedIDList)
                                                }*@
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="military-profession">Զինվորական մասնագիտությունը`</label>
                                                        <select name="ProffessionLibItemID" id="military-profession" class="checkValidateArmy getItemsArmy selectize-sm selectizeArmy">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.MilitaryProfession)
                                                            {
                                                                <option value="@Lib.ID" @((Model.armyEntity != null && Model.armyEntity.ProffessionLibItemID != null && Model.armyEntity.ProffessionLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="getItemsArmy RankLibItemID" name="RankLibItemID">Զինվորական կոչումը`</label>
                                                        @{
                                                            List<int> checkedIDListRank = new List<int>();
                                                            if (Model.armyEntity != null && Model.armyEntity.RankLibItemID != null)
                                                            {
                                                                checkedIDListRank.Add(Model.armyEntity.RankLibItemID.Value);
                                                            }
                                                            @MyHelpers.DrawCustomSelect(Model.MilitaryRank, "RankLibItemID", false, null, checkedIDListRank)
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label class="getItemsArmy PositionLibItemID" name="PositionLibItemID">Զինվորական պաշտոնը`</label>
                                                        @{
                                                            List<int> checkedIDListPos = new List<int>();
                                                            if (Model.armyEntity != null && Model.armyEntity.PositionLibItemID != null)
                                                            {
                                                                checkedIDListPos.Add(Model.armyEntity.PositionLibItemID.Value);
                                                            }
                                                            @MyHelpers.DrawCustomSelect(Model.MilitaryPosition, "PositionLibItemID", false, null, checkedIDListPos)
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnArmy">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>