﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.MilitaryService != null && Model.Prisoner.MilitaryService.Army.Any())
{
    foreach (ArmyEntity curArmy in Model.Prisoner.MilitaryService.Army)
    {
        <tr class="@((curArmy.MergeStatus != null && curArmy.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ծառայության սկիզբ - ավարտ">@curArmy.StartDate.Value.ToString("dd/MM/yyyy")  - @curArmy.EndDate.Value.ToString("dd/MM/yyyy") </td>
            @*<td data-title="Զորքի տեսակը">@MyHelpers.GetLibNameByID(curArmy.TypeLibItemID)</td>*@
            <td data-title="Զինվորական մասնագիտությունը">@MyHelpers.GetLibNameByID(curArmy.ProffessionLibItemID)</td>
            <td data-title="Զինվորական կոչումը">@MyHelpers.GetLibNameByID(curArmy.RankLibItemID)</td>
            <td data-title="Զինվորական պաշտոնը">@MyHelpers.GetLibNameByID(curArmy.PositionLibItemID)</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curArmy.ID" class="btn btn-sm btn-default btn-flat editRow @((curArmy.MergeStatus != null && curArmy.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-id="@curArmy.ID" class="btn btn-sm btn-default btn-flat viewarmyRow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
                        <button data-id="@curArmy.ID" class="btn btn-sm btn-default btn-flat removeRow @((curArmy.MergeStatus != null && curArmy.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    else
                    {
                        <button data-id="@curArmy.ID" class="btn btn-sm btn-default btn-flat viewarmyRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}