﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-court-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.arrestDataEntity == null)
				{
					@String.Format("Ավելացնել Կալանավորման տվյալներ`");
				}
				else
				{
					@String.Format("Խմբագրել Կալանավորման տվյալներ`");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        @*<div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-case-performing-person">Վարույթ իրականացնող մարմին`</label>
                                                <select name="ProceedingLib_ID" id="entrance-case-performing-person" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.VaruytMarmin)
                                                    {
                                                        <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.ProceedingLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>*@
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-court-name-1">Կալանավորում խափանման միջոց ընտրած մարմին`</label>
                                                <select name="ArrestLib_ID" id="entrance-court-name-1" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.kalanavorumMarmin)
                                                    {
                                                        <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.ArrestLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-court-name-2">Դատավճիռ կայացրած մարմին`</label>
                                                <select name="VerdictLib_ID" id="entrance-court-name-2" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.SentencePerformingPersons)
                                                    {
                                                        <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>*@
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-verdict-number">Որոշման համար`</label>
                                                <input name="VerdictNumber" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-verdict-number" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictNumber != null) ? Model.arrestDataEntity.VerdictNumber.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-court-judge">Դատավոր`</label>
                                                <input name="Judge" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-court-judge" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.Judge != null) ? Model.arrestDataEntity.Judge.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-court-date">Որոշման ամսաթիվ`</label>
                                                <input name="VerdictDate" class="DatesSentence getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-court-date" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictDate != null) ? Model.arrestDataEntity.VerdictDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="entrance-sentence-code">Օրենսգիրք`</label>
                                                        <select name="CodeLibItem_ID" id="entrance-sentence-code" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.SentenceCodes)
                                                            {
                                                                <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.CodeLibItem_ID != null && Model.arrestDataEntity.CodeLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8 articlesHolder">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label for="entrance-arrest-start-date">Կալանավորման սկիզբ`</label>
                                                <input name="DetentionStart" class="DatesSentence getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-arrest-start-date" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.DetentionStart != null) ? Model.arrestDataEntity.DetentionStart.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <div class="form-group">
                                                <label for="entrance-arrest-end-date">Կալանավորման ավարտ`</label>
                                                <input name="DetentionEnd" class="DatesSentence getItemsModal form-control input-sm" type="text" id="entrance-arrest-end-date" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.DetentionEnd != null) ? Model.arrestDataEntity.DetentionEnd.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="CodeNumber">Քրեական գործի համար`</label>
                                                <input name="CodeNumber" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="CodeNumber" value="@((Model.arrestDataEntity != null && Model.arrestDataEntity.CodeNumber != null) ? Model.arrestDataEntity.CodeNumber.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label class="getItemsProceedings  ProceedLibItemID" name="ProceedLibItemID">Վարույթ իրականացնող մարմին`</label>
                                                        @{
                                                            List<int> checkedIDListRank = new List<int>();
                                                            @MyHelpers.DrawCustomSelect(Model.VaruytMarmin, "ProceedLibItemID", false, null, checkedIDListRank)
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="physical-modal-weight">Ամսաթիվ`</label>
                                                        <input name="Date" class="DatesSentence getItemsProceedings checkValidateProceedings form-control input-sm" id="Date" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <div class="btn-group btn-group-sm pull-right">
                                                            <button type="button" class="btn btn-default btn-flat" id="addProceedingBtn" disabled>Ավելացնել</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <div class="tableWrap">
                                                            <table class="table table-bordered table-valignM">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Վարույթ իրականացնող մարմին`</th>
                                                                        <th colspan="2">Ամսաթիվ`</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="proceedingsTableRow" class="proceedingLoader">
                                                                    @if (Model.arrestDataEntity != null) {
                                                                        @MyHelpers.DrawArrestProceedings(Model.arrestDataEntity.ArrestDataProceedings)
                                                                }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <textarea class="getItemsModal checkValidateModal form-control input-sm" id="medical-examination-description" name="Description" rows="4">@((Model.arrestDataEntity != null && Model.arrestDataEntity.Description != null) ? Model.arrestDataEntity.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>