﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.ArrestData != null && Model.Prisoner.AdoptionInformation.ArrestData.Any())
{
    foreach (ArrestDataEntity curItem in Model.Prisoner.AdoptionInformation.ArrestData)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            @*<td data-title="Վարույթ իրականացնող մարմին">@MyHelpers.GetLibNameByID(curItem.ProceedingLib_ID)</td>*@
            <td data-title="Կալանավորում խափանման միջոց ընտրած մարմին">@MyHelpers.GetLibNameByID(curItem.ArrestLib_ID)</td>
            <td data-title="Որոշման համար">@curItem.VerdictNumber</td>
            <td data-title="Դատավոր">@curItem.Judge</td>
            <td data-title="Որոշման ամսաթիվ">@curItem.VerdictDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Կալանավորման սկիզբ - ավարտ">@curItem.DetentionStart.Value.ToString("dd/MM/yyyy") - @(curItem.DetentionEnd != null ? curItem.DetentionEnd.Value.ToString("dd/MM/yyyy") : "")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editArrestDataRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewArrestDataRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeArrestDataRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewArrestDataRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}