﻿@model MVC___Internal_System.Models.BansViewModel
@using CommonLayer.BusinessEntities



<div class="modal fade ban-cancel-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Դադարեցման որոշում</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="ban-modal-cancel-number">Համար`</label>
                                                <input name="TerminationNumber" value="@((Model.Item != null && Model.Item.TerminationNumber != null) ? Model.Item.TerminationNumber.ToString() : "")" class="getItemsBanT checkValidateBanT form-control input-sm" type="number" id="ban-modal-cancel-number" />
                                            </div>
                                            @*<div class="form-group">
                                                    <label for="ban-modal-cancel-person">Ում կողմից`</label>
                                                    <select name="TerminationVoroshoxLibItem_ID" id="ban-modal-cancel-person" class="getItemsBanT checkValidateBanT selectize-sm selectizeBanT">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (LibsEntity Lib in Model.BanPerson)
                                                        {
                                                            <option value="@Lib.ID" @((Model.Item != null && Model.Item.TerminationVoroshoxLibItem_ID != null && Model.Item.TerminationVoroshoxLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>
                                                </div>*@
                                            <div class="form-group">
                                                <label class="getItemsBanT checkValidateBanT TerminationVoroshoxLibItem_ID" name="TerminationVoroshoxLibItem_ID">Որոշող մարմին`</label>
                                                @{
                                                    List<int> checkedIDListRank = new List<int>();
                                                    if (Model.Item != null && Model.Item.TerminationVoroshoxLibItem_ID != null)
                                                    {
                                                        checkedIDListRank.Add(Model.Item.TerminationVoroshoxLibItem_ID.Value);
                                                    }
                                                @MyHelpers.DrawCustomSelect(Model.BanPerson, "TerminationVoroshoxLibItem_ID", false, null, checkedIDListRank)
                                                }
                                            </div>
                                            <div class="form-group">
                                                <label for="ban-modal-cancel-date">Ամսաթիվ`</label>
                                                <input name="TerminationDate" value="@((Model.Item != null && Model.Item.TerminationDate != null) ? Model.Item.TerminationDate.Value.ToString("dd/MM/yyyy") : "")" class="DatesBanT getItemsBanT checkValidateBanT form-control input-sm" type="text" id="ban-modal-cancel-date" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnbanT" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>