﻿@model MVC___Internal_System.Models.BansViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade ban-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.Item == null)
					{
						@String.Format("Ավելացնել արգելանք")
					}
					else
					{
						@String.Format("Խմբագրել արգելանք")
					}
				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="Objects">Արգելանքի առարկա`</label>
												<select name="Objects" id="Objects" class="getItemsBan checkValidateBan selectize-sm selectizeBan" multiple>
													<option value="">Ընտրել</option>
													@foreach (LibsEntity Lib in Model.BanItems)
													{
														<option value="@Lib.ID" @((Model.Item != null && Model.Item.Objects != null && Model.Item.Objects.FindAll(r => r.LibItem_ID == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
}
												</select>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="ban-date">Ամսաթիվ`</label>
												<input name="Date" value="@(Model.Item != null ? Model.Item.Date.Value.ToString("dd/MM/yyyy") : "")" class="Dates getItemsBan checkValidateBan form-control input-sm" type="text" id="ban-date" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="ban-number">Որոշման համար`</label>
												<input name="Voroshman_Hamar" value="@((Model.Item != null && Model.Item.Voroshman_Hamar != null) ? Model.Item.Voroshman_Hamar.ToString() : "")" class="getItemsBan checkValidateBan form-control input-sm" id="ban-number" />
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											@*<div class="form-group">
													<label for="ban-person">Որոշող մարմին`</label>
													<select name="VoroshoxLibItem_ID" id="ban-item" class="getItemsBan checkValidateBan selectize-sm selectizeBan">
														<option value="">Ընտրել</option>
														@foreach (LibsEntity Lib in Model.BanPerson)
														{
															<option value="@Lib.ID" @((Model.Item != null && Model.Item.VoroshoxLibItem_ID == Lib.ID) ? "selected" :"")>@Lib.Name</option>
														}
													</select>
												</div>*@

											<div class="form-group">
												<label class="getItemsBan checkValidateBan VoroshoxLibItem_ID" name="VoroshoxLibItem_ID">Որոշող մարմին`</label>
												@{	List<int> checkedIDListRank = new List<int>();
													if (Model.Item != null && Model.Item.VoroshoxLibItem_ID != null)
													{
														checkedIDListRank.Add(Model.Item.VoroshoxLibItem_ID.Value);
													}
													@MyHelpers.DrawCustomSelect(Model.BanPerson, "VoroshoxLibItem_ID", false, null, checkedIDListRank)
												}
											</div>

										</div>

										<div class="col-xs-12 col-md-6 showhide @((Model.Item == null || Model.Item.State == null || Model.Item.State.Value) ? "hidden" : "")">
											<div class="form-group">
												<label for="terminatetio number">Դադարեցման համար</label>
												<input name="TerminationNumber" value="@((Model.Item != null && Model.Item.TerminationNumber != null) ? Model.Item.TerminationNumber.ToString() : "")" class="getItemsBan checkValidateBan form-control input-sm checkValidateBanT" id="ban-terminate-num" />
											</div>
										</div>
										<div class="col-xs-12 col-md-6 showhide  @((Model.Item == null || Model.Item.State == null || Model.Item.State.Value) ? "hidden" : "")">
											<div class="form-group">
												<label for="ban-date">Դադարեցման ամսաթիվ`</label>
												<input name="TerminationDate" value="@((Model.Item != null && Model.Item.TerminationDate != null) ? Model.Item.TerminationDate.Value.ToString("dd/MM/yyyy") : "")" class="Dates checkValidateBan getItemsBan form-control input-sm checkValidateBanT" type="text" id="ban-date" />
											</div>
										</div>

										<div class="col-xs-12 col-md-6 showhide  @((Model.Item == null || Model.Item.State == null || Model.Item.State.Value) ? "hidden" : "")">
											<div class="form-group">
												<label class="checkValidateBanT getItemsBan checkValidateBan TerminationVoroshoxLibItem_ID" name="TerminationVoroshoxLibItem_ID">Դադարեցման Որոշող մարմին`</label>
												@{	List<int> checkedListRank = new List<int>();
													if (Model.Item != null && Model.Item.TerminationVoroshoxLibItem_ID != null)
													{
														checkedListRank.Add(Model.Item.TerminationVoroshoxLibItem_ID.Value);
													}
													@MyHelpers.DrawCustomSelect(Model.BanPerson, "TerminationVoroshoxLibItem_ID", false, null, checkedListRank)
												}
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="add-file-status">Կարգավիճակ`</label>
												<select name="State" id="state" class="getItemsBan checkValidateBan selectize-sm selectizeBan">
													<option value="true" @((Model.Item != null && Model.Item.State.Value) ? "selected" : "")>Ակտիվ</option>
													<option value="false" @((Model.Item != null && !Model.Item.State.Value) ? "selected" : "")>Պասիվ</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnban" @((Model.State!=null&&Model.Item.ID!=null)? "":"disabled")>Հաստատել</button>
				</div>
			</div>
		</div>
	</div>
</div>