﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.Injunctions != null && Model.Prisoner.Injunctions.Items != null && Model.Prisoner.Injunctions.Items.Any())
{
    foreach (InjunctionItemEntity curItem in Model.Prisoner.Injunctions.Items)
    {
        <tr class="@(curItem.MergeStatus.Value ? "hasPending" : "")">
            <td data-title="Արգելանքի առարկաներ`">@MyHelpers.DrawLibItemNames(curItem.Objects)</td>
            <td data-title="Որոշող մարմին`">@MyHelpers.GetLibNameByID(curItem.VoroshoxLibItem_ID)</td>
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.Date</td>
            <td data-title="Որոշման համար`">@((curItem.Voroshman_Hamar != null) ? curItem.Voroshman_Hamar : "-")</td>
            <td data-title="Դադարեցման համար`">@((curItem.State.Value != true &&curItem.TerminationNumber != null)? curItem.TerminationNumber : "-")</td>
            <td data-title="Ում կողմից">@((curItem.State.Value != true && curItem.TerminationVoroshoxLibItem_Label != null) ? curItem.TerminationVoroshoxLibItem_Label : "-")</td>
            <td data-title="Դադարեցման Ամսաթիվ">@((curItem.State.Value ==false && curItem.TerminationDate != null  )? curItem.TerminationDate.ToString() : "-")</td>
            <td data-title="Կարգավիճակ`" class="statusCol">
                <span>@MyHelpers.GetBoolName(curItem.State.Value)</span>
            </td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				    {
					    <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editBanButton @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil"></i></button>
					    <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewBanButton" title="Դիտել"><i class="fa fa-external-link" ></i></button>
					    <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeBanButton @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
                        if (curItem.State.Value == true)
                        {
                            <button data-id="@curItem.ID" title="Դադարեցնել" type="button" class="bantableRow btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-ban"></i></button>
                        }
                    }
                    else
                    {
    					<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewBanButton" title="Դիտել"><i class="fa fa-external-link" ></i></button>
				    }
                </div>
            </td>
        </tr>
    }
}