﻿@model MVC___Internal_System.Models.CameraCardViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade cell-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.Item == null)
					{
						@Html.Raw("Ավելացնել խցիկ");
					}
					else
					{
						@Html.Raw("Խմբագրել խցիկ");
					}
				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row loaderClass">
										<div class="col-xs-12 hidden warningClass">
											<div class="alert alert-warning">
												<a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
												<strong>Ուշադրություն!</strong> Խցիկում կա անհամատեղելի անձ։
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="Number">Համար`</label>
												<input name="Number" class="getItemsCell checkValidateCell form-control input-sm" type="number" id="Number" value="@(Model.Item != null ? Model.Item.Number.ToString() : "")" />
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-date">Մուտքի Ամսաթիվ`</label>
												<input name="InputDate" class="Dates getItemsCell checkValidateCell form-control input-sm" type="text" id="cell-date" value="@(Model.Item != null ? Model.Item.InputDate.Value.ToString("dd/MM/yyyy") : "")" />
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-date">Ելքի Ամսաթիվ`</label>
												<input name="OutputDate" class="Dates getItemsCell form-control input-sm" type="text" id="cell-date" value="@(Model.Item != null && Model.Item.OutputDate.HasValue ? Model.Item.OutputDate.Value.ToString("dd/MM/yyyy") : "")" />
											</div>
										</div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="cell-direction">Տեղափոխման վերաբերյալ ցուցում`</label>
												<textarea name="Note" class="getItemsCell checkValidateCell form-control input-sm" id="cell-direction" rows="4">@(Model.Item != null ? Model.Item.Note.ToString() : "")</textarea>
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="cell-direction-person">Ցուցում տվող անձ`</label>
												<select name="EmployeeID" id="cell-direction-person" class="getItemsCell checkValidateCell selectize-sm selectizeCell">
													@foreach (EmployeeEntity Employee in Model.EmployeerList)
													{
														<option value="@Employee.ID" @((Model.Item != null && Model.Item.EmployeeID == Employee.ID) ? "selected" : "")>@Employee.FirstName.ToString() @Employee.LastName.ToString()</option>
}
												</select>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnCell">Հաստատել</button>
				</div>
			</div>
		</div>
	</div>
</div>