﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.CameraCard != null && Model.Prisoner.CameraCard.CameraCardItem != null && Model.Prisoner.CameraCard.CameraCardItem.Any())
{
    foreach (CameraCardItemEntity curItem in Model.Prisoner.CameraCard.CameraCardItem)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            <td data-title="">@curItem.ID</td>
            <td data-title="Խցիկի Համար`">
                @curItem.Number
                @if (curItem.Conflicted != null && curItem.Conflicted.Value)
                {
                    <i class="fa fa-warning"></i>
                }
            </td>

            <td data-title="Ք.Կ.Հ">@curItem.OrgUnitName</td>
            <td data-title="Տեղափոխման վերաբերյալ ցուցում`">@curItem.Note</td>
            <td data-title="Ցուցում տվող անձ`">@MyHelpers.GetEmployeeNameByID(curItem.EmployeeID)</td>
            <td data-title="Մուտքի Ամսաթիվ`">@curItem.InputDate</td>
            <td data-title="Ելքի Ամսաթիվ`">@curItem.OutputDate</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" type="button" class="btn btn-sm btn-default btn-flat editCellRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-id="@curItem.ID" type="button" class="btn btn-sm btn-default btn-flat removeCellRow  @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                        <button data-id="@curItem.ID" type="button" class="btn btn-sm btn-default btn-flat viewCellRow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}