﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade penalty-complete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Ավարտել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="penalty-objection-base">Կարգավիճակի փոփոխման հիմք`</label>
                                                <select name="StatusChangeBasisLibItemID" id="penalty-objection-base" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.StateBaseLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="penalty-status-change-date">Կարգավիճակի փոփոխման ամսաթիվ`</label>
                                                <input name="StatusChangeBasis" class="getItemsModal checkValidateModal DatesModal form-control input-sm" type="text" id="penalty-status-change-date" value="@((Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasis != null) ? Model.currentPenalty.StatusChangeBasis.ToString() : "")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>
