﻿@model MVC___Internal_System.Models.ConflictsViewModel
@using CommonLayer.BusinessEntities

@if (Model.Conflict != null && Model.Conflict.Conflicts != null && Model.Conflict.Conflicts.Any())
{
    foreach (ConflictsEntity Item in Model.Conflict.Conflicts)
    {
        if (Item.Person != null)
        {
            <tr class="@(Item.MergeStatus.Value ? "hasPending" : "")">
                <td>@Item.Person.Personal_ID</td>
                <td>@Item.Person.FirstName @Item.Person.LastName @Item.Person.MiddleName</td>
                <td>@Item.Person.Birthday</td>
                <td>@Item.Description</td>
                <td>@((Item.Person.IdentificationDocuments != null && Item.Person.IdentificationDocuments.Any()) ? Item.Person.IdentificationDocuments.First().Number : "-")</td>
                <td>
					<div class="btn-group">
						@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
						{
							<button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat editMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
							<button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat viewMainRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
							<button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat removeMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value) ? "hidden" : "")"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
						}
						else
						{
							<button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat viewMainRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
						}
					</div>
                </td>
            </tr>
        }
    }
}