﻿@model MVC___Internal_System.Models.ConflictsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade conflictsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentConflict == null)
				{
					@Html.Raw("Ավելացնել կոնֆլիկտային անձ")
				}
				else
				{
					@Html.Raw("Խմբագրել կոնֆլիկտային անձ")
				}</h4>
				<div class="col-xs-12 hidden warningClass">
					<div class="alert alert-warning">
						<a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
						<strong>Ուշադրություն!</strong> Անձը իր հետ չի կարող լինել անհամատեղելի
					</div>
				</div>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    @{
                                        PersonEntity Person = new PersonEntity();
                                        Person.isEditable = true;

                                        if (Model.Person != null)
                                        {
                                            Person.isEditable = true;
                                            Person = Model.Person;
                                        }
                                    }
                                    @Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <textarea class="getItemsModal checkValidateModal form-control input-sm" id="medical-examination-description" name="Description" rows="4">@((Model.currentConflict != null && Model.currentConflict.Description != null) ? Model.currentConflict.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" @((Model.currentConflict == null || Model.currentConflict.ID == null) ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>