﻿@model MVC___Internal_System.Models.ConflictsViewModel
@using CommonLayer.BusinessEntities

@if (Model.Conflict != null && Model.Conflict.Conflicts != null && Model.Conflict.Conflicts.Any())
{
    foreach (ConflictsEntity Item in Model.Conflict.Conflicts)
    {
        if (Item.Person != null)
        {
            <tr>
                <td>@Item.Person.Personal_ID</td>
                <td>@Item.Person.FirstName @Item.Person.LastName @Item.Person.MiddleName</td>
                <td>@Item.Person.Birthday.Value.ToString("dd/MM/yyyy")</td>
                <td>@((Item.Person.IdentificationDocuments != null && Item.Person.IdentificationDocuments.Any()) ? Item.Person.IdentificationDocuments.First().Number : "-")</td>
            </tr>
        }
    }
}