﻿@model MVC___Internal_System.Models.DepartureViewModel
@using CommonLayer.BusinessEntities

@if (Model.Departure != null && Model.Departure.Departures != null && Model.Departure.Departures.Any())
{
    foreach (var Item in Model.Departure.Departures)
    {
        <tr class="@(Item.MergeStatus.Value ? "hasPending" : "") @if (Item.State != null) { @String.Format(((!Item.State.Value) ? "hasObjection" : "hasObjectionResult"))}">

            <td data-title="Տեսակ">@Item.TypeLibItemLabel</td>
            <td data-title="Նպատակ">@Item.PurposeLibItemLabel</td>
            <td data-title="Վայր">@Item.Place</td>
            @if (Item.DuartionByHour == 0)
            {
                <td>@Item.Duration оր</td>
            }
            else
            {
                <td>@Item.Duration оր @Item.DuartionByHour ժամ</td>
            }
            <td data-title="Սկիզբ" class="tableDateCol">@Item.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
            <td data-title="Ավարտ" class="tableDateCol">
                @if (Item.EndDate == null)
                {
                    if (((int)System.Web.HttpContext.Current.Session["PPType"] != 0) && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Departures) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                    {
					    <div class="btn-group">
						    <button data-id="@Item.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeMainRow @((Item.State == null ||(Item.MergeStatus != null && Item.MergeStatus.Value) || (Item.State != null && !Item.State.Value)) ? "hidden" : "")"><i class="fa fa-check"></i></button>
					    </div>
                    }
                }
                else
                {
                    @Item.EndDate.Value.ToString("dd/MM/yyyy HH:mm")
                }
            </td>
            <td>
                <div class="btn-group">
                    <button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat viewMainRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    @if (((int)System.Web.HttpContext.Current.Session["PPType"] != 0 || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)) && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat editMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value || (Item.State != null && !Item.State.Value)) ? "hidden" : "")" title="Խմբագրել "><i class="fa fa-pencil"></i></button>
                        <button data-id="@Item.ID" class="btn btn-sm btn-default btn-flat removeMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
                        if (Item.ApproverEmployeeID == null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                        {
                            <button data-id="@Item.ID" class="btn btn-sm btn-flat btn-default declineMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value) ? "hidden" : "")" title="Արգելել" type="button"><i class="fa fa-ban"></i></button>
                            <button data-id="@Item.ID" class="btn btn-sm btn-flat btn-default approveMainRow @((Item.MergeStatus != null && Item.MergeStatus.Value) ? "hidden" : "")" title="Թույլատրել" type="button"><i class="fa fa-check"></i></button>
                        }
                    }
                </div>
            </td>
        </tr>
    }
}