﻿@model MVC___Internal_System.Models.DepartureViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade departure-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
				@if (Model.currentDeparture == null)
				{
					@Html.Raw("Ավելացնել մեկնում")
				}
				else
				{
					@Html.Raw("Խմբագրել մեկնում")
				}</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="departure-type">Տեսակ`</label>
														<select name="TypeLibItemID" id="TypeLibItemID" class="checkValidateModal getItemsModal selectize-sm selectizeModal">
															<option value="">Ընտրել</option>
															@foreach (LibsEntity Lib in Model.TypeLibList)
															{
																<option value="@Lib.ID" @((Model.currentDeparture != null && Model.currentDeparture.TypeLibItemID != null && Model.currentDeparture.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
															}
														</select>
													</div>
												</div>
												<div class="col-xs-12 col-md-6">
													<div class="form-group">
														<label for="departure-purpose">Նպատակ`</label>
														<select name="PurposeLibItemID" id="PurposeLibItemID" class="checkValidateModal getItemsModal selectize-sm selectizeModal">
															<option value="">Ընտրել</option>
															@foreach (LibsEntity Lib in Model.PurposeLibList)
															{
																<option value="@Lib.ID" @((Model.currentDeparture != null && Model.currentDeparture.PurposeLibItemID != null && Model.currentDeparture.PurposeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
															}
														</select>

													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12">
											<div class="row">
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-start-date">Սկիզբ`</label>
														<input name="StartDate" class="DatesModal form-control input-sm getItemsModal checkValidateModal" id="departure-start-date" type="text" value="@((Model.currentDeparture != null && Model.currentDeparture.StartDate != null) ? Model.currentDeparture.StartDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")" />
													</div>
												</div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-end-date">Ավարտ`</label>
														<input name="EndDate" class="DatesModal getItemsModal form-control input-sm @((Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value) ? "checkValidateModal" : "")" id="departure-end-date" type="text" value="@((Model.currentDeparture != null && Model.currentDeparture.EndDate != null) ? Model.currentDeparture.EndDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")" />
													</div>
												</div>												
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="departure-duration">Տևողություն (օր)`</label>
                                                        <input name="Duration" class="checkValidateModal getItemsModal form-control input-sm" id="departure-duration" type="number" value="@((Model.currentDeparture != null && Model.currentDeparture.Duration != null) ? Model.currentDeparture.Duration.ToString() : "")" />
                                                    </div>
                                                </div>
												<div class="col-xs-12 col-md-3">
													<div class="form-group">
														<label for="departure-duration-by-hour">Տևողություն (ժամ)`</label>
														<input name="DuartionByHour" class="checkValidateModal getItemsModal form-control input-sm" id="departure-duration-by-hour" type="number" value="@((Model.currentDeparture != null && Model.currentDeparture.DuartionByHour != null) ? Model.currentDeparture.DuartionByHour.ToString() : "")" />
													</div>
												</div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="departure-Place">Վայր`</label>
                                                        <input name="Place" class="checkValidateModal getItemsModal form-control input-sm" id="departure-place" type="text" value="@((Model.currentDeparture != null && Model.currentDeparture.Place != null) ? Model.currentDeparture.Place.ToString() : "")" />
                                                    </div>
                                                </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
				</div>
			</div>
		</div>
	</div>
</div>