﻿@model MVC___Internal_System.Models._Popup_DocIdentity_ViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade id-doc-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Ավելացնել Անձ հաստատող փասթաթուղթ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="id-doc-citizenship">Քաղաքացիություն`</label>
                                                        <select id="id-doc-citizenship" class="tovalidate selectize-sm selectizeWidget">
                                                            @foreach (LibsEntity cirizenship in Model.Citizenship)
                                                            {
                                                                <option value="@cirizenship.ID">@cirizenship.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-type">Տեսակ`</label>
                                                        <select id="id-doc-type" class="tovalidate selectize-sm selectizeWidget">
                                                            @foreach (LibsEntity docidentity in Model.DocIdentity)
                                                            {
                                                                <option value="@docidentity.ID">@docidentity.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-number">Համար`</label>
                                                        <input class="tovalidate form-control input-sm" type="text" id="id-doc-number" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-date">Ամսաթիվ`</label>
                                                        <input class="tovalidate form-control input-sm DatesModal" type="text" id="id-doc-date" value="" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="id-doc-from">Ում կողմից`</label>
                                                        <input class="tovalidate form-control input-sm" type="text" id="id-doc-from" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="savedocidentity">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>