﻿@model MVC___Internal_System.Models._Popup_DocIdentity_ViewModel
@using CommonLayer.BusinessEntities

@if (Model.idDocuments != null && Model.idDocuments.Any())
{
    foreach (IdentificationDocument idDoc in Model.idDocuments)
    {
        <tr class="@((idDoc.MergeStatus != null && idDoc.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Քաղաքացիություն">@idDoc.CitizenshipLibItem_Name</td>
            <td data-title="Տեսակ">@idDoc.TypeLibItem_Name</td>
            <td data-title="Համար">@idDoc.Number</td>
            <td data-title="Ամսաթիվ">@idDoc.Date</td>
            <td data-title="Ում կողմից">@idDoc.FromWhom</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@idDoc.ID" class="btn btn-sm btn-default btn-flat idDocTableRow" @(idDoc.Type ? "disabled" : "")title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
                    @if (idDoc.PersonID != null)
                    {
                        <button data-id="@idDoc.ID" class="btn btn-sm btn-default btn-flat viewDocTableRow" @(idDoc.Type ? "disabled" : "") title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
				</div>
			</td>
        </tr>
    }
}