﻿@model MVC___Internal_System.Models.EducationalCoursesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade training-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.currentEducationalCourse == null)
				{
					@Html.Raw("Ավելացնել դասընթաց")
				}
				else
				{
					@Html.Raw("Խմբագրել դասընթաց")
				}
			</h4>
		</div>
		<div class="modal-body">
			<section class="boxWrap">
				<div class="box">
					<div class="boxBody">
						<div class="formsWrap">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<div class="form-group">
													<label for="training-type">Դասընթաց`</label>
													<select name="TypeLibItemID" id="training-type" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
														<option value="">Ընտրել</option>
														@foreach (LibsEntity Lib in Model.TypeLibList)
														{
															<option value="@Lib.ID" @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.TypeLibItemID != null && Model.currentEducationalCourse.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
													</select>
												</div>
											</div>
											<div class="col-xs-12 col-md-4">
												<div class="form-group">
													<label for="training-end-date">Դասընթացի ավարտի ամսաթիվ`</label>
													<input name="EndDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="training-end-date" value="@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EndDate != null) ? Model.currentEducationalCourse.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="form-group">
											<label for="training-info">Նկարագրություն`</label>
											<textarea name="Note" class="getItemsModal checkValidateModal form-control input-sm" id="training-info" rows="4">@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.Note != null) ? Model.currentEducationalCourse.Note.ToString() : "")</textarea>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<div class="form-group">
													<label for="training-involvement-date">Ներգրավման ամսաթիվ`</label>
													<input name="EngagementDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="training-involvement-date" value="@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementDate != null) ? Model.currentEducationalCourse.EngagementDate.Value.ToString("dd/MM/yyyy") : "")" />
												</div>
											</div>
											<div class="col-xs-12 col-md-8">
												<div class="form-group">
													<label for="training-involvement-base">Ներգրավման հիմք`</label>
													<select name="EngagementBasisLibItemID" id="training-involvement-base" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
														<option value="0">Ընտրել</option>
														@foreach (LibsEntity Lib in Model.EngagementBasisLibItemList)
														{
															<option value="@Lib.ID" @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementBasisLibItemID != null && Model.currentEducationalCourse.EngagementBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-md-4">
										<div class="form-group">
											<label for="training-involvement-status">Ներգրավվածության կարգավիճակ`</label>
											<select name="EngagementState" id="EngagementState" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
												<option value="">Ընտրել</option>
												<option value="true" @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementState != null && Model.currentEducationalCourse.EngagementState.Value) ? "selected" : "")>Ներգրավված</option>
												<option value="false" @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementState != null && !Model.currentEducationalCourse.EngagementState.Value) ? "selected" : "")>Ազատված</option>
											</select>
										</div>
									</div>
									<div class="col-xs-12 @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.EngagementState != null && Model.currentEducationalCourse.EngagementState.Value) ? "hidden" : "")" id="training-free-wrap">
										<div class="row">
											<div class="col-xs-12 col-md-4">
												<div class="form-group">
													<label for="training-free-date">Ազատման ամսաթիվ`</label>
													<input name="ReleaseDate" class="DatesModal getItemsModal form-control input-sm" type="text" id="training-free-date" value="@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseDate != null) ? Model.currentEducationalCourse.ReleaseDate.Value.ToString("dd/MM/yyyy") : "")" />
												</div>
											</div>
											<div class="col-xs-12 col-md-8">
												<div class="form-group">
													<label for="training-free-base">Ազատման հիմք`</label>
													<select name="ReleaseBasisLibItemID" id="training-free-base" class="getItemsModal selectize-sm selectizeModal">
														<option value="0">Ընտրել</option>
														@foreach (LibsEntity Lib in Model.ReleaseBasisLibItemList)
														{
															<option value="@Lib.ID" @((Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseBasisLibItemID != null && Model.currentEducationalCourse.ReleaseBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
													</select>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="form-group">
													<label for="training-free-cause">Ազատման պատճառ`</label>
													<textarea name="ReleaseNote" class="getItemsModal checkValidateModal form-control input-sm" id="training-free-cause" rows="4">@((Model.currentEducationalCourse != null && Model.currentEducationalCourse.ReleaseNote != null) ? Model.currentEducationalCourse.ReleaseNote.ToString() : "")</textarea>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="modal-footer">
			<div class="clearfix">
				<button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal">Հաստատել</button>
			</div>
		</div>
	</div>
</div>
</div>