﻿@model MVC___Internal_System.Models.EducationalCoursesViewModel
@using CommonLayer.BusinessEntities

@if (Model.EducationalCourse != null && Model.EducationalCourse.EducationCourses != null && Model.EducationalCourse.EducationCourses.Any())
{
    foreach (EducationalCoursesEntity curItem in Model.EducationalCourse.EducationCourses)
    {
        <tr class="@(curItem.MergeStatus.Value ? "hasPending" : "")">
            <td data-title="Անվանում">@curItem.TypeLibItemLabel</td>
            <td data-title="Նկարագրություն">@curItem.Note</td>
            <td data-title="Ներգրավման ամսաթիվ">@curItem.EngagementDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Ավարտի ամսաթիվ">@curItem.EndDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Ներգրավման հիմք">@curItem.EngagementBasisLibItemLabel</td>
            <td data-title="Կարգավիճակ" class="statusCol">
                <span>@MyHelpers.GetEducationalCourseName(curItem.EngagementState.Value)</span>
            </td>
			<td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
					}
				</div>
			</td>
        </tr>
    }
}