﻿@model MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade benefit-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                    @if(Model.currentEncouragement != null)
                    {
                        @String.Format("Խմբագրել Խրախուսանքը")
                    }
                    else
                    {
                        @String.Format("Ավելացնել Խրախուսանք")
                    }
                        
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div id="benefit-add-page-1">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <label for="benefit-type">Խրախուսանքի միջոց`</label>
                                                    <select name="TypeLibItemID" id="benefit-type" class="getItemsEnc checkValidateEnc selectize-sm selectizeEnc">
                                                        <option value="">Ընտրել</option>
                                                        @foreach(LibsEntity Lib in Model.TypeLibList)
                                                        {
                                                            <option value="@Lib.ID" @((Model.currentEncouragement != null && Model.currentEncouragement.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="benefit-info-date">Խրախուսանքի նշանակման ամսաթիվ`</label>
                                                    <input name="StartDate" class="getItemsEnc Dates DatesModal checkValidateEnc form-control input-sm" type="text" id="benefit-info-date" value="@((Model.currentEncouragement != null) ? Model.currentEncouragement.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="benefit-info">Նկարագրություն`</label>
                                                    <textarea name="Note" class="getItemsEnc checkValidateEnc form-control input-sm" id="benefit-info" rows="4">@((Model.currentEncouragement != null) ? Model.currentEncouragement.Note : "")</textarea>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="benefit-preseting-person">Խրախուսանքի ներկայացնող անձ՝</label>
                                                    <select name="EmployeerID" id="benefit-preseting-person" class="getItemsEnc checkValidateEnc selectize-sm selectizeEnc">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (EmployeeEntity curEmployee in Model.EmployeeList)
                                                        {
                                                            <option value="@curEmployee.ID" @((Model.currentEncouragement != null && Model.currentEncouragement.EmployeerID == curEmployee.ID) ? "selected" : "")>@curEmployee.FirstName @curEmployee.LastName @curEmployee.MiddleName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="benefit-type">Խրախուսանքի Հիմք`</label>
                                                    <select name="BaseLibItemID" id="benefit-type" class="getItemsEnc checkValidateEnc selectize-sm selectizeEnc">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (LibsEntity Lib in Model.BaseLibList)
                                                        {
                                                            <option value="@Lib.ID" @((Model.currentEncouragement != null && Model.currentEncouragement.BaseLibItemID== Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnEnc" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>