﻿@model MVC___Internal_System.Models.EncouragementsViewModel
@using CommonLayer.BusinessEntities


@if (Model.Encouragement != null && Model.Encouragement.Encouragements != null && Model.Encouragement.Encouragements.Any())
{
	foreach (EncouragementsEntity curItem in Model.Encouragement.Encouragements)
	{
		<tr class="@(curItem.MergeStatus.Value ? "hasPending" : "") }">
			<td data-title="Խրախուսանքի միջոց">@curItem.TypeLibItemLabel</td>
			<td data-title="Նշանակման ամսաթիվ">@curItem.StartDate.Value.ToString("dd/MM/yyyy")</td>
			<td data-title="Խրախուսանքը ներկայացնող անձ">@curItem.EmployeerName</td>
			<td data-title="Խրախուսման հիմք">@curItem.BaseLibItemLabel</td>
			<td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editEncRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewEncRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeEncRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewEncRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
					}
				</div>
            </td>
		</tr>
	}
}