﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Spouses != null && Model.Prisoner.FamiltyRelative.Spouses.Any())
{
    foreach (SpousesEntity curItem in Model.Prisoner.FamiltyRelative.Spouses)
    {
        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ա.Ա.Հ.">@curItem.Person.FirstName @curItem.Person.LastName @curItem.Person.MiddleName</td>
            <td data-title="Անձնագիր">@((curItem.Person.IdentificationDocuments != null && curItem.Person.IdentificationDocuments.Any()) ? curItem.Person.IdentificationDocuments[0].Number : "-")</td>
            <td data-title="Հասցե">@curItem.Person.Registration_address</td>
            <td data-title="Ամուս. գրանցված է/չէ">@MyHelpers.GetBoolNameYesNo(@curItem.MarriageRegistered.Value)</td>
            <td data-title="Ամուս. վկայական">@curItem.Certificate</td>
            <td data-title="Ամուս. կարգավիճակ">@MyHelpers.GetSpouseBoolName(@curItem.State.Value)</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editRelativeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" data-type="spouse"title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewRelativeRow" data-type="spouse" title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeRelativeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" data-type="spouse" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewRelativeRow" data-type="spouse" title="Դիտել"><i class="fa fa-external-link"></i></button>
					}
				</div>
            </td>
        </tr>
    }
}