﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Childrens != null && Model.Prisoner.FamiltyRelative.Childrens.Any())
{
    foreach (ChildrenEntity curItem in Model.Prisoner.FamiltyRelative.Childrens)
    {
        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ա.Ա.Հ.">@curItem.Person.FirstName @curItem.Person.LastName @curItem.Person.MiddleName</td>
            <td data-title="Անձնագիր կամ ծննդ. վկայական">@((curItem.Person.IdentificationDocuments != null && curItem.Person.IdentificationDocuments.Any()) ? curItem.Person.IdentificationDocuments[0].Number : "")</td>
            <td data-title="Երեխան">@MyHelpers.GetChildrenTypeName((int)curItem.ChildrenType)</td>
            <td data-title="Որդեգրման կամ խնամակալության վկայական">@curItem.Certificate</td>
            <td data-title="Նշումներ">@curItem.Note</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editRelativeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" data-type="children" title="Խմբագրել"><i class="fa fa-pencil"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewRelativeRow" data-type="children"title="Դիտել"><i class="fa fa-external-link" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeRelativeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" data-type="children"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewRelativeRow" data-type="children" title="Դիտել"><i class="fa fa-external-link"></i></button>
					}
				</div>
            </td>
        </tr>
    }
}