﻿@model MVC___Internal_System.Models.FamilyRelativesViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade modal-familtyrelative" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                    @if (Model.currentTypeName == "spouse" && Model.spouseEntity == null)
                    {
                        <span>Ավելացնել ամուսին</span>
                    }
                    else if (Model.currentTypeName == "spouse" && Model.spouseEntity != null)
                    {
                        <span>Խմբագրել ամուսին</span>
                    }
                    else if (Model.currentTypeName == "children" && Model.childrenEntity == null)
                    {
                        <span>Ավելացնել երեխա</span>
                    }
                    else if (Model.currentTypeName == "children" && Model.childrenEntity != null)
                    {
                        <span>Խմբագրել երեխա</span>
                    }
                    else if (Model.currentTypeName == "parent" && Model.parentEntity == null)
                    {
                        <span>Ավելացնել ծնող</span>
                    }
                    else if (Model.currentTypeName == "parent" && Model.parentEntity != null)
                    {
                        <span>Խմբագրել ծնող</span>
                    }
                    else if (Model.currentTypeName == "systerbrother" && Model.systerEntity == null)
                    {
                        <span>Ավելացնել քույր(եղբայր)</span>
                    }
                    else if (Model.currentTypeName == "systerbrother" && Model.systerEntity != null)
                    {
                        <span>Խմբագրել քույր(եղբայր)</span>
                    }
                    else if (Model.currentTypeName == "otherrelative" && Model.otherRelativesEntity == null)
                    {
                        <span>Ավելացնել այլ հարազատ</span>
                    }
                    else if (Model.currentTypeName == "otherrelative" && Model.otherRelativesEntity != null)
                    {
                        <span>Խմբագրել այլ հարազատ</span>
                    }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1">
                                        @{
                                            PersonEntity Person = new PersonEntity();
                                            Person.isEditable = true;

                                            if (Model.Person != null)
                                            {
                                                Person.isEditable = true;
                                                Person = Model.Person;
                                            }
                                        }
                                        @Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
                                    </div>
                                    <div>
                                        <div class="hidden part3" id="family-spouse">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-status">Ամուսնությունը</label>
                                                        <select name="MarriageRegistered" id="family-partner-marital-status" class="checkValidate-spouse getItems-spouse selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            <option value="true" @((Model.spouseEntity != null && Model.spouseEntity.MarriageRegistered != null && Model.spouseEntity.MarriageRegistered.Value) ? "selected" : "")>Գրանցված է</option>
                                                            <option value="false" @((Model.spouseEntity != null && Model.spouseEntity.MarriageRegistered != null && !Model.spouseEntity.MarriageRegistered.Value) ? "selected" : "")>Գրանցված չէ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4" id="family-partner-marital-document-wrap">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-document">Ամուսնության վկայական</label>
                                                        <input name="Certificate" value="@((Model.spouseEntity != null && Model.spouseEntity.Certificate != null) ? Model.spouseEntity.Certificate.ToString() : "")" class="getItems-spouse form-control input-sm" type="text" id="family-partner-marital-document" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-partner-marital-current-status">Կարգավիճակը</label>
                                                        <select name="State" id="family-partner-marital-current-status" class="checkValidate-spouse getItems-spouse selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            <option value="true" @((Model.spouseEntity != null && Model.spouseEntity.State != null && Model.spouseEntity.State.Value) ? "selected" : "")>Ամուսնացած</option>
                                                            <option value="false" @((Model.spouseEntity != null && Model.spouseEntity.State != null && !Model.spouseEntity.State.Value) ? "selected" : "")>Ամուսնալուծված</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="hidden part3" id="family-children">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-child-status">Երեխան`</label>
                                                        <select name="ChildrenType" id="family-child-status" class="checkValidate-children getItems-children selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            <option value="1" @((Model.childrenEntity != null && (int)Model.childrenEntity.ChildrenType == 1) ? "selected" : "")>Հարազատ</option>
                                                            <option value="2" @((Model.childrenEntity != null && (int)Model.childrenEntity.ChildrenType == 2) ? "selected" : "")>Որդեգրած</option>
                                                            <option value="3" @((Model.childrenEntity != null && (int)Model.childrenEntity.ChildrenType == 3) ? "selected" : "")>Խնամքի տակ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8" id="family-child-status-document-wrap">
                                                    <div class="form-group">
                                                        <label for="family-child-status-document">Որդեգրման կամ խնամակալության վկայական</label>
                                                        <input name="Certificate" value="@((Model.childrenEntity != null && Model.childrenEntity.Certificate != null) ? Model.childrenEntity.Certificate.ToString() : "")" class="getItems-children form-control input-sm" type="text" id="family-child-status-document" placeholder="Համար, ամսաթիվ, ում կողմից" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="hidden part3" id="family-parent">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="family-parent-related-person">Փոխկապակցված անձ`</label>
                                                        <select name="RelatedPersonID" id="family-parent-related-person" class="checkValidate-parent getItems-parent selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            @{  /* TODO: continue form here */}
                                                            @if (Model.RelatedPersonList != null)
                                                            {
                                                                foreach (PersonEntity Lib in Model.RelatedPersonList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.parentEntity != null && Model.parentEntity.RelatedPersonID != null && Model.parentEntity.RelatedPersonID == Lib.ID) ? "selected" : "")>@Lib.FirstName @Lib.LastName</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        @*<div class="hidden part3" id="family-systerbrother">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="family-sibling-status">Քույր / եղբայր`</label>
                                                        <select name="RelationLibItemID" id="family-sibling-status" class="checkValidate-systerbrother getItems-systerbrother selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.SysterBrotherType)
                                                            {
                                                                <option value="@Lib.ID" @((Model.systerEntity != null && Model.systerEntity.RelationLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                        <div class="hidden part3" id="family-otherrelative">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="family-other-relative-status">Տեսակ`</label>
                                                        <select name="RelationLibItemID" id="family-other-relative-status" class="checkValidate-otherrelative getItems-otherrelative selectize-sm selectizePopup">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.RelativeType)
                                                            {
                                                                <option value="@Lib.ID" @((Model.otherRelativesEntity != null && Model.otherRelativesEntity.RelationLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    @if (Model.currentTypeName == null || (Model.currentTypeName != "systerbrother" && Model.currentTypeName != "parent"))
                    {
                        <button type="button" class="btn btn-sm btn-flat btn-default family-partner-add-prev-btn" id="backbutton" disabled>Նախորդ</button>
                        <button type="button" class="btn btn-sm btn-flat btn-default family-partner-add-next-btn" id="nextbutton" disabled>Հաջորդ</button>
                    }
                    <button type="button" class="btn btn-sm btn-flat btn-default family-partner-add-confirm-btn" id="acceptBtnModal" @((Model.spouseEntity == null && Model.systerEntity == null && Model.childrenEntity == null && Model.otherRelativesEntity == null && Model.parentEntity == null) ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>