﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade searchUserModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">Ընտրել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    @{
                                        PersonEntity Person = new PersonEntity();
                                        Person.isEditable = true;
                                    }
                                    @Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="prevStepButton">Նախորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="nextStepButton">Հաջորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="userformsave" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>