﻿@model MVC___Internal_System.Models.FamilyRelativesViewModel
@using CommonLayer.BusinessEntities

    <tr>
        <td data-title="#">0</td>
        <td data-title="Անուն Ազգանուն Հայրանուն">@Model.Person.FirstName.ToString() @Model.Person.LastName.ToString() @Model.Person.MiddleName.ToString()</td>
        <td data-title="Ծննդ. ամսաթիվ">@Model.Person.Birthday.ToString()</td>
        <td data-title="Սոց. քարտ">@Model.Person.Personal_ID.ToString()</td>
        <td data-title="Անձնագիր">@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any()) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")</td>
    </tr>
    <tr class="collapse">
        <td colspan="5">
            <div class="row">
                <div class="col-xs-12 col-md-4"><img class="img-responsive" src="@((Model.Person != null &&  Model.Person.PhotoLink != null) ? Model.Person.PhotoLink.ToString() : "")" alt="" /></div> <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                        <label>Անձնագիր՝</label><p>
                            @if (Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any())
                            {
                                @String.Format(Model.Person.IdentificationDocuments[0].Number.ToString() + ", " + Model.Person.IdentificationDocuments[0].Date.Value.ToString("dd/MM/yyyy") + ", " + Model.Person.IdentificationDocuments[0].FromWhom.ToString())
                            }
                        </p>
                    </div> <div class="form-group"> <label>Ազգություն՝</label> <p>@(Model.Person != null ? MyHelpers.GetLibNameByID(Model.Person.NationalityID).ToString() : "")</p> </div> <div class="form-group">
                        <label>Քաղաքացիությւն՝</label>
                        <p>
                            @(Model.Person != null ? Model.Person.NationalityID.ToString() : "")
                        </p>
                    </div> <div class="form-group">
                        <label>Սեռ՝</label> 
                        <p>
                            @if (Model.Person != null)
                            {
                                int? LibID = Model.Person.SexLibItem_ID;
                                if (LibID != null)
                                {
                                    @MyHelpers.GetLibNameByID(Model.Person.SexLibItem_ID).ToString()
                                }
                            }
                        </p>
                    </div> <div class="form-group">
                        <label>Գրանցման հասցե՝</label>
                        <p>
                            @(Model.Person != null ? Model.Person.Registration_address.ToString() : "")
                        </p>
                    </div> <div class="form-group">
                        <label>Բնակության հասցե՝</label>
                        <p>
                            @(Model.Person != null ? Model.Person.Living_place.ToString() : "")
                        </p>
                    </div>
                </div>
            </div>
        </td>
    </tr>