﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.PhysicalData.HeightWeight.Any())
{
    foreach (HeightWeightEntity entity in Model.Prisoner.PhysicalData.HeightWeight)
    {
        <tr class="@((entity.MergeStatus != null && entity.MergeStatus.Value) ? "hasPending" : "")" data-pptype="@((int)System.Web.HttpContext.Current.Session["PPType"])">
            <td data-title="Ամսաթիվ" class="tableDateCol">@entity.ModifyDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Հասակ (սմ)`">@entity.Height</td>
            <td data-title="Կշիռ (կգ)`">@entity.Weight</td>
            <td>
				<div class="btn-group">
					@if ((entity.MergeStatus == null || !entity.MergeStatus.Value) && (int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@entity.ID" class="btn btn-sm btn-default btn-flat remHW @((entity.MergeStatus != null && entity.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
					}
				</div>
            </td>
        </tr>
    }
}