﻿@model MVC___Internal_System.Models.InvalidsViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade invalids-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentInvalid == null)
				{
					@String.Format("Ավելացնել Հաշմանդամություն");
				}
				else
				{
					@String.Format("Խմբագրել Հաշմանդամություն");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="physical-modal-disability-date">Ամսաթիվ</label>
                                                <input name="Date" class="datePick DatesModal getItemsPopup checkValidatePopup form-control input-sm" type="text" id="physical-modal-disability-date" value="@((Model.currentInvalid != null && Model.currentInvalid.Date != null) ? Model.currentInvalid.Date.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="physical-modal-degree-of-disability">Կարգ`</label>
                                                <select name="ClassLibItem_ID" id="physical-modal-degree-of-disability" class="getItemsPopup checkValidatePopup selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity lib in Model.InvalidsDegree)
                                                    {
                                                        <option value="@lib.ID" @((Model.currentInvalid != null && Model.currentInvalid.ClassLibItem_ID != null && Model.currentInvalid.ClassLibItem_ID == lib.ID) ? "selected" : "")>@lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group">
                                                <label>Վկայական`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="physical-modal-disability-document-number">Համար</label>
                                                                <input name="CertificateNumber" class="getItemsPopup checkValidatePopup form-control input-sm" type="number" id="physical-modal-disability-document-number" value="@((Model.currentInvalid != null && Model.currentInvalid.CertificateNumber != null) ? Model.currentInvalid.CertificateNumber.ToString() : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="physical-modal-disability-document-date">Ամսաթիվ</label>
                                                                <input name="CertificateDate" class="datePick  DatesModal getItemsPopup checkValidatePopup form-control input-sm" type="text" id="physical-modal-disability-document-date" value="@((Model.currentInvalid != null && Model.currentInvalid.CertificateDate != null) ? Model.currentInvalid.CertificateDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="physical-modal-disability-document-issuer">Ում կողմից</label>
                                                                <input name="CertificateFrom" class="getItemsPopup checkValidatePopup form-control input-sm" type="text" id="pshysical-modal-disability-document-issuer" value="@((Model.currentInvalid != null && Model.currentInvalid.CertificateFrom != null) ? Model.currentInvalid.CertificateFrom.ToString() : "")" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label class="add-file-label" for="modal-invalid-photo">
                                                    <span>Նկար`</span>
                                                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                                                </label>
                                            </div>
                                            <div class="hidden">
                                                <input type="file" name="CertificateFileID" class="getItemsPopup checkValidatePopup" id="modal-invalid-photo" />
                                            </div>
                                            <img id="modal-invalid-photolink" src="@((Model.FileSrc != null) ? Model.FileSrc : "")" alt="" class="img-responsive" />
                                        </div>
										<div class="col-xs-12">
											<div class="form-group">
												<label for="physical-modal-addiction-description">Նկարագրություն`</label>
												<textarea name="Description" class="getItemsPopup form-control input-sm checkValidatePopup" id="physical-modal-disability-document--description" rows="4">@((Model.currentInvalid != null && Model.currentInvalid.Description != null) ? Model.currentInvalid.Description : "")</textarea>
											</div>
										</div>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>