﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.PhysicalData.Invalides.Any())
{
    foreach (InvalidEntity invalid in Model.Prisoner.PhysicalData.Invalides)
    {
        <tr class="@((invalid.MergeStatus != null && invalid.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ամսաթիվ" class="tableDateCol">@invalid.Date.Value.ToString("dd/MM/yyyy")</td>
			<td data-title="Կարգ`">@MyHelpers.GetLibNameByID(invalid.ClassLibItem_ID)</td>
            <td data-title="Նկարագրություն`">@invalid.Description</td>
            @*@foreach (LibsEntity lib in Model.InvalidsDegree)
            {
                <td data-title="Կարգ`">@lib.Name</td>
            }*@
            <td data-title="Վկայական (համար, ամսաթիվ, ում կողմից)`">@(invalid.CertificateNumber), @(invalid.CertificateDate.Value.ToString("dd/MM/yyyy")), @(invalid.CertificateFrom)</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@invalid.ID" class="btn btn-sm btn-default btn-flat editinvalidsrow @((invalid.MergeStatus != null && invalid.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
						<button data-id="@invalid.ID" class="btn btn-sm btn-default btn-flat viewinvalidsrow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
						<button data-id="@invalid.ID" class="btn btn-sm btn-default btn-flat removeinvalidsrow @((invalid.MergeStatus != null && invalid.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
					}
					else
					{
						<button data-id="@invalid.ID" class="btn btn-sm btn-default btn-flat viewinvalidsrow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
					}
				</div>
            </td>
        </tr>
    }
}