﻿@model MVC___Internal_System.Models.ItemsViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade itemsobjects-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                    @if(Model.Item == null)
                    {
                        @String.Format("Ավելացնել Իրեր և առարկաներ");
                    }
                    else
                    {
                        @String.Format("Խմբագրել Իրեր և առարկաներ");
                    }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="item-name">իր/առարկա`</label>
                                                <select name="LibItemID" id="item-name" class="getItemsItems checkValidateItems selectize-sm selectizeItems">
                                                    <option value="">Ընտրել</option>
                                                     @foreach (LibsEntity Lib in Model.ItemsObjectLibs)
                                                    {
                                                        <option value="@Lib.ID" @((Model.Item != null && Model.Item.LibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="item-count">Քանակ`</label>
                                                <input name="Count" class="getItemsItems checkValidateItems form-control input-sm" value="@(Model.Item != null ? Model.Item.Count.ToString() : "")" type="number" id="item-count" />
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-4">
											<div class="form-group">
												<label for="item-date">Ամսաթիվ`</label>
												<input name="Date" class="getItemsItems checkValidateItems Dates form-control input-sm" type="text" id="item-date" value="@(Model.Item != null ? Model.Item.Date.Value.ToString("dd/MM/yyyy") : "")" />
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnItems" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>