﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.ItemsObjects != null && Model.Prisoner.ItemsObjects.Items != null && Model.Prisoner.ItemsObjects.Items.Any())
{
    foreach (ItemEntity curItem in Model.Prisoner.ItemsObjects.Items)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            <td data-title="Անվանում`">@MyHelpers.GetLibNameByID(curItem.LibItemID)</td>
            <td data-title="Ամսաթիվ`">@curItem.Date.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Քանակ`">@curItem.Count</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editItemRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewItemRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeItemRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewItemRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}