﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.PhysicalData.Leanings.Any())
{
	foreach (LeaningEntity leanings in Model.Prisoner.PhysicalData.Leanings)
	{
		<tr class="@((leanings.MergeStatus != null && leanings.MergeStatus.Value) ? "hasPending" : "")">
			<td data-title="Տեսակ">@MyHelpers.GetLibNameByID(leanings.TypeLibItem_ID)</td>
			@*<td data-title="Ենթատեսակ`">@MyHelpers.GetLibNameByID(leanings.SubTypeLibItem_ID)</td>*@
			<td data-title="Ամսաթիվ`" class="tableDateCol">@leanings.Date.Value.ToString("dd/MM/yyyy")</td>
			<td data-title="Նկարագրություն`">@leanings.Description</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@leanings.ID" class="btn btn-sm btn-default btn-flat editleaningrow @((leanings.MergeStatus != null && leanings.MergeStatus.Value) ? "hidden" : "")"  title="Խմբագրել"><i class="fa fa-pencil"></i></button>
						<button data-id="@leanings.ID" class="btn btn-sm btn-default btn-flat viewleaningrow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@leanings.ID" class="btn btn-sm btn-default btn-flat removeleaningrow @((leanings.MergeStatus != null && leanings.MergeStatus.Value) ? "hidden" : "")"  title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
					}
					else
					{
						<button data-id="@leanings.ID" class="btn btn-sm btn-default btn-flat viewleaningrow" title="Դիտել"><i class="fa fa-external-link"></i></button>
					}
				</div>
            </td>
		</tr>
	}
}