﻿@model MVC___Internal_System.Models.LeaningsViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade physical-addiction-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.currentLeaning == null)
					{
						@String.Format("Ավելացնել Հակվածություն");
					}
					else
					{
						@String.Format("Խմբագրել Հակվածություն");
					}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label class="getItemsPopup checkValidatePopup TypeLibItem_ID" name="TypeLibItem_ID">Տեսակ`</label>
                                                @{
                                                    List<int> checkedIDListRank = new List<int>();
                                                    if (Model.currentLeaning != null && Model.currentLeaning.TypeLibItem_ID != null)
                                                    {
                                                        checkedIDListRank.Add(Model.currentLeaning.TypeLibItem_ID.Value);
                                                    }
                                                    @MyHelpers.DrawCustomSelect(Model.LeaningsType, "TypeLibItem_ID", false, null, checkedIDListRank)
                                                }
                                            </div>

                                        </div>
                                        @*<div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="physical-modal-addiction-subtype">Ենթատեսակ`</label>
                                                <select name="SubTypeLibItem_ID" id="physical-modal-addiction-subtype" class="getItemsPopup checkValidatePopup selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity lib in Model.LeaningsType)
                                                    {
                                                        <option value="@lib.ID">@lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>*@
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="physical-modal-addiction-date">Ամսաթիվ՝</label>
                                                <input name="Date" class="getItemsPopup datePick DatesModal checkValidatePopup form-control input-sm" type="text" id="physical-modal-addiction-date" value="@((Model.currentLeaning != null && Model.currentLeaning.Date != null) ? Model.currentLeaning.Date.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="physical-modal-addiction-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsPopup checkValidatePopup form-control input-sm" id="physical-modal-addiction-description" rows="4">@((Model.currentLeaning != null && Model.currentLeaning.Description != null) ? Model.currentLeaning.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" @(Model.currentLeaning == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>