﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade medical-external-examination-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentMedicalExternalExamination == null)
				{
					@String.Format("Ավելացնել Արտաքին զննություն");
				}
				else
				{
					@String.Format("Խմբագրել Արտաքին զննություն");
				}</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group">
                                                <label for="medical-external-examination">Վնասվածքներ`</label>
                                                <select id="State" name="State" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    <option value="true" @((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.State != null && Model.currentMedicalExternalExamination.State.Value) ? "selected" : "")>Ունի</option>
                                                    <option value="false" @((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.State != null && !Model.currentMedicalExternalExamination.State.Value) ? "selected" : "")>Չունի</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="medical-external-examination-date">Ամսաթիվ`</label>
                                                <input name="Date" class="getItemsModal DatesModal checkValidateModal form-control input-sm" type="text" id="medical-external-examination-date" value="@((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.Date != null) ? Model.currentMedicalExternalExamination.Date.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-external-examination-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsModal checkValidateModal form-control input-sm" id="medical-external-examination-description" rows="4">@((Model.currentMedicalExternalExamination != null && Model.currentMedicalExternalExamination.Description != null) ? Model.currentMedicalExternalExamination.Description.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>