﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

@if (Model.Medical != null && Model.Medical.MedicalDiagnosis != null && Model.Medical.MedicalDiagnosis.Any())
{
    foreach (var curItem in Model.Medical.MedicalDiagnosis)
    {

        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.ModifyDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Տեսակ`">@curItem.NameLibItemLabel</td>
            <td data-title="Նկարագրություն`">@(curItem.Description != null ? curItem.Description : "")</td>
            <td data-title="Նախնական`">@(curItem.State.Value ? "Այո" : "Ոչ")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editDiagnosisRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewDiagnosisRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeDiagnosisRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewDiagnosisRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}