﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

@if (Model.Medical != null && Model.Medical.MedicalHistories != null && Model.Medical.MedicalHistories.Any())
{
    foreach (var curItem in Model.Medical.MedicalHistories)
    {
        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.Date.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Անուն`"><a data-id="@curItem.ID" data-type="@curItem.Type" class="loadHistoryRow" href="#">@curItem.Name</a></td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" data-type="@curItem.Type" class="btn btn-sm btn-default btn-flat editHistoryRow" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
                        <button data-id="@curItem.ID" data-type="@curItem.Type" class="btn btn-sm btn-default btn-flat viewHistoryRow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
                        <button data-id="@curItem.ID" data-type="@curItem.Type" class="btn btn-sm btn-default btn-flat removeHistoryRow" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" data-type="@curItem.Type" class="btn btn-sm btn-default btn-flat viewHistoryRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}