﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-complaint-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentMedicalComplaint == null)
				{
					@String.Format("Ավելացնել Գանգատներ");
				}
				else
				{
					@String.Format("Խմբագրել Գանգատներ");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="getItemsModal checkValidateModal ComplaintsLibItemID" name="ComplaintsLibItemID">Անվանում`</label>
                                                @{
                                                    List<int> checkedIDListPos = new List<int>();
                                                    if (Model.currentMedicalComplaint != null && Model.currentMedicalComplaint.ComplaintsLibItemID != null)
                                                    {
                                                        checkedIDListPos.Add(Model.currentMedicalComplaint.ComplaintsLibItemID.Value);
                                                    }
                                                    @MyHelpers.DrawCustomSelect(Model.ComplaintsLibItemList, "ComplaintsLibItemID", false, null, checkedIDListPos)
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-modal-complaint-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsModal checkValidateModal form-control input-sm" id="medical-modal-complaint-description" rows="4">@((Model.currentMedicalComplaint != null && Model.currentMedicalComplaint.Description != null) ? Model.currentMedicalComplaint.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>