﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-examination-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Հետազոտություններ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="getItemsModal checkValidateModal NameLibItemID" name="NameLibItemID">Անվանում`</label>
                                                @{
                                                    List<int> checkedIDListPos = new List<int>();
                                                    if (Model.currentMedicalResearch != null && Model.currentMedicalResearch.NameLibItemID != null)
                                                    {
                                                        checkedIDListPos.Add(Model.currentMedicalResearch.NameLibItemID.Value);
                                                    }
                                                    @MyHelpers.DrawCustomSelect(Model.ResearchLibItemList, "NameLibItemID", false, null, checkedIDListPos)
                                                }
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <textarea class="getItemsModal checkValidateModal form-control input-sm" id="medical-examination-description" name="Description" rows="4">@((Model.currentMedicalResearch != null && Model.currentMedicalResearch.Description != null) ? Model.currentMedicalResearch.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>