﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade medical-diagnose-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentMedicalDiagnosis == null)
				{
					@String.Format("Ավելացնել ԱԽտորոշում");
				}
				else
				{
					@String.Format("Խմբագրել ԱԽտորոշում");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group">
                                                <label for="medical-diagnose-name">Անվանում`</label>
                                                <select name="NameLibItemID" id="medical-diagnose-name" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.DiagnosisLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.NameLibItemID != null && Model.currentMedicalDiagnosis.NameLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="medical-diagnose-initial">Նախնական`</label>
                                                <select name="State" id="medical-diagnose-initial" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    <option value="true" @((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.State != null && Model.currentMedicalDiagnosis.State.Value) ? "selected" : "")>Այո</option>
                                                    <option value="false" @((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.State != null && !Model.currentMedicalDiagnosis.State.Value) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-diagnose-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsModal checkValidateModal form-control input-sm" id="medical-diagnose-description" rows="4">@((Model.currentMedicalDiagnosis != null && Model.currentMedicalDiagnosis.Description != null) ? Model.currentMedicalDiagnosis.Description.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>