﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

@if (Model.Medical != null && Model.Medical.MedicalComplaints != null && Model.Medical.MedicalComplaints.Any())
{
    foreach (var curItem in Model.Medical.MedicalComplaints)
    {
        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.ModifyDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Անուն`">@curItem.ComplaintsLibItemLabel</td>
            <td data-title="Նկարագրություն`">@(curItem.Description != null ? curItem.Description : "")</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editComplaintsRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"  title="Խմբագրել"><i class="fa fa-pencil"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewComplaintsRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeComplaintsRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o"></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewComplaintsRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
					}
				</div>
            </td>
        </tr>
    }
}