﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

@if (Model.MedicalHistory != null && Model.MedicalHistory.MedicalHealing != null && Model.MedicalHistory.MedicalHealing.Any())
{
    foreach (var curItem in Model.MedicalHistory.MedicalHealing)
    {
        <tr>
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.ModifyDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Անուն`">@curItem.NameLibItemLabel</td>
            <td data-title="Նախնական`">@((curItem.State != null && curItem.State.Value) ? "Այո" : "Ոչ")</td>
            <td data-title="Նկարագրություն`">@(curItem.Description != null ? curItem.Description : "")</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editHealingRow" title="Խմբագրել"><i class="fa fa-pencil" ></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewHealingRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeHealingRow" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewHealingRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
					}
				</div>
            </td>
        </tr>
    }
}