﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

@if (Model.Medical != null && Model.Medical.MedicalExternalExaminations != null && Model.Medical.MedicalExternalExaminations.Any())
{
    foreach (var curItem in Model.Medical.MedicalExternalExaminations)
    {
        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.Date.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="Վնասվածքներ`">@(curItem.State.Value ? "Ունի" : "Չունի")</td>
            <td data-title="Նկարագրություն`">@(curItem.Description != null ? curItem.Description : "")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editExternalExaminationsRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"  title="Խմբագրել"><i class="fa fa-pencil"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewExternalExaminationsRow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeExternalExaminationsRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewExternalExaminationsRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}