﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-ambulator-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.currentMedicalHistory == null && Model.HistoryType == 2)
					{
						@String.Format("Ավելացնել նոր ամբուլատոր պատմություն ");
					}
					else if (Model.HistoryType == 2)
					{
						@String.Format("Խմբագրել ամբուլատոր պատմություն");
					}
					else if (Model.currentMedicalHistory == null && Model.HistoryType == 3)
					{
						@String.Format("Ավելացնել նոր ստացիոնար պատմություն ");
					}
					else
					{
						@String.Format("Խմբագրել ստացիոնար պատմություն ");
					}

				</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="medical-ambulator-modal-name">Անուն`</label>
												<input name="Name" class="getItemsModal checkValidateModal form-control input-sm" id="medical-ambulator-modal-name" type="text" value="@((Model.currentMedicalHistory != null && Model.currentMedicalHistory.Name != null) ? Model.currentMedicalHistory.Name : "")" />
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="form-group">
												<label for="medical-ambulator-modal-date">Ամսաթիվ`</label>
												<input name="Date" class="DatesModal getItemsModal checkValidateModal form-control input-sm" id="medical-ambulator-modal-date" type="text" value="@((Model.currentMedicalHistory != null && Model.currentMedicalHistory.Date != null) ? Model.currentMedicalHistory.Date.Value.ToString("dd/MM/yyyy") : "")" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
				</div>
			</div>
		</div>
	</div>
</div>