﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade medical-exit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Ելք</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination">Անվանում`</label>
                                                <select name="ResultLibItemID" id="ResultLibItemID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.ResultLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentMedicalHistory != null && Model.currentMedicalHistory.ResultLibItemID != null && Model.currentMedicalHistory.ResultLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <textarea class="getItemsModal checkValidateModal form-control input-sm" id="medical-examination-description" name="ResultNotes" rows="4">@((Model.currentMedicalHistory != null && Model.currentMedicalHistory.ResultNotes != null) ? Model.currentMedicalHistory.ResultNotes : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>