﻿@model MVC___Internal_System.Models.MergeApproveViewModel
@using MVC___Internal_System.Models;
@using CommonLayer.BusinessEntities
@using Newtonsoft.Json;

<div class="modal fade merge-approve-modal @((Model.CurrentMerge.Type == 3) ? "compare-inner-modal": "")" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-@((Model.CurrentMerge.Type == 3) ? "xl": "lg")">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Հաստատել/Մերժել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row loaderModalClass">
                                        @Html.Partial("~/Views/Merge/Merge_PopUp.cshtml", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button data-id="@(Model.CurrentMerge.ID)" type="button" class="btn btn-sm btn-flat btn-default" id="approveModalBtn">Հաստատել</button>
                    <button data-id="@(Model.CurrentMerge.ID)" type="button" class="btn btn-sm btn-flat btn-default" id="declineModalBtn">Մերժել</button>
                </div>
            </div>
        </div>
    </div>
</div>