﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities

@if (Model.OfficialVisit != null && Model.OfficialVisit.Visits != null && Model.OfficialVisit.Visits.Any())
{
    foreach (OfficialVisitsEntity curItem in Model.OfficialVisit.Visits)
    {
        <tr class="@(curItem.MergeStatus.Value ? "hasPending" : "")">
            <td data-title="Այցելու(ներ)">@curItem.PersonName</td>
            <td data-title="Պաշտոն">@curItem.PositionLibItemLabel</td>
            <td data-title="Այցելության նպատակ">@curItem.TypeLibItemLabel</td>
            <td data-title="Սկիզբ">@curItem.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
            <td data-title="Ավարտ">
                @if (curItem.EndDate == null)
                {
                    if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                    <button data-id="@curItem.ID" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Ավարտել">
                        <i class="fa fa-check"></i>
                    </button>
                    }
                }
                else
                {
                    @String.Format(curItem.EndDate.Value.ToString("dd/MM/yyyy HH:mm"))
                }
            </td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Խմբագրել"><i class="fa fa-pencil"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow"title="Դիտել"><i class="fa fa-external-link" ></i></button>
                    }
                    <a title="Տպել" type="button" data-id="@curItem.ID" href="/OfficialVisits/OfficialVisitReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                        <i class="fa fa-file-text"></i>
                    </a>
				</div>
            </td>
        </tr>
    }
}