﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities

@if (Model.PersonList != null && Model.PersonList.Any())
{
    foreach (VisitorEntity item in Model.currentOfficialVisit.VisitorList)
    {
        <tr data-id="@item.ID">
            <td data-title="Անուն Ազգանուն Հայրանուն">@item.Person.FirstName @item.Person.LastName @item.Person.MiddleName</td>
            <td data-title="Ծննդ. ամսաթիվ">@(item.Person.Birthday != null ? item.Person.Birthday.ToString() : "-")</td>
            <td data-title="Սոց. քարտ">@item.Person.Personal_ID</td>
            <td data-title="Անձնագիր">@((item.Person.IdentificationDocuments != null && item.Person.IdentificationDocuments.Any()) ? item.Person.IdentificationDocuments.First().Number.ToString() : "-")</td>
            <td data-title="Պաշտոն">@if (item.PositionLibItemID != null) {
                @MyHelpers.GetLibNameByID(item.PositionLibItemID)
            }</td>
            <td>
				<div class="btn-group">
					@*<button data-id="@item.ID" class="btn btn-sm btn-default btn-flat removePersonListRow" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>*@
				</div>
            </td>
        </tr>
    }
}