﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade gov-body-visit-add-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title">
					@if (Model.currentOfficialVisit == null)
					{
						@Html.Raw("Ավելացնել ացելություն")
					}
					else
					{
						@Html.Raw("Խմբագրել ացելություն")
					}
				</h4>

			</div>

			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="part1" id="gov-body-visit-add-page-1">
										<div class="row">
											<div class="col-xs-12">
												<div class="row">
													<div class="col-xs-12 col-md-4">
														<div class="form-group">
															<label for="gov-body-visit-purpose">Այցելության նպատակ`</label>
															<select name="TypeLibItemID" id="TypeLibItemID" class="checkValidateFirstPartModal getItemsFirstPartModal selectize-sm selectizeModal">
																<option value="">Ընտրել</option>
																@foreach (LibsEntity Lib in Model.TypeLibList)
																{
																	<option value="@Lib.ID" @((Model.currentOfficialVisit != null && Model.currentOfficialVisit.TypeLibItemID != null && Model.currentOfficialVisit.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12">
												<div class="row">
													<div class="col-xs-12 col-md-4">
														<div class="form-group">
															<label for="gov-body-visit-start-date">Սկիզբ`</label>
															<input class="getItemsFirstPartModal checkValidateFirstPartModal DatesModal form-control input-sm" id="gov-body-visit-start-date" name="StartDate" type="text" value="@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.StartDate != null) ? Model.currentOfficialVisit.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
														</div>
													</div>
													<div class="col-xs-12 col-md-4">
														<div class="form-group">
															<label for="gov-body-visit-end-date">Ավարտ`</label>
															<input class="getItemsFirstPartModal DatesModal form-control input-sm" id="gov-body-visit-end-date" name="EndDate" type="text" value="@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.EndDate != null) ? Model.currentOfficialVisit.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
														</div>
													</div>
													<div class="col-xs-12 col-md-4">
														<div class="form-group">
															@if (Model.currentOfficialVisit != null)
															{

																<label for="gov-body-visit-role">Պաշտոն`</label>

																<select name="PositionLibItemID" id="PositionLibItemID" class="checkValidateFirstPartModal getItemsFirstPartModal selectize-sm selectizeModal">
																	<option value="">Ընտրել</option>
																	@foreach (LibsEntity Lib in Model.PositionLibList)
																	{
																		<option value="@Lib.ID" @((Model.currentOfficialVisit != null && Model.currentOfficialVisit.PositionLibItemID != null && Model.currentOfficialVisit.PositionLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
																</select>
}
														</div>
													</div>
													<div class="col-xs-12">
														<div class="form-group">
															<label for="Description">Նկարագրություն`</label>
															<textarea class="checkValidateFirstPartModal getItemsFirstPartModal form-control input-sm" id="Description" name="Description" rows="4">@((Model.currentOfficialVisit != null && Model.currentOfficialVisit.Description != null) ? Model.currentOfficialVisit.Description : "")</textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="hidden part2" id="gov-body-visit-add-page-2">
										<div id="gov-body-visit-add-search-wrap">
											@{	PersonEntity Person = new PersonEntity();
												Person.isEditable = true;

												if (Model.currentOfficialVisit != null && Model.currentOfficialVisit.Person != null)
												{
													Person.isEditable = true;
													Person = Model.currentOfficialVisit.Person;
												}
											}
											@Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
											<div class="col-xs-12">
												<div class="row">
													<div class="col-xs-12 col-md-4 pull-right">
														<div class="form-group">
															<label for="gov-body-visit-role">Պաշտոն`</label>
															<select name="PositionLibItemID" id="PositionLibItemID" class="checkValidateSecondPartModal getItemsModal selectize-sm selectizeModal">
																<option value="">Ընտրել</option>
																@foreach (LibsEntity Lib in Model.PositionLibList)
																{
																	<option value="@Lib.ID" @((Model.currentOfficialVisit != null && Model.currentOfficialVisit.PositionLibItemID != null && Model.currentOfficialVisit.PositionLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 @(Model.currentOfficialVisit == null ? "" : "hidden")">
												<div class="form-group text-right">
													<button type="button" class="btn btn-sm btn-flat btn-default" id="addPersonBtnModal" disabled>Ավելացնել</button>
												</div>
											</div>
											<div class="row @(Model.currentOfficialVisit == null ? "" : "hidden")">
												<div class="col-xs-12">
													<div class="form-group">
														<label>Ընտրված՝</label>
														<div class="tableWrap">
															<div class="tableWrapIn">
																<table class="table table-bordered table-valignM">
																	<thead>
																		<tr>
																			<th>Անուն Ազգանուն Հայրանուն՝</th>
																			<th>Ծննդ. ամսաթիվ՝</th>
																			<th>Սոց. քարտ՝</th>
																			<th>Անձնագիր՝</th>
																			<th colspan="2">Պաշտոն՝</th>
																		</tr>
																	</thead>
																	<tbody id="personListTableBody">
																		@*@if (Model.currentOfficialVisit != null && Model.currentOfficialVisit.PersonID != null)
																			{
																				@Html.Action("Get_OfficialVisitPersonTableRow", "_Popup_", new { PersonID = Model.currentOfficialVisit.PersonID })
																			}*@
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">

					<button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-prev-btn" id="prevBtnModal" disabled>Նախորդ</button>
					<button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-next-btn" id="nextBtnModal" @((Model.currentOfficialVisit == null) ? "disabled" : "")>Հաջորդ</button>
					<button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" id="acceptBtnModal" @(Model.currentOfficialVisit == null ? "disabled" : "")>Հաստատել</button>
				</div>
			</div>
		</div>
	</div>
</div>