﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

@if (Model.PackageList != null && Model.PackageList.Any())
{
    foreach (PackageContentEntity item in Model.PackageList)
    {
        <tr class="getContentListRow" data-id="@item.ID" data-packageid="@item.PackageID" data-weightcount="@item.WeightCount" data-measurelibitemid="@item.MeasureLibItemID" data-goodslibitemid="@item.GoodsLibItemID" data-typelibitemid="@item.TypeLibItemID">
            <td data-title="Տիպ">@if (item.TypeLibItemID != null) {
@MyHelpers.GetLibNameByID(item.TypeLibItemID)
            }</td>
            <td data-title="Ապրանք">@if (item.GoodsLibItemID != null)
            {
                @MyHelpers.GetLibNameByID(item.GoodsLibItemID)
            }</td>
            <td data-title="Չափման միավոր">@if (item.GoodsLibItemID != null)
            {
                @MyHelpers.GetLibNameByID(item.MeasureLibItemID)
            }</td>
            <td data-title="Քաշ/քանակ">@if (item.GoodsLibItemID != null)
            {
                @item.WeightCount
            }
            </td>
            <td>
				<button data-id="@item.TypeLibItemID" class="btn btn-sm btn-default btn-flat removeContentListRow" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
            </td>
        </tr>

    }
}