﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade package-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">@if (Model.currentPackage == null)
				{
					@Html.Raw("Ավելացնել հանձնուք")
				}
				else
				{
					@Html.Raw("Խմբագրել հանձնուք")
				}</h4>
				
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1">
                                        @{
                                            PersonEntity Person = new PersonEntity();
                                            Person.isEditable = true;

                                            if (Model.currentPackage != null && Model.currentPackage.Person != null)
                                            {
                                                Person.isEditable = true;
                                                Person = Model.currentPackage.Person;
                                            }
                                        }
                                        @Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
                                    </div>
                                    <div class="hidden part2">
                                        <div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="private-visit-start-date">Ամսաթիվ`</label>
                                                        <input class="getItemsSecondPartModal DatesModal checkValidateSecondPartModal DatesModal form-control input-sm" id="private-visit-start-date" name="Date" type="text" value="@((Model.currentPackage != null && Model.currentPackage.Date != null) ? Model.currentPackage.Date.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="package-preseting-person">Ընդունող անձ՝</label>
                                                        <select name="EmployeeID" id="EmployeeID" class="checkValidateSecondPartModal getItemsSecondPartModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (var item in Model.EmployeeList)
                                                            {
                                                                <option value="@item.ID" @((Model.currentPackage != null && Model.currentPackage.EmployeeID != null && Model.currentPackage.EmployeeID == item.ID) ? "selected" : "")>@item.FirstName @item.LastName @item.MiddleName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="package-type">Հանձնուքի (ծանրոցի) տեսակ`</label>
                                                        <select name="TypeLibItemID" id="TypeLibItemID" class="checkValidateSecondPartModal getItemsSecondPartModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (var item in Model.TypeLibList)
                                                            {
                                                                <option value="@item.ID" @((Model.currentPackage != null && Model.currentPackage.TypeLibItemID != null && Model.currentPackage.TypeLibItemID == item.ID) ? "selected" : "")>@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="package-weight">Հանձնուքի քաշը (ընդհանուր, կգ)`</label>
                                                        <input name="Weight" class="checkValidateSecondPartModal getItemsSecondPartModal form-control input-sm" type="number" id="Weight" value="@((Model.currentPackage != null && Model.currentPackage.Weight != null) ? Model.currentPackage.Weight.ToString()  : "")" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="formsWrapSeparator"></div>
                                                    <div class="form-group">
                                                        <label>Պարունակությունը`</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="ContentTypeLibItemID">Տիպ`</label>
                                                                <select name="ContentTypeLibItemID" id="ContentTypeLibItemID" class="checkValidateContent getItemsContent selectize-sm selectizeModal">
                                                                    <option value="">Ընտրել</option>
                                                                    @foreach (var item in Model.TypeContentLibList)
                                                                    {
                                                                        <option value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="package-in-item">Ապրանք`</label>
                                                                <select name="GoodsLibItemID" id="GoodsLibItemID" class="checkValidateContent getItemsContent selectize-sm selectizeModal">
                                                                    <option value="">Ընտրել</option>
                                                                    @foreach (var item in Model.GoodsLibList)
                                                                    {
                                                                        <option value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="package-in-unit">Չափման միավոր`</label>
                                                                <select name="MeasureLibItemID" id="MeasureLibItemID" class="checkValidateContent getItemsContent selectize-sm selectizeModal">
                                                                    <option value="">Ընտրել</option>
                                                                    @foreach (var item in Model.MeasureLibList)
                                                                    {
                                                                        <option value="@item.ID">@item.Name</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="WeightCount">Քաշ/քանակ`</label>
                                                                <input name="WeightCount" class="checkValidateContent getItemsContent form-control input-sm" type="number" id="WeightCount" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button type="button" class="btn btn-sm btn-flat btn-default" id="addListBtnModal" disabled>Ավելացնել</button>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <div class="tableWrap">
                                                                <div class="tableWrapIn">
                                                                    <table class="table table-bordered table-valignM">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Տիպ</th>
                                                                                <th>Ապրանք</th>
                                                                                <th>Չափման միավոր</th>
                                                                                <th colspan="2">Քաշ/քանակ</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="ContentListTableBody">
                                                                            @if (Model.currentPackage != null && Model.currentPackage.ContentList != null)
                                                                            {
                                                                                @Html.Action("Draw_PackageContentTableRow", "_Popup_", new { Package = Model.currentPackage.ContentList });
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-prev-btn" id="prevBtnModal" disabled>Նախորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-next-btn" id="nextBtnModal" @((Model.currentPackage == null) ? "disabled" : "")>Հաջորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" id="acceptBtnModal" @((Model.currentPackage == null) ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>