﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

@if (Model.Package != null && Model.Package.Packages != null && Model.Package.Packages.Any())
{
    foreach (var item in Model.Package.Packages)
    {
        <tr class="@if (item.ApproveStatus != null) {
        @String.Format(((!item.ApproveStatus.Value) ? "hasObjection" : "hasObjectionResult"))} @(item.MergeStatus.Value ? "hasPending" : "")">
            <td data-title="Հանձնուքի տեսակ">@item.TypeLibItemLabel</td>
            <td data-title="Քաշ (կգ)">@item.Weight</td>
            <td data-title="Ընդունման ամսաթիվ">@(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
            <td data-title="Հանձնող անձ">@item.PersonName</td>
            <td data-title="Թույլատրող անձ">
				<div class="btn-group">
					@if (item.AcceptDate == null)
					{
						if (((int)System.Web.HttpContext.Current.Session["PPType"] != 0) && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Packages) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
						{
							<button data-id="@item.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declinePackageRow @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-ban"></i></button>
						}
                        if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Packages) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                        {
                            <button data-id="@item.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approvePackageRow @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-check"></i></button>
                        }
                    }
                    else
                    {
						@item.ApproveEmployeeName
					}
				</div>
            </td>
            <td data-title="Ընդունող անձ">@item.EmployeeName</td>
            <td data-title="">
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@item.ID" class="btn btn-sm btn-default btn-flat editPackageRow @(((item.MergeStatus != null && item.MergeStatus.Value) || (item.ApproveStatus != null && !item.ApproveStatus.Value)) ? "hidden" : "")" title="Խմբագրել" type="button"><i class="fa fa-pencil"></i></button>
						<button data-id="@item.ID" title="Հեռացնել" type="button" class="btn btn-sm btn-flat btn-default removePackageRow @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")" ><i class="fa fa-trash-o" ></i></button>
					}
                    <button data-id="@item.ID" title="Դիտել" type="button" class="btn btn-sm btn-flat btn-default viewPackageRow"><i class="fa fa-external-link"></i></button>
                    <a title="Տպել" type="button" data-id="@item.ID" href="/Packages/PackageReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                        <i class="fa fa-file-text"></i>
                    </a>
				</div>
            </td>
        </tr>
    }
}