﻿@using CommonLayer.BusinessEntities

<div class="modal fade package-Approve-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Հաստատել/Մերժել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="package-modal-end-date">Ամսաթիվ`</label>
                                                <input name="EndDate" class="DatesModal checkValidateModal getItemsModal form-control input-sm" type="text" id="package-modal-end-date" />

                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="package-modal-description">Նկարագրություն`</label>
                                                <textarea rows="4" cols="" class="checkValidateModal getItemsModal form-control input-sm" id="package-modal-description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Մերժել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>
