﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade penalty-objection-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Բողոքարկում</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @*<div class="form-group">
                                                <label for="penalty-objection-info">Բողոքարկման բովանդակություն`</label>
                                                <select name="AppealsContentLibItemID" id="penalty-objection-info" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.AppealsContentLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealsContentLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>*@
                                            <div class="form-group">
                                                <label for="penalty-objection-person">Բողոքարկման մարմին`</label>
                                                <select name="AppealsBody" id="penalty-objection-person" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.AppealsBodyList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealsBody == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="penalty-objection-date">Բողոքարկման ամսաթիվ`</label>
                                                        <input name="AppealsDate" class="getItemsModal checkValidateModal DatesModal form-control input-sm" type="text" id="penalty-objection-date" value="@((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any()) ? Model.currentPenalty.ProtestList.First().AppealsDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="penalty-objection-info-description">Նկարագրություն`</label>
                                                <textarea name="AppealsNote" class="getItemsModal checkValidateModal form-control input-sm" id="penalty-objection-info-description" rows="4">@((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealsNote != null) ? Model.currentPenalty.ProtestList.First().AppealsNote.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" @((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any()) ? "" : "disabled")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>