﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade penalty-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                    @if (Model.currentPenalty == null)
                    {
                        @String.Format("Ավելացնել տույժ")
                    }
                    else
                    {
                        @String.Format("Խմբագրել տույժ")
                    }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="penalty-type">Միջոց`</label>
                                                <select name="TypeListItemID" id="penalty-type" class="getItemsPen checkValidatePen selectize-sm selectizePenalty">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.TypeLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.TypeListItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="penalty-foul-date">Խախտման ամսաթիվ`</label>
                                                <input name="ViolationDate" class="getItemsPen checkValidatePen Dates DatesModal form-control input-sm" type="text" id="penalty-foul-date" value="@((Model.currentPenalty != null && Model.currentPenalty.ViolationDate != null) ? Model.currentPenalty.ViolationDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="penalty-date">Տույժի ամսաթիվ`</label>
                                                <input name="PenaltyDate" class="getItemsPen checkValidatePen DatesModal Dates form-control input-sm" type="text" id="penalty-date" value="@((Model.currentPenalty != null && Model.currentPenalty.PenaltyDate != null) ? Model.currentPenalty.PenaltyDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            @*<div class="form-group">
                                                <label for="penalty-info">Խախտում, որի համար նշանակվել է տույժը`</label>
                                                <select name="ViolationList" id="penalty-info" class="getItemsPen checkValidatePen selectize-sm selectize selectizePenalty" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.ViolationLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.ViolationList != null && Model.currentPenalty.ViolationList.FindAll(r => r.LibItemID == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>*@

                                            <div class="form-group">
                                                <label class="getItemsPen checkValidatePen ViolationList" name="ViolationList">Տեսակ`</label>
                                                @{
                                                    List<int> checkedIDListRank = new List<int>();
                                                    if (Model.currentPenalty != null && Model.currentPenalty.ViolationList != null)
                                                    {
                                                        foreach (var item in Model.currentPenalty.ViolationList)
                                                        {
                                                            checkedIDListRank.Add(item.LibItemID.Value);
                                                        }
                                                    }
                                                    @MyHelpers.DrawCustomSelect(Model.ViolationLibList, "ViolationList", true, null, checkedIDListRank)
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="StateLibItemID">Կարգավիճակ`</label>
                                                <select name="StateLibItemID" id="StateLibItemID" class="getItemsPen checkValidatePen selectize-sm selectizePenalty">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.StateLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.StateLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="penalty-end-date">Տույժի ավարտի ամսաթիվ`</label>
                                                <input name="PenaltyEndDate" class="getItemsPen Dates DatesModal form-control input-sm" type="text" id="penalty-end-date" value="@((Model.currentPenalty != null && Model.currentPenalty.PenaltyEndDate != null) ? Model.currentPenalty.PenaltyEndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="penalty-redeem-date">Տույժի մարման ժամկետ`</label>
                                                <input name="PenaltiesMaturity" class="getItemsPen checkValidatePen Dates DatesModal form-control input-sm" type="text" id="penalty-redeem-date" value="@((Model.currentPenalty != null && Model.currentPenalty.PenaltiesMaturity != null) ? Model.currentPenalty.PenaltiesMaturity.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row" id="StateLibItemIDIn">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="penalty-objection-base">Կարգավիճակի փոփոխման հիմք`</label>
                                                        <select name="StatusChangeBasisLibItemID" id="penalty-objection-base" class="getItemsPen selectize-sm selectizePenalty">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.StateBaseLibList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group">
                                                        <label for="penalty-status-change-date">Կարգավիճակի փոփոխման ամսաթիվ`</label>
                                                        <input name="StatusChangeBasis" class="getItemsPen Dates DatesModal form-control input-sm" type="text" id="penalty-status-change-date" value="@((Model.currentPenalty != null && Model.currentPenalty.StatusChangeBasis != null) ? Model.currentPenalty.StatusChangeBasis.ToString() : "")" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="penalty-info-description">Նկարագրություն</label>
                                                <textarea name="Notes" class="getItemsPen checkValidatePen form-control input-sm" id="penalty-info-description" rows="4">@((Model.currentPenalty != null && Model.currentPenalty.Notes != null) ? Model.currentPenalty.Notes.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="penalty-presenting-person">Տույժը ներկայացնող անձ`</label>
                                                <select name="EmployeerID" id="penalty-presenting-person" class="getItemsPen checkValidatePen selectize-sm selectizePenalty">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (EmployeeEntity Lib in Model.EmployeeList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.EmployeerID == Lib.ID) ? "selected" : "")>@Lib.FirstName @Lib.LastName @Lib.MiddleName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnPen" @(Model.currentPenalty == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>