﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade penalty-objection-result-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Բողոքարկման կարգավիճակ</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="penalty-objection-result">Բողոքարկման արդյունք`</label>
                                                <select name="AppealResultLibItemID" id="penalty-objection-result" class="checkValidateModal getItemsModal selectize-sm selectizeModal">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.AppealResultLibItemID)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealResultLibItemID != null && Model.currentPenalty.ProtestList.First().AppealResultLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="penalty-objection-result-description">Նկարագրություն`</label>
                                                <textarea name="AppealResultNote" class="getItemsModal form-control input-sm" id="penalty-objection-result-description" rows="4">@((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealResultNote != null) ? Model.currentPenalty.ProtestList.First().AppealResultNote.ToString() : "")</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="penalty-objection-result-date">Բողոքարկման արդյունքի ամսաթիվ`</label>
                                                <input name="AppealResultDate" class="DatesModal checkValidateModal getItemsModal form-control input-sm" type="text" id="penalty-objection-result-date" value="@((Model.currentPenalty != null && Model.currentPenalty.ProtestList != null && Model.currentPenalty.ProtestList.Any() && Model.currentPenalty.ProtestList.First().AppealResultDate != null) ? Model.currentPenalty.ProtestList.First().AppealResultDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>