﻿@model MVC___Internal_System.Models.PenaltiesViewModel
@using CommonLayer.BusinessEntities


@if (Model.Penalty != null && Model.Penalty.Penalties != null && Model.Penalty.Penalties.Any())
{
	foreach (PenaltiesEntity curItem in Model.Penalty.Penalties)
	{
		<tr class="@if (curItem.ProtestList != null && curItem.ProtestList.Any() && curItem.ProtestList.First().AppealResultLibItemID != null) { @((curItem.ProtestList[0].AppealResultLibItemID == 582) ? "hasObjection" : "hasObjectionResult")} @(curItem.MergeStatus.Value ? "hasPending" : "") ">
			<td data-title="Միջոց">@MyHelpers.GetLibNameByID(curItem.TypeListItemID)</td>
			<td data-title="Հիմք">
				@if (curItem.ViolationList != null)
				{
					if (curItem.ViolationList.Count == 1)
					{
						@MyHelpers.GetLibNameByID(curItem.ViolationList.First().LibItemID)
					}
					else
					{
						foreach (PenaltiesViolationEntity curViolation in curItem.ViolationList)
						{
							@String.Format(MyHelpers.GetLibNameByID(curViolation.LibItemID) + ",")
						}
					}
				}
			</td>
			<td data-title="Նշանակման ամսաթիվ">@(curItem.PenaltyDate != null ? curItem.PenaltyDate.Value.ToString("dd/MM/yyyy") : "-")</td>
			<td data-title="Ավարտման ամսաթիվ">@(curItem.PenaltyEndDate != null ? curItem.PenaltyEndDate.Value.ToString("dd/MM/yyyy") : "-")</td>
			<td data-title="Տույժի մարման ժամկետ">@(curItem.PenaltiesMaturity != null ? curItem.PenaltiesMaturity.Value.ToString("dd/MM/yyyy") : "-")</td>
			<td data-title="Նշանակող անձ">@MyHelpers.GetEmployeeNameByID(curItem.EmployeerID)</td>
			@if (curItem.StatusChangeBasisLibItemID == null)
			{
				<td data-title="Կարգավիճակ">
					@MyHelpers.GetLibNameByID(curItem.StateLibItemID)
				</td>
			}
			else
			{
				<td data-title="Կարգավիճակ" colspan="2">
					@MyHelpers.GetLibNameByID(curItem.StateLibItemID)
				</td>
			}
			@if (curItem.StatusChangeBasisLibItemID == null)
			{
				if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				{
					<td>
						<div class="btn-group">
							<button data-id="@curItem.ID" title="Ավարտել" class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "") btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completePenaltyRow"><i class="fa fa-check-square-o"></i></button>
						</div>
					</td>
				}
			}
			<td data-title="Կարգավիճակի փոփոխման ամսաթիվ">@curItem.StatusChangeBasis</td>
			<td data-title="Բողոքարկել">
				<div class="btn-group">
					@if (curItem.StateLibItemID != null && curItem.StateLibItemID == 565 && curItem.ProtestList != null && curItem.ProtestList.Any() && curItem.ProtestList.First().AppealResultLibItemID == null)
					{
				
						if (curItem.ProtestList != null && curItem.ProtestList.Any() && curItem.ProtestList.First().AppealResultLibItemID != 582 && curItem.ProtestList.First().AppealResultLibItemID != 583)
						{
							if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
							{
								
								<button data-id="@curItem.ID" data-penalty="@curItem.ProtestList.First().ID" title="Արդյունք" type="button" class="btn btn-sm btn-flat btn-default addObjectionResult" @((curItem.ProtestList != null && curItem.ProtestList.Any() && curItem.ProtestList.First().AppealResultLibItemID != null) ? "" : "")><i class="fa fa-check"></i></button>
							}
						}
					}
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editPenRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"  title="Խմբագրել"><i class="fa fa-pencil"></i></button>
						if (curItem.StateLibItemID==565)
						{
						<button data-id="@curItem.ID" title="Բողոքարկել" type="button" class="btn btn-sm btn-flat btn-default addObjection"><i class="fa fa-ban"></i></button>
						}
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPenRow"  title="Դիտել"><i class="fa fa-external-link"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removePenRow  @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPenRow" title="Դիտել"><i class="fa fa-external-link" ></i></button>
					}
				</div>
			</td>
		</tr>
	}
}