﻿@model MVC___Internal_System.Models.PersonalVisitsViewModel
@using CommonLayer.BusinessEntities

@if (Model.PersonalVisit != null && Model.PersonalVisit.Visits != null && Model.PersonalVisit.Visits.Any())
{
    foreach (PersonalVisitsEntity curItem in Model.PersonalVisit.Visits)
    {



        <tr class="@if (curItem.VisitStatus != null) { @((!curItem.VisitStatus.Value) ? "hasObjection" : "hasObjectionResult") } @(curItem.MergeStatus.Value ? "hasPending" : "") )">
            @*
                <td data-title="Այցելության նպատակ">@curItem.PurposeLibItemLabel</td>*@
            <td data-title="Խումբ">@curItem.Group</td>
            <td data-title="Այցելու">@curItem.PersonName</td>
            <td data-title="Թույլատրող անձ">@(curItem.ApproverEmployeeID != null ? curItem.ApproverEmployeeName : "-")</td>
            <td data-title="Սկիզբ" class="tableDateCol">@curItem.StartDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</td>
            <td data-title="Ավարտ" class="tableDateCol">
                    @if (curItem.EndDate != null)
                    {
                        @curItem.EndDate.Value.ToString("dd/MM/yyyy HH:mm:ss");
                    }
                    else
                    {
                        if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 && curItem.ApproverEmployeeID != null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                        {
                            <button data-id="@curItem.ID" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeMainRow @(((curItem.MergeStatus != null && curItem.MergeStatus.Value) ||(curItem.VisitStatus != null && !curItem.VisitStatus.Value) ) ? "hidden" : "")" title="Ավարտել">
                                <i class="fa fa-check"></i>
                            </button>
                        }

                        else
                        {
                            @String.Format("-")
                        }
                    }
            </td>
            <td data-title="">
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editMainRow @(((curItem.MergeStatus != null && curItem.MergeStatus.Value)||(curItem.VisitStatus != null && !curItem.VisitStatus.Value)) ? "hidden" : "")" title="Խմբագրել" type="button"><i class="fa fa-pencil"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-flat btn-default removeMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Հեռացնել" type="button"><i class="fa fa-trash-o"></i></button>
                    }

                    @if (curItem.VisitStatus == null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-flat btn-default declineMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Արգելել" type="button"><i class="fa fa-ban"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-flat btn-default approveMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")" title="Թույլատրել" type="button"><i class="fa fa-check"></i></button>
                    }
                    <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow" title="Դիտել"><i class="fa fa-external-link"></i></button>
                    <a title="Տպել" type="button" data-id="@curItem.ID" href="/PersonalVisits/PersonalVisitsReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                        <i class="fa fa-file-text"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
}