﻿    @model MVC___Internal_System.Models.PersonalVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade private-visit-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
               @if (Model.currentPersonalVisit == null)
			   {
				@Html.Raw("Ավելացնել տեսակցություն")
			   }
			   else
			   {
				@Html.Raw("Խմբագրել տեսակցություն")
			   }
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1" id="gov-body-visit-add-page-1">

                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="private-visit-type">Տեսակ`</label>
                                                    <select name="TypeLibItemID" id="TypeLibItemID" class="checkValidateFirstPartModal getItemsFirstPartModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (LibsEntity Lib in Model.TypeLibList)
                                                        {
                                                            <option value="@Lib.ID" @((Model.currentPersonalVisit != null && Model.currentPersonalVisit.TypeLibItemID != null && Model.currentPersonalVisit.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>

                                                </div>
                                            </div>
                                            @*<div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="private-visit-status">Կարգավիճակ`</label>
                                                    <select name="VisitStatus" id="private-visit-status" class="getItemsFirstPartModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        <option value="true" @((Model.currentPersonalVisit != null && Model.currentPersonalVisit.VisitStatus != null && Model.currentPersonalVisit.VisitStatus.Value) ? "selected" : "")>Թույլատրված</option>
                                                        <option value="false" @((Model.currentPersonalVisit != null && (Model.currentPersonalVisit.VisitStatus == null || !Model.currentPersonalVisit.VisitStatus.Value)) ? "selected" : "")>Չթույլատրված</option>
                                                    </select>
                                                </div>
                                            </div>*@
                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group">
                                                    <label for="private-visit-start-date">Սկիզբ`</label>
                                                    <input class="getItemsFirstPartModal checkValidateFirstPartModal DatesModal form-control input-sm" id="private-visit-start-date" name="StartDate" type="text" value="@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.StartDate != null) ? Model.currentPersonalVisit.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group">
                                                    <label for="private-visit-end-date">Ավարտ`</label>
                                                    <input class="getItemsFirstPartModal @((Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value) ? "checkValidateFirstPartModal" : "") DatesModal form-control input-sm" id="private-visit-end-date" name="EndDate" type="text" value="@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.EndDate != null) ? Model.currentPersonalVisit.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "")" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            @if (Model.currentPersonalVisit == null)
                                            {
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="private-visit-visitor-sibling">Հարազատների ցուցակ`</label>
                                                        <select name="RelativePersonList" id="RelativePersonList" class="checkValidateFirstPartModal getItemsFirstPartModal selectize-sm selectizeModal" multiple>
                                                            <option value="">Ընտրել</option>
                                                            @foreach (PersonEntity curEntity in Model.RelativePersonList)
                                                            {
                                                                <option value="@curEntity.ID">@curEntity.FirstName @curEntity.LastName @curEntity.MiddleName (@curEntity.RelativeLabel)</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="private-visit-group">Խումբ`</label>
                                                    <input class="getItemsFirstPartModal checkValidateFirstPartModal form-control input-sm" id="private-visit-group" name="Group" type="text" value="@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.Group != null) ? Model.currentPersonalVisit.Group : "")" @((Model.currentPersonalVisit == null) ? "" : "disabled") />
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    @*<div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="private-visit-other-visitors">Այլ անձ(ինք)`</label>
                                                            <select id="private-visit-other-visitors" class="selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                <option value="true">Այո</option>
                                                                <option value="false">Ոչ</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group hidden">
                                                            <label for="private-visit-purpose">Նպատակ`</label>
                                                            <select name="PurposeLibItemID" id="PurposeLibItemID" class="selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.PurposeLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentPersonalVisit != null && Model.currentPersonalVisit.PurposeLibItemID != null && Model.currentPersonalVisit.PurposeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="Description">Նկարագրություն`</label>
                                                            <textarea class="getItemsFirstPartModal form-control input-sm" id="Description" name="Description" rows="4">@((Model.currentPersonalVisit != null && Model.currentPersonalVisit.Description != null) ? Model.currentPersonalVisit.Description : "")</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                @if (Model.currentPersonalVisit != null)
                                                {
                                                    PersonEntity Person = new PersonEntity();
                                                    Person.isEditable = true;

                                                    if (Model.currentPersonalVisit != null && Model.Person != null)
                                                    {
                                                        Person.isEditable = true;
                                                        Person = Model.Person;
                                                    }
                                                    @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    @*<button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-prev-btn" id="prevBtnModal" disabled>Նախորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-next-btn" id="nextBtnModal" disabled>Հաջորդ</button>*@
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" id="acceptBtnModal" @(Model.currentPersonalVisit == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>