﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="part11" id="persondata" data-iscustom="@((Model.Person != null && Model.Person.isCustom != null) ? Model.Person.isCustom.ToString() : "")" data-id="@((Model.Person != null && Model.Person.ID != null) ? Model.Person.ID.ToString() : "")">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-1">Անուն`</label>
                <input name="FirstName" class="checkValidatePerson getItemsPerson form-control input-sm" type="text" id="modal-person-name-1" value="@((Model.Person != null && Model.Person.FirstName != null) ? Model.Person.FirstName.ToString() : "")" @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled") />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-2">Ազգանուն`</label>
                <input name="LastName" class="getItemsPerson form-control input-sm" type="text" id="modal-person-name-2" value="@((Model.Person != null && Model.Person.LastName != null) ? Model.Person.LastName.ToString() : "")" @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled") />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-name-3">Հայրանուն`</label>
                <input name="MiddleName" class="getItemsPerson form-control input-sm" type="text" id="modal-person-name-3" value="@((Model.Person != null && Model.Person.MiddleName != null) ? Model.Person.MiddleName.ToString() : "")"   @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled") />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-bd">Ծննդ. ամսաթիվ`</label>
                <input name="Birthday" class="getItemsPerson Dates DatesModal form-control input-sm" type="text" id="modal-person-bd" value="@((Model.Person != null && Model.Person.Birthday != null) ? Model.Person.Birthday.ToString() : "")"   @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled")/>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-social-id">Սոց. քարտ`</label>
                <input name="Personal_ID" class="getItemsPerson form-control input-sm" type="text" id="modal-person-social-id" value="@((Model.Person != null && Model.Person.Personal_ID != null) ? Model.Person.Personal_ID.ToString() : "")"  @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled") />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="modal-person-passport">Անձնագիր`</label>
                <input name="PassportNumber" class="getItemsPerson form-control input-sm" type="text" id="modal-person-passport" value="@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any()) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")" @((Model.Person != null && Model.Person.isEditable.Value && (Model.Person.isCustom.Value || Model.Person.ID == null)) ? "" : "disabled") />
            </div>
        </div>
        @if (Model.Person == null || Model.Person.ID == null)
        {
            <div class="col-xs-12">
                <div class="form-group text-right">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="findperson">Որոնել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="findpersonAgain">Նոր Որոնում</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="menualAddBtn">Լրացնել</button>
                </div>
            </div>
        }
    </div>
    <div class="row partdetails @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.ID != null) ? "" : "hidden")">
        <div class="col-xs-12">
            <div class="tableWrap searchuserloader">
                <table class="table table-bordered table-valignM collapseTable @(Model.Person == null ? "hidden" : "")" id="foundusertable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Անուն Ազգանուն Հայրանուն</th>
                            <th>Ծննդ. ամսաթիվ</th>
                            <th>Սոց. քարտ</th>
                            <th>Անձնագիր</th>
                        </tr>
                    </thead>
                    <tbody id="searchuserinfoshort">
                        @if (Model.Person != null)
                        {
                            <tr>
                                <td data-title="#">0</td>
                                <td data-title="Անուն Ազգանուն Հայրանուն">@(Model.Person.FirstName != null ? Model.Person.FirstName.ToString() : "") @(Model.Person.LastName != null ? Model.Person.LastName.ToString() : "") @(Model.Person.MiddleName != null ? Model.Person.MiddleName.ToString() : "")</td>
                                <td data-title="Ծննդ. ամսաթիվ">@(Model.Person.Birthday != null ? Model.Person.Birthday.ToString() : "")</td>
                                <td data-title="Սոց. քարտ">@(Model.Person.Personal_ID != null ? Model.Person.Personal_ID.ToString() : "")</td>
                                <td data-title="Անձնագիր">@((Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any() && Model.Person.IdentificationDocuments[0].Number != null) ? Model.Person.IdentificationDocuments[0].Number.ToString() : "")</td>
                            </tr>
                                <tr class="collapse">
                                    <td colspan="5">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4"><img class="img-responsive" src="@((Model.Person != null &&  Model.Person.PhotoLink != null) ? Model.Person.PhotoLink.ToString() : "")" alt="" /></div> <div class="col-xs-12 col-md-8">
                                                <div class="form-group">
                                                    <label>Անձնագիր՝</label><p>
                                                        @if (Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any())
                                                        {
                                                            @String.Format((Model.Person.IdentificationDocuments[0].Number != null ? Model.Person.IdentificationDocuments[0].Number.ToString() : "") + ", " + (Model.Person.IdentificationDocuments[0].Date != null ? Model.Person.IdentificationDocuments[0].Date.Value.ToString("dd/MM/yyyy") : "") + ", " + (Model.Person.IdentificationDocuments[0].FromWhom != null ? Model.Person.IdentificationDocuments[0].FromWhom.ToString() : ""))
                                                        }
                                                    </p>
                                                </div> 
                                            <div class="form-group"> 
                                                <label>Ազգություն՝</label> 
                                                @if (Model.Person != null && Model.Person.NationalityID != null)
                                                {
                                                    <p>@MyHelpers.GetNationalityByID(Model.Person.NationalityID)</p>
                                                }
                                             </div> 
                                            <div class="form-group">
                                                    <label>Քաղաքացիություն՝</label>
                                                    <p>
                                                        @if (Model.Person.IdentificationDocuments != null)
                                                        {
                                                            foreach (IdentificationDocument doc in Model.Person.IdentificationDocuments)
                                                            {
                                                                @((doc.CitizenshipLibItem_ID != null) ? MyHelpers.GetLibNameByID(doc.CitizenshipLibItem_ID).ToString() : "")
                                                            }
                                                        }
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Սեռ՝</label>
                                                    <p>
                                                        @if (Model.Person != null && Model.Person.SexLibItem_ID != null)
                                                        {
                                                            int? LibID = Model.Person.SexLibItem_ID;
                                                            if (LibID != null)
                                                            {
                                                                @MyHelpers.GetLibNameByID(Model.Person.SexLibItem_ID).ToString()
                                                            }
                                                        }
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Գրանցման հասցե՝</label>
                                                    <p>
                                                        @((Model.Person != null && Model.Person.Registration_address != null) ? Model.Person.Registration_address.ToString() : "")
                                                    </p>
                                                </div> <div class="form-group">
                                                    <label>Բնակության հասցե՝</label>
                                                    <p>
                                                        @((Model.Person != null && Model.Person.Living_place != null) ? Model.Person.Living_place.ToString() : "")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
                <p class="hidden" id="foundusererrorp"></p>
            </div>
        </div>
    </div>
</div>

<div class="row @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.ID != null) ? "" : "hidden") partcustom">
    <div class="col-xs-12 col-md-6 @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "hidden") partsex">
        <div class="form-group">
            <label for="family-partner-sex">Սեռ`</label>
            <select name="SexLibItem_ID" id="family-partner-sex" class="getItemsPerson selectize-sm selectizePerson" @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "")>
                <option value="">Ընտրել</option>
                @foreach (LibsEntity lib in Model.Gender)
                {
                    PropsEntity curprop = lib.propList.Find(r => r.ID == (int)PropsEntity.PropToLibID.IDENTIFICATION_CODE);
                    String idCode = curprop.Values[0].Value;
                    // TODO: add idCode when menual is added
                    <option value="@lib.ID" @((Model.Person != null && Model.Person.SexLibItem_ID != null && Model.Person.SexLibItem_ID == lib.ID) ? "selected" : "")>@lib.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "hidden") partnationality">
        <div class="form-group">
            <label for="family-partner-nationality">Ազգություն`</label>
            <select name="NationalityID" id="family-partner-nationality" class="getItemsPerson selectize-sm selectizePerson"  @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "")>
                <option value="">Ընտրել</option>
                @foreach (NationalityEntity entity in Model.Nationality)
                {
                    <option value="@entity.ID" @((Model.Person != null && Model.Person.NationalityID != null && Model.Person.NationalityID == entity.ID) ? "selected" : "")>@entity.Label</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label>Գրանցման հասցե`</label>
                    <div class="form-group-in">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationRegionReg">Մարզ՝</label>
                                    <input name="Registration_Region" id="registrationRegionReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Region != null) ? Model.Person.Registration_Entity.Registration_Region : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationComReg">Քաղաք՝</label>
                                    <input name="Registration_Community" id="registrationComReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Community != null) ? Model.Person.Registration_Entity.Registration_Community : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="registrationStreetReg">Փողոց՝</label>
                                    <input name="Registration_Street" id="registrationStreetReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Street != null) ? Model.Person.Registration_Entity.Registration_Street : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationBuildingTypeReg">Բնակարան, Տուն՝</label>
                                    <input name="Registration_Building" id="registrationBuildingTypeReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Building != null) ? Model.Person.Registration_Entity.Registration_Building : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationBuildingReg">Տեսակ(Տուն, Բնակարան)՝</label>
                                    <input name="Registration_Building_Type" id="registrationBuildingReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Building_Type != null) ? Model.Person.Registration_Entity.Registration_Building_Type : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationAptReg">Համար`</label>
                                    <input name="Registration_Apartment" id="registrationAptReg" class="getItemsRegAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Registration_Entity != null && Model.Person.Registration_Entity.Registration_Apartment != null) ? Model.Person.Registration_Entity.Registration_Apartment : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label>Բնակության վայր`</label>
                    <div class="form-group-in">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationRegionLiv">Մարզ՝</label>
                                    <input name="Registration_Region" id="registrationRegionLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Region != null) ? Model.Person.Living_Entity.Registration_Region : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationComLiv">Քաղաք՝</label>
                                    <input name="Registration_Community" id="registrationComLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Community != null) ? Model.Person.Living_Entity.Registration_Community : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="registrationStreetLiv">Փողոց՝</label>
                                    <input name="Registration_Street" id="registrationStreetLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Street != null) ? Model.Person.Living_Entity.Registration_Street : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationBuildingTypeLiv">Բնակարան, Տուն՝</label>
                                    <input name="Registration_Building" id="registrationBuildingTypeLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Building != null) ? Model.Person.Living_Entity.Registration_Building : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationBuildingLiv">Տեսակ(Տուն, Բնակարան)՝</label>
                                    <input name="Registration_Building_Type" id="registrationBuildingLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Building_Type != null) ? Model.Person.Living_Entity.Registration_Building_Type : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="registrationAptLiv">Համար`</label>
                                    <input name="Registration_Apartment" id="registrationAptLiv" class="getItemsLivAddress form-control input-sm" type="text" value="@((Model.Person != null && Model.Person.Living_Entity != null && Model.Person.Living_Entity.Registration_Apartment != null) ? Model.Person.Living_Entity.Registration_Apartment : "")" @((Model.Person != null && Model.Person.isEditable.Value) ? "" : "disabled") />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="@((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "hidden") partcustomdetails">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="family-partner-doc-citizenship">Քաղաքացիություն`</label>
                                        <select name="CitizenshipLibItem_ID" id="family-partner-doc-citizenship" class="checkValidateDocuments getItemsDocuments selectize-sm selectizePerson">
                                            <option value="">Ընտրել</option>
                                            @foreach (LibsEntity Lib in Model.Citizenships)
                                            {
                                                <option value="@Lib.ID">@Lib.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group">
                                        <label for="family-partner-doc-type">Տեսակ`</label>
                                        <select name="TypeLibItem_ID" id="family-partner-doc-type" class="checkValidateDocuments getItemsDocuments selectize-sm selectizePerson">
                                            <option value="">Ընտրել</option>
                                            @foreach (LibsEntity Lib in Model.DocIdentity)
                                            {
                                                <option value="@Lib.ID">@Lib.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group">
                                        <label for="family-partner-doc-number">Համար`</label>
                                        <input name="Number" class="checkValidateDocuments getItemsDocuments form-control input-sm" type="text" id="family-partner-doc-type" value="" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group">
                                        <label for="family-partner-doc-date">Ամսաթիվ`</label>
                                        <input name="Date" class="checkValidateDocuments getItemsDocuments Dates DatesModal form-control input-sm" type="text" id="family-partner-doc-date" value="" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <div class="form-group">
                                        <label for="family-partner-doc-from">Ում կողմից`</label>
                                        <input name="FromWhom" class="checkValidateDocuments getItemsDocuments form-control input-sm" type="text" id="family-partner-doc-from" value="" />
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group text-right">
                                        <button type="button" class="btn btn-sm btn-flat btn-default" id="addDocidentityButton" disabled>Ավելացնել</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Անձը հաստատող փաստաթուղթ`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Քաղաքացիություն</th>
                                            <th>Տեսակ</th>
                                            <th>Համար</th>
                                            <th>Ամսաթիվ</th>
                                            <th colspan="2">Ում կողմից</th>
                                        </tr>
                                    </thead>
                                    <tbody id="menualDocIdentityTableBody">
                                        @if (Model.Person != null && Model.Person.IdentificationDocuments != null && Model.Person.IdentificationDocuments.Any())
                                        {
                                            foreach (var item in Model.Person.IdentificationDocuments)
                                            {
                                                <tr class="getManualDocIdentity" data-ID="@item.ID" data-FromWhom="@item.FromWhom" data-Date="@item.Date" data-Number="@item.Number" data-CitizenshipLibItem_ID="@item.CitizenshipLibItem_ID" data-TypeLibItem_ID="@item.TypeLibItem_ID">
                                                    <td>@(item.CitizenshipLibItem_Name != null ? item.CitizenshipLibItem_Name : "")</td>
                                                    <td>@(item.TypeLibItem_Name != null ? item.TypeLibItem_Name : "")</td>
                                                    <td>@(item.Number != null ? item.Number : "")</td>
                                                    <td>@(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy") : "")</td>
                                                    <td>@(item.FromWhom != null ? item.FromWhom : "")</td>
                                                    <td>
                                                        <button class="btn btn-sm btn-default btn-flat removeManualDocIdentity"><i class="fa fa-trash-o" title="Հեռացնել" @((Model.Person != null && Model.Person.isEditable.Value && Model.Person.isCustom.Value) ? "" : "disabled")></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



