﻿@model MVC___Internal_System.Models.PersonalVisitsViewModel
@using CommonLayer.BusinessEntities

@if (Model.PersonList != null && Model.PersonList.Any())
{
    foreach (PersonEntity Person in Model.PersonList)
    {
        if (Person.FirstName != null)
        {
            <tr>
                <td data-title="Անուն Ազգանուն Հայրանուն">@Person.FirstName @Person.LastName @Person.MiddleName</td>
                <td data-title="Ծննդ. ամսաթիվ">@Person.Birthday.ToString()</td>
                <td data-title="Սոց. քարտ">@Person.Personal_ID</td>
                <td data-title="Անձնագիր">@((Person.IdentificationDocuments != null && Person.IdentificationDocuments.Any()) ? Person.IdentificationDocuments.First().Number.ToString() : "-")</td>
                <td>
					<div class="btn-group">
						<button data-id="@Person.Personal_ID" class="btn btn-sm btn-default btn-flat removePersonListRow"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
					</div>
				</td>
            </tr>
        }
    }
}