﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner != null && Model.Prisoner.MainData != null && Model.Prisoner.MainData.PreviousConvictions != null && Model.Prisoner.MainData.PreviousConvictions.Any())
{
    foreach (var curItem in Model.Prisoner.MainData.PreviousConvictions)
    {

        <tr class="@((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hasPending" : "")">
            <td data-title="Օրենսգիրք">
            @if (false)
            {
                <a target="_blank" href="@Url.Action("Edit", "Convicts", new { id = curItem.PrisonerID})#_Data_Enterance_">@curItem.CodeLibItemName</a>
            }
            else
            {
                @curItem.CodeLibItemName
            }
            </td>
            <td data-title="Հոդված">
                @if (curItem.SentencingDataArticles != null)
                {
                    List<int> libtList = new List<int>();

                    foreach (SentencingDataArticleLibsEntity Lib in curItem.SentencingDataArticles)
                    {
                        libtList.Add(Lib.LibItem_ID.Value);
                    }
                    @MyHelpers.drawCustomSelectRecursionSelected(curItem.SentencingArticles, null, libtList)
                }
            </td>
            <td data-title="Պատժատեսակ">@(curItem.PenaltyLibItemName != null ? curItem.PenaltyLibItemName : "-")</td>
            <td data-title="Պատժաչափ">@curItem.PenaltyDay օր, @curItem.PenaltyMonth ամիս, @curItem.PenaltyYear տարի</td>
            <td data-title="Պատժի սկիզբ - ավարտ">@(curItem.StartDate != null ? curItem.StartDate.Value.ToString("dd/MM/yyyy") : "") - @(curItem.EndDate != null ? curItem.EndDate.Value.ToString("dd/MM/yyyy") : "")</td>
            <td data-title="Նշումներ">@curItem.Notes</td>
            <td>
				<div class="btn-group">
					@if (!curItem.Archive)
					{
						if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
						{
							<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editPrevConvictionRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
							<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPevConvButton"><i class="fa fa-external-link" title="Դիտել"></i></button>
							<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removePrevConvictionRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
						}
						else
						{
							<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPevConvButton"><i class="fa fa-external-link" title="Դիտել"></i></button>
						}
					}
				</div>
            </td>
        </tr>
    }
}