﻿@model MVC___Internal_System.Models.PrevConvictionViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade personal-old-sentence-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">
				@if (Model.prevConvictionData.EndDate == null)
				{
					@String.Format("Ավելացնել Նախկին Դատվածություն");
				}
				else
				{
					@String.Format("Խմբագրել Նախկին Դատվածություն");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="prevCodeLibItemID">Օրենսգիրք`</label>
                                                    <select name="CodeLibItemID" id="prevCodeLibItemID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (LibsEntity Lib in Model.SentenceCodes)
                                                        {
                                                            <option value="@Lib.ID" @((Model.prevConvictionData != null && Model.prevConvictionData.CodeLibItemID != null && Model.prevConvictionData.CodeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-8 articlesHolder">

                                            </div>
                                            <div class="col-xs-12 col-md-3">
                                                <div class="form-group">
                                                    <label for="personal-old-sentence-punishment">Պատժատեսակ`</label>
                                                    <select name="PenaltyLibItemID" id="PenaltyLibItemID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (LibsEntity Lib in Model.SentencePunishmentType)
                                                        {
                                                            <option value="@Lib.ID" @((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyLibItemID != null && Model.prevConvictionData.PenaltyLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label>Պատժաչափ`</label>
                                                    <div class="form-group-in">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-days">Օր`</label>
                                                                    <input name="PenaltyDay" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-days" value="@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyDay != null) ? Model.prevConvictionData.PenaltyDay.ToString() : "")" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-months">Ամիս`</label>
                                                                    <input name="PenaltyMonth" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-months" value="@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyMonth != null) ? Model.prevConvictionData.PenaltyMonth.ToString() : "")" />
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-md-3">
                                                                <div class="form-group">
                                                                    <label for="entrance-punishment-duration-years">Տարի`</label>
                                                                    <input name="PenaltyYear" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-years" value="@((Model.prevConvictionData != null && Model.prevConvictionData.PenaltyYear != null) ? Model.prevConvictionData.PenaltyYear.ToString() : "")" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-start-date">Պատժի սկիզբ`</label>
                                                            <input name="StartDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="StartDate" value="@((Model.prevConvictionData != null && Model.prevConvictionData.StartDate != null) ? Model.prevConvictionData.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-3">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-end-date">Պատժի ավարտ`</label>
                                                            <input name="EndDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="EndDate" value="@((Model.prevConvictionData != null && Model.prevConvictionData.EndDate != null) ? Model.prevConvictionData.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="personal-old-sentence-info">Նշումներ</label>
                                                            <textarea name="Notes" class="getItemsModal checkValidateModal form-control input-sm" id="Notes" cols="0" rows="4">@((Model.prevConvictionData != null && Model.prevConvictionData.Notes != null) ? Model.prevConvictionData.Notes : "")</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" @(Model.prevConvictionData == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>
