﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade prisonerpunishmenttype-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.prisonerPunishmentTypeData == null)
				{
					@String.Format("Ավելացնել Դատապարտման(Կալանավորման) տեսակ");
				}
				else
				{
					@String.Format("Խմբագրել Դատապարտման(Կալանավորման) տեսակ");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="BaseLibItemID">Հիմք`</label>
                                                    <select name="BaseLibItemID" id="BaseLibItemID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (var item in Model.PrisonerPunishmentBaseLibList)
                                                        {
                                                            <option value="@item.ID" @((Model.prisonerPunishmentTypeData != null && Model.prisonerPunishmentTypeData.BaseLibItemID != null && Model.PrisonerPunishmentBaseLibList.FindAll(r=>r.ID == Model.prisonerPunishmentTypeData.BaseLibItemID).Any()) ? "selected" : "")>@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="TypeLibItemID">Տեսակ`</label>
                                                    <select name="TypeLibItemID" id="TypeLibItemID" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        @foreach (var item in Model.PrisonerPunishmentTypeLibList)
                                                        {
                                                            <option value="@item.ID" @((Model.prisonerPunishmentTypeData != null && Model.prisonerPunishmentTypeData.TypeLibItemID != null && Model.PrisonerPunishmentTypeLibList.FindAll(r => r.ID == Model.prisonerPunishmentTypeData.TypeLibItemID).Any()) ? "selected" : "")>@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="AccessDate">Ամսաթիվ`</label>
                                                    <input name="AccessDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" id="AccessDate" type="text" value="@((Model.prisonerPunishmentTypeData != null && Model.prisonerPunishmentTypeData.AccessDate != null) ? Model.prisonerPunishmentTypeData.AccessDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="Description">Նկարագրություն`</label>
                                                    <textarea class="getItemsModal checkValidateModal form-control input-sm" id="Description" name="Description" rows="4">@((Model.prisonerPunishmentTypeData != null && Model.prisonerPunishmentTypeData.Description != null) ? Model.prisonerPunishmentTypeData.Description : "")</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>