﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities

@if (Model.PrisonerTypeStatusList != null && Model.PrisonerTypeStatusList.Any())
{
    foreach (var curItem in Model.PrisonerTypeStatusList)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "")">
            <td data-title="Տեսակ`">@((curItem.PrisonerType == 2) ? "Դատապարտյալ" : "Կալանավոր")</td>
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.Date.Value.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editPrisonerTypeStatusRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPrisonerTypeStatusRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removePrisonerTypeStatusRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPrisonerTypeStatusRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}