﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade prisonertypestatus-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.prisonerTypeStatusData == null)
				{
					@String.Format("Ավելացնել Դատապարտյալ/Կալանավոր");
				}
				else
				{
					@String.Format("Խմբագրել Դատապարտյալ/Կալանավոր");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="PrisonerType">Տեսակ`</label>
                                                    <select name="PrisonerType" id="PrisonerType" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                        <option value="">Ընտրել</option>
                                                        <option value="2" @((Model.prisonerTypeStatusData != null && Model.prisonerTypeStatusData.PrisonerType == 2) ? "selected" : "")>Դատապարտյալ</option>
                                                        <option value="3" @((Model.prisonerTypeStatusData != null && Model.prisonerTypeStatusData.PrisonerType == 3) ? "selected" : "")>Կալանավոր</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="Date">Ամսաթիվ`</label>
                                                    <input name="Date" class="DatesModal getItemsModal checkValidateModal form-control input-sm" id="Date" type="text" value="@((Model.prisonerTypeStatusData != null && Model.prisonerTypeStatusData.Date != null) ? Model.prisonerTypeStatusData.Date.Value.ToString("dd/MM/yyyy") : "")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="medical-ambulator-modal-date">Նկարագրություն`</label>
                                                    <input name="Date" class="getItemsModal checkValidateModal form-control input-sm" id="medical-ambulator-modal-date" type="text" value="@((Model.prisonerTypeStatusData != null && Model.currentMedicalHistory.Description != null) ? Model.prisonerTypeStatusData.Description : "")" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>