﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities

@if (Model.PrisonerPunishmentTypeList != null && Model.PrisonerPunishmentTypeList.Any())
{
    foreach (var curItem in Model.PrisonerPunishmentTypeList)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            <td data-title="Հիմք`">@curItem.BaseLibItemLabel</td>
            <td data-title="Տեսակ`">@MyHelpers.GetLibNameByID(curItem.TypeLibItemID)</td>
            <td data-title="Նկարագրություն`">@(curItem.Description != null ? curItem.Description : "")</td>
            <td data-title="Ամսաթիվ`" class="tableDateCol">@curItem.AccessDate.Value.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editPrisonerPunishmentTypeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPrisonerPunishmentTypeRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removePrisonerPunishmentTypeRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewPrisonerPunishmentTypeRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}