﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-report-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
                
					@if (Model.sentenceProtocol == null)
					{
						@String.Format("Ավելացնել ՔԿՀ մուտք գործելու արձանագրություն`")
					}
					else
					{
						@String.Format("Խմբագրել ՔԿՀ մուտք գործելու արձանագրություն`")
					}
                </h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Խուզարկու (իրականացնող)`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="entrance-report-arrest-detective-rank">Կոչում`</label>
                                                                <select name="RankLib_ID" id="entrance-report-arrest-detective-rank" class="checkValidateSentence getItemsSentence selectize-sm selectizeSentence">
                                                                    <option value="">Ընտրել</option>
                                                                    @foreach (LibsEntity Lib in Model.DetectiveRank)
                                                                    {
                                                                        <option value="@Lib.ID" @((Model.sentenceProtocol != null && Model.sentenceProtocol.RankLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <label for="entrance-report-arrest-detective-select">Աշխատակից`</label>
                                                            <select name="EmployeeID" id="entrance-report-arrest-detective-select" class="checkValidateSentence getItemsSentence selectize-sm selectizeSentence">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (EmployeeEntity Lib in Model.EmployeerList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.sentenceProtocol != null && Model.sentenceProtocol.EmployeeID == Lib.ID) ? "selected" : "")>@Lib.FirstName @Lib.LastName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-report-building-type">ՔԿ հիմնարկության տեսակ`</label>
                                                <select name="PrisonInstitutionTypeLib_ID" id="entrance-report-building-type" class="checkValidateSentence getItemsSentence selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.QKHType)
                                                    {
                                                        <option value="@Lib.ID" @((Model.sentenceProtocol != null && Model.sentenceProtocol.PrisonInstitutionTypeLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-report-date">ՔԿՀ ընդունման ամսաթիվ`</label>
                                                <input name="PrisonAccessDate" class="DatesSentence DatesModal checkValidateSentence getItemsSentence form-control input-sm" type="text" id="entrance-report-date" value="@((Model.sentenceProtocol != null && Model.sentenceProtocol.PrisonAccessDate != null) ? Model.sentenceProtocol.PrisonAccessDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-report-base">ՔԿՀ ընդունման հիմք`</label>
                                                <textarea name="AdoptionBasis" class="getItemsSentence form-control input-sm" id="entrance-report-base"  rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.AdoptionBasis != null) ? Model.sentenceProtocol.AdoptionBasis.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="">ՔԿՀ ընդունելիս մարմնական զննության արդյունքներ`</label>
                                                <textarea name="PhysicalExamnationResult" class="checkValidateSentence getItemsSentence form-control input-sm" rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.PhysicalExamnationResult != null) ? Model.sentenceProtocol.PhysicalExamnationResult.ToString() : "")</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="">ՔԿՀ ընդունելիս անձնական խուզարկության արդյունքներ`</label>
                                                <textarea name="PersonalSearchResults" class="checkValidateSentence getItemsSentence form-control input-sm" rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.PersonalSearchResults != null) ? Model.sentenceProtocol.PersonalSearchResults.ToString() : "")</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Անձնական իրերի և հագուստի վերաբերյալ արձանագրություն`</label>
                                                <textarea name="PPIC" class="checkValidateSentence getItemsSentence form-control input-sm" rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.PPIC != null) ? Model.sentenceProtocol.PPIC.ToString() : "")</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Սոցիալ-հոգեբանական վիճակ`</label>
                                                <textarea name="SPC" class="getItemsSentence form-control input-sm" rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.SPC != null) ? Model.sentenceProtocol.SPC.ToString() : "")</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="entrance-arrest-description">Նկարագրություն`</label>
                                                <textarea name="Description" class="getItemsSentence checkValidateSentence form-control input-sm" id="entrance-arrest-description" rows="4">@((Model.sentenceProtocol != null && Model.sentenceProtocol.Description != null) ? Model.sentenceProtocol.Description.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" @(Model.sentenceProtocol == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>