﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.PrisonAccessProtocol != null && Model.Prisoner.AdoptionInformation.PrisonAccessProtocol.Any())
{
    foreach (PrisonAccessProtocolEntity curItem in Model.Prisoner.AdoptionInformation.PrisonAccessProtocol)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            <td data-title="Խուզարկու (իրականացնող)">@MyHelpers.GetEmployeeNameByID(curItem.EmployeeID)</td>
            <td data-title="ՔԿ հիմնարկության տեսակ">@MyHelpers.GetLibNameByID(curItem.PrisonInstitutionTypeLib_ID)</td>
            <td data-title="ՔԿՀ ընդունման ամսաթիվ">@curItem.PrisonAccessDate.Value.ToString("dd/MM/yyyy")</td>
            <td data-title="ՔԿՀ ընդունման հիմք">@(curItem.AdoptionBasis != null ? curItem.AdoptionBasis : "-")</td>
            <td data-title="Մարմնական զննության արդյունքներ">@curItem.PhysicalExamnationResult</td>
            <td data-title="Անձնական խուզարկության արդյունքներ">@curItem.PersonalSearchResults</td>
            <td data-title="Իրերի և հագուստի վերաբերյալ արձանագրություն">@curItem.PPIC</td>
            <td data-title="Սոցիալ-հոգեբանական վիճակ">@(curItem.SPC != null ? curItem.SPC : "-")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editProtocolRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewProtocolRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeProtocolRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewProtocolRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}