﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.SentencingData != null && Model.Prisoner.AdoptionInformation.SentencingData.Any())
{
    foreach (SentencingDataEntity curItem in Model.Prisoner.AdoptionInformation.SentencingData)
    {
        <tr class="@(curItem.MergeStatus != null && curItem.MergeStatus.Value ? "hasPending" : "") }">
            <td data-title="Դատավճռի որոշումը կայացրած մարմին">@curItem.SentencingDecisionLibItem_Label</td>
            <td data-title="Դատավճռի համար">@curItem.SentencNumber</td>
            <td data-title="Դատավոր">@curItem.Judge</td>
            <td data-title="Դատապարտման ամսաթիվ">@(curItem.SentencingDate != null ? curItem.SentencingDate.Value.ToString("dd/MM/yyyy") : "-")</td>
            <td data-title="Դատավճիռը օրինական ուժի մեջ մտնելու ամսաթիվ">@(curItem.SentencingVerdictDate != null ? curItem.SentencingVerdictDate.Value.ToString("dd/MM/yyyy") : "-")</td>
            <td data-title="Պատժաչափ">@curItem.PenaltyDay օր, @curItem.PenaltyMonth ամիս, @curItem.PenaltyYear տարի</td>
            <td data-title="Պատժի ավարտ">@(curItem.SentencingEndDate != null ? curItem.SentencingEndDate.Value.ToString("dd/MM/yyyy") : "-")</td>
            <td>
                <div class="btn-group">
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editSentenceRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewSentenceRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeSentenceRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
                    }
                    else
                    {
                        <button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewSentenceRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
                    }
                </div>
            </td>
        </tr>
    }
}