﻿@model MVC___Internal_System.Models.EnteranceViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade entrance-sentence-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.sentenceData == null)
				{
					@String.Format("Ավելացնել Դատապարտման տվյալներ");
				}
				else
				{
					@String.Format("Խմբագրել Դատապարտման տվյալներ");
				}
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="entrance-sentence-performing-person">Դատավճռի որոշումը կայացրած մարմին`</label>
                                                <select name="SentencingDecisionLibItem_ID" id="entrance-sentence-performing-person" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.SentencePerformingPersons)
                                                    {
                                                        <option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.SentencingDecisionLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="entrance-sentence-number">Դատավճռի համար`</label>
                                                <input name="SentencNumber" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-sentence-number" value="@((Model.sentenceData != null && Model.sentenceData.SentencNumber != null) ? Model.sentenceData.SentencNumber.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="entrance-sentence-judge">Դատավոր`</label>
                                                <input name="Judge" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-sentence-judge" value="@((Model.sentenceData != null && Model.sentenceData.Judge != null) ? Model.sentenceData.Judge.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="entrance-sentence-date">Դատապարտման ամսաթիվ`</label>
                                                <input name="SentencingDate" class="DatesSentence DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-sentence-date" value="@((Model.sentenceData != null && Model.sentenceData.SentencingDate != null) ? Model.sentenceData.SentencingDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label for="entrance-sentence-entry-date">Դատավճիռը օրինական ուժի մեջ մտնելու ամսաթիվ`</label>
                                                <input name="SentencingVerdictDate" class="DatesSentence DatesModal getItemsModal form-control input-sm" type="text" id="entrance-sentence-entry-date" value="@((Model.sentenceData != null && Model.sentenceData.SentencingVerdictDate != null) ? Model.sentenceData.SentencingVerdictDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="entrance-sentence-code">Օրենսգիրք`</label>
                                                        <select name="CodeLibItem_ID" id="entrance-sentence-code" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.SentenceCodes)
                                                            {
                                                                <option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.CodeLibItem_ID != null && Model.sentenceData.CodeLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8 articlesHolder">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="entrance-punishment-type">Պատժատեսակ`</label>
                                                <select name="PunishmentLibItemID" id="entrance-punishment-type" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.SentencePunishmentType)
													{
														<option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.PunishmentLibItemID != null && Model.sentenceData.PunishmentLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="entrance-punishment-type">Պատժի ծանրություն`</label>
                                                        <select name="SentenceArticleType" id="v" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (PropValuesEntity Lib in Model.SentenceArticleTypeList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.SentenceArticleType != null && Model.sentenceData.SentenceArticleType == Lib.ID) ? "selected" : "")>@Lib.Value</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>                                       
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="early-date">Վաղաժամկետ ազատման ամսաթիվ`</label>
                                                <input name="EarlyDate" class="DatesSentence DatesModal getItemsModal form-control input-sm" type="text" id="early-date" value="@((Model.sentenceData != null && Model.sentenceData.EarlyDate != null) ? Model.sentenceData.EarlyDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group">
                                                <label for="early-type">Պայմանական վաղաժամկետ ազատում`</label>
                                                <select name="EarlyType" id="early-type" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                                                    <option value="">Ընտրել</option>
                                                    <option value="1" @((Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 1) ? "selected" : "")>1/3</option>
                                                    <option value="2" @((Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 2) ? "selected" : "")>1/2</option>
                                                    <option value="3" @((Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 3) ? "selected" : "")>2/3</option>
                                                    <option value="4" @((Model.sentenceData != null && Model.sentenceData.EarlyType != null && Model.sentenceData.EarlyType == 4) ? "selected" : "")>3/4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="LowSuit">Քաղ. հայց`</label>
                                                        <select id="LowSuit" name="LowSuit" class="getItemsModal selectize-sm checkValidateModal selectizeSentence">
                                                            <option value="">Ընտրել</option>
                                                            <option value="true" @((Model.sentenceData != null && Model.sentenceData.LowSuit != null && Model.sentenceData.LowSuit.Value) ? "selected" : "")>Ունի</option>
                                                            <option value="false" @((Model.sentenceData != null && Model.sentenceData.LowSuit != null && !Model.sentenceData.LowSuit.Value) ? "selected" : "")>Չունի</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8 hidden" id="LowSuitIn">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="LowSuitAmount">Գումար`</label>
                                                                <input name="LowSuitAmount" class="getItemsModal form-control input-sm" type="text" id="LowSuitAmount" value="@((Model.sentenceData != null && Model.sentenceData.LowSuitAmount != null) ? Model.sentenceData.LowSuitAmount : "")">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="LowSuitPayAmount">Մասնակի մարված`</label>
                                                                <input name="LowSuitPayAmount" class="getItemsModal form-control input-sm" type="text" id="LowSuitPayAmount" value="@((Model.sentenceData != null && Model.sentenceData.LowSuitPayAmount != null) ? Model.sentenceData.LowSuitPayAmount : "")">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="LowSuitState">Մուծված`</label>
                                                                <select name="LowSuitState" id="LowSuitState" class="getItemsModal selectizeSentence selectize-sm ">
                                                                    <option value="">Ընտրել</option>
                                                                    <option value="true" @((Model.sentenceData != null && Model.sentenceData.LowSuitState != null && Model.sentenceData.LowSuitState.Value) ? "selected" : "")>Այո</option>
                                                                    <option value="false" @((Model.sentenceData != null && Model.sentenceData.LowSuitState != null && !Model.sentenceData.LowSuitState.Value) ? "selected" : "")>Ոչ</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="PropertyConfiscationLibItemID">Գույքի բռնագրավում`</label>
                                                        <select name="PropertyConfiscationLibItemID" id="PropertyConfiscationLibItemID" class="selectize-sm getItemsModal selectizeSentence checkValidateModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.propertyConfiscationLibs)
                                                            {
                                                                <option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.PropertyConfiscationLibItemID != null && Model.sentenceData.PropertyConfiscationLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8 hidden" id="PropertyConfiscationValueIn">
                                                    <div class="form-group">
                                                        <label for="PropertyConfiscationValue">Արժեք`</label>
                                                        <input name="PropertyConfiscationValue" class="getItemsModal form-control input-sm" type="text" id="PropertyConfiscationValue" value="@((Model.sentenceData != null && Model.sentenceData.PropertyConfiscationValue != null) ? Model.sentenceData.PropertyConfiscationValue : "")">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="FineHas">Տուգանք`</label>
                                                        <select id="FineHas" name="FineHas" class="getItemsModal selectize-sm checkValidateModal selectizeSentence">
                                                            <option value="">Ընտրել</option>
                                                            <option value="true" @((Model.sentenceData != null && Model.sentenceData.FineHas != null && Model.sentenceData.FineHas.Value) ? "selected" : "")>Ունի</option>
                                                            <option value="false" @((Model.sentenceData != null && Model.sentenceData.FineHas != null && !Model.sentenceData.FineHas.Value) ? "selected" : "")>Չունի</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-9 hidden" id="FineHasIn">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="Fine">Տուգանք`</label>
                                                                <input name="Fine" class="getItemsModal form-control input-sm" type="text" id="Fine" value="@((Model.sentenceData != null && Model.sentenceData.Fine != null) ? Model.sentenceData.Fine : "")">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="FinePay">Մասնակի մարված`</label>
                                                                <input name="FinePay" class="getItemsModal form-control input-sm" type="text" id="FinePay" value="@((Model.sentenceData != null && Model.sentenceData.FinePay != null) ? Model.sentenceData.FinePay : "")">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-4">
                                                            <div class="form-group">
                                                                <label for="FineState">Մուծված`</label>
                                                                <select name="FineState" id="FineState" class="getItemsModal selectizeSentence selectize-sm ">
                                                                    <option value="">Ընտրել</option>
                                                                    <option value="true" @((Model.sentenceData != null && Model.sentenceData.FineState != null && Model.sentenceData.FineState.Value) ? "selected" : "")>Այո</option>
                                                                    <option value="false" @((Model.sentenceData != null && Model.sentenceData.FineState != null && !Model.sentenceData.FineState.Value) ? "selected" : "")>Ոչ</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Պատժաչափ`</label>
                                                <div class="form-group-in">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-2">
                                                            <div class="form-group">
                                                                <label for="entrance-punishment-duration-days">Օր`</label>
                                                                <input name="PenaltyDay" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-days" value="@((Model.sentenceData != null && Model.sentenceData.PenaltyDay != null) ? Model.sentenceData.PenaltyDay.ToString() : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-2">
                                                            <div class="form-group">
                                                                <label for="entrance-punishment-duration-months">Ամիս`</label>
                                                                <input name="PenaltyMonth" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-months" value="@((Model.sentenceData != null && Model.sentenceData.PenaltyMonth != null) ? Model.sentenceData.PenaltyMonth.ToString() : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-2">
                                                            <div class="form-group">
                                                                <label for="entrance-punishment-duration-years">Տարի`</label>
                                                                <input name="PenaltyYear" class="getItemsModal checkValidateModal form-control input-sm" type="number" id="entrance-punishment-duration-years" value="@((Model.sentenceData != null && Model.sentenceData.PenaltyYear != null) ? Model.sentenceData.PenaltyYear.ToString() : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="SentencingStartDate">Պատժի սկիզբ`</label>
                                                                <input name="SentencingStartDate" class="DatesSentence DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="SentencingStartDate" value="@((Model.sentenceData != null && Model.sentenceData.SentencingStartDate != null) ? Model.sentenceData.SentencingStartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3">
                                                            <div class="form-group">
                                                                <label for="entrance-punishment-end-date">Պատժի ավարտ`</label>
                                                                <input name="SentencingEndDate" class="DatesSentence DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="entrance-punishment-end-date" value="@((Model.sentenceData != null && Model.sentenceData.SentencingEndDate != null) ? Model.sentenceData.SentencingEndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="medical-examination-description">Նկարագրություն`</label>
                                                <textarea class="getItemsModal checkValidateModal form-control input-sm" id="medical-examination-description" name="Description" rows="4">@((Model.sentenceData != null && Model.sentenceData.Description != null) ? Model.sentenceData.Description : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" @(Model.sentenceData == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>