﻿@model MVC___Internal_System.Models.SentencingArticlesViewModel
@using CommonLayer.BusinessEntities

<div class="form-group">
    <label class="getItemsModal checkValidateModal" name="SentencingDataArticles">Հոդված`</label>
    @{
        List<int> checkedIDList = new List<int>();
        if (Model.selectedSentencingDataArticles != null)
        {
            foreach (var item in Model.selectedSentencingDataArticles)
            {
                checkedIDList.Add(item.LibItem_ID.Value);
            }
        }
        @MyHelpers.DrawCustomSelect(Model.SentenceCodesArticles, "SentencingDataArticles", true, null, checkedIDList)
    }
</div>