﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@if (Model.Prisoner.FingerprintsTattoosScars.Tattoos.Any())
{
	foreach (FingerprintsTattoosScarsItemEntity item in Model.Prisoner.FingerprintsTattoosScars.Tattoos)
	{
		<div class="col-xs-12 col-custom">
			<div class="form-group">
				@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				{
					<a href="@BusinessLayer.BusinessServices.BL_Files.getInstance().GetLinkImage(item.FileID,200,null)" target="_blank" class="imgWrap-external-link">
						<i class="fa fa-external-link"></i>
					</a>
					<a href="#" data-id="@item.ID" data-type="@((int)item.TypeID)" class="hideOnPreview imgWrap-edit-link editFileButton">
						<i class="fa fa-pencil" title="Խմբագրել"></i>
					</a>
					<a href="#" data-id="@item.ID" data-type="@((int)item.TypeID)" class="hideOnPreview imgWrap-remove-link removeFileButton">
						<i class="fa fa-trash-o" title="Հեռացնել"></i>
					</a>

				}
				else
				{
					<a href="@BusinessLayer.BusinessServices.BL_Files.getInstance().GetLinkImage(item.FileID,200,null)" target="_blank" class="imgWrap-external-link">
						<i class="fa fa-external-link"></i>
					</a>
				}
				<div class="imgWrap viewFileButton" data-id="@item.ID" data-type="@((int)item.TypeID)" data-toggle="modal" data-target=".fingerprint-view-modal">
					<div class="imgWrapIn" style="background-image: url(@BusinessLayer.BusinessServices.BL_Files.getInstance().GetLinkImage(item.FileID,200,200))">

					</div>
					<span>@(item.Name)</span>
					<span>@(item.ModifyDate.Value.ToString("dd/MM/yyyy"))</span>
				</div>
			</div>
		</div>
	}
}