﻿@model MVC___Internal_System.Models.TerminationViewModel
@using CommonLayer.BusinessEntities

@if (Model.TerminateEntity != null && Model.TerminateEntity.Any())
{
    foreach (CaseCloseEntity curEntity in Model.TerminateEntity)
    {
        <tr>
            <td data-title="Համար"><a href="12-tabs-archive.html">@curEntity.PCN</a></td>
            <td data-title="ՔԿՀ">@curEntity.OrgUnitLabel</td>
            <td data-title="Սկիզբ" class="tableDateCol">@(curEntity.StartDate != null ? curEntity.StartDate.Value.ToString("dd/MM/yyyy") : "")</td>
            <td data-title="Ավարտ" class="tableDateCol">@(curEntity.EndDate != null ? curEntity.EndDate.Value.ToString("dd/MM/yyyy") : "")</td>
            <td data-title="Կարգավիճակ">@MyHelpers.GetBoolName(curEntity.Status.Value)</td>
            <td data-title="">
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						if (curEntity.Status != null && curEntity.Status.Value && curEntity.ArchiveCase != null && !curEntity.ArchiveCase.Value)
						{
							<button data-datatype="@curEntity.DataType" data-sentenceid="@curEntity.SentenceID" data-arrestid="@curEntity.ArrestID" data-number="@curEntity.PCN" class="btn btn-sm btn-default btn-flat terminateRow">Փակել</button>
						}
					}
				</div>
            </td>
        </tr>
    }
}