﻿@model MVC___Internal_System.Models.TerminationViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade open-case-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Բացել գործը</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Դատարանի որոշում`</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-number">Համար`</label>
                                                <input name="CommandNumber" class="getItemsBanT checkValidateBanT form-control input-sm" type="number" id="open-case-number" value="@((Model.openTerminationEntity != null && Model.openTerminationEntity.CommandNumber != null) ? Model.openTerminationEntity.CommandNumber.ToString() : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-date">Ամսաթիվ`</label>
                                                <input name="OpenDate" class="getItemsBanT DatesBanT DatesModal checkValidateBanT form-control input-sm" type="text" id="open-case-date" value="@((Model.openTerminationEntity != null && Model.openTerminationEntity.OpenDate != null) ? Model.openTerminationEntity.OpenDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="open-case-from">Ում կողմից`</label>
                                                <select name="FromWhomID" id="open-case-from" class="getItemsBanT checkValidateBanT selectize-sm selectizeTerminate">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.fromWhoomLib)
                                                    {
                                                        <option value="@Lib.ID" @((Model.openTerminationEntity != null && Model.openTerminationEntity.FromWhomID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="open-case-description">Նշումներ`</label>
                                                <textarea name="Notes" class="getItemsBanT checkValidateBanT form-control input-sm" rows="4" id="open-case-description">@((Model.openTerminationEntity != null && Model.openTerminationEntity.Notes != null) ? Model.openTerminationEntity.Notes : "")</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtn" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>