﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade transfer-Approve-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">Հաստատել/Մերժել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="transfer-state">Կարգավիճակ`</label>
                                                <select name="StateLibItemID" id="StateLibItemID" class="checkValidateModal getItemsModal selectize-sm selectizeModal">

                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.StateLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.StateLibItemID != null && Model.currentTransfer.StateLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4 hidden" id="ModalEndLibRow">
                                            <div class="form-group">
                                                <label for="transfer-end-place">Ավարտի վայր`</label>
                                                <select name="EndLibItemID" id="EndLibItemID" class="checkValidateModal getItemsModal selectize-sm selectizeModal">

                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.EndLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.EndLibItemID != null && Model.currentTransfer.EndLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">                   
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>
