﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade transfer-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
				@if (Model.currentTransfer == null)
				{
					@Html.Raw("Ավելացնել տեղափոխում")
				}
				else
				{
					@Html.Raw("Խմբագրել տեղափոխում")
                }
                <span class="transferTitle"></span>
				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="part1">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-purpose">Նպատակ`</label>
                                                            <select name="PurposeLibItemID" id="PurposeLibItemID" class="checkValidateFirstPartModal getItemsModal  selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.PurposeLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.PurposeLibItemID != null && Model.currentTransfer.PurposeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-date">Ամսաթիվ`</label>
                                                            <input name="StartDate" class="checkValidateFirstPartModal DatesModal form-control input-sm getItemsModal " id="transfer-date" type="text" value="@((Model.currentTransfer != null && Model.currentTransfer.StartDate != null) ? Model.currentTransfer.StartDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-date">Ավարտ`</label>
                                                            <input name="EndDate" class="DatesModal form-control input-sm getItemsModal @((Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value) ? "checkValidateFirstPartModal" : "")" id="transfer-end-date" type="text" value="@((Model.currentTransfer != null && Model.currentTransfer.EndDate != null) ? Model.currentTransfer.EndDate.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-state">Կարգավիճակ`</label>
                                                            <select name="StateLibItemID" id="StateLibItemID" class="checkValidateFirstPartModal getItemsModal selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.StateLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.StateLibItemID != null && Model.currentTransfer.StateLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-place">Տեղափոխման վայր`</label>

                                                            <select name="TransferLibItemID" id="TransferLibItem139" class="getItemsModal TransferClass TransferClass139 selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.TransferLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.TransferLibItemID != null && Model.currentTransfer.TransferLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>

                                                            <select name="TransferLibItemID" id="TransferLibItem166" class="getItemsModal hidden TransferClass TransferClass166 selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.BjshkakanTexLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.TransferLibItemID != null && Model.currentTransfer.TransferLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>

                                                            <select name="TransferLibItemID" id="TransferLibItem165" class="getItemsModal hidden TransferClass TransferClass165 selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.VaruytTexLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.TransferLibItemID != null && Model.currentTransfer.TransferLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>


                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="UrgUnitRow">
                                                        @if (Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value)
                                                        {
                                                            <div class="form-group">
                                                                <label for="CurrentOrgUnit">Նախկին ՔԿՀ`</label>
                                                                <select name="CurrentOrgUnit" id="CurrentOrgUnit" class="getItemsModal selectize-sm selectizeModal">

                                                                    <option value="">Ընտրել</option>
                                                                    @foreach (OrgUnitEntity Lib in Model.OrgUnitList)
                                                                    {
                                                                        <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.CurrentOrgUnit != null && Model.currentTransfer.CurrentOrgUnit == Lib.ID) ? "selected" : "")>@Lib.Label</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        }
                                                        <div class="form-group">
                                                            <label for="transfer-place-department">ՔԿՀ`</label>
                                                            <select name="OrgUnitID" id="OrgUnitID" class="getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (OrgUnitEntity Lib in Model.OrgUnitList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.OrgUnitID != null && Model.currentTransfer.OrgUnitID == Lib.ID) ? "selected" : "")>@Lib.Label</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="HospitalLibRow">
                                                        <div class="form-group">
                                                            <label for="transfer-place-hospital">Հիվանդանոց`</label>
                                                            <select name="HospitalLibItemID" id="HospitalLibItemID" class="getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.HospitalLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.HospitalLibItemID != null && Model.currentTransfer.HospitalLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="CourtLibRow">
                                                        <div class="form-group">
                                                            <label for="transfer-place-court">Դատարան`</label>
                                                            <select name="CourtLibItemID" id="CourtLibItemID" class="getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.CourtLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.CourtLibItemID != null && Model.currentTransfer.CourtLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="HogebujaranLibRow">
                                                        <div class="form-group">
                                                            <label for="HogebujaranLibItemID">Հոգեբուժարան`</label>
                                                            <select name="HogebujaranLibItemID" id="HogebujaranLibItemID" class="getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.HogebujaranLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.HogebujaranLibItemID != null && Model.currentTransfer.HogebujaranLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="QnnchakanLibRow">
                                                        @*<div class="form-group">
                                                            <label for="QnnchakanLibItemID">Քննչական Մարմիններ`</label>
                                                            <select name="QnnchakanLibItemID" id="QnnchakanLibItemID" class="getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.QnnchakanLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.QnnchakanLibItemID != null && Model.currentTransfer.QnnchakanLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>*@

                                                        <div class="form-group">
                                                            <label class="getItemsModal QnnchakanLibItemID" name="QnnchakanLibItemID">Քննչական Մարմիններ`</label>
                                                            @{
                                                                List<int> checkedIDListRank = new List<int>();
                                                                if (Model.currentTransfer != null && Model.currentTransfer.QnnchakanLibItemID != null)
                                                                {
                                                                    checkedIDListRank.Add(Model.currentTransfer.QnnchakanLibItemID.Value);
                                                                }
                                                                @MyHelpers.DrawCustomSelect(Model.QnnchakanLibList, "QnnchakanLibItemID", false, null, checkedIDListRank)
                                                             }
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4 hidden" id="QKHHospitalLibRow">
                                                        <div class="form-group">
                                                            <label for="QKHHospitalLibItemID">ՔԿՀ հիվանդանոցներ`</label>
                                                            <select name="HospitalLibItemID" id="QKHHospitalLibItemID" class="getItemsModal selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.QKHHospitalLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.HospitalLibItemID != null && Model.currentTransfer.HospitalLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4 hidden" id="EndLibRow">
                                                        <div class="form-group">
                                                            <label for="transfer-end-place">Ավարտի վայր`</label>
                                                            <select name="EndLibItemID" id="EndLibItemID" class="checkValidateFirstPartModal getItemsModal selectize-sm selectizeModal">

                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.EndLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.EndLibItemID != null && Model.currentTransfer.EndLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="transfer-type">ՈՒղեկցորդ`</label>
                                                            <select name="TransferTypeLibItemID" id="TransferTypeLibItemID" class="checkValidateFirstPartModal getItemsModal  selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.TransferTypeLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.TransferTypeLibItemID != null && Model.currentTransfer.TransferTypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                    <div class="col-xs-12 col-md-4 hidden" id="EmergencyLibRow">
                                                        <div class="form-group">
                                                            <label for="transfer-emergency">Շտապ`</label>
                                                            <select name="EmergencyLibItemID" id="EmergencyLibItemID" class="getItemsModal  selectize-sm selectizeModal">
                                                                <option value="">Ընտրել</option>
                                                                @foreach (LibsEntity Lib in Model.EmergencyLibList)
                                                                {
                                                                    <option value="@Lib.ID" @((Model.currentTransfer != null && Model.currentTransfer.EmergencyLibItemID != null && Model.currentTransfer.EmergencyLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="col-xs-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Նկարագրություն`</label>
                                                        <textarea name="Description" class="form-control input-sm getItemsModal " id="transfer-description" type="text">@((Model.currentTransfer != null && Model.currentTransfer.Description != null) ? Model.currentTransfer.Description : "")</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="part2 hidden">
                                        <div id="gov-body-visit-add-search-wrap">
                                            @{
                                                PersonEntity Person = new PersonEntity();
                                                Person.isEditable = true;

                                                if (Model.currentTransfer != null && Model.currentTransfer.Person != null)
                                                {
                                                    Person.isEditable = true;
                                                    Person = Model.currentTransfer.Person;
                                                }
                                            }
                                            @Html.Action("Draw_PersonFullData", "_Popup_", new { Person = Person })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-prev-btn" id="prevBtnModal" disabled>Նախորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-next-btn" id="nextBtnModal" @(Model.currentTransfer == null ? "disabled" : "")>Հաջորդ</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default gov-body-visit-add-confirm-btn" id="acceptBtnModal" @(Model.currentTransfer == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>