﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

@if (Model.Transfer != null && Model.Transfer.Transfers != null && Model.Transfer.Transfers.Any())
{
	foreach (var item in Model.Transfer.Transfers)
	{
		<tr class="@(item.MergeStatus.Value ? "hasPending" : "") @if (item.ApproveStatus != null) { @String.Format(((!item.ApproveStatus.Value) ? "hasObjection" : "hasObjectionResult"))}" >

			<td data-title="Նպատակ">@item.PurposeLibItemLabel</td>
			<td data-title="Տեղափոխմանը ներկայացող անձ">@item.PersonName</td>
            <td data-title="Ամսաթիվ">@(item.StartDate != null ? item.StartDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
            <td data-title="Վերադարձի ամսաթիվ" class="tableDateCol">@(item.EndDate != null ? item.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
			<td data-title="Տեղափոխման վայր">
				@item.TransferLibItemLabel
				@if (item.TransferLibItemLabel == "ՔԿՀ հիվանդանոց" || item.TransferLibItemLabel == "Քաղ․ հիվանդանոց" || item.TransferLibItemLabel == "Նարկոլոգիա")
				{
					@MyHelpers.GetLibNameByID(item.HospitalLibItemID);
				}
				else if (item.TransferLibItemLabel == "Դատարան")
				{
					@MyHelpers.GetLibNameByID(item.CourtLibItemID);
				}
				else if (item.TransferLibItemLabel == "Հոգեբուժարան")
				{
					@MyHelpers.GetLibNameByID(item.HogebujaranLibItemID);
				}

				else if (item.TransferLibItemLabel == "Քննչական բաժին")
				{
					@MyHelpers.GetLibNameByID(item.QnnchakanLibItemID);


				}
				else
				{
					@MyHelpers.GetOrgUnitNameByID(item.OrgUnitID)
				}
			</td>
			<td data-title="Թույլատրող անձ">@item.ApproverEmployeeName</td>
			<td data-title="Կարգավիճակ">
				@item.StateLibItemLabel
			</td>

			<td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						if (item.ApproverEmployeeID == null && item.StateLibItemID != 1552 && item.ApproveStatus != null && item.ApproveStatus.Value)
						{
							if ((item.OrgUnitID == null || (item.OrgUnitID == ViewBag.SelectedOrgUnitID)) && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
							{
								<button data-id="@item.ID" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeTransferRow @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")" title="Ավարտել"><i class="fa fa-check"></i></button>
							}
						}
					}
				</div>
			</td>
			<td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0  && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@item.ID" class="btn btn-sm btn-default btn-flat editTransferRow  @((item.MergeStatus != null && item.MergeStatus.Value || (item.ApproveStatus != null && !item.ApproveStatus.Value)) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
						<button data-id="@item.ID" class="btn btn-sm btn-default btn-flat removeTransferRow  @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
                    }
					@if ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
					{
						if (item.ApproveStatus == null)
						{
							<button data-id="@item.ID" title="Արգելել" type="button" class="@((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "") btn btn-sm btn-flat btn-default declineTransferRow"><i class="fa fa-ban"></i></button>
							<button data-id="@item.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approveTransferRow  @((item.MergeStatus != null && item.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-check"></i></button>
						}
					}
                    <button data-id="@item.ID" title="Դիտել" type="button" class="btn btn-sm btn-flat btn-default  viewTransferRow"><i class="fa fa-external-link"></i></button>
				</div>
			</td>

		</tr>
	}
}