﻿@model MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities

@if (Model.WorkLoad != null && Model.WorkLoad.WorkLoads != null && Model.WorkLoad.WorkLoads.Any())
{
	foreach (WorkLoadsEntity curItem in Model.WorkLoad.WorkLoads)
	{
		<tr class="@(curItem.MergeStatus.Value ? "hasPending" : "")">
			<td data-title="Աշխատանքի անվանում">@curItem.WorkTitleLibItemLabel</td>
			<td data-title="Տեսակ">@curItem.JobTypeLibItemLabel</td>
			<td data-title="Աշխատավարձ (դրամ)">@curItem.Salary</td>
			<td data-title="Ներգրավման ամսաթիվ">@curItem.EngagementDate</td>
			<td data-title="Ազատման ամսաթիվ">@(curItem.ReleaseDate != null ? curItem.ReleaseDate.Value.ToString("dd/MM/yyyy") : "-")</td>
			<td data-title="Ներգրավման հիմք">@curItem.EngagementBasisLibItemLabel</td>
			<td data-title="Կարգավիճակ" class="statusCol">
				<span>@MyHelpers.GetEducationalCourseName(curItem.EngagementState.Value)</span>
			</td>
            <td>
				<div class="btn-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat editMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-pencil" title="Խմբագրել"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat removeMainRow @((curItem.MergeStatus != null && curItem.MergeStatus.Value) ? "hidden" : "")"><i class="fa fa-trash-o" title="Հեռացնել"></i></button>
					}
					else
					{
						<button data-id="@curItem.ID" class="btn btn-sm btn-default btn-flat viewMainRow"><i class="fa fa-external-link" title="Դիտել"></i></button>
					}
				</div>
            </td>
		</tr>
	}
}