﻿@model MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities

<div class="modal fade work-add-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title">
@if (Model.currentWorkLoad == null)
{
	@Html.Raw("Ավելացնել Աշխատանք");
}
else
{
	@Html.Raw("Խմբագրել Աշխատանք");
}				</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-type">Աշխատանքի տեսակ`</label>
                                                        <select name="JobTypeLibItemID" id="work-type" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.JobTypeLibItemList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentWorkLoad != null && Model.currentWorkLoad.JobTypeLibItemID != null && Model.currentWorkLoad.JobTypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-name">Աշխատանքի անվանում`</label>
                                                        <select name="WorkTitleLibItemID" id="work-name" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.WorkTitleLibItemList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentWorkLoad != null && Model.currentWorkLoad.WorkTitleLibItemID != null && Model.currentWorkLoad.WorkTitleLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-employer">Գործատու`</label>
                                                        <select name="EmployerLibItemID" id="work-employer" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.EmployerLibItemList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentWorkLoad != null && Model.currentWorkLoad.EmployerLibItemID != null && Model.currentWorkLoad.EmployerLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-3">
                                                    <div class="form-group">
                                                        <label for="work-end-date">Ավարտի ամսաթիվ`</label>
                                                        <input name="EndDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="work-end-date" value="@((Model.currentWorkLoad != null && Model.currentWorkLoad.EndDate != null) ? Model.currentWorkLoad.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="work-info">Նկարագրություն`</label>
                                                <textarea name="Note" class="getItemsModal checkValidateModal form-control input-sm" id="work-info" rows="4">@((Model.currentWorkLoad != null && Model.currentWorkLoad.Note != null) ? Model.currentWorkLoad.Note.ToString() : "")</textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-salary">Աշխատավարձ (Դրամ)`</label>
                                                        <input name="Salary" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="work-document-number" value="@((Model.currentWorkLoad != null && Model.currentWorkLoad.Salary != null) ? Model.currentWorkLoad.Salary.ToString() : "")" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-document-number">Պայմանագրի համար`</label>
                                                        <input name="ContractNumber" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="work-document-number" value="@((Model.currentWorkLoad != null && Model.currentWorkLoad.ContractNumber != null) ? Model.currentWorkLoad.ContractNumber.ToString() : "")" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-info-date">Ներգրավման ամսաթիվ`</label>
                                                        <input name="EngagementDate" class="DatesModal getItemsModal checkValidateModal form-control input-sm" type="text" id="work-info-date" value="@((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementDate != null) ? Model.currentWorkLoad.EngagementDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-involvement-base">Ներգրավման հիմք`</label>
                                                        <select name="EngagementBasisLibItemID" id="work-involvement-base" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="0">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.EngagementBasisLibItemList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementBasisLibItemID != null && Model.currentWorkLoad.EngagementBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8">
                                                    <div class="form-group">
                                                        <label for="work-involvement-status">Ներգրավվածության կարգավիճակ`</label>
                                                        <select name="EngagementState" id="EngagementState" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            <option value="true" @((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementState != null && Model.currentWorkLoad.EngagementState.Value) ? "selected" : "")>Ներգրավված</option>
                                                            <option value="false" @((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementState != null && !Model.currentWorkLoad.EngagementState.Value) ? "selected" : "")>Ազատված</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 @((Model.currentWorkLoad != null && Model.currentWorkLoad.EngagementState != null && Model.currentWorkLoad.EngagementState.Value) ? "hidden" : "")" id="work-free-wrap">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-8">
                                                    <div class="form-group">
                                                        <label for="work-free-base">Ազատման հիմք`</label>
                                                        <select name="ReleaseBasisLibItemID" id="work-free-base" class="getItemsModal checkValidateModal selectize-sm selectizeModal">
                                                            <option value="">Ընտրել</option>
                                                            @foreach (LibsEntity Lib in Model.ReleaseBasisLibItemList)
                                                            {
                                                                <option value="@Lib.ID" @((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseBasisLibItemID != null && Model.currentWorkLoad.ReleaseBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="work-free-date">Ազատման ամսաթիվ`</label>
                                                        <input name="ReleaseDate" class="DatesModal checkValidateModal getItemsModal form-control input-sm" type="text" id="work-free-date" value="@((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseDate != null) ? Model.currentWorkLoad.ReleaseDate.Value.ToString("dd/MM/yyyy") : "")" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label for="work-free-cause">Ազատման Նկարագրություն`</label>
                                                        <textarea name="ReleaseNote" class="getItemsModal checkValidateModal form-control input-sm" id="work-free-cause" rows="4">@((Model.currentWorkLoad != null && Model.currentWorkLoad.ReleaseNote != null) ? Model.currentWorkLoad.ReleaseNote.ToString() : "")</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>

