﻿@model MVC___Internal_System.Models.YesOrNoViewModel

<div class="modal fade confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">Հաստատել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="">@Model.GetName()</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default rowRemoveToggleConfirm" id="acceptremove">Այո</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal" id="declineremove">Ոչ</button>
                </div>
            </div>
        </div>
    </div>
</div>