﻿@model  MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities;

<div class="row" id="work-list-wrap">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Աշխատանքի անվանում</th>
                                <th>Տեսակ</th>
                                <th>Աշխատավարձ (դրամ)</th>
                                <th>Ներգրավման ամսաթիվ</th>
                                <th>Ազատման ամսաթիվ</th>
                                <th>Ներգրավման հիմք</th>
                                <th colspan="2">Կարգավիճակ</th>
                            </tr>
                        </thead>
                        <tbody id="maintablebody">
                            @if (Model.WorkLoad != null && Model.WorkLoad.WorkLoads != null && Model.WorkLoad.WorkLoads.Any())
                            {
                                @Html.Action("Draw_WorkLoadTableRow", "_Popup_", new { Data = Model.WorkLoad.WorkLoads });
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
    {
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
                    <button id="addMainBtn" class="btn btn-sm btn-default btn-flat">Ավելացնել</button>
                </div>
            </div>
        </div>
    }
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileBtn">
                <span>Կցված ֆայլեր`</span>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                }
            </label>
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>Ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfileTableBody">
                            @if (Model.WorkLoad != null && Model.WorkLoad.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.WorkLoad.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>