﻿@model MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                           
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Աշխատանքի անվանում`</label>
                                                <select name="WorkTitleLibItemID" id="WorkTitleLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.WorkTitleLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.WorkTitleLibItemID != null && Model.FilterWorkLoads.WorkTitleLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Աշխատանքի տեսակ`</label>
                                                <select name="JobTypeLibItemID" id="JobTypeLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.JobTypeLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.JobTypeLibItemID != null && Model.FilterWorkLoads.JobTypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-1">Անուն`</label>
												<input name="FirstName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-1" value="@Model.FilterWorkLoads.FirstName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-2">Ազգանուն`</label>
												<input name="LastName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-2" value="@Model.FilterWorkLoads.LastName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-3">Հայրանուն`</label>
												<input name="MiddleName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-3" value="@Model.FilterWorkLoads.MiddleName" />
											</div>
										</div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Սկիզբ`</label>
                                                <input name="StartDate" class="FilterDates form-control input-sm" type="text" id="encouragement-start-date" value="@(Model.FilterWorkLoads != null && Model.FilterWorkLoads.StartDate != null ? Model.FilterWorkLoads.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Վերջ`</label>
                                                <input name="EndDate" class="FilterDates form-control input-sm" type="text" id="encouragement-end-date" value="@(Model.FilterWorkLoads != null && Model.FilterWorkLoads.EndDate != null ? Model.FilterWorkLoads.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Ներգրավման հիմք`</label>
                                                <select name="EngagementBasisLibItemID" id="EngagementBasisLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.EngagementBasisLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.EngagementBasisLibItemID != null && Model.FilterWorkLoads.EngagementBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Ազատման հիմք`</label>
                                                <select name="ReleaseBasisLibItemID" id="ReleaseBasisLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.ReleaseBasisLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.ReleaseBasisLibItemID != null && Model.FilterWorkLoads.ReleaseBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">ՔԿՀ`</label>
                                                <select name="OrgUnitIDList" id="orgunitidlist" class="selectize-sm selectizeFilter" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                                                    {
                                                        <option value="@item.Key" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.OrgUnitIDList != null && Model.FilterWorkLoads.OrgUnitIDList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Դատապարտյալ(Կալանվոր)`</label>
                                                <select name="PrisonerType" id="prisoner-type" class="getItemsFilter selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    <option value="2" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.PrisonerType == 2) ? "selected" : "")>Դատապարտյալ</option>
                                                    <option value="3" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.PrisonerType == 3) ? "selected" : "")>Կալանավոր</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Արխիվացված`</label>
                                                <select name="ArchiveStatus" id="prisoner-archived" class="getItemsFilter selectize-sm selectizeFilterArchive">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterWorkLoads != null && !Model.FilterWorkLoads.ArchiveStatus) ? "selected" : "")>Այո</option>
                                                    <option value="true" @((Model.FilterWorkLoads != null && Model.FilterWorkLoads.ArchiveStatus) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                  
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
												<button title="Չեղարկել" type="button" class="btn btn-default btn-flat" id="reloadFilterBtn">Չեղարկել</button>
  											    <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="filterList">
                            @Html.Action("Draw_WorkLoadTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>