﻿@model MVC___Internal_System.Models.WorkLoadsViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Աշխատանքի անվանում</th>
                <th>Աշխատանքի տեսակ</th>
                <th>Ներգրավման ամսաթիվ</th>
                <th>Ներգրավման հիմք</th>
                <th>Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody" class="loaderClass">
            @if (Model.ListDashboardWorkLoads != null && Model.ListDashboardWorkLoads.Any())
            {
                foreach (WorkLoadsDashboardEntity curEntity in Model.ListDashboardWorkLoads)
                {
                    <tr>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#WorkLoads">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }                        
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
						@if (curEntity.PrisonerType == 3)
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
                        <td data-title="Աշխատանքի անվանում">@curEntity.WorkTitleLibItemLabel</td>
                        <td data-title="Աշխատանքի տեսակ">@curEntity.JobTypeLibItemLabel</td>
                        <td data-title="Ներգրավման ամսաթիվ">@curEntity.EngagementDate</td>
                        <td data-title="Ներգրավման հիմք">@curEntity.EngagementBasisLibItemLabel</td>
                        <td data-title="Կարգավիճակ" class="statusCol">
                            <span>@MyHelpers.GetEducationalCourseName(curEntity.EngagementState.Value)</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.WorkLoadsEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardWorkLoads != null && Model.WorkLoadsEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.WorkLoadsEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.WorkLoadsEntityPaging.CurrentPage == Model.WorkLoadsEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_WorkLoadTableRow/1/" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"  data-pagenumber="1"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_WorkLoadTableRow/@(Model.WorkLoadsEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.WorkLoadsEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass"data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"data-pagenumber="@(Model.WorkLoadsEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
				}

				int i = 1;
				int t = Model.WorkLoadsEntityPaging.TotalPage;
				int c = Model.WorkLoadsEntityPaging.CurrentPage;
				int v = Model.WorkLoadsEntityPaging.ViewCount;
				int l = v;

				if (t > v)
				{
					if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
					{
						i = c - (v / 2 - 1) - v % 2;
						l = c + v / 2;
					}
					else if (c >= t - ((double)v / 2.0))
					{
						i = t - v + 1;
						l = t;
					}
				}
				else if (t < v)
				{
					l = t;
				}
				for (; i <= l; i++)
				{
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_WorkLoadTableRow/@i" class="paginationBtn @((i == Model.WorkLoadsEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_WorkLoadTableRow/@(Model.WorkLoadsEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_WorkLoadTableRow/@Model.WorkLoadsEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
