﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel
@using CommonLayer.BusinessEntities

@if (Model.Employees != null && Model.Employees.Any())
{
    foreach (EmployeeEntity item in Model.Employees)
    {
        <a href="#" class="employee@(item.OrgUnitID) employeeItem" data-id="@item.ID" data-orgunitid="@item.OrgUnitID"><span>@item.FirstName @item.LastName @item.MiddleName</span></a>
    }
}