﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel
@using CommonLayer.BusinessEntities

<div class="userForm workingforms">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-coretype">Տեսակ`</label>
                <select name="TypeID" id="add-coretype" class="selectize-sm selectize checkItems getItemsSelect" @((Model.CurrentEmployee != null) ? "disabled" : "")>
                    <option value="">Ընտրել</option>
                    @foreach (var item in Model.OrganizationTypes)
                    {
                        <option value="@item.ID" @((item.ID == 1001) ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="mainHolder">
        <div class="col-xs-12" id="userPoliceData">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <img id="user-person-photolink" src="@((Model.CurrentEmployee != null && Model.CurrentEmployee.PhotoLink != null) ? Model.CurrentEmployee.PhotoLink : Model.PhotoLinkDefault)" alt="" class="img-responsive" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="user-person-name-1">Անուն`</label>
                                <input class="usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-name-1" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.FirstName != null) ? Model.CurrentEmployee.FirstName : "")" disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-name-2">Ազգանուն`</label>
                                <input class="usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-name-2" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.LastName != null) ? Model.CurrentEmployee.LastName : "")"  disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-name-3">Հայրանուն`</label>
                                <input class="usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-name-3" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.MiddleName != null) ? Model.CurrentEmployee.MiddleName : "")"   disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-address-reg">Գրանցման հասցե`</label>
                                <input class="usersaveinfo form-control input-sm" type="text" id="user-person-address-reg" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.RegistrationAddress != null) ? Model.CurrentEmployee.RegistrationAddress : "")"  disabled="disabled"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="user-person-bd">Ծննդ. ամսաթիվ`</label>
                                <input class="usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-bd" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.BirthDay != null) ? Model.CurrentEmployee.BirthDay.ToString("dd/MM/yyyy") : "")"  disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-social-id">Սոց. քարտ`</label>
                                <input class="usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-social-id" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.PSN != null) ? Model.CurrentEmployee.PSN : "")"  disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-nationality">Ազգություն`</label>
                                <input class="usersaveinfo form-control input-sm userforminputs" type="text" id="user-person-nationality" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Nationality != null) ? Model.CurrentEmployee.Nationality : "")"  disabled="disabled"/>
                            </div>
                            <div class="form-group">
                                <label for="user-person-address-liv">Բնակության հասցե`</label>
                                <input class="usersaveinfo form-control input-sm" type="text" id="user-person-address-liv" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.LivingAddress != null) ? Model.CurrentEmployee.LivingAddress : "")"  disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Անձնագիր`</label>
                        <div class="form-group-in">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-passport-number">Համար`</label>
                                        <input class="usersaveinfo form-control input-sm" type="text" id="user-passport-number" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Passport != null) ? Model.CurrentEmployee.Passport : "")"  disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-passport-date">Ամսաթիվ`</label>
                                        <input class="usersaveinfo form-control input-sm" type="text" id="user-passport-date" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.PassportDate != null) ? Model.CurrentEmployee.PassportDate.ToString("dd/MM/yyyy") : "")"  disabled="disabled"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-passport-issuer">Ում կողմից`</label>
                                        <input class="usersaveinfo form-control input-sm" type="text" id="user-passport-issuer" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.PassportBy != null) ? Model.CurrentEmployee.PassportBy : "")"  disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-sm btn-flat btn-default @((Model.CurrentEmployee != null) ? "hidden" : "")" id="userPoliceDataSearch">Որոնել</button>
                        <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="userPoliceDataUpdate">Թարմացնել</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="userEditableData">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="user-person-phone-number">Հեռախոսահամար`</label>
                        <input name="Phone" class="getItems disableFieldElem usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-phone-number" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Phone != null) ? Model.CurrentEmployee.Phone : "")" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="user-person-email">Էլ։ հասցե`</label>
                        <input name="Email" class="getItems disableFieldElem usersaveinfo userforminputs form-control input-sm" type="email" id="user-person-email" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Email != null) ? Model.CurrentEmployee.Email : "")" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="user-person-fax">Ֆաքս`</label>
                        <input name="Fax" class="getItems disableFieldElem usersaveinfo form-control input-sm" type="text" id="user-person-fax" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Fax != null) ? Model.CurrentEmployee.Fax : "")" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Ծածկանունը զբաղված է">
                        <label for="user-person-username">Ծածկանուն`</label>
                        <input name="Login" class="getItems checkItems disableFieldElem usersaveinfo userforminputs form-control input-sm" type="text" id="user-person-username" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Login != null) ? Model.CurrentEmployee.Login : "")"  />
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="pass1">Գաղտնաբառ`</label>
                        <input name="Password" class="getItems checkItems disableFieldElem usersaveinfo userforminputs form-control input-sm" type="password" id="pass1" value=""/>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group" data-toggle="tooltip" data-placement="bottom" title="Գաղտնաբառը չի համընկնում">
                        <label for="pass2">Կրկնել գաղտնաբառը`</label>
                        <input name="Password" class="checkItems disableFieldElem usersaveinfo userforminputs form-control input-sm" type="password" id="pass2" value=""  />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Հրաման`</label>
                        <div class="form-group-in">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-person-order-number">Հրամանի համար`</label>
                                        <input name="OrderNumber" class="getItems checkItems usersaveinfo userforminputs orderfields form-control input-sm" type="text" id="user-person-order-number" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Order != null && Model.CurrentEmployee.Order.OrderNumber != null) ? Model.CurrentEmployee.Order.OrderNumber : "")" @((Model.CurrentEmployee != null) ? "disabled" : "")/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-person-order-by">Ում կողմից`</label>
                                        <input name="OrderBy" class="getItems checkItems usersaveinfo userforminputs orderfields form-control input-sm" type="text" id="user-person-order-by" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Order != null && Model.CurrentEmployee.Order.OrderBy != null) ? Model.CurrentEmployee.Order.OrderBy : "")" @((Model.CurrentEmployee != null) ? "disabled" : "") />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="user-person-order-date">Հրամանի ամսաթիվ`</label>
                                        <input name="OrderDate" class="getItems checkItems Dates usersaveinfo userforminputs orderfields form-control input-sm" type="text" id="user-person-order-date" value="@((Model.CurrentEmployee != null && Model.CurrentEmployee.Order != null && Model.CurrentEmployee.Order.OrderDate != null) ? Model.CurrentEmployee.Order.OrderDate.ToString("dd/MM/yyyy"): "")" @((Model.CurrentEmployee != null) ? "disabled" : "") />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <label for="user-person-order-file" class="add-file-label">
                                        <span>Հրամանի Ֆայլ`</span>
                                        <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                                    </label>
                                    <div hidden>
                                        <input name="File" class="getItems checkItems usersaveinfo" type="file" id="user-person-order-file"  @((Model.CurrentEmployee != null) ? "disabled" : "")/>
                                    </div>
                                    @if (Model.CurrentEmployee != null && Model.CurrentEmployee.Order != null && Model.CurrentEmployee.Order.FileID != null)
                                    {
                                        <a href="@(BusinessLayer.BusinessServices.BL_Files.getInstance().GetLink(Model.CurrentEmployee.Order.FileID))" target="_blank"><span>Դիտել</span></a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-flat btn-info" id="editEmployeeBtn">Խմբագրել</button>
            <button type="button" class="btn btn-sm btn-flat btn-info hidden" id="declineEditEmployeeBtn">Չեղարկել</button>
            <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="removeEmployeeBtn">Հեռացնել</button>
            <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="saveEmployeeBtn" @((Model.CurrentEmployee == null) ? "disabled" : "")>Հաստատել</button>
        </div>
    </div>
</div>