﻿@model  MVC___Internal_System_Administration.Models.ListsViewModel

<div class="treeContentFolder">
    <ul class="breadcrumbs">
        @ListsHelpers.DrawPathWay(Model.PathWay)
    </ul>
    <div class="tableWrap">
        <table class="table table-bordered table-valignM">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Անվանում</th>
                    <th>Ընտրությունների քանակ</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.LibPathList != null && Model.LibPathList.Any())
                    {
                        for (int i = 0; i < Model.LibPathList.Count; i++)
                        {
                            <tr>
                                <td class="index">@i</td>
                                <td data-title="Անվանում">
                                    <a href="#">@Model.LibPathList[i].Name</a>
                                </td>
                                <td data-title="Ընտրությունների քանակ">
                                    @Model.LibPathList[i].LibsCount
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="clearfix">
    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-flat btn-default" id="gobackbutton">Վերադառնալ</button>
    </div>
</div>