﻿@model  MVC___Internal_System_Administration.Models.ListsViewModel

<div class="modal fade lists-row-edit-modal libitem-modal" id="addlibpathmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">@((Model.CurrentLibItem != null) ? "Խմբագրել" : "Ավելացնել")</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="Name">Անվանում`</label>
                                                <input class="form-control input-sm getItemsModal checkValidateModal" type="text" name="Name" id="Name" value="@((Model.CurrentLibItem != null && Model.CurrentLibItem.Name != null) ? Model.CurrentLibItem.Name : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="propertyselect">Հատկություն</label>
                                                            <select id="propertyselect" class="selectize-sm selectizeModal">
                                                                @if (Model.PropertyList != null && Model.PropertyList.Any())
                                                                {
                                                                    <option value="">Ընտրել</option>
                                                                    foreach (var item in Model.PropertyList)
                                                                    {
                                                                        <option value="@item.ID">@item.Name</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <div class="form-group">
                                                            <label for="propertyselectvalue">Հատկության արժեք</label>
                                                            @if (Model.PropertyList != null && Model.PropertyList.Any())
                                                            {
                                                                foreach (var item in Model.PropertyList)
                                                                {
                                                                    if (item.Fixed != null && item.Fixed.Value && item.Values != null && item.Values.Any())
                                                                    {
                                                                        <div class="propertyselectvalue hidden" id="propertyselectvaluediv@(item.ID)">
                                                                            <select id="propertyselectvalue@(item.ID)" class="selectize-sm selectizeModal">
                                                                                @foreach (var value in item.Values)
                                                                                {
                                                                                    <option value="@value.ID">@value.Value</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="propertyselectvalue hidden" id="propertyselectvaluediv@(item.ID)">
                                                                            <input data-custom="true" class="form-control input-sm" type="text" id="propertyselectvalue@(item.ID)" value="" />
                                                                        </div>
                                                                    }
                                                                }

                                                                <div class="propertyselectvalue" id="propertyselectvaluediv">
                                                                    <select id="propertyselectvalue" class="selectize-sm selectizeModal" disabled>
                                                                        <option value="">Ընտրել</option>
                                                                    </select>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <div class="btn-group btn-group-sm pull-right">
                                                                <button title="Ավելացնել" type="button" class="btn btn-sm btn-default btn-flat" id="addPropertyButton">Ավելացնել</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="tableWrap">
                                                <table class="table table-bordered table-valignM" id="propertyselectdraw">
                                                    <thead><tr><th>Հատկություն</th><th colspan="2">Հատկության արժեք</th></tr></thead>
                                                    <tbody id="selectedproperties">
                                                        @if (Model.CurrentLibItem != null && Model.CurrentLibItem.propList != null && Model.CurrentLibItem.propList.Any())
                                                        {
                                                            foreach (var item in Model.CurrentLibItem.propList)
                                                            {
                                                                <tr class="getPropertyListRow" data-newitem="false" data-custom="@((item.Fixed.Value) ? "false" : "true")" data-propertyid="@item.ID" data-propertyname="@item.Name" data-valueid="@item.Values.First().ID" data-valuename="@item.Values.First().Value">
                                                                    <td>@item.Name</td>
                                                                    <td>@item.Values.First().Value</td>
                                                                    <td>
                                                                        <button data-id="" class="btn btn-sm btn-default btn-flat removePropertyListRow" title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" @(Model.CurrentLibItem == null ? "disabled" : "")>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>