﻿@model  MVC___Internal_System_Administration.Models.ListsViewModel
@using CommonLayer.BusinessEntities

<div class="treeContentSelectFolder">
    <ul class="breadcrumbs" id="treeContentSelectFolderUL">
        @ListsHelpers.DrawPathWay(Model.PathWay)
    </ul>
    <div class="tableWrap">
        <div class="boxWrap">
            <div class="box">
                <div class="boxHeader">
                    <div class="boxHeaderLeft">
                        <h3>
                            <span id="listitemname">@Model.CurrentLibName</span>
                        </h3>
                    </div>
                    <div class="boxHeaderRight">
                        <a id="addlibitem" data-id="" data-ispath="@(Model.IsPath ? "true" : "false")" data-pathid="@Model.PathID" data-libid="@Model.LibID" title="Ավելացնել" href="#" type="button" class="btn btn-sm btn-default btn-flat">
                            <i class="fa fa-plus"></i>
                        </a>
                        <span id="libalerttext" class="hidden">Խնդրում ենք ավելացնել դասակարգիչ և կցել բաժնին</span>
                    </div>
                </div>
                <div class="boxBody">
                    <div class="tableWrap">
                        <table class="table table-bordered table-valignM" id="sort">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th colspan="2">Անվանում</th>
                                </tr>
                            </thead>
                            <tbody id="treeContentSelectFolderBody">
                                @if (Model.LibList != null && Model.LibList.Any())
                                {
                                    foreach (LibsEntity item in Model.LibList)
                                    {
                                        <tr>
                                            <td class="index">@item.ID</td>
                                            <td data-title="Անվանում"><input data-libid="@item.ID" value="@item.Name" class="form-control input-sm @((item.Depth == 0) ? "" : "LibItemIn")" type="@((item.Depth == 0) ? "text" : "button")" @((item.Depth == 0) ? "disabled" : "")/></td>
                                            <td>
                                                <div class="tableWrapEdit">
                                                    @if (item.Editable)
                                                    {
                                                        <button data-id="@item.ID" type="button" class="btn btn-sm btn-default btn-flat editLibItem">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        @*<a href="#" title="Հաստատել" type="button" class="btn btn-sm btn-default btn-flat hidden rowConfirmToggle">
                                                                <i class="fa fa-check"></i>
                                                            </a>*@
                                                        <button data-id="@item.ID" type="button" class="btn btn-sm btn-default btn-flat removeLibItem">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-flat btn-default" id="gobackbutton">Վերադառնալ</button>
    </div>
</div>