﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel

<div class="modal fade lists-row-edit-modal add-order-modal" id="addlibpathmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">Ավելացնել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-6">
                                                                <div class="form-group">
                                                                    <label for="add-file-toggle" class="add-file-label">
                                                                        <span>Ֆայլ`</span>
                                                                        <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat">Ավելացնել</span>
                                                                    </label>
                                                                    <span id="filename" class=""></span>
                                                                    <div hidden>
                                                                        <input class="getItemsModal checkValidateModal" name="File" type="file" id="add-file-toggle" accept="image/*,application/pdf,application/msword" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="Number">Հրամանի համար`</label>
                                                            <input name="OrderNumber" class="getItemsModal checkValidateModal form-control input-sm" id="Number" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="cell-date">Ում կողմից`</label>
                                                            <input name="OrderBy" class="getItemsModal checkValidateModal form-control input-sm" type="text" id="cell-date" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="cell-date">Ելքի Ամսաթիվ`</label>
                                                            <input name="OrderDate" class="DatesModal checkValidateModal getItemsModal form-control input-sm" type="text" id="cell-date" value="" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="acceptBtnModal" disabled>Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>