﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel
@using CommonLayer.BusinessEntities

<div class="rootAddForm workingforms">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-coretype">Տեսակ`</label>
                <select name="TypeID" id="add-coretype" class="selectize-sm selectize checkItems getItemsSelect" @((Model.CurrentOrgUnit != null) ? "disabled" : "")>
                    <option value="">Ընտրել</option>
                    @foreach (var item in Model.OrganizationTypes)
                    {
                        <option value="@item.ID" @(((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.TypeID == item.ID) || (Model.SelectedTypeID == item.ID)) ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="mainHolder">
        @if (Model.CurrentOrgUnit != null)
        {
            if (Model.CurrentOrgUnit.TypeID != 4)
            {
                @Html.Action("Draw_OrgUnit", "_Popup_", new { Data = Model.CurrentOrgUnit })
            }
            else
            {
                @Html.Action("Draw_OrgUnitPosition", "_Popup_", new { Data = Model.CurrentOrgUnit })
            }
        }
        else if (Model.SelectedTypeID != null)
        {
            if (Model.SelectedTypeID != 4)
            {
                @Html.Action("Draw_OrgUnit", "_Popup_", new { Data = Model.CurrentOrgUnit })
            }
            else
            {
                @Html.Action("Draw_OrgUnitPosition", "_Popup_", new { Data = Model.CurrentOrgUnit })
            }
        }
    </div>
    <div class="row" id="chooseEmployee">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="edit-role-main-employee">Կցված Աշխատակից`</label>
                <select id="edit-role-main-employee" name="BindPositionID" class="selectize-sm selectize disableFieldSelect getItemsSelect">
                    <option value="">Ընտրել</option>
                    @if (Model.BindPositionList != null)
                    {
                        foreach (var item in Model.BindPositionList)
                        {
                            <option value="@item.ID" @((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.BindPositionID != null && Model.CurrentOrgUnit.BindPositionID == item.ID) ? "selected" : "")>@item.Label</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Արտոնություններ`</label>
        <div class="tableWrap">
            <table class="table table-bordered table-valignM">
                <thead>
                    <tr>
                        <th>Անվանում</th>
                        <th colspan="3">Արտոնություններ</th>
                    </tr>
                </thead>
                <tbody id="permissionstablebody">
                    @if (Model.AllPermisionList != null && Model.AllPermisionList.Any())
                    {
                        foreach (PermEntity item in Model.AllPermisionList)
                        {
                            PermEntity SelectedPermission = new PermEntity();
                            if (Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Permissions != null)
                            {
                                List<PermEntity> FoundList = new List<PermEntity>();
                                FoundList = Model.CurrentOrgUnit.Permissions.FindAll(r => r.ID == item.ID);
                                if (FoundList.Any())
                                {
                                    SelectedPermission = FoundList.First();
                                }
                            }
                            <tr class="getPermission disableFieldElem" data-id="@item.ID">
                                <td data-title="Անվանում"><a href="#">@item.Name</a></td>
                                <td>
                                    <div class="mtCheckbox">
                                        <label>
                                            <input class="permissionRead@(item.ID) readCheckBox" data-id="@item.ID" type="checkbox" @((SelectedPermission.ID != null && SelectedPermission.PPType >= 0) ? "checked" : "")/>
                                            <span>Դիտել</span>
                                        </label>
                                    </div>
                                </td>
                                @if (item.PPType != 0)
                                {
                                    <td>
                                        <div class="mtCheckbox">
                                            <label>
                                                <input class="permissionWrite@(item.ID) writeCheckBox" data-id="@item.ID" type="checkbox"  @((SelectedPermission.ID != null && SelectedPermission.PPType > 0) ? "checked" : "")/>
                                                <span>Խմբագրել</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>Հաստատել</label>
                                            @if (Model.AllApproveList != null && Model.AllApproveList.Any())
                                            {
                                                @StructureHelpers.DrawApproveList(Model.AllApproveList, item.ID.Value, SelectedPermission.Approvers)
                                            }
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td></td><td></td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-flat btn-info" id="editRootBtn">Խմբագրել</button>
            <button type="button" class="btn btn-sm btn-flat btn-info hidden" id="declineEditRootBtn">Չեղարկել</button>
            <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="removeRootBtn">Հեռացնել</button>
            <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="saveRootBtn" @((Model.CurrentOrgUnit == null) ? "disabled" : "")>Հաստատել</button>
        </div>
    </div>
</div>