﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel

<div class="col-xs-12" id="add-root-role-wrap">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-role-name">Անվանում`</label>
                <input class="form-control input-sm disableFieldElem getItems checkItems" name="Label" type="text" id="add-root-role-name" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Label != null) ? Model.CurrentOrgUnit.Label : "")" />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-role-type1">Տեսակ`</label>
                <select id="add-root-role-type1" name="Single" class="selectize-sm selectize disableFieldSelect checkItems getItemsSelect">
                    <option value="True" @((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Single) ? "selected" : "")>Միանձնյա</option>
                    <option value="False" @((Model.CurrentOrgUnit != null && !Model.CurrentOrgUnit.Single) ? "selected" : "")>Բազմանձ</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label for="edit-role-visible-organisations">Տեսանելի Հիմնարկություններ`</label>
                <select id="edit-role-visible-organisations" name="VisibleOrgUnits" class="selectize-sm selectize disableFieldSelect getItemsSelectMulti" multiple>
                    @foreach (var item in Model.VisibleOrgUnitList)
                    {
                        <option value="@item.ID" @((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.VisibleOrgUnits.FindAll(r => r == item.ID).Any()) ? "selected" : "")>@item.Label</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>