﻿@model  MVC___Internal_System_Administration.Models.StructureViewModel

<div class="col-xs-12" id="add-root-org-wrap">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-org-name">Անվանում`</label>
                <input class="form-control input-sm disableFieldElem getItems checkItems" name="Label" type="text" id="add-root-org-name" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Label != null) ? Model.CurrentOrgUnit.Label : "")" />
            </div>
        </div>
        @*<div class="col-xs-12 col-md-4" id="addrootorgtypecol">
            <div class="form-group">
                <label for="add-root-org-type">Տեսակ`</label>
                <select id="add-root-org-type" class="selectize-sm selectize">
                    @Model.CurrentOrgUnit.StateID
                </select>
            </div>
        </div>*@
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-org-address">Հասցե`</label>
                <input class="form-control input-sm disableFieldElem getItems checkItems" name="Address" type="text" id="add-root-org-address" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Address != null) ? Model.CurrentOrgUnit.Address : "")" />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-org-phone">Հեռախոս`</label>
                <input class="form-control input-sm disableFieldElem getItems" name="Phone" type="text" id="add-root-org-phone" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Phone != null) ? Model.CurrentOrgUnit.Phone : "")" />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-org-fax">Ֆաքս`</label>
                <input class="form-control input-sm disableFieldElem getItems" name="Fax" type="text" id="add-root-org-fax" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Fax != null) ? Model.CurrentOrgUnit.Fax : "")" />
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="add-root-org-email">Էլ․ հասցե`</label>
                <input class="form-control input-sm disableFieldElem getItems" name="Email" type="email" id="add-root-org-email" value="@((Model.CurrentOrgUnit != null && Model.CurrentOrgUnit.Email != null) ? Model.CurrentOrgUnit.Email : "")" />
            </div>
        </div>
    </div>
</div>