﻿@model MVC___Internal_System_Administration.Models.StructureViewModel
@using CommonLayer.BusinessEntities


<div class="modal fade structure-tree-modal treeViewModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
				<h4 class="modal-title" id="myModalLabel">Ծառի դիտում</h4>
			</div>
			<div class="modal-body">
				<section class="boxWrap">
					<div class="box">
						<div class="boxBody">
							<div class="formsWrap">
								<div class="container-fluid">
									<div class="row">
										<div class="col-xs-12">
											<div class="treeWrap dragscroll">
												<div class="treeInside">
													<div class="tree">
														<ul>
															@foreach (OrgUnitEntity unit in Model.OrganizationUnits)
															{
																@StructureHelpers.DrawStructurePositionTree(unit)
															}
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="clearfix">
					<button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
				</div>
			</div>
		</div>
	</div>
</div>