﻿@model  MVC___Internal_System_Administration.Models.ListsViewModel

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>Ցանկեր</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">

                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="listTree">
                                    <div class="listTreeContent">
                                        @ListsHelpers.DrawLibList(Model.LibsList)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9 loaderDiv" id="viewholder">
                                <div class="treeMsg">
                                    <p>
                                        <span><i class="fa fa-arrow-left"></i></span>
                                        Ընտրեք ցանկը ձախից
                                    </p>
                                </div>
                                <div class="clearfix">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-sm btn-flat btn-default hidden" id="gobackbutton">Վերադառնալ</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="boxFooter">
                        <div class="boxFooterLeft">

                        </div>
                        <div class="boxFooterRight">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="widgetHolder">
</div>