﻿@using CommonLayer.BusinessEntities;

@*Draw Lib Path tree*@
@helper DrawLibList(LibPathEntity data)
{
        if (data.subitems.Any())
        {
            <div class="listTreeFolder">
                <button type="button" class="libpathelem collapsed listbuttons allSelectedElem selectedItem@(data.ID)" id="libpath@(data.ID)" data-target="#@data.ID" aria-controls="@data.ID" data-toggle="collapse" aria-expanded="false" data-id="@data.ID" data-name="@data.Name" data-parentid="@data.ParentID">
                    <span>@data.Name</span>
                </button>
                    <div class="collapse listTreeFolderIn @(data.ParentID == 0 ? "in" : "")" id="@data.ID">
                
                    @foreach (LibPathEntity subData in data.subitems)
                    {
                        @DrawLibList(subData)
                    }
                </div>
            </div>
        }
        else
        {
                <a data-id="@data.ID" class="libpathitem listbuttons allSelectedElem selectedItem@(data.ID)" id="libitem@(data.ID)" href="#"><span>@data.Name</span></a>
        }
}

@helper DrawPathWay(List<string> list) {
foreach(var item in list)
{
        <li>@item</li>
}
}