﻿@using CommonLayer.BusinessEntities;

@*Include additional files to head section*@
@helper InjectInitJavascript(List<string> FileNames)
{ 
    if (FileNames != null)
    {
        foreach (string FileName in FileNames)
        {
            <script type="text/javascript" src="~/Content/js/run/@FileName"></script>
        }
    }
}

@*User info after login with logout button*@
@helper ShowSystemUserInfo(string UserName)
{
    <li class="hdrUser dropdown">
        <a href="#" class="hdrUserToggle" title="User" data-target="#" id="hdrUSerToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @UserName
        </a>
        <ul class="dropdown-menu dropdown-menu-right userDropdown">
            <li class="dropdown-menu-header color-1-bg">
                <img src="~/Content/img/users/user-10.jpg" class="img-circle" alt="">
                <p>
                    @UserName<br />
                    System Admin<br />
                    Administration<br />
                    No Last Login
                </p>
            </li>
            <li class="dropdown-menu-footer userMenuFooter">
                <div class="pull-left">
                  @*  <a href="#" class="btn btn-sm btn-flat btn-default">Profile</a>*@
                </div>
                <div class="pull-right">
                    <a href="/Login/Logout" class="btn btn-sm btn-flat btn-default" id="logoutbutton">Ելք</a>
                </div>
            </li>
        </ul>
    </li>
}