﻿@using CommonLayer.BusinessEntities;

@helper DrawStructureList(OrgUnitEntity data)
{
    if (data != null && data.subItems.Any())
    {
        <div class="managerTreeFolder @GetRoleNameByTypeID(data.TypeID)Folder" data-id="@data.ID">
            @if (data.ParentID != 0)
            {
                <em class="handle"></em>
            }
            <button type="button" data-hassubitems="@(data.subItems.Any() ? "true" : "false")" data-editable="@data.Editable" data-typeid="@data.TypeID" data-parentid="@data.ParentID" data-id="@data.ID" data-target="#@data.ID" aria-controls="@data.ID" data-toggle="collapse" aria-expanded="@(data.TypeID == 1 || data.TypeID == 2 ? "true" : "false")" class="@(data.TypeID == 1 || data.TypeID == 2 ? "" : "collapsed") listbutton editroot@(data.ID) allSelectedElem selectedItem@(data.ID)">
                <span>@data.Label</span>
            </button>
            <div class="collapse managerTreeFolderIn @(data.TypeID == 1 || data.TypeID == 2 ? "in" : "") dragElem@(data.ParentID)" id="@data.ID" data-parentid="@data.ParentID" data-id="@data.ID">

                @foreach (OrgUnitEntity subData in data.subItems)
                {
                    @DrawStructureList(subData);
                }

                @if (data.Editable)
                {
                    if (data.TypeID == 4)
                    {
                        <a href="#" class="@GetRoleNameByTypeIDCustom(data.TypeID) listbutton @(data.TypeID == 4 ? "adduser" : "addroot")@(data.ID) @(data.Single ? "" : "") allSelectedElem selectedItem@(data.ID)" data-parentid="@data.ID" data-typeid="@data.TypeID" data-single="@(data.Single ? true : false)"><span>Ավելացնել</span></a>
                    }
                    else
                    {
                        <a href="#" class="listbutton rootAddBtn addroot@(data.ID) allSelectedElem selectedItem@(data.ID)" data-typeid="@data.TypeID" data-parentid="@data.ID"><span>Ավելացնել</span></a>
                    }
                }
            </div>

        </div>
    }
    else
    {
        <div class="managerTreeFolder @GetRoleNameByTypeID(data.TypeID)Folder dragElem@(data.ParentID)" data-parentid="@data.ParentID" data-id="@data.ID">
            <button type="button" data-hassubitems="@(data.subItems.Any() ? "true" : "false")" data-editable="@data.Editable" data-typeid="@data.TypeID" data-parentid="@data.ParentID" data-id="@data.ID" data-target="#@data.ID" aria-controls="@data.ID" data-toggle="collapse" aria-expanded="@(data.TypeID == 4 ? "false" : "true")" class="@(data.TypeID == 4 ? "collapsed" : "") listbutton editroot@(data.ID)" data-single="@(data.Single ? true : false)"><span>@data.Label</span></button>

            <div class="collapse @(data.TypeID == 4 ? "" : "in") managerTreeFolderIn" data-parentid="@data.ParentID" id="@data.ID">
                @if (data.Editable)
                {
                    <a href="#" class="@GetRoleNameByTypeIDCustom(data.TypeID) listbutton @(data.TypeID == 4 ? "adduser" : "addroot")@(data.ID) @(data.Single ? "" : "")" data-parentid="@data.ID" data-typeid="@data.TypeID" data-single="@(data.Single ? true : false)"><span>Ավելացնել</span></a>
                }
            </div>
        </div>
    }
}



@helper GetLibNameByID(int? id)
{
if (id != null)
{
    LibsEntity Lib = BusinessLayer.BusinessServices.BL_LibsLayer.getInstance().GetLibByID(LibID: id.Value);
    if (Lib != null)
    {
            @String.Format(Lib.Name);
        }
        else
        {
            @id;
    }
}
}
}

@helper GetNationalityByID(int? id)
{
if (id != null)
{
    BusinessLayer.BusinessServices.BL_LibsLayer BL_PrisonersLayer = new BusinessLayer.BusinessServices.BL_LibsLayer();
    List<NationalityEntity> nationality = BL_PrisonersLayer.GetNationality(id);
    if (nationality != null)
    {
            @String.Format(nationality.First().Label);
    }
    else
    {
            @id;
    }
}
}
}

@helper DrawStructurePositionTree(OrgUnitEntity data)
{
    <li>
        <a href="#">@data.Label</a>
        @if (data.subItems.Any())
        {
            <ul>
                @foreach (OrgUnitEntity subData in data.subItems)
                {
                    @DrawStructurePositionTree(subData)
                }
            </ul>
        }
    </li>
}

@helper GetRoleNameByTypeID(int TypeID)
{
switch (TypeID)
{
    default:
    case 1:
            @String.Format("root");
            break;
        case 2:
            @String.Format("org");
            break;
        case 3:
            @String.Format("dep");
            break;
        case 4:
            @String.Format("role");
            break;
        case 5:
            @String.Format("section");
            break;
    }
}

@helper GetRoleNameByTypeIDCustom(int TypeID)
{
switch (TypeID)
{
    default:
    case 1:
            @String.Format("rootAddBtn");
            break;
        case 2:
            @String.Format("rootAddBtn");
            break;
        case 3:
            @String.Format("depAddBtn");
            break;
        case 4:
            @String.Format("roleFolderAdd");
            break;
        case 5:
            @String.Format("rootAddBtn");
            break;
    }
}



@helper DrawApproveList(List<OrgUnitEntity> List, int PositionID, List<int> Approvers) {
    <div class="approveSelectWrap">
        <div class="approveSelectDropInside">
            <a href="javascript:;" class="approverNameItem@(PositionID)" data-defaultname="Ընտրել">Ընտրել</a>
        </div>
        <div id="approveSelect1" class="approve-select-dropdown dropdown-menu dropdown-menu-right">
            <section class="approve-select-dropdown-in-body">
                <ul>
                    @DrawApproveListHelper(List, PositionID, Approvers)
                </ul>
            </section>
        </div>
    </div>
}


@helper DrawApproveListHelper(List<OrgUnitEntity> List, int PositionID, List<int> Approvers) { 
    foreach (var item in List)
    {
        <li>
            @if (item.TypeID != 4)
            {
                if (item.subItems.Any())
                {
                    <h2>@item.Label</h2>
                    <ul>
                        @DrawApproveListHelper(item.subItems, PositionID, Approvers)
                    </ul>
                }
            }
            else
            {
                <label>
                    <input type="checkbox" class="getApprover@(PositionID) approverCheckBox" data-positionid="@PositionID" data-name="@item.Label" data-id="@item.ID" @((Approvers.FindAll(r=> r == item.ID).Any()) ? "checked" : "")/>
                    <span>@item.Label</span>
                </label>
            }
        </li>
    }

}

