﻿@model MVC___Internal_System.Models.PersonalVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
                <th>Դատապարտյալ(Կալանավոր)</th>
                <th>Տեսակցության տեսակ - տևողություն</th>
                <th class="tableDateCol">Սկիզբ</th>
                <th class="tableDateCol">Ավարտ</th>
                <th>Այցելու</th>
                <th>Թույլատրող անձ</th>
                <th colspan="2">Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody" class="loaderClass">
            @if (Model.ListDashboardPersonalVisits != null && Model.ListDashboardPersonalVisits.Any())
            {
                foreach (PersonalVisitsDashboardEntity curEntity in Model.ListDashboardPersonalVisits)
                {
                    <tr class="@if (curEntity.VisitStatus != null) { @String.Format(((!curEntity.VisitStatus.Value) ? "hasObjection" : "hasObjectionResult"))}">
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#PersonalVisits">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
                        @if (curEntity.PrisonerType == 3)
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
                        }
                        else
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
                        }
                        <td data-title="Տեսակցության տեսակ - տևողություն">@curEntity.TypeLibItemLabel</td>
                        <td data-title="Սկիզբ" class="tableDateCol">@curEntity.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                        <td data-title="Ավարտ" class="tableDateCol">
                        @if (curEntity.EndDate == null && curEntity.VisitStatus != null && curEntity.VisitStatus.Value)
                        {
                            if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Departures) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                            {
                                <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completePersonalVisitsRow">
                                    <i class="fa fa-check"></i>
                                </button>
                            }
                        }
                        else
                        {
                            @(curEntity.EndDate != null ? curEntity.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")
                        }
                        </td>
                        <td data-title="Այցելու">@curEntity.PersonName</td>
                        <td data-title="Թույլատրող անձ">@((curEntity.ApproverEmployeeID == null) ? "-" : MyHelpers.GetEmployeeNameByID(curEntity.ApproverEmployeeID).ToString())</td>
                        <td data-title="Կարգավիճակ" class="statusCol">
                            @if (curEntity.VisitStatus != null)
                            {
                                if (curEntity.VisitStatus == true)
                                {
                                <span>Կայացած</span>
                                }
                                else
                                {
                                    <span>Մերժված</span>
                                }
                            }
                            else
                            {
                                <span>Սպասման մեջ</span>
                                if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Packages) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                {
                                    <div class="btn-group">
                                        <button data-id="@curEntity.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declinePersonalVisitRow"><i class="fa fa-ban"></i></button>
                                        <button data-id="@curEntity.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approvePersonalVisitRow"><i class="fa fa-check"></i></button>
                                    </div>

                                }
                            }
                            </td>
                            <td>
                                <a title="Տպել" type="button" data-id="@curEntity.ID" href="/PersonalVisits/PersonalVisitsReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                                    <i class="fa fa-file-text"></i>
                                </a>
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.PersonalVisitsEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardPersonalVisits != null && Model.PersonalVisitsEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.PersonalVisitsEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.PersonalVisitsEntityPaging.CurrentPage == Model.PersonalVisitsEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalVisitTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalVisitTableRow/@(Model.PersonalVisitsEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.PersonalVisitsEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.PersonalVisitsEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int t = Model.PersonalVisitsEntityPaging.TotalPage;
                int c = Model.PersonalVisitsEntityPaging.CurrentPage;
                int v = Model.PersonalVisitsEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if (t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalVisitTableRow/@i" class="paginationBtn @((i == Model.PersonalVisitsEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalVisitTableRow/@(Model.PersonalVisitsEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalVisitTableRow/@Model.PersonalVisitsEntityPaging.TotalPage" class="paginationBtn forward @nextClass" data-pagenumber="@t"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>

<div id="widgetHolder"></div>
