﻿
<div class="col-xs-12">
    <div class="customSelectWrap">
        <div class="customSelectDropInside">
            <a href="javascript:;" id="customSelect1Drop">Ընտրել</a>
        </div>
        <div id="customSelect1" class="custom-select-dropdown dropdown-menu dropdown-menu-right">
            <section class="custom-select-dropdown-in-body">
                <ul>
                    <li>
                        <button data-target="#collapseExample1" aria-controls="collapseExample1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                            Collapsible item 1
                        </button>
                        <div class="collapse" id="collapseExample1">
                            <ul>
                                <li>
                                    <label>
                                        <input type="radio" name="customSelect1Val" />
                                        <span>Selectable item 1-1</span>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="customSelect1Val" />
                                        <span>Selectable item 1-2</span>
                                    </label>
                                </li>
                                <li>
                                    <button data-target="#collapseExample1-1" aria-controls="collapseExample1-1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                                        Collapsible item 1-1
                                    </button>
                                    <div class="collapse" id="collapseExample1-1">
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="radio" name="customSelect1Val" disabled />
                                                    <span>Selectable item 1-1-1</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="customSelect1Val" />
                                                    <span>Selectable item 1-1-2</span>
                                                </label>
                                            </li>
                                            <li>
                                                <button data-target="#collapseExample1-1-1" aria-controls="collapseExample1-1-1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                                                    Collapsible item 1-1-1
                                                </button>
                                                <div class="collapse" id="collapseExample1-1-1">
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="customSelect1Val" />
                                                                <span>Selectable item 1-1-1-1</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                <input type="radio" name="customSelect1Val" />
                                                                <span>Selectable item 1-1-1-2</span>
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <button data-target="#collapseExample1-1-1-1" aria-controls="collapseExample1-1-1-1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                                                                Collapsible item 1-1-1-1
                                                            </button>
                                                            <div class="collapse" id="collapseExample1-1-1-1">
                                                                <ul>
                                                                    <li>
                                                                        <label>
                                                                            <input type="radio" name="customSelect1Val" />
                                                                            <span>Selectable item 1-1-1-1-1</span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <label>
                                                                            <input type="radio" name="customSelect1Val" />
                                                                            <span>Selectable item 1-1-1-1-2</span>
                                                                        </label>
                                                                    </li>
                                                                    <li>
                                                                        <button data-target="#collapseExample1-1-1-1-1" aria-controls="collapseExample1-1-1-1-1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                                                                            Collapsible item 1-1-1-1-1
                                                                        </button>
                                                                        <div class="collapse" id="collapseExample1-1-1-1-1">
                                                                            <ul>
                                                                                <li>
                                                                                    <label>
                                                                                        <input type="radio" name="customSelect1Val" />
                                                                                        <span>Selectable item 1-1-1-1-1-1</span>
                                                                                    </label>
                                                                                </li>
                                                                                <li>
                                                                                    <label>
                                                                                        <input type="radio" name="customSelect1Val" />
                                                                                        <span>Selectable item 1-1-1-1-1-2</span>
                                                                                    </label>
                                                                                </li>
                                                                                <li>
                                                                                    <button data-target="#collapseExample1-1-1-1-1-1" aria-controls="collapseExample1-1-1-1-1-1" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                                                                                        Collapsible item 1-1-1-1-1-1
                                                                                    </button>
                                                                                    <div class="collapse" id="collapseExample1-1-1-1-1-1">
                                                                                        <ul>
                                                                                            <li>
                                                                                                <label>
                                                                                                    <input type="radio" name="customSelect1Val" />
                                                                                                    <span>Selectable item 1-1-1-1-1-1-1</span>
                                                                                                </label>
                                                                                            </li>
                                                                                            <li>
                                                                                                <label>
                                                                                                    <input type="radio" name="customSelect1Val" />
                                                                                                    <span>Selectable item 1-1-1-1-1-1-2</span>
                                                                                                </label>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="customSelect1Val" />
                            <span>Selectable item 1-1</span>
                        </label>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>