﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>

            <tr>
                <th>Անհատական համար</th>
                <th>Դատապարտյալ</th>
                <th>Դատապարտյալ<br />Կալանավոր</th>
                <th>Հանձնուքի տեսակ</th>
                <th>Քաշ (կգ)</th>
                <th>Ընդունման ամսաթիվ</th>
                <th>Հանձնող անձ</th>
                <th>Թույլատրող անձ</th>
                <th>Ընդունող անձ</th>
                <th>Կարգավիճակ</th>
                <th>Հաշվետվություն</th>
            </tr>

        </thead>
        <tbody id="maintablebody" class="loaderClass">
            @if (Model.ListDashboardPackages != null && Model.ListDashboardPackages.Any())
            {
                foreach (PackagesDashboardEntity curEntity in Model.ListDashboardPackages)
                {
                    <tr class="@if (curEntity.ApproveStatus != null) { @String.Format(((!curEntity.ApproveStatus.Value) ? "hasObjection" : "hasObjectionResult"))}">
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Packages">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
                        @if (curEntity.PrisonerType == 3)
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
                        }
                        else
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
                        }
                        <td data-title="Հանձնուքի տեսակ">@curEntity.TypeLibItemLabel</td>
                        <td data-title="Քաշ (կգ)">@curEntity.Weight</td>
                        <td data-title="Ամսաթիվ" class="tableDateCol">@(curEntity.AcceptDate != null ? curEntity.AcceptDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
                        <td data-title="Այցելու">@curEntity.PersonName</td>
                        <td data-title="Թույլատրող անձ">@((curEntity.AcceptDate == null) ? "-" : curEntity.ApproveEmployeeName)</td>
                        <td data-title="Ընդունող անձ">@curEntity.EmployeeName</td>
                        <td data-title="Կարգավիճակ" class="statusCol">

                            @if (curEntity.AcceptDate == null)
                            {
                                <span>Սպասման մեջ</span><br />
                                if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Packages) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                {
                                    <button data-id="@curEntity.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declinePackageRow"><i class="fa fa-ban"></i></button>
                                    <button data-id="@curEntity.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approvePackageRow"><i class="fa fa-check"></i></button>
                                }
                            }
                            else
                            {
                                if (curEntity.ApproveStatus != null && curEntity.ApproveStatus.Value)
                                {
                                    <span>Հաստատված</span>
                                }
                                else
                                {
                                    <span>Մերժված</span>
                                }
                            }
                        </td>
                        <td>
                            <a title="Տպել" type="button" data-id="@curEntity.ID" href="/Packages/PackageReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                                <i class="fa fa-file-text"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.PackagesEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.PackagesEntityPaging != null && Model.PackagesEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.PackagesEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.PackagesEntityPaging.CurrentPage == Model.PackagesEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PackageTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PackageTableRow/@(Model.PackagesEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass" data-pagenumber="@(Model.PackagesEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.PackagesEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int t = Model.PackagesEntityPaging.TotalPage;
                int c = Model.PackagesEntityPaging.CurrentPage;
                int v = Model.PackagesEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if (t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PackageTableRow/@i" class="paginationBtn @((i == Model.PackagesEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PackageTableRow/@(Model.PackagesEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PackageTableRow/@Model.PackagesEntityPaging.TotalPage" class="paginationBtn forward @nextClass" data-pagenumber="@t"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>
