﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

    <div class="row">
        <div class="col-xs-12 @(((Model.Prisoner.PhysicalData != null && Model.Prisoner.PhysicalData.MergeStatus != null && Model.Prisoner.PhysicalData.MergeStatus.Value)||(Model.Prisoner.ID != null  && Model.Prisoner.PhysicalData.HeightWeight.Any() && Model.Prisoner.PhysicalData.HeightWeight.FindAll(r=>r.MergeStatus == true).Any())) ? "" : "hidden") physicalMergeWarningClass">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
                <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="physical-height">Հասակ (սմ)`</label>
                        <input class="form-control input-sm" type="text" id="physical-height" value="@((Model.Prisoner.ID != null  && Model.Prisoner.PhysicalData.HeightWeight.Any()) ? Model.Prisoner.PhysicalData.HeightWeight.Last().Height.ToString() : "")" disabled/>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="physical-weight">Կշիռ (կգ)`</label>
                        <input class="form-control input-sm" type="text" id="physical-weight" value="@((Model.Prisoner.ID != null  && Model.Prisoner.PhysicalData.HeightWeight.Any()) ? Model.Prisoner.PhysicalData.HeightWeight.Last().Weight.ToString() : "")" disabled/>
                    </div>
                </div>
                @if (Model.Prisoner.ID != null&& (int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)  {
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label></label>
                            <button class="btn btn-sm btn-default btn-flat" id="addheightweight" title="Խմբագրել"><i class="fa fa-pencil"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-skin-color">Մաշկի գույն`</label>
					<select name="SkinColorLibItem_ID" id="physical-skin-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.SkinColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.SkinColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-eye-color">Աչքերի գույն`</label>
					<select name="EyesColorLibItem_ID" id="physical-eye-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.EyesColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.EyesColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-hair-color">Մազերի գույն`</label>
					<select name="HairsColorLibItem_ID" id="physical-hair-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.HairColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.HairsColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-blood-type">Արյան կարգ`</label>
					<select name="BloodTypeLibItem_ID" id="physical-blood-type" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.BloodType)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.BloodTypeLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="hidden" id="physicaldataid" data-physicalid="@(Model.Prisoner.ID != null ? Model.Prisoner.PhysicalData.ID.ToString() : "")">
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<label for="physical-description">Արտաքին նկարագրություն`</label>
			<textarea name="ExternalDesc" class="getItems checkValidate form-control input-sm" id="physical-description" rows="4">@(Model.Prisoner.ID != null ? Model.Prisoner.PhysicalData.ExternalDesc : "")</textarea>
		</div>
	</div>
}
else
{
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-skin-color">Մաշկի գույն`</label>
					<select disabled name="SkinColorLibItem_ID" id="physical-skin-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.SkinColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.SkinColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-eye-color">Աչքերի գույն`</label>
					<select disabled name="EyesColorLibItem_ID" id="physical-eye-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.EyesColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.EyesColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-hair-color">Մազերի գույն`</label>
					<select disabled name="HairsColorLibItem_ID" id="physical-hair-color" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.HairColor)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.HairsColorLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="physical-blood-type">Արյան կարգ`</label>
					<select disabled name="BloodTypeLibItem_ID" id="physical-blood-type" class="getItems checkValidate selectize-sm selectizeMain">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity lib in Model.BloodType)
						{
							<option value="@lib.ID" @(Model.Prisoner.PhysicalData.BloodTypeLibItem_ID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="hidden" id="physicaldataid" data-physicalid="@(Model.Prisoner.ID != null ? Model.Prisoner.PhysicalData.ID.ToString() : "")">
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="form-group">
			<label for="physical-description">Արտաքին նկարագրություն`</label>
			<textarea disabled name="ExternalDesc" class="getItems checkValidate form-control input-sm" id="physical-description" rows="4">@(Model.Prisoner.ID != null ? Model.Prisoner.PhysicalData.ExternalDesc : "")</textarea>
		</div>
	</div>
}

@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
        if (Model.Prisoner != null && Model.Prisoner.ID != null)
		{
            <div class="col-xs-12">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default btn-flat" id="savePhysicalDataButton" >Հաստատել</button>
                </div>
            </div>
		}
}
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label>Հաշմանդամություն`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th class="tableDateCol">Ամսաթիվ</th>
											<th>Կարգ`</th>
                                            <th>Նկարագրություն`</th>
                                            <th colspan="2">Վկայական (համար, ամսաթիվ, ում կողմից)</th>
                                        </tr>
                                    </thead>
                                    <tbody id="invalideTableBody" class="invalidLoader">
                                        @if (Model.Prisoner.ID != null)
                                        {
                                            @Html.Action("Draw_InvalidTableRows", "_Popup_", new { invalids = Model.Prisoner.PhysicalData.Invalides })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                   @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				   {
					 <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="invalidsmodalbtn">Ավելացնել</button>
                        </div>
                    </div>
				   }
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label>Հակվածություններ`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Տեսակ</th>
                                            @*<th>Ենթատեսակ`</th>*@
                                            <th class="tableDateCol">Ամսաթիվ`</th>
                                            <th colspan="2">Նկարագրություն`</th>
                                        </tr>
                                    </thead>
                                    <tbody id="leaningTableBody" class="leaningLoader">
                                        @if (Model.Prisoner.ID != null)
                                        {
                                            @Html.Action("Draw_LeaningTableRows", "_Popup_", new { Leanings = Model.Prisoner.PhysicalData.Leanings })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addleaningbtn">Ավելացնել</button>
                        </div>
                    </div>
                </div>
}
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileMain">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
				 </label>
                <div class="tableWrap">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Կարգավիճակ</th>
                                <th>Նկարագրություն</th>
                                <th>Ավելացման Ամսաթիվ</th>
                                <th>Ծավալ</th>
                                <th><i class="fa fa-download"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addPysicalFilesTableRow" class="fileLoader">
                            @if (Model.Prisoner.ID != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.PhysicalData.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>