﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="personal-old-sentence">Նախկին դատվածություն`</label>
                    <select id="personal-old-sentence" class="selectize-sm selectize">
                        <option value="0" @((Model.Prisoner != null && Model.Prisoner.MainData != null && Model.Prisoner.MainData.PreviousConvictions != null && Model.Prisoner.MainData.PreviousConvictions.Any()) ? "" : "selected")>Չունի</option>
                        <option value="1" @((Model.Prisoner != null && Model.Prisoner.MainData != null && Model.Prisoner.MainData.PreviousConvictions != null && Model.Prisoner.MainData.PreviousConvictions.Any()) ? "selected" : "")>Ունի</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 @((Model.Prisoner != null && Model.Prisoner.MainData != null && Model.Prisoner.MainData.PreviousConvictions != null && !Model.Prisoner.MainData.PreviousConvictions.Any()) ? "hidden" : "")" id="personal-old-sentence-wrap">
                <div class="form-group">
                    <div class="tableWrap">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Օրենսգիրք</th>
                                    <th>Հոդված</th>
                                    <th>Պատժատեսակ</th>
                                    <th>Պատժաչափ</th>
                                    <th>Պատժի սկիզբ - ավարտ</th>
                                    <th colspan="2">Նշումներ</th>
                                </tr>
                            </thead>
                            <tbody id="PrevConvTableBody" class="prevLoader">
                                @if (Model.Prisoner.ID != null && Model.Prisoner.MainData != null && Model.Prisoner.MainData.PreviousConvictions != null)
                                {
                                    @Html.Action("Draw_PreviousConvictionsTableRow", "_Popup_", new { PreviousConvictions = Model.Prisoner.MainData.PreviousConvictions });
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
               @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
			   {
				 <div class="form-group">
                    <div class="btn-group btn-group-sm pull-right">
                        <button type="button" class="btn btn-default btn-flat" id="addPrevConviction">Ավելացնել</button>
                    </div>
                </div>
			   }
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label class="add-file-label" id="addfileimage">
                <span>Կցված Նկարներ`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
            </label>
            <div class="tableWrap">
                <table class="table table-bordered table-valignM">
                    <thead>
                        <tr>
                            <th>Նկարի անվանում</th>
                            <th>Կարգավիճակ</th>
                            <th>Նկարագրություն</th>
                            <th>Ավելացման Ամսաթիվ</th>
                            <th>Ծավալ</th>
                            <th title="Ներբեռնել"><i class="fa fa-download"></i></th>
                        </tr>
                    </thead>
                    <tbody id="imagefileTableBody" class="imageLoader">
                        @if (Model.Prisoner.ID != null)
                        {
                            @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.MainData.Images, PrisonerID = Model.Prisoner.ID });
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileMain">
                <span>Կցված այլ ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
            </label>
            <div class="tableWrap">
                <table class="table table-bordered table-valignM">
                    <thead>
                        <tr>
                            <th>Նկարի անվանում</th>
                            <th>Կարգավիճակ</th>
                            <th>Նկարագրություն</th>
                            <th>Ավելացման Ամսաթիվ</th>
                            <th>Ծավալ</th>
                            <th title="Ներբեռնել"><i class="fa fa-download"></i></th>
                        </tr>
                    </thead>
                    <tbody id="allfileTableBody" class="fileLoader">
                        @if (Model.Prisoner.ID != null)
                        {
                            @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.MainData.Files, PrisonerID = Model.Prisoner.ID });
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>