﻿@{
    //Layout = null;
}

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxBody">
                        <div class="formsWrap ">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="errorWrap">
                                            <h1>Error 403</h1>
                                            <p>Դուք թույլատվություն չունեք տվյալ էջ մուտք գործելու համար։</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

