﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group @((Model.Prisoner.ID != null) ? "hidden" : "")" id="person-photo-custom">
					<label class="add-file-label" for="add-custom-user-image">
						<span>Նկար`</span>
						<span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
					</label>
				</div>
				<div class="hidden">
					<input type="file" id="add-custom-user-image" />
				</div>
				@if (Model.Prisoner.ID != null)
				{
					@MyHelpers.drawImageSlides(Model.Images)
				}
				else
				{
					<img id="person-photolink" src="@((Model.Prisoner.ID != null && Model.Prisoner.Person.PhotoLink != null)? Model.Prisoner.Person.PhotoLink : BusinessLayer.BusinessServices.BL_Files.getInstance().getDefaultPhotoLink())" alt="" class="img-responsive" />
				}
			</div>

		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="form-group">
			<label for="personal-id">Անհատական համար(ID)`</label>
			<input class="form-control input-sm" type="text" id="personal-id" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.Personal_ID != null)? Model.Prisoner.Person.Personal_ID : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-document-id">Անձնական գործի համար`</label>
			<input class="form-control input-sm" type="text" id="personal-document-id" value="@((Model.Prisoner.ID != null && Model.Prisoner.PersonalCaseNumber != null)? Model.Prisoner.PersonalCaseNumber.ToString() : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-name-1">Անուն`</label>
			<input class="form-control input-sm" type="text" id="personal-name-1" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.FirstName != null)? Model.Prisoner.Person.FirstName : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-name-2">Ազգանուն`</label>
			<input class="form-control input-sm" type="text" id="personal-name-2" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.LastName != null)? Model.Prisoner.Person.LastName : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-name-3">Հայրանուն`</label>
			<input class="form-control input-sm" type="text" id="personal-name-3" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.MiddleName != null)? Model.Prisoner.Person.MiddleName : "")" disabled />
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="form-group">
			<label for="personal-bd">Ծննդ. ամսաթիվ`</label>
			<input class="form-control input-sm" type="text" id="personal-bd" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.Birthday != null)? Model.Prisoner.Person.Birthday.Value.ToString("dd/MM/yyyy") : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-sex">Սեռ`</label>
			<select id="personal-sex" class="selectize-sm selectize" disabled>
				@foreach (LibsEntity lib in Model.Gender)
				{
					PropsEntity curprop = lib.propList.Find(r => r.ID == (int)PropsEntity.PropToLibID.IDENTIFICATION_CODE);
					String idCode = curprop.Values[0].Value;
					<option data-id="@lib.ID" value="@idCode" @(Model.Prisoner.ID != null && Model.Prisoner.Person != null && lib.ID == Model.Prisoner.Person.SexLibItem_ID ? "selected='selected'" : "")>@lib.Name</option>
				}
			</select>
		</div>
		<div class="form-group">
			<label for="personal-nationality">Ազգություն`</label>
			<select id="personal-nationality" class="selectize-sm selectize" disabled>
				@foreach (NationalityEntity nationality in Model.Nationality)
				{
					<option data-value="@nationality.Code" value="@nationality.ID" @((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.NationalityID != null && nationality.ID == Model.Prisoner.Person.NationalityID) ? "selected='selected'" : "")>@nationality.Label</option>
				}
			</select>
		</div>
		<div class="form-group">
			<label for="personal-reg-address">Գրանցման հասցե`</label>
			<input class="form-control input-sm" type="text" id="personal-reg-address" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.Registration_address != null)? Model.Prisoner.Person.Registration_address : "")" disabled />
		</div>
		<div class="form-group">
			<label for="personal-living-address">Բնակության վայր`</label>
			<input class="form-control input-sm" type="text" id="personal-living-address" value="@((Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.Living_place != null)? Model.Prisoner.Person.Living_place : "")" disabled />
		</div>
		<div class="form-group">
			<div class="btn-group btn-group-sm pull-right">
				@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				{
					if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() != "Edit")
					{
						<button type="button" class="btn btn-default btn-flat" id="findpersoninpolice">Փնտրել</button>
					}
					else if (Model.Prisoner.State == false)
					{
						<button type="button" class="btn btn-default btn-flat" id="removeperson">Հեռացնել</button>
					}
				}
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="formsWrapSeparator"></div>
		<div class="form-group">
			<label>Անձը հաստատող փաստաթուղթ`</label>
			<div class="tableWrap">
				<table class="table table-bordered table-valignM">
					<thead>
						<tr>
							<th>Քաղաքացիություն</th>
							<th>Տեսակ</th>
							<th>Համար</th>
							<th>Ամսաթիվ</th>
							<th colspan="2">Ում կողմից</th>
						</tr>
					</thead>
					<tbody id="docidentitytablebody" class="docIdentityLoader">
						@if (Model.Prisoner.ID != null && Model.Prisoner.Person != null && Model.Prisoner.Person.IdentificationDocuments != null)
						{
							@Html.Action("Draw_DocIdentity_Table_Row", "_Popup_", new { idDocList = Model.Prisoner.Person.IdentificationDocuments });
						}
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<div class="btn-group btn-group-sm pull-right">
				@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
				{
					<button type="button" class="btn btn-default btn-flat" id="adddocidentify">Ավելացնել</button>
				}
			</div>
		</div>
	</div>
</div>