﻿@model MVC___Internal_System.Models.AmnestyViewModel
@using CommonLayer.BusinessEntities;
<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>Ավելացնել համաներում</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">

                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="amnesty-number">Որոշման համար`</label>
                                    <input name="Number" value="@((Model.currentAmnesty != null && Model.currentAmnesty.Number != null) ? Model.currentAmnesty.Number : "")" class="getItems form-control input-sm checkValidate" id="amnesty-number" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="amnesty-name">Անվանում`</label>
                                    <input name="Name" value="@((Model.currentAmnesty != null && Model.currentAmnesty.Name != null) ? Model.currentAmnesty.Name : "")" class="getItems form-control input-sm checkValidate" id="amnesty-name" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="amnesty-description">Նկարագրություն`</label>
                                    <textarea name="Description" class="getItems form-control input-sm" id="amnesty-description" cols="" rows="4">@((Model.currentAmnesty != null && Model.currentAmnesty.Description != null) ? Model.currentAmnesty.Description : "")</textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="amnesty-type">Տիպը`</label>
                                    <select name="TypeLibItemID" id="TypeLibItemID" class="getItems checkValidate selectize-sm selectize">
                                        <option value="">Ընտրել</option>
                                        @foreach (LibsEntity Lib in Model.TypeLibList)
                                        {
                                            <option value="@Lib.ID" @((Model.currentAmnesty != null && Model.currentAmnesty.TypeLibItemID != null && Model.currentAmnesty.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="amnesty-source">Սկզբնաղբյուրը`</label>
                                    <input name="Source" value="@((Model.currentAmnesty != null && Model.currentAmnesty.Source != null) ? Model.currentAmnesty.Source : "")" class="getItems checkValidate form-control input-sm" id="amnesty-source" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <label for="amnesty-accepting-person">Ընդունող մարմին`</label>
                                            <select name="RecipientLibItemID" id="RecipientLibItemID" class="getItems checkValidate selectize-sm selectize">
                                                <option value="">Ընտրել</option>
                                                @foreach (LibsEntity Lib in Model.ReciepeLibList)
                                                {
                                                    <option value="@Lib.ID" @((Model.currentAmnesty != null && Model.currentAmnesty.RecipientLibItemID != null && Model.currentAmnesty.RecipientLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <label for="amnesty-accept-date">Ընդունման ամսաթիվ`</label>
                                            <input name="AcceptDate" value="@((Model.currentAmnesty != null && Model.currentAmnesty.AcceptDate != null) ? Model.currentAmnesty.AcceptDate.Value.ToString("dd/MM/yyyy") : "")" class="getItems form-control input-sm Dates checkValidate" id="amnesty-accept-date" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <label for="amnesty-signing-person">Ստորագրող մարմին`</label>
                                            <select name="SignatoriesLibItemID" id="SignatoriesLibItemID" class="getItems checkValidate selectize-sm selectize">
                                                <option value="">Ընտրել</option>
                                                @foreach (LibsEntity Lib in Model.SignPersonLibList)
                                                {
                                                    <option value="@Lib.ID" @((Model.currentAmnesty != null && Model.currentAmnesty.SignatoriesLibItemID != null && Model.currentAmnesty.SignatoriesLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-3">
                                        <div class="form-group">
                                            <label for="amnesty-sign-date">Ստորագրման ամսաթիվ`</label>
                                            <input name="SignDate" value="@((Model.currentAmnesty != null && Model.currentAmnesty.SignDate != null) ? Model.currentAmnesty.SignDate.Value.ToString("dd/MM/yyyy") : "")" class="getItems checkValidate form-control input-sm Dates" id="amnesty-sign-date" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="amnesty-activation-date">Ուժի մեջ մտնելու ամսաթիվ`</label>
                                    <input name="EnterDate" value="@((Model.currentAmnesty != null && Model.currentAmnesty.EnterDate != null) ? Model.currentAmnesty.EnterDate.Value.ToString("dd/MM/yyyy") : "")" class="getItems checkValidate form-control input-sm Dates" id="amnesty-activation-date" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="amnesty-deactivation-date">Ուժը կորցնելու ամսաթիվ`</label>
                                    <input name="EndDate" value="@((Model.currentAmnesty != null && Model.currentAmnesty.EndDate != null) ? Model.currentAmnesty.EndDate.Value.ToString("dd/MM/yyyy") : "")" class="getItems checkValidate form-control input-sm Dates" id="amnesty-deactivation-date" type="text" />
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Պայմաններ</label>
                                    <div class="hidden main"><li>
                                        <label>
                                            <span>1</span>
                                            <input class="form-control input-sm checkValidatePoints getPoints" type="text" data-id="" data-tempid="1" data-parentid="0" data-new="true" />
                                        </label>
                                        <div class="btn-group btn-group-sm pull-left">
                                            <button class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white removeRow" title="Վերացնել">
                                                <i class="fa fa-close"></i>
                                            </button>
                                            <a href="#" title="Ավելացնել ենթապայման" type="button" class="btn btn-sm btn-default btn-flat addChild">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                    </li></div>
                                    <ul class="mainone multilevel">
                                        @if (Model.currentAmnesty == null)
                                        {
                                            <li>
                                                <label>
                                                    <span>1</span>
                                                    <input class="form-control input-sm checkValidate getPoints" type="text" data-id="" data-tempid="1" data-parentid="0" data-new="true" />
                                                </label>
                                                <div class="btn-group btn-group-sm pull-left">
                                                    <button class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white removeRow" title="Վերացնել">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                    <a href="#" title="Ավելացնել ենթապայման" type="button" class="btn btn-sm btn-default btn-flat addChild">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        }
                                        @if (Model.currentAmnesty != null)
                                        {
                                            @MyHelpers.DrawAmnestyPoints(Model.currentAmnesty.AmnestyPoints)
                                        }
                                    </ul>
                                    <div class="btn-group btn-group-sm pull-left">
                                        <a href="#" class="btn btn-default btn-flat addRow">Ավելացնել պայման</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <a href="" class="btn btn-default btn-flat" id="acceptBtn" disabled>Հաստատել</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <div class="boxFooterLeft">
                        </div>
                        <div class="boxFooterRight">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>