﻿@model MVC___Internal_System.Models.AmnestyViewModel
@using CommonLayer.BusinessEntities
<div class="tableWrapIn">
	<table class="table table-bordered table-valign">
		<thead>
			<tr>
				<th>Որեշման համար</th>
				<th>Անվանում</th>
				<th class="">Ընդունման Ամսաթիվ</th>
				<th class="">Ուժի մեջ մտնելու ամսաթիվ</th>
				<th class="">Ստորագրման ամսաթիվ</th>
				<th class="">Ստեղծման ամսաթիվ</th>
			</tr>
		</thead>
		<tbody id="tableamnestyBody" class="loaderClass">
			@if (Model.ListDashboardAmnesty != null)
			{
				foreach (PrisonerEntity curEntity in Model.Amnestiepersons)
				{
					<tr>
						<td data-title="Որեշման համար"><a href="/Amnesty/Edit/@curEntity.ID">@curEntity.ID</a></td>
						<td data-title="Անվանում">@curEntity.PersonalCaseNumber</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<div class="tableWrapPagination">
	<div class="tableWrapPaginationLeft">
		Գտնվել է <strong>@Model.AmnestyEntityPaging.TotalCount</strong> արդյունք
	</div>
	<div class="tableWrapPaginationRight">
		<ul class="pagination pagination-sm">
			@if (Model.ListDashboardAmnesty != null && Model.AmnestyEntityPaging.TotalPage > 1)
			{
				string backClass = "";
				string nextClass = "";
				if (Model.AmnestyEntityPaging.CurrentPage == 1)
				{
					backClass = "disabled";
				}

				if (Model.AmnestyEntityPaging.CurrentPage == Model.AmnestyEntityPaging.TotalPage)
				{
					nextClass = "disabled";
				}

				if (backClass.IsEmpty())
				{
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_AmnestyTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_AmnestyTableRow/@(Model.AmnestyEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.AmnestyEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
				}
				else
				{
					<li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
					<li><a class="latest @backClass" data-pagenumber="@(Model.AmnestyEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
				}

				int i = 1;
				int t = Model.AmnestyEntityPaging.TotalPage;
				int c = Model.AmnestyEntityPaging.CurrentPage;
				int v = Model.AmnestyEntityPaging.ViewCount;
				int l = v;

				if (t > v)
				{
					if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
					{
						i = c - (v / 2 - 1) - v % 2;
						l = c + v / 2;
					}
					else if (c >= t - ((double)v / 2.0))
					{
						i = t - v + 1;
						l = t;
					}
				}
				else if (t < v)
				{
					l = t;
				}
				for (; i <= l; i++)
				{
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_AmnestyTableRow/@i" class="paginationBtn @((i == Model.AmnestyEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
				}
				if (nextClass.IsEmpty())
				{
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_AmnestyTableRow/@(Model.AmnestyEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
					<li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_AmnestyTableRow/@Model.AmnestyEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
				}
				else
				{
					<li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
					<li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
				}
			}
		</ul>
	</div>
</div>



