﻿@model MVC___Internal_System.Models.AmnestyViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <a href="@Url.Action("Add", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())" title="Նոր" type="button" class="btn btn-sm btn-default btn-flat">
                                <i class="fa fa-plus"></i>
                            </a>

                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="tableWrap">
                          
                           
							<div class="tableWrap" id="amnesty_list">
								@Html.Action("Get_AmnestyTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
							</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="widgetHolder"></div>