﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="login" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />


    @Styles.Render("~/Content/css/font-awesome.css")
    @Styles.Render("~/Content/css/bootstrap.css")
    @Styles.Render("~/Content/css/main.css")
    <link rel="icon" href="/Content/img/favicon.ico" type="image/x-icon" />

    @Scripts.Render("~/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
    @Scripts.Render("~/Content/js/vendor/jquery-2.2.1.min.js")
    @Scripts.Render("~/Content/js/vendor/jquery-ui-1.11.4.min.js")
    @Scripts.Render("~/Content/js/vendor/jquery.cookie.js")
    @Scripts.Render("~/Content/js/vendor/moment-with-locales.min.js")
    @Scripts.Render("~/Content/js/vendor/bootstrap.min.js")
    @Scripts.Render("~/Content/js/vendor/selectize/selectize.min.js")
    @Scripts.Render("~/Content/js/vendor/daterangepicker.js")

    @Scripts.Render("~/Content/js/_mvc.core.js")
    @Scripts.Render("~/Content/js/_mvc.main.js")
    @Scripts.Render("~/Content/js/_mvc.boot.js")

    @*@MyHelpers.InjectInitJavascript(ViewBag.FileNames)*@
</head>
<body>
    <section id="wrap">
        <header>
            <section class="headerTop color-1-bg">
                <div class="headerRight">
                    <ul>
                        @if (ViewBag.LoggedIn)
                        {
                            @MyHelpers.ShowSystemUserInfo(ViewBag.FirstName);
                        }
                    </ul>
                </div>
            </section>
            <section class="headerBottom">
                <div class="headerLeft">
                    <div class="logo">
                        <img src="~/Content/img/gerb.png" alt="" title="" />
                        <div class="logoText">
                            <div class="logoTextIn">
                                <h1>Հայաստանի <br />Հանրապետության <br />Արդարադատության <br />Նախարարություն</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headerRight">
                    <div class="headerName">
                        <div class="headerNameIn">
                            <!--<h2>«<span>Նուբարաշեն</span>»</h2>-->
                            <h3>Քրեակատարողական վարչություն</h3>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        @if (ViewBag.LoggedIn)
        {
            <menu>
                <ul>
                    <li><a href="/Lists" name="Lists" id="classifiers" class="menutab">Ցանկեր</a></li>
                    <!--<li><a href="02-users.html">Օգտատերեր</a></li>-->
                    <li><a href="/Structure" name="Structure" id="structures" class="menutab">Կառուցվածք</a></li>
                    <!--<li><a href="03-organisations.html">Հիմնարկություններ</a></li>-->
                </ul>
            </menu>
        }
        @RenderBody()
        <footer></footer>
    </section>
</body>
</html>







