﻿
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>@ViewBag.Title</title>
	<meta name="description" content="login" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />


	@Styles.Render("~/Content/css/font-awesome.css")
	@Styles.Render("~/Content/css/bootstrap.css")
	@Styles.Render("~/Content/css/main.css")
	<link rel="stylesheet" type="text/css" href="/Content/css/main-print.css" media="print" />
	<link rel="icon" href="/Content/img/favicon.ico" type="image/x-icon" />

	@Scripts.Render("~/Content/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
	@Scripts.Render("~/Content/js/vendor/jquery-2.2.1.min.js")
	@Scripts.Render("~/Content/js/vendor/jquery-ui-1.11.4.min.js")
	@Scripts.Render("~/Content/js/vendor/moment-with-locales.min.js")
	@Scripts.Render("~/Content/js/vendor/bootstrap.min.js")
	@Scripts.Render("~/Content/js/vendor/selectize/selectize.min.js")
	@Scripts.Render("~/Content/js/vendor/daterangepicker.js")
    @Scripts.Render("~/Content/js/vendor/dragscroll.js")
	@Scripts.Render("~/Content/js/vendor/jquery.tablescroll.js")

	@Scripts.Render("~/Content/js/_mvc.core.js")
	@Scripts.Render("~/Content/js/_mvc.main.js")
	@Scripts.Render("~/Content/js/_mvc.boot.js")

	@*@Scripts.Render("~/Content/js/app.js")*@

	@*@MyHelpers.InjectInitJavascript(ViewBag.FileNames)*@

</head>
<body clas="page-error">
	<section id="wrap">
		<header>
			<section class="headerTop color-1-bg">
				<div class="headerRight">
					<ul>
						@if (ViewBag.LoggedIn != null && ViewBag.LoggedIn)
						{
							@MyHelpers.ShowSystemUserInfo(ViewBag);
						}
					</ul>
				</div>
			</section>
			<section class="headerBottom">
				<div class="headerLeft">
					<div class="logo">
						<a href="~/Dashboard/Index" id="logoImage"><img src="/Content/img/gerb.jpeg" alt="" title="" /></a>
						<div class="logoText">
							<div class="logoTextIn">
								<h1>Հայաստանի <br />Հանրապետության <br />Քրեակատարողական <br />Ծառայություն</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="headerRight">
					<div class="headerName">
						<div class="headerNameIn">

							@{
								string QKH = "";
							}
							@if (ViewBag.LoggedIn != null && ViewBag.LoggedIn)
							{
								if (ViewBag.VisibleOrgUnits.Count == 1)
								{
									<h2>
										«<span>
											@foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
											{
												<span>@item.Value</span>
}
										</span>»
									</h2>
									<h3>Քրեակատարողական հիմնարկ</h3>
								}
								else
								{
									<div class="headerNames">
										<div class="headerNamesDropLeft">
											<h2>Քրեակատարողական հիմնարկություն`</h2>
										</div>
										<div class="headerNamesDropRight">

											<label for="header-org-select" hidden></label>

											<select id="header-org-select" class="selectize-sm selectizeOrgUnit">
												<option value="">Ընտրել</option>

												@foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
												{
													<option value="@item.Key" @(item.Key == ViewBag.SelectedOrgUnitID ? "selected" : "")>@item.Value</option>
}
											</select>
										</div>
									</div>
								}

							}
						</div>
					</div>
				</div>
			</section>
		</header>
		@if (ViewBag.LoggedIn != null && ViewBag.LoggedIn)
		{
			@MyHelpers.DrawMenus(ViewBag.Permissions);
            }
		@RenderBody()
		<footer></footer>
	</section>
</body>
</html>





