﻿@model MVC___Internal_System.Models.ViewLogsViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                            <a href="@Url.Action("Add", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())" title="Նոր" type="button" class="btn btn-sm btn-default btn-flat">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">

                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Աշխատողի Ա․Ա․Հ․`</label>
                                                <select name="SexLibItem_ID" id="convict-sex" class="selectize-sm selectizeFilterPrisoner">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (EmployeeEntity EmployeeEntity in Model.OrgUnitEmployees)
                                                    {
                                                        <option value="@EmployeeEntity.ID">@EmployeeEntity.FirstName @EmployeeEntity.MiddleName @EmployeeEntity.LastName</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Պաշտոն`</label>
                                                <select name="SexLibItem_ID" id="convict-sex" class="selectize-sm selectizeFilterPrisoner">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (OrgUnitEntity PositionEntity in Model.OrgUnitPositions)
                                                    {
                                                        <option value="@PositionEntity.ID">@PositionEntity.Label</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
                                                <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterPersonBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="convictsList">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>