﻿@model MVC___Internal_System.Models.ViewLogsViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անուն</th>               
                <th>Հայրանուն</th>
                <th>Ազգանուն</th>
                <th>Պաշտոն</th>
                <th>Գործող․ անվանում</th>
                <th>Ուղարկված ինֆորմացիա</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.LogActionList != null && Model.LogActionList.Any())
            {
                foreach (LogActionEntity LogAction in Model.LogActionList)
                {
                    <tr>                                         
                        <td data-title="Անուն">@LogAction.EmployeeFirstName</td>
                        <td data-title="Հայրանուն">@LogAction.EmployeeMiddleName</td>
                        <td data-title="Ազգանուն">@LogAction.EmployeeLastName</td>                        
                        <td data-title="Պաշտոն">@LogAction.PositionName</td>
                        <td data-title="Գործող․ անվանում">@LogAction.ActionName</td>
                        <td data-title="Ուղարկված ինֆորմացիա">@LogAction.RequestData</td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.LogActionEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.LogActionList != null && Model.LogActionEntityPaging.TotalPage > 1 /*&& Model.LogActionList.Count > Model.LogActionEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.LogActionEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.LogActionEntityPaging.CurrentPage == Model.LogActionEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ViewLogsTableRows/1/" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ViewLogsTableRows/@(Model.LogActionEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int l = Model.LogActionEntityPaging.TotalPage;
                int c = Model.LogActionEntityPaging.CurrentPage;
                int v = Model.LogActionEntityPaging.ViewCount;

                if (c > v * i - (v / 2 - 1) && l > v)
                {
                    i = c - (v / 2 - 1);
                    l = c + (v / 2 - 1);
                }
                else if (l >= v)
                {
                    l = i + (v - 1);
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ViewLogsTableRows/@i" class="paginationBtn @((i == Model.LogActionEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ViewLogsTableRows/@(Model.LogActionEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ViewLogsTableRows/@Model.LogActionEntityPaging.TotalPage" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
