﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն</th>
                <th>Ազգանուն</th>
                <th>Հայրանուն</th>
                <th>Ծննդյան ամսաթիվ</th>
                <th>Սեռ</th>
                <th>Ազգություն</th>
                <th>Քաղաքացիություն</th>
                <th>Անձնական գործի համար</th>
                @*<th>Նախկին դատվածություն</th>*@
                <th>Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.ListPrisoners != null && Model.ListPrisoners.Any())
            {
                foreach (PrisonerEntity Prisoner in Model.ListPrisoners)
                {
                    string state = (Prisoner.State.Value) ? CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.final").Value : CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.draft").Value;
                    string styleclass = (Prisoner.State.Value) ? "" : "dark";
                    <tr class=@styleclass>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((Prisoner.ArchiveStatus.Value) ? "Edit" : "Preview", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), new { id = Prisoner.ID })">@Prisoner.Person.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@Prisoner.Person.Personal_ID</td>
                        }
                        <td data-title="Անուն">@Prisoner.Person.FirstName</td>
                        <td data-title="Ազգանուն">@Prisoner.Person.LastName</td>
                        <td data-title="Հայրանուն">@Prisoner.Person.MiddleName</td>
                        <td data-title="Ծննդյան ամսաթիվ">@Prisoner.Person.Birthday</td>
                        <td data-title="Սեռ">@MyHelpers.GetLibNameByID(Prisoner.Person.SexLibItem_ID)</td>
                        <td data-title="Ազգություն">@Prisoner.Person.NationalityLabel</td>
                        @{
                            var citizenship = (Prisoner.Person.IdentificationDocuments != null && Prisoner.Person.IdentificationDocuments.Any()) ? Prisoner.Person.IdentificationDocuments.First().CitizenshipLibItem_Name : "";
                        }
                        <td data-title="Քաղաքացիություն">@citizenship</td>
                        <td data-title="Անձնական գործի համար">@Prisoner.PersonalCaseNumber</td>
                        @*<td data-title="Նախկին դատվածություն">NULL</td>*@

                        <td data-title="Կարգավիճակ">@state</td>
                    </tr>
                                }
                            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.PrisonerEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListPrisoners != null && Model.PrisonerEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.PrisonerEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.PrisonerEntityPaging.CurrentPage == Model.PrisonerEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ConvictsTableRows/1/" data-pagenumber="1" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ConvictsTableRows/@(Model.PrisonerEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.PrisonerEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.PrisonerEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int t = Model.PrisonerEntityPaging.TotalPage;
                int c = Model.PrisonerEntityPaging.CurrentPage;
                int v = Model.PrisonerEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if (t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ConvictsTableRows/@i" class="paginationBtn @((i == Model.PrisonerEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ConvictsTableRows/@(Model.PrisonerEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_ConvictsTableRows/@Model.PrisonerEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>
