﻿@model  MVC___Internal_System.Models.LoginViewModel

<section class="loginForm">
    <section class="boxWrap">
        <div class="box">
            <div class="boxHeader">
                <div class="boxHeaderLeft">
                    <h3><span>Մուտք</span></h3>
                </div>
            </div>
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                <div class="boxBody">
                    <div class="form-group">
                        <label for="input-login">Օգտատեր</label>
                        @Html.TextBoxFor(m => m.UserName, new {@id = "input-login", @class = "form-control", @placeholder = "Ծածկանուն" })
                    </div>
                    <div class="form-group">
                        <label for="input-password">Գաղտնաբառ</label>
                        @Html.PasswordFor(m => m.Password, new {@id = "input-password", @class = "form-control", @placeholder = "Գաղտնաբառ" })
                    </div>
                    <div class="form-group clearfix">
                        <input type="submit" class="btn btn-default btn-flat pull-right" id="loginBtn" value="Մուտք">
                    </div>
                </div>
            }
        </div>
    </section>
</section>
