﻿@model MVC___Internal_System.Models.EducationalCoursesViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                           
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Դասընթացի անվանում`</label>
                                                <select name="TypeLibItemID" id="searchtype" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.TypeLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.TypeLibItemID != null && Model.FilterEducationalCourses.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-1">Անուն`</label>
												<input name="FirstName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-1" value="@Model.FilterEducationalCourses.FirstName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-2">Ազգանուն`</label>
												<input name="LastName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-2" value="@Model.FilterEducationalCourses.LastName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-3">Հայրանուն`</label>
												<input name="MiddleName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-3" value="@Model.FilterEducationalCourses.MiddleName" />
											</div>
										</div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Սկիզբ`</label>
                                                <input name="StartDate" class="FilterDates form-control input-sm" type="text" id="encouragement-start-date" value="@(Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.StartDate != null ? Model.FilterEducationalCourses.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Վերջ`</label>
                                                <input name="EndDate" class="FilterDates form-control input-sm" type="text" id="encouragement-end-date" value="@(Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.EndDate != null ? Model.FilterEducationalCourses.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Ներգրավման հիմք`</label>
                                                <select name="EngagementBasisLibItemID" id="EngagementBasisLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.EngagementBasisLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.EngagementBasisLibItemID != null && Model.FilterEducationalCourses.EngagementBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Ազատման հիմք`</label>
                                                <select name="ReleaseBasisLibItemID" id="ReleaseBasisLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.ReleaseBasisLibItemList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.ReleaseBasisLibItemID != null && Model.FilterEducationalCourses.ReleaseBasisLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">ՔԿՀ`</label>
                                                <select name="OrgUnitIDList" id="orgunitidlist" class="selectize-sm selectizeFilter" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                                                    {
                                                        <option value="@item.Key" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.OrgUnitIDList != null && Model.FilterEducationalCourses.OrgUnitIDList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Դատապարտյալ(Կալանվոր)`</label>
                                                <select name="PrisonerType" id="prisoner-type" class="getItemsFilter selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    <option value="2" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.PrisonerType == 2) ? "selected" : "")>Դատապարտյալ</option>
                                                    <option value="3" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.PrisonerType == 3) ? "selected" : "")>Կալանավոր</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Արխիվացված`</label>
                                                <select name="ArchiveStatus" id="prisoner-archived" class="getItemsFilter selectize-sm selectizeFilterArchive">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterEducationalCourses != null && !Model.FilterEducationalCourses.ArchiveStatus) ? "selected" : "")>Այո</option>
                                                    <option value="true" @((Model.FilterEducationalCourses != null && Model.FilterEducationalCourses.ArchiveStatus) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-name-3">Հայրանուն`</label>
            <input name="MiddleName" class="form-control input-sm" type="text" id="convict-name-3" value="@Model.FilterPrisoner.MiddleName" />
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-nationality">Ազգություն`</label>
            <select name="NationalityID" id="convict-nationality" class="getItemsFilter selectize-sm selectizeFilterPrisoner">
                <option value="">Ընտրել</option>
                @foreach (NationalityEntity Lib in Model.Nationality)
                {
                    <option value="@Lib.ID" @((Model.FilterPrisoner.NationalityID != null && Model.FilterPrisoner.NationalityID == Lib.ID) ? "selected" : "")>@Lib.Label</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-citizenship">Քաղաքացիություն`</label>
            <select name="CitizenshipLibItemIDList" id="convict-citizenship" class="getItemsFilter selectize-sm selectizeFilterPrisoner" multiple>
                <option value="">Ընտրել</option>
                @foreach (LibsEntity Lib in Model.Citizenships)
                {
                    <option value="@Lib.ID" @((Model.FilterPrisoner.CitizenshipLibItemIDList != null && Model.FilterPrisoner.CitizenshipLibItemIDList.FindAll(r => r == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-id">Անհատական համար(ID)`</label>
            <input name="Personal_ID" class="getItemsFilter form-control input-sm" type="text" id="convict-id" value="@Model.FilterPrisoner.Personal_ID" />
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-document-id">Անձնական գործի համար`</label>
            <input name="PersonalCaseNumber" class="getItemsFilter form-control input-sm" type="text" id="convict-document-id" value="@Model.FilterPrisoner.PersonalCaseNumber" />
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-status">Կարգավիճակ`</label>
            <select name="State" id="convict-state" class="getItemsFilter selectize-sm selectizeFilterPrisoner">
                <option value="">Ընտրել</option>
                <option value="false" @((Model.FilterPrisoner.State != null && Model.FilterPrisoner.State.Value) ? "selected" : "")>@CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.draft").Value</option>
                <option value="true" @((Model.FilterPrisoner.State != null && !Model.FilterPrisoner.State.Value) ? "selected" : "")>@CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.final").Value</option>
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-qkc">ՔԿՀ`</label>
            <select name="OrgUnitList" id="convict-qkc" class="getItemsFilter selectize-sm selectizeFilterPrisoner" multiple>
                <option value="">Ընտրել</option>
                @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                {
                    <option value="@item.Key" @((Model.FilterPrisoner.OrgUnitList != null && Model.FilterPrisoner.OrgUnitList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                }
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-2">
        <div class="form-group">
            <label for="convict-archived">Արխիվացված`</label>
            <select name="ArchiveStatus" id="convict-archived" class="getItemsFilter selectize-sm selectizeFilterPrisonerArchive">
                <option value="">Ընտրել</option>
                <option value="false" @((Model.FilterPrisoner != null && Model.FilterPrisoner.ArchiveStatus != null && !Model.FilterPrisoner.ArchiveStatus.Value) ? "selected" : "")>Այո</option>
                <option value="true" @((Model.FilterPrisoner != null && Model.FilterPrisoner.ArchiveStatus != null && Model.FilterPrisoner.ArchiveStatus.Value) ? "selected" : "")>Ոչ</option>
            </select>
        </div>
    </div>*@
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
												<button title="Չեղարկել" type="button" class="btn btn-default btn-flat" id="reloadFilterBtn">Չեղարկել</button>
                                                <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
												<button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="filterList">
                            @Html.Action("Draw_EducationalCourseTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>