﻿@model MVC___Internal_System.Models.PermissionsViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <a href="#" title="Նոր" id="addPermissionBtn" type="button" class="btn btn-sm btn-default btn-flat">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="boxBody loaderClass">
                        <div class="formsWrap" id="searchCollapse">
                            <div class="container-fluid">
                                @*<div class="row">
                                </div>*@
                            </div>
                        </div>
                        <div class="tableWrap permissionLoaderClass" id="permissiontablebody">
                            @Html.Action("Draw_PermissionsTableRows", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="widgetHolder"></div>