﻿@model MVC___Internal_System.Models.PermissionsViewModel
@using CommonLayer.BusinessEntities

@*<div class="tableWrapIn">
    <div class="form-group">
        <label>Այցելություններ</label>
        <table class="table table-bordered table-valignM">
            <thead>
                <tr>
                    <th>Պաշտոն</th>
                    <th>Անուն, Ազգանուն, Հայրանուն</th>
                    <th>Հեռացնել</th>
                </tr>
            </thead>
            <tbody id="convictsTableBody">
                @if (Model.OfficialVisitsPositions != null && Model.OfficialVisitsPositions.Any())
                {
                    foreach (PermissionsDashboardEntity Entity in Model.OfficialVisitsPositions)
                    {
                        <tr>
                            <td data-title="Պաշտոն">@Entity.Position.Label</td>
                            <td data-title="ԱնունԱզգանուն">@String.Join(",", Entity.Employees.Select(m => m.FirstName).ToArray())</td>
                            <td data-title="Հեռացնել">
                                <div class="btn-group btn-group-sm pull-left">
                                    <button  data-permapproveid="@Entity.PermApproveID" data-permtoposid="@Entity.PermToPosID" class="closePermission btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white" title="Վերացնել">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>*@
<div class="tableWrapIn">
    <label>Տեսակցություններ</label>
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Պաշտոն</th>
                <th>Անուն, Ազգանուն, Հայրանուն</th>
                <th>Հեռացնել</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.PersonalVisitsPositions != null && Model.PersonalVisitsPositions.Any())
            {
                foreach (PermissionsGurdEntity Entity in Model.PersonalVisitsPositions)
                {
                    <tr>
                        <td data-title="Պաշտոն">@Entity.PositionName</td>
                        <td data-title="Անուն Ազգանուն">@String.Join(",",Entity.Employees.Select(m => m.FirstName + " " + m.MiddleName + " " + m.LastName).ToArray())</td>
                        <td data-title="Հեռացնել">
                            <div class="btn-group btn-group-sm pull-left">
                                <button data-id="@Entity.ID" class="closePermission btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white" title="Վերացնել">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapIn">
    <label>Հանձնուքներ</label>
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Պաշտոն</th>
                <th>Անուն, Ազգանուն, Հայրանուն</th>
                <th>Հեռացնել</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.PackagesPositions != null && Model.PackagesPositions.Any())
            {
                foreach (PermissionsGurdEntity Entity in Model.PackagesPositions)
                {
                    <tr>
                        <td data-title="Պաշտոն">@Entity.PositionName</td>
                        <td data-title="Անուն Ազգանուն">@String.Join(",", Entity.Employees.Select(m => m.FirstName + " " + m.MiddleName + " " + m.LastName).ToArray())</td>
                        <td data-title="Հեռացնել">
                            <div class="btn-group btn-group-sm pull-left">
                                <button data-id="@Entity.ID" class="closePermission btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white" title="Վերացնել">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapIn">
    <label>Մեկնումներ</label>
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Պաշտոն</th>
                <th>Անուն, Ազգանուն, Հայրանուն</th>
                <th>Հեռացնել</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.DeparturesPositions != null && Model.DeparturesPositions.Any())
            {
                foreach (PermissionsGurdEntity Entity in Model.DeparturesPositions)
                {
                    <tr>
                        <td data-title="Պաշտոն">@Entity.PositionName</td>
                        <td data-title="Անուն Ազգանուն">@String.Join(",", Entity.Employees.Select(m => m.FirstName + " " + m.MiddleName + " " + m.LastName).ToArray())</td>
                        <td data-title="Հեռացնել">
                            <div class="btn-group btn-group-sm pull-left">
                                <button data-id="@Entity.ID" class="closePermission btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white" title="Վերացնել">
                                    <i class="fa fa-close"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapIn">
    <div class="form-group">
        <label>Տեղափոխումներ</label>
        <table class="table table-bordered table-valignM">
            <thead>
                <tr>
                    <th>Պաշտոն</th>
                    <th>Անուն, Ազգանուն, Հայրանուն</th>
                    <th>Հեռացնել</th>
                </tr>
            </thead>
            <tbody id="convictsTableBody">
                @if (Model.TransferPositions != null && Model.TransferPositions.Any())
                {
                    foreach (PermissionsGurdEntity Entity in Model.TransferPositions)
                    {
                        <tr>
                            <td data-title="Պաշտոն">@Entity.PositionName</td>
                            <td data-title="Անուն Ազգանուն">@String.Join(",", Entity.Employees.Select(m => m.FirstName + " " + m.MiddleName + " " + m.LastName).ToArray())</td>
                            <td data-title="Հեռացնել">
                                <div class="btn-group btn-group-sm pull-left">
                                    <button data-id="@Entity.ID" class="closePermission btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white" title="Վերացնել">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
