﻿@model MVC___Internal_System.Models.ArchiveViewModel
@using CommonLayer.BusinessEntities

 
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Համար</th>
                                <th>ՔԿՀ</th>
                                <th>Սկիզբ</th>
                                <th>Ավարտ</th>
                                <th>Կարգավիճակ</th>
                            </tr>
                        </thead>
                        <tbody id="archiveTableBody">
                            @if (Model.archives != null)
                            {
                                @Html.Action("Draw_ArchiveTableRows", "_Popup_", new { Data = Model.archives, controllerName = Model.controllerName})
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>