﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div role="tabpanel" class="tab-pane fade in active" id="medical-ambulator">
    <div class="row" id="medical-ambulator-table-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Պատմություն`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th class="tableDateCol">Ամսաթիվ`</th>
                                                <th colspan="2">Անուն`</th>
                                            </tr>
                                        </thead>
                                        <tbody id="historyTableBody" class="historyLoader">
                                            @if (Model.Medical != null && Model.Medical.MedicalHistories != null)
                                            {
                                                @Html.Action("Draw_MedicalHistoryTableRow", "_Popup_", new { Data = Model.Medical.MedicalHistories });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default btn-flat" id="addHistoryButton">Ավելացնել</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
