﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="row" id="medical-wrap">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="tabsNav" role="tablist">
                        <li role="presentation" class="active tabMenus"><a href="#medical-preliminary" aria-controls="medical-preliminary" id="preliminaryButton">Նախնական</a></li>
                        <li role="presentation" class="tabMenus"><a href="#medical-ambulator" aria-controls="medical-ambulator" data-toggle="tab" id="ambulatorButton">Ամբուլատոր</a></li>
                        <li role="presentation" class="tabMenus"><a href="#medical-stationery" aria-controls="medical-inprogress" id="stationeryButton">Ստացիոնար</a></li>
                    </ul>
                    <div id="medicalTabContentHolder" class="tab-content">
                        @Html.Action(Model.ActionName, "Medical", new { PrisonerID = Model.PrisonerID})
                    </div>
                </div>
            </div>
        </div>
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileBtn">
                <span>Կցված ֆայլեր`</span>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                }
            </label>
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfiletablebody" class="fileLoader">
                            @if (Model.Medical.Files != null && Model.Medical.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Medical.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>