﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities
@{string disableMode = "disabled"; }
@{string noMode = ""; }
<div role="tabpanel" class="tab-pane fade in active" id="medical-preliminary">
    <div class="row">
        <div class="col-xs-12 @((Model.Medical != null && Model.Medical.primaryEntity != null && Model.Medical.primaryEntity.MergeStatus != null && Model.Medical.primaryEntity.MergeStatus.Value) ? "" : "hidden") medicalMergeWarningClass">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
                <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="medical-preliminary-health-level">Առողջական վիճակ`</label>
						

						<select  @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{@noMode} else {@disableMode} id="HealthLibItemID" name="HealthLibItemID" class="getItemsHealth checkValidateHealth selectize-sm selectize">
							<option value="">Ընտրել</option>
							@foreach (var item in Model.HealthLibItemList)
							{
								<option value="@item.ID" @((Model.Medical != null && Model.Medical.primaryEntity != null && Model.Medical.primaryEntity.HealthLibItemID == item.ID) ? "selected" : "")>@item.Name</option>
							}
						</select>
                    </div>
                </div>
            </div>
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default btn-flat" id="acceptHealthButton" disabled>Հաստատել</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label>Գանգատներ`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th class="tableDateCol">Ամսաթիվ`</th>
                                                <th>Անուն`</th>
                                                <th colspan="2">Նկարագրություն`</th>
                                            </tr>
                                        </thead>
                                        <tbody id="complaintstable" class="complaintLoader">
                                            @if (Model.Medical != null && Model.Medical.MedicalComplaints != null)
                                            {
                                                @Html.Action("Draw_MedicalComplaintTableRow", "_Popup_", new { Data = Model.Medical.MedicalComplaints });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default btn-flat" id="addComplaintButton">Ավելացնել</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label>Արտաքին զննություն`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th class="tableDateCol">Ամսաթիվ`</th>
                                                <th>Վնասվածքներ`</th>
                                                <th>Նշումներ`</th>
                                                <th colspan="2">Նկարագրություն`</th>
                                            </tr>
                                        </thead>
                                        <tbody id="externalExaminationTable" class="externalLoader">
                                            @if (Model.Medical != null && Model.Medical.MedicalExternalExaminations != null)
                                            {
                                                @Html.Action("Draw_ExternalExaminationTableRow", "_Popup_", new { Data = Model.Medical.MedicalExternalExaminations });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default btn-flat" id="addExternalExaminationButton">Ավելացնել</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label>ԱԽտորոշում`</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th class="tableDateCol">Ամսաթիվ`</th>
                                                <th>Տեսակ`</th>
                                                <th>Նկարագրություն`</th>
                                                <th colspan="2">Նախնական`</th>
                                            </tr>
                                        </thead>
                                        <tbody id="diagnosisTableBody" class="diagnosisLoader">
                                            @if (Model.Medical != null && Model.Medical.MedicalDiagnosis != null)
                                            {
                                                @Html.Action("Draw_MedicalDiagnosisTableRow", "_Popup_", new { Data = Model.Medical.MedicalDiagnosis });
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group btn-group-sm pull-right">
                                <button type="button" class="btn btn-default btn-flat" data-toggle="modal" data-target=".medical-diagnose-modal" id="addDiagnosisButton">Ավելացնել</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>