﻿@model MVC___Internal_System.Models.MedicalViewModel
@using CommonLayer.BusinessEntities

<div class="row" id="medical-stationery-page-wrap">
    <div class="col-xs-12">
        <ul class="breadcrumbs">
            <li><a href="#" id="loadBackStationeryButton" class="medical-stationery-page-prev">Բժշկական Պատմություն</a></li>
            <li>Ստացիոնար</li>
            <li>@Model.MedicalHistory.currentMedicalHistory.Date.Value.ToString("dd/MM/yyyy")</li>
        </ul>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Գանգատներ`</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="tableWrap">
                                    <div class="tableWrapIn">
                                        <table class="table table-bordered table-valignM">
                                            <thead>
                                                <tr>
                                                    <th class="tableDateCol">Ամսաթիվ`</th>
                                                    <th>Անուն`</th>
                                                    <th colspan="2">Նկարագրություն`</th>
                                                </tr>
                                            </thead>
                                            <tbody id="complaintstable" class="complaintLoader">
                                                @if (Model.MedicalHistory != null && Model.MedicalHistory.MedicalComplaints != null)
                                                {
                                                    @Html.Action("Draw_MedicalComplaintTableRow", "_Popup_", new { Data = Model.MedicalHistory.MedicalComplaints });
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default btn-flat" id="addComplaintButton">Ավելացնել</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="formsWrapSeparator"></div>
                <div class="form-group">
                    <label>Հետազոտություններ`</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="tableWrap">
                                    <div class="tableWrapIn">
                                        <table class="table table-bordered table-valignM">
                                            <thead>
                                                <tr>
                                                    <th class="tableDateCol">Ամսաթիվ`</th>
                                                    <th>Տեսակ`</th>
                                                    <th colspan="2">Նկարագրություն`</th>
                                                </tr>
                                            </thead>
                                            <tbody id="researchTableBody" class="researchLoader">
                                                @if (Model.MedicalHistory != null && Model.MedicalHistory.MedicalResearch != null)
                                                {
                                                    @Html.Action("Draw_MedicalResearchTableRow", "_Popup_", new { Data = Model.MedicalHistory.MedicalResearch });
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default btn-flat" id="addResearchButton">Ավելացնել</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="formsWrapSeparator"></div>
                <div class="form-group">
                    <label>ԱԽտորոշում`</label>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="tableWrap">
                                    <div class="tableWrapIn">
                                        <table class="table table-bordered table-valignM">
                                            <thead>
                                                <tr>
                                                    <th class="tableDateCol">Ամսաթիվ`</th>
                                                    <th>Տեսակ`</th>
                                                    <th>Նկարագրություն`</th>
                                                    <th colspan="2">Նախնական`</th>
                                                </tr>
                                            </thead>
                                            <tbody id="diagnosisTableBody" class="diagnosisLoader">
                                                @if (Model.MedicalHistory != null && Model.MedicalHistory.MedicalDiagnosis != null)
                                                {
                                                    @Html.Action("Draw_MedicalDiagnosisTableRow", "_Popup_", new { Data = Model.MedicalHistory.MedicalDiagnosis });
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default btn-flat" id="addDiagnosisButton">Ավելացնել</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @*<div class="col-xs-12">
                    <div class="formsWrapSeparator"></div>
                    <div class="form-group">
                        <label>Բուժում</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="tableWrap">
                                        <div class="tableWrapIn">
                                            <table class="table table-bordered table-valignM">
                                                <thead>
                                                    <tr>
                                                        <th class="tableDateCol">Ամսաթիվ`</th>
                                                        <th>Անուն`</th>
                                                        <th>Նախնական`</th>
                                                        <th colspan="2">Նկարագրություն`</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="healingTableBody">
                                                    @if (Model.MedicalHistory != null && Model.MedicalHistory.MedicalHealing != null)
                                                    {
                                                        @Html.Action("Draw_MedicalHealingTableRow", "_Popup_", new { Data = Model.MedicalHistory.MedicalHealing });
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default btn-flat" id="addHealingButton">Ավելացնել</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="col-xs-12">
                    <div class="formsWrapSeparator"></div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn-group btn-group-sm pull-right">
                                    <button type="button" class="btn btn-default btn-flat" data-id="@Model.MedicalHistory.currentMedicalHistory.ID" id="medicalHistoryResultButton">Ելք</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    </div>