﻿@model MVC___Internal_System.Models.ArticlePercentViewModel
@using CommonLayer.BusinessEntities;
<div class="treeContentSelectFolder">
    <ul class="breadcrumbs">
        <li>Հաշվետվություններ</li>
        <li>Ընդհանուր բաժին</li>
        <li>Հոդվածների տոկոսային հարաբերությունը</li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="report-start-date">Ամսաթվի դրությամբ`</label>
                <input name="Date" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-sm">
                <button href="/Report/ArticlePercentReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</button>
            </div>
        </div>
    </div>
</div>
