﻿@model MVC___Internal_System.Models.CaseClosedReportViewModel
@using CommonLayer.BusinessEntities;
<div class="treeContentSelectFolder">
    <ul class="breadcrumbs">
        <li>Հաշվետվություններ</li>
        <li>Ընդհանուր բաժին</li>
        <li>Կալանավորումը փոփոխվել կամ վերացվել է</li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="convict-qkc">ՔԿՀ`</label>
                <select name="OrgUnitList" id="convict-qkc" class="getItems checkValidate selectize-sm selectize" multiple>
                    <option value="">Ընտրել</option>
                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                    {
                        <option value="@item.Key" @((Model.Filter.OrgUnitList != null && Model.Filter.OrgUnitList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="report-start-date">Ամսաթվի դրությամբ`</label>
                <input name="Date" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-sm">
                <button href="/Report/CaseClosedReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</button>
            </div>
        </div>
    </div>
</div>

                