﻿@model MVC___Internal_System.Models.CustomReportViewModel
@using CommonLayer.BusinessEntities;

<div class="row">
	<section class="boxWrap">
		<div class="box">
			<div class="boxHeader">
				<div class="boxHeaderLeft">
					<ul class="breadcrumbs">
						<li>Հաշվետվություններ</li>
						<li>Ընդհանուր բաժին</li>
						<li>Դատապարտյալի բնութագիր</li>
					</ul>
				</div>
				<div class="boxHeaderRight">
					
				</div>
			</div>
			<div class="boxBody" style="background: #ececec">
				<div class="formsWrap">
					<div class="container-fluid">
						<div class="row">
							<form id="filterPersonForm">
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-name-1">Անուն`</label>
										<input name="FirstName" class="form-control input-sm getItems" type="text" id="convict-name-1" value="@Model.Prisoner.FilterPrisoner.FirstName" />
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-name-2">Ազգանուն`</label>
										<input name="LastName" class="form-control input-sm getItems" type="text" id="convict-name-2" value="@Model.Prisoner.FilterPrisoner.LastName" />
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-name-3">Հայրանուն`</label>
										<input name="MiddleName" class="form-control input-sm getItems" type="text" id="convict-name-3" value="@Model.Prisoner.FilterPrisoner.MiddleName" />
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-sex">Սեռ`</label>
										<select name="SexType" id="convict-sex" class="getItems selectize-sm selectize">
											<option value="">Ընտրել</option>
											@foreach (LibsEntity Lib in Model.Prisoner.Gender)
											{
												<option value="@Lib.ID" @((Model.Prisoner.FilterPrisoner.SexLibItem_ID != null && Model.Prisoner.FilterPrisoner.SexLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
}
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-nationality">Ազգություն`</label>
										<select name="Nationality" id="convict-nationality" class="getItems selectize-sm selectize">
											<option value="">Ընտրել</option>
											@foreach (NationalityEntity Lib in Model.Prisoner.Nationality)
											{
												<option value="@Lib.ID" @((Model.Prisoner.FilterPrisoner.NationalityID != null && Model.Prisoner.FilterPrisoner.NationalityID == Lib.ID) ? "selected" : "")>@Lib.Label</option>
}
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="convict-citizenship">Քաղաքացիություն`</label>
										<select name="Citizenship" id="convict-citizenship" class="getItems selectize-sm selectize" multiple>
											<option value="">Ընտրել</option>
											@foreach (LibsEntity Lib in Model.Prisoner.Citizenships)
											{
												<option value="@Lib.ID" @((Model.Prisoner.FilterPrisoner.CitizenshipLibItemIDList != null && Model.Prisoner.FilterPrisoner.CitizenshipLibItemIDList.FindAll(r => r == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
}
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label for="convict-id">Անհատական համար(ID)`</label>
										<input name="PersonalID" class="getItems form-control input-sm" type="text" id="convict-id" value="@Model.Prisoner.FilterPrisoner.Personal_ID" />
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label for="convict-document-id">Անձնական գործի համար`</label>
										<input name="PersonalCaseNumber" class="getItems form-control input-sm" type="text" id="convict-document-id" value="@Model.Prisoner.FilterPrisoner.PersonalCaseNumber" />
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label for="convict-qkc">ՔԿՀ`</label>
										<select name="OrgUnit" id="convict-qkc" class="getItems selectize-sm selectize" multiple>
											<option value="">Ընտրել</option>
											@foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
											{
												<option value="@item.Key" @((Model.Prisoner.FilterPrisoner.OrgUnitList != null && Model.Prisoner.FilterPrisoner.OrgUnitList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
}
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="form-group">
										<label for="convict-Type">Տեսակ`</label>
										<select name="Type" id="convict-type" class="getItems selectize-sm selectize">
											<option value="3" @((Model.Prisoner.FilterPrisoner != null && Model.Prisoner.FilterPrisoner.Type != null) ? "selected" : "")>Կալանավոր</option>
											<option value="2" @((Model.Prisoner.FilterPrisoner != null && Model.Prisoner.FilterPrisoner.Type != null) ? "selected" : "")>Դատապարտյալ</option>
										</select>
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="report-start-date">Ամսաթվի 1`</label>
										<input name="FirstDate" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
									</div>
								</div>
								<div class="col-xs-12 col-md-2">
									<div class="form-group">
										<label for="report-start-date">Ամսաթվի 2`</label>
										<input name="SecondDate" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
									</div>
								</div>
							</form>
						</div>
                        <hr />
						<div class="row">
							<div class="col-xs-12">
								<div class="form-group">
									<div class="row">
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPersonalNumber" class="isChecked getItems" type="checkbox" />
													<span>Անհատական համար</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPersonalCaseNumber" class="isChecked getItems" type="checkbox" />
													<span>Անձնական գործի համար</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPrisonerName" class="isChecked getItems" type="checkbox" />
													<span>Անուն Ազգանուն Հայրանուն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPrisonerType" class="isChecked getItems" type="checkbox" />
													<span>Կալանքի Տեսակ (Դատապարտյալ/Կալանավոր)</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chBirthDay" class="isChecked getItems" type="checkbox" />
													<span>Ծննդյան ամսաթիվ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chSexType" class="isChecked getItems" type="checkbox" />
													<span>Սեռ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chNationality" class="isChecked getItems" type="checkbox" />
													<span>Ազգություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chCitizenship" class="isChecked getItems" type="checkbox" />
													<span>Քաղաքացիություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chArrestStartDate" class="isChecked getItems" type="checkbox" />
													<span>Կալանքի սկիզբ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chSentencingStartDate" class="isChecked getItems" type="checkbox" />
													<span>Դատապարտման սկիզբ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPrisonAccessDate" class="isChecked getItems" type="checkbox" />
													<span>ՔԿՀ Ընդունման ամսաթիվ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPenaltyName" class="isChecked getItems" type="checkbox" />
													<span>Տույժեր</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chEncouragementsName" class="isChecked getItems" type="checkbox" />
													<span>Խրախուսանքներ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chInjunctionsName" class="isChecked getItems" type="checkbox" />
													<span>Արգելված իրերի քանակ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chCaseCloseType" class="isChecked getItems" type="checkbox" />
													<span>Գործի փակման հիմք</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chTransfersCount" class="isChecked getItems" type="checkbox" />
													<span>Տեղափուխումենրի քանակ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPunishmentType" class="isChecked getItems" type="checkbox" />
													<span>Պահպանման ռեժիմի տեսակ</span>
												</label>
											</div>
										</div>
										
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chSentenceArticleType" class="isChecked getItems" type="checkbox" />
													<span>Պատժի ծանրություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPresentArticle" class="isChecked getItems" type="checkbox" />
													<span>Ներկա գործի հոդված</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chConflictsPersons" class="isChecked getItems" type="checkbox" />
													<span>Անհամատեղելի անձինք</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chCameraCardNumber" class="isChecked getItems" type="checkbox" />
													<span>Ներկա խցիկային քարտ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chParents" class="getItems isChecked" type="checkbox" />
													<span>Ծնողներ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chChildren" class="getItems isChecked" type="checkbox" />
													<span>Երեխաներ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chSisterBrother" class="getItems isChecked" type="checkbox" />
													<span>Քույր եղբայր</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chSpouses" class="getItems isChecked" type="checkbox" />
													<span>Ամուսին</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chEducationName" class="isChecked getItems" type="checkbox" />
													<span>Կրթություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chProfessionName" class="isChecked getItems" type="checkbox" />
													<span>Մասնագիտություն </span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chWorkName" class="isChecked getItems" type="checkbox" />
													<span>Աշխատանք</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPreviousConviction" class="isChecked getItems" type="checkbox" />
													<span>Նախկին դատվածություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chBloodType" class="isChecked getItems" type="checkbox" />
													<span>Արյան կարգ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chInvalidClass" class="isChecked getItems" type="checkbox" />
													<span>Հաշմանդամություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chLeaningNames" class="isChecked getItems" type="checkbox" />
													<span>Հակվածություն</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chOfficialVisitsCount" class="isChecked getItems" type="checkbox" />
													<span>Այցելությունների քանակ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPersonalVisitsCount" class="isChecked getItems" type="checkbox" />
													<span>Տեսակցությունների քանակ</span>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-md-3 col-lg-2">
											<div class="mtCheckbox">
												<label>
													<input name="chPackagesCount" class="isChecked getItems" type="checkbox" />
													<span>Հանձնուքի քանակ</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="boxFooter">
				<div class="row">
					<div class="col-xs-12 clearfix">
						<div class="btn-group btn-group-sm pull-right">
							<button href="/Report/CustomReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>