﻿<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">

                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="listTree">
                                    <div class="listTreeContent">
                                        <div class="listTreeFolder">
                                            <button type="button" data-target="#lists" aria-controls="lists" data-toggle="collapse" aria-expanded="false">
                                                Հաշվետվություններ
                                            </button>
                                            <div class="collapse in listTreeFolderIn" id="lists">
                                                <div class="listTreeFolder">
                                                    <button type="button" class="collapsed" data-target="#dep-1" aria-controls="dep-1" data-toggle="collapse" aria-expanded="false">
                                                        Ներքին անվտանգության բաժին
                                                    </button>
                                                    <div class="collapse listTreeFolderIn" id="dep-1">
                                                        <a href="#">Հաշվետվություն 1</a>
                                                       
                                                    </div>
                                                </div>
                                                <div class="listTreeFolder">
                                                    <button type="button" class="collapsed" data-target="#dep-2" aria-controls="dep-2" data-toggle="collapse" aria-expanded="false">
                                                        Հաշվառման բաժին
                                                    </button>
                                                    <div class="collapse listTreeFolderIn" id="dep-2">
                                                        <a data-redirecturl="/Report/EarlyReportList" data-dataurl="/Report/EarlyReportListData" data-url="/Report/EarlyReportFilter" href="#" class="EarlyReports active reportPartial">Վաղաժամկետ ազատված դատապարտյալներ</a>
                                                        <a data-redirecturl="/Report/OpenTypeReportList" data-dataurl="/Report/OpenTypeReportListData" data-url="/Report/OpenTypeReportFilter" href="#" class="OpenTypeReports active reportPartial">Դատապարտյալներ ըստ տիպի</a>
                                                        <a data-redirecturl="/Report/PersonalDescriptionReportList" data-dataurl="/Report/PersonalDescriptionReportListData" data-url="/Report/PersonalDescriptionReportFilter" href="#" class="PersonalDescriptionReports active reportPartial">Դատապարտյալի բնութագիր</a>
														<a data-redirecturl="/Report/CaseClosedReportList" data-dataurl="/Report/CaseClosedReportListData" data-url="/Report/CaseClosedReportFilter" href="#" class="CaseClosedReports active reportPartial">Կալանավորումը փոփոխվել կամ վերացվել է</a>
														<a data-redirecturl="/Report/PrisonerReferenceReportList" data-dataurl="/Report/PrisonerReferenceReportListData" data-url="/Report/PrisonerReferenceReportFilter" href="#" class="PrisonerReferenceReports active reportPartial">Տեղեկանք դատապարտյալի անձնական գործից</a>
                                                        <a data-redirecturl="/Report/PrisonersCountByOrgUnitReportList" data-dataurl="/Report/PrisonersCountByOrgUnitReportListData" data-url="/Report/PrisonersCountByOrgUnitReportFilter" href="#" class="PrisonersCountByOrgUnitReports active reportPartial">Քկ հիմնարկներում պահվող կալանավորված անձանց և դատապարտյալների թվաքանակը</a>
                                                        <a data-redirecturl="/Report/PrisonerConvictSemesterReportList" data-dataurl="/Report/PrisonerConvictSemesterReportListData" data-url="/Report/PrisonerConvictSemesterReportFilter" href="#" class="PrisonerConvictSemesterReports active reportPartial">Հատուկ քանակակազմի թվաքանակի և շարժի վերաբերյալ</a>
                                                        <a data-redirecturl="/Report/ArticlePercentReportList" data-dataurl="/Report/ArticlePercentReportListData" data-url="/Report/ArticlePercentReportFilter" href="#" class="ArticlePercentReports active reportPartial">Հոդվածների տոկոսային հարաբերությունը</a>
														<a data-redirecturl="/Report/OrgTypeChangedReportList" data-dataurl="/Report/OrgTypeChangedReportListData" data-url="/Report/OrgTypeChangedReportFilter" href="#" class="OrgTypeChangedReports active reportPartial">Ուղղիչ հիմնարկի տեսկը փոխվել է</a>
                                                    </div>
                                                </div>
                                                <div class="listTreeFolder">
                                                    <button type="button" class="collapsed" data-target="#dep-3" aria-controls="dep-3" data-toggle="collapse" aria-expanded="false">
                                                        Հատուկ նշանակության բաժին
                                                    </button>
                                                    <div class="collapse listTreeFolderIn" id="dep-3">
                                                        <a data-redirecturl="/Report/PrisonersReferendumReportList" data-dataurl="/Report/PrisonersReferendumReportListData" data-url="/Report/PrisonersReferendumReportFilter" href="#" class="PrisonersReferendumReports active reportPartial">Կալանավորված անձանց պահելու վայրում կազմված քաղաքացիների ցուցակ</a>

                                                    </div>
                                                </div>
                                                <div class="listTreeFolder">
                                                    <button type="button" class="collapsed" data-target="#dep-4" aria-controls="dep-4" data-toggle="collapse" aria-expanded="false">
                                                        Բժշկական սպասարկման բաժին
                                                    </button>
                                                    <div class="collapse listTreeFolderIn" id="dep-4">
														<a data-redirecturl="/Report/MedicalCountReportList" data-dataurl="/Report/MedicalCountReportListData" data-url="/Report/MedicalCountReportFilter" href="#" class="MedicalCountReports active reportPartial">Դատապարտյալների Բժշկական քանակ</a>
                                                    </div>
                                                </div>
												<div class="listTreeFolder">
													<button type="button" class="collapsed" data-target="#dep-5" aria-controls="dep-4" data-toggle="collapse" aria-expanded="false">
														Մանրամասն Հաշվետվություն
													</button>
													<div class="collapse listTreeFolderIn" id="dep-5">
														<a data-redirecturl="/Report/CustomReportList" data-dataurl="/Report/CustomReportListData" data-url="/Report/CustomReportFilter" href="#" class="CustomReports active reportPartial">Մանրամասն Հաշվետվություն</a>
													</div>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9">
                                <div id="partialHolder" class="loaderClass">
                                    <div class="treeMsg">
                                        <p>
                                            <span><i class="fa fa-arrow-left"></i></span>
                                            Ընտրեք ցանկը ձախից
                                        </p>
                                    </div>
                                </div>
                                <div class="treeContentFolder hidden">
                                    <ul class="breadcrumbs">
                                        <li>Հաշվետվություններ</li>
                                        <li>Ներքին անվտանգության բաժին</li>
                                    </ul>
                                    <div class="tableWrap">
                                        <div class="tableWrapIn">
                                            <table class="table table-bordered table-valignM">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Հաշվետվություն</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="index">1</td>
                                                        <td data-title="Հաշվետվություն">
                                                            <a href="img/report.pdf" target="_blank">Հաշվետվություն 1</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="index">2</td>
                                                        <td data-title="Հաշվետվություն">
                                                            <a href="img/report.pdf" target="_blank">Հաշվետվություն 2</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="index">3</td>
                                                        <td data-title="Հաշվետվություն">
                                                            <a href="img/report.pdf" target="_blank">Հաշվետվություն 3</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="index">4</td>
                                                        <td data-title="Հաշվետվություն">
                                                            <a href="img/report.pdf" target="_blank">Հաշվետվություն 4</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="index">4</td>
                                                        <td data-title="Հաշվետվություն">
                                                            <a href="img/report.pdf" target="_blank">Հաշվետվություն 5</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <div class="boxFooterLeft">

                        </div>
                        <div class="boxFooterRight">

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>