﻿@model MVC___Internal_System.Models.OpenTypeReportViewModel
@using CommonLayer.BusinessEntities;
<div class="treeContentSelectFolder">
    <ul class="breadcrumbs">
        <li>Հաշվետվություններ</li>
        <li>Ընդհանուր բաժին</li>
        <li>Դատապարտյալներ ըստ տիպի</li>
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-2">
                    <div class="form-group">
                        <label for="convict-qkc">ՔԿՀ`</label>
                        <select name="OrgUnitList" id="convict-qkc" class="getItems checkValidate selectize-sm selectize" multiple>
                            <option value="">Ընտրել</option>
                            @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                            {
                                <option value="@item.Key" @((Model.Filter.OrgUnitList != null && Model.Filter.OrgUnitList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                            }
                        </select>
                    </div>
                </div>    
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="entrance-report-building-type">ՔԿ հիմնարկության տեսակ`</label>
                        <select name="TypeID" id="entrance-report-building-type" class="checkValidate getItems selectize-sm selectize">
                            <option value="">Ընտրել</option>
                            @foreach (LibsEntity Lib in Model.QKHType)
                            {
                                <option value="@Lib.ID" @((Model.Filter.TypeID != null && Model.Filter.TypeID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                            }
                        </select>
                    </div>
                </div>
             
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="report-start-date">Ամսաթվի դրությամբ`</label>
                        <input name="Date" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-sm">
                <button href="/Report/OpenTypeReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</button>
            </div>
        </div>
    </div>
</div>

                