﻿@model MVC___Internal_System.Models.OrgTypeChangedReportViewModel
@using CommonLayer.BusinessEntities;
<div class="treeContentSelectFolder">
    <ul class="breadcrumbs">
        <li>Հաշվետվություններ</li>
        <li>Ընդհանուր բաժին</li>
        <li>Դատապարտյալների Բժշկական քանակ</li>
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-4">
					<div class="col-xs-6 ">
						<div class="form-group">
							<label for="report-start-date">Ամսաթիվ 1`</label>
							<input name="FirstDate" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
						</div>
					</div>
					<div class="col-xs-6 ">
						<div class="form-group">
							<label for="report-start-date">Ամսաթիվ 2`</label>
							<input name="SecondDate" class="checkValidate form-control input-sm getItems Dates" id="report-start-date" type="text" />
						</div>
					</div>
                </div>  
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-group btn-group-sm">
                <button href="/Report/OrgTypeChangedReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</button>
            </div>
        </div>
    </div>
</div>