﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <ul class="breadcrumbs">
                                <li>Հաշվետվություններ</li>
                                <li>Ընդհանուր բաժին</li>
                                <li>Դատապարտյալի բնութագիր</li>
                            </ul>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>                           
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-1">Անուն`</label>
                                                <input name="FirstName" class="form-control input-sm" type="text" id="convict-name-1" value="@Model.FilterPrisoner.FirstName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Ազգանուն`</label>
                                                <input name="LastName" class="form-control input-sm" type="text" id="convict-name-2" value="@Model.FilterPrisoner.LastName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-3">Հայրանուն`</label>
                                                <input name="MiddleName" class="form-control input-sm" type="text" id="convict-name-3" value="@Model.FilterPrisoner.MiddleName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Սեռ`</label>
                                                <select name="SexLibItem_ID" id="convict-sex" class="selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.Gender)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterPrisoner.SexLibItem_ID != null && Model.FilterPrisoner.SexLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-nationality">Ազգություն`</label>
                                                <select name="NationalityID" id="convict-nationality" class="getItemsFilter selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (NationalityEntity Lib in Model.Nationality)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterPrisoner.NationalityID != null && Model.FilterPrisoner.NationalityID == Lib.ID) ? "selected" : "")>@Lib.Label</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-citizenship">Քաղաքացիություն`</label>
                                                <select name="CitizenshipLibItemIDList" id="convict-citizenship" class="getItemsFilter selectize-sm selectize" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.Citizenships)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterPrisoner.CitizenshipLibItemIDList != null && Model.FilterPrisoner.CitizenshipLibItemIDList.FindAll(r => r == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-id">Անհատական համար(ID)`</label>
                                                <input name="Personal_ID" class="getItemsFilter form-control input-sm" type="text" id="convict-id" value="@Model.FilterPrisoner.Personal_ID" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-document-id">Անձնական գործի համար`</label>
                                                <input name="PersonalCaseNumber" class="getItemsFilter form-control input-sm" type="text" id="convict-document-id" value="@Model.FilterPrisoner.PersonalCaseNumber" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-status">Կարգավիճակ`</label>
                                                <select name="State" id="convict-state" class="getItemsFilter selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterPrisoner.State != null && Model.FilterPrisoner.State.Value) ? "selected" : "")>@CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.draft").Value</option>
                                                    <option value="true" @((Model.FilterPrisoner.State != null && !Model.FilterPrisoner.State.Value) ? "selected" : "")>@CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.final").Value</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-qkc">ՔԿՀ`</label>
                                                <select name="OrgUnitList" id="convict-qkc" class="getItemsFilter selectize-sm selectize" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                                                    {
                                                        <option value="@item.Key" @((Model.FilterPrisoner.OrgUnitList != null && Model.FilterPrisoner.OrgUnitList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Արխիվացված`</label>
                                                <select name="ArchiveStatus" id="convict-archived" class="getItemsFilter selectize-sm selectize">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterPrisoner != null && Model.FilterPrisoner.ArchiveStatus != null && !Model.FilterPrisoner.ArchiveStatus.Value) ? "selected" : "")>Այո</option>
                                                    <option value="true" @((Model.FilterPrisoner != null && Model.FilterPrisoner.ArchiveStatus != null && Model.FilterPrisoner.ArchiveStatus.Value) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-Type">Տեսակ`</label>
                                                <select name="Type" id="convict-type" class="getItemsFilter selectize-sm selectize">
                                                    <option value="3" @((Model.FilterPrisoner != null && Model.FilterPrisoner.Type != null) ? "selected" : "")>Կալանավոր</option>
                                                    <option value="2" @((Model.FilterPrisoner != null &&Model.FilterPrisoner.Type != null) ? "selected" : "")>Դատապարտյալ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
												<button title="Չեղարկել" type="button" class="btn btn-default btn-flat" id="reloadFilterBtn">Չեղարկել</button>
                                                <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterPersonBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="convictsList">
                            @Html.Action("Draw_PersonalDescriptionReportTableRows", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                        @*<div class="col-xs-12">
                            <div class="btn-group btn-group-sm">
                                <a href="/Report/OpenTypeReportList" target="_blank" class="btn btn-default btn-flat" id="acceptBtn" disabled>Գեներացնել հաշվետվություն</a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>