﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="tableWrap" id="convictsList">
<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն</th>
                <th>Ազգանուն</th>
                <th>Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Ծննդյան ամսաթիվ</th>
                <th>Սեռ</th>
                <th>Ազգություն</th>
                <th>Քաղաքացիություն</th>
                <th>Անձնական գործի համար</th>
                <th>Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody" class="loaderClass">
            @if (Model.ListPrisoners != null && Model.ListPrisoners.Any())
            {
                foreach (PrisonerEntity Prisoner in Model.ListPrisoners)
                {
                    string state = (Prisoner.State.Value) ? CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.final").Value : CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "record.status.draft").Value;
                    string styleclass = (Prisoner.State.Value) ? "" : "dark";
                    <tr class=@styleclass>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title=""><a class="acceptBtn" data-id="@Prisoner.ID"  href="/PackageReportList" target="_blank">@Prisoner.Person.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@Prisoner.Person.Personal_ID</td>
                        }
                        <td data-title="Անուն">@Prisoner.Person.FirstName</td>
                        <td data-title="Ազգանուն">@Prisoner.Person.LastName</td>
                        <td data-title="Հայրանուն">@Prisoner.Person.MiddleName</td>
						@if (Prisoner.Type == 3)
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
                        <td data-title="Ծննդյան ամսաթիվ">@Prisoner.Person.Birthday</td>
                        <td data-title="Սեռ">@MyHelpers.GetLibNameByID(Prisoner.Person.SexLibItem_ID)</td>
                        <td data-title="Ազգություն">@Prisoner.Person.NationalityLabel</td>
                        @{
                            var citizenship = (Prisoner.Person.IdentificationDocuments != null && Prisoner.Person.IdentificationDocuments.Any()) ? Prisoner.Person.IdentificationDocuments.First().CitizenshipLibItem_Name : "";
                        }
                        <td data-title="Քաղաքացիություն">@citizenship</td>
                        <td data-title="Անձնական գործի համար">@Prisoner.PersonalCaseNumber</td>
                        @*<td data-title="Նախկին դատվածություն">NULL</td>*@

                        <td data-title="Կարգավիճակ">@state</td>
                    </tr>
                                }
                            }
        </tbody>
    </table>
</div>
	</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.PrisonerEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListPrisoners != null && Model.PrisonerEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.PrisonerEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.PrisonerEntityPaging.CurrentPage == Model.PrisonerEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalDescriptionReportTableRows/1/" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalDescriptionReportTableRows/@(Model.PrisonerEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int l = Model.PrisonerEntityPaging.TotalPage;
                int c = Model.PrisonerEntityPaging.CurrentPage;
                int v = Model.PrisonerEntityPaging.ViewCount;

                if (c > v * i - (v / 2 - 1) && l > v)
                {
                    i = c - (v / 2 - 1);
                    l = c + (v / 2 - 1);
                }
                else if (l >= v)
                {
                    l = i + (v - 1);
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalDescriptionReportTableRows/@i" class="paginationBtn @((i == Model.PrisonerEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalDescriptionReportTableRows/@(Model.PrisonerEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_PersonalDescriptionReportTableRows/@Model.PrisonerEntityPaging.TotalPage" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>
