﻿@model MVC___Internal_System.Models.DepartureViewModel
@using CommonLayer.BusinessEntities

@if (Model.ListDashboardDeparture != null && Model.ListDashboardDeparture.Any())
{
	foreach (DepartureDashboardEntity curEntity in Model.ListDashboardDeparture)
	{
		<tr class="@if (curEntity.State != null) { @String.Format(((!curEntity.State.Value) ? "hasObjection" : "hasObjectionResult"))}">
			@if (Enumerable.Any(ViewBag.Permissions) && curEntity.EndDate == null)
			{
				<td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Departures">@curEntity.Personal_ID</a></td>
				<td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
				if (curEntity.PrisonerType == 3)
				{
					<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
				}
				else
				{
					<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
				}
				<td data-title="Մեկնումի նպատակ">@curEntity.PurposeLibItemLabel</td>
				<td data-title="Մեկնումի տեսակ">@curEntity.TypeLibItemLabel</td>
				<td data-title="Թույլատրող անձ">@((curEntity.EndDate == null) ? "-" : curEntity.ApproverEmployeeName)</td>
				<td data-title="Մեկնումի ամսաթիվ" class="tableDateCol">@curEntity.StartDate</td>
				<td data-title="Վերադարձի ամսաթիվ" class="tableDateCol">
                    @if ((MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                    {
                        if (curEntity.ApproverEmployeeID == null)
                        {
                            <button data-id="@curEntity.ID" class="btn btn-sm btn-flat btn-default declineDepartureRow @((curEntity.MergeStatus != null && curEntity.MergeStatus.Value) ? "hidden" : "")" title="Արգելել" type="button"><i class="fa fa-ban"></i></button>
                            <button data-id="@curEntity.ID" class="btn btn-sm btn-flat btn-default approveDepartureRow @((curEntity.MergeStatus != null && curEntity.MergeStatus.Value) ? "hidden" : "")" title="Թույլատրել" type="button"><i class="fa fa-check"></i></button>

                        }
                        else
                        {
                            <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeDepartureRow @((curEntity.State != null && !curEntity.State.Value) ? "hidden" : "")"><i class="fa fa-check-square-o"></i></button>
                        }
                    }
                </td>
			}
		</tr>
	}
	if (!Model.ListDashboardDeparture.Any())
	{
		@CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "emptyList").Value
	}
}