﻿@model MVC___Internal_System.Models.DashboardViewModel
@using MVC___Internal_System.Models;
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            @if (DashboardViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataTerminate) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
            {
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Օրվա ժամկետանցներ՝</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table scrollTable table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Անուն Ազգանուն Հայրանուն</th>
											    <th>Դատապարտյալ<br/> Կալանավոր</th>
                                                <th>Ընդունման ամսաթիվ</th>
                                                <th>Ազատման ամսաթիվ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.Action("Get_List_Overdue", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Պայմանական Վաղաժամկետ՝</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table scrollTable table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Անուն Ազգանուն Հայրանուն</th>
											    <th>Դատապարտյալ<br /> Կալանավոր</th>
                                                <th>Ընդունման ամսաթիվ</th>
                                                <th>Ազատման ամսաթիվ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.Action("Get_List_EarlyDate", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </div>
        <div class="col-xs-12 col-md-6">
            @if (DashboardViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataTerminate) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
            {
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Կալանքի ավարտից 7 աշխատանքային օր՝</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table scrollTable table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Անուն Ազգանուն Հայրանուն</th>
											    <th>Դատապարտյալ<br/> Կալանավոր</th>
                                                <th>Ընդունման ամսաթիվ</th>
                                                <th>Ազատման ամսաթիվ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.Action("Get_List_SevenDay", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Մեկնումներ</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap" id="departurelist">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered scrollTable table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Դատապարտյալ</th>
											    <th>Դատապարտյալ<br/> Կալանավոր</th>
                                                <th>Մեկնումի նպատակ</th>
                                                <th>Մեկնումի տեսակ</th>
                                                <th>Թույլատրող անձ</th>
                                                <th class="tableDateCol">Մեկնումի ամսաթիվ</th>
                                                <th class="tableDateCol">Վերադարձի ամսաթիվ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="departureTableBody">
                                            @Html.Action("Get_DeparturesTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
        <div class="col-xs-12">
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Հանձնուքներ՝</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap" id="packagelist">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Դատապարտյալ</th>
											    <th>Դատապարտյալ<br/> Կալանավոր</th>
                                                <th>Հանձնուքի տեսակ</th>
                                                <th>Քաշ (կգ)</th>
                                                <th>Ընդունման ամսաթիվ</th>
                                                <th>Հանձնող անձ</th>
                                                <th>Թույլատրող անձ</th>
                                                <th>Ընդունող անձ</th>
                                                <th colspan="2">Կարգավիճակ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="packagesTableBody">
                                            @Html.Action("Get_PackageTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
        <div class="col-xs-12 loaderClass">
                <section class="boxWrap">
                    <div class="box dashboardBox">
                        <div class="boxHeader">
                            <div class="boxHeaderLeft">
                                <h3>
                                    <span>Տեղափոխումներ՝</span>
                                </h3>
                            </div>
                            <div class="boxHeaderRight">
                            </div>
                        </div>
                        <div class="boxBody">
                            <div class="tableWrap">
                                <div class="tableWrapIn">
                                    <table class="table table-bordered table-valignM">
                                        <thead>
                                            <tr>
                                                <th>Անհատական համար</th>
                                                <th>Դատապարտյալ</th>
											    <th>Դատապարտյալ<br/> Կալանավոր</th>
                                                <th>Նպատակ</th>
                                                <th>Հանձնող անձ</th>
                                                <th class="tableDateCol">Ամսաթիվ</th>
                                                <th>Հաստատող անձ</th>
                                                <th colspan="2">Կարգավիճակ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="trasnfersTableBody">
                                            @Html.Action("Get_TransferTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</section>

<div id="widgetHolder"></div>