﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using MVC___Internal_System.Models;
@using CommonLayer.BusinessEntities

@if (SentenceViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataTerminate) && Model.ListDashboardDeparture != null && Model.ListDashboardDeparture.Any())
{
    foreach (DepartureDashboardEntity curEntity in Model.ListDashboardDeparture)
    {
        <tr>
            @if (Enumerable.Any(ViewBag.Permissions) && curEntity.EndDate == null)
            {
                <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Departures">@curEntity.Personal_ID</a></td>
				<td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
				if (curEntity.PrisonerType == 3)
				{
					<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
				}
				else
				{
					<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
				}
                <td data-title="Մեկնումի նպատակ">@curEntity.PurposeLibItemLabel</td>
                            <td data-title="Մեկնումի տեսակ">@curEntity.TypeLibItemLabel</td>
                            @*<td data-title="Տևողություն">@curEntity.Duration</td>*@
                            <td data-title="Թույլատրող անձ">@((curEntity.EndDate == null) ? "-" : curEntity.ApproverEmployeeName)</td>
                            <td data-title="Մեկնումի ամսաթիվ" class="tableDateCol">@curEntity.StartDate</td>
                            <td data-title="Վերադարձի ամսաթիվ" class="tableDateCol"><button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeDepartureRow"><i class="fa fa-check-square-o"></i></button></td>
            }
        </tr>
    }
}