﻿@model MVC___Internal_System.Models.SentenceViewModel
@using CommonLayer.BusinessEntities

@if (Model.SentencingOverdueDashboardList != null && Model.SentencingOverdueDashboardList.Any())
{
    foreach (SentencingOverdueDashboardDataEntity curEntity in Model.SentencingOverdueDashboardList)
    {
        <tr>
            
            <td data-title="Անհատական համար"><a href="@Url.Action("Edit", "Convicts", new { id = curEntity.PrisonerID })">@curEntity.Personal_ID</td>
            <td data-title="Անուն Ազգանուն Հայրանուն">@curEntity.PrisonerName</td>
			@if (curEntity.Prisoners.Type == 3)
			{
				<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
			}
			else
			{
				<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
			}
                <td data-title="Ընդունման ամսաթիվ">@curEntity.SentencingStartDate</td>
                <td data-title="Ազատման ամսաթիվ">@curEntity.SentencingEndDate</td>
            
        </tr>
    }
}
