﻿@model MVC___Internal_System.Models.PackagesViewModel
@using CommonLayer.BusinessEntities

@if (Model.ListDashboardPackages != null && Model.ListDashboardPackages.Any())
{
    foreach (PackagesDashboardEntity curEntity in Model.ListDashboardPackages)
    {
        <tr>
            @if (Enumerable.Any(ViewBag.Permissions))
            {
                <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Packages">@curEntity.Personal_ID</a></td>
            }
            else
            {
                <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
            }
            <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
            @if (curEntity.PrisonerType == 3)
            {
                <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>}
            else
            {
                <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>}
            <td data-title="Հանձնուքի տեսակ">@curEntity.TypeLibItemLabel</td>

            <td data-title="Քաշ (կգ)">@curEntity.Weight</td>
            <td data-title="Ամսաթիվ" class="tableDateCol">@curEntity.AcceptDate</td>
            <td data-title="Այցելու">@curEntity.PersonName</td>
            <td data-title="Թույլատրող անձ">@((curEntity.AcceptDate == null) ? "-" : curEntity.ApproveEmployeeName)</td>
            <td data-title="Ընդունող անձ">@curEntity.EmployeeName</td>
            <td data-title="Կարգավիճակ" class="statusCol">
                @if (curEntity.AcceptDate == null)
                {
                    <span>Սպասման մեջ</span>
                }
                else
                {
                    if (curEntity.ApproveStatus != null && curEntity.ApproveStatus.Value)
                    {
                        <span>Հաստատված</span>
                    }
                    else
                    {
                        <span>Մերժված</span>
                    }
                }
            </td>
			<td>
				@if (curEntity.AcceptDate == null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
				{
					<div class="btn-group">
						<button data-id="@curEntity.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declinePackageRow"><i class="fa fa-ban"></i></button>
						<button data-id="@curEntity.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approvePackageRow"><i class="fa fa-check"></i></button>
					</div>
				}
			</td>
        </tr>
    }
}