﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

@if (Model.ListDashboardTransfer != null && Model.ListDashboardTransfer.Any())
{
    foreach (TransferDashboardEntity curEntity in Model.ListDashboardTransfer)
    {
        <tr class="@if (curEntity.ApproveStatus != null) { @String.Format(((!curEntity.ApproveStatus.Value) ? "hasObjection" : "hasObjectionResult"))}">
            @if (Enumerable.Any(ViewBag.Permissions) && curEntity.EndDate == null && (curEntity.ApproveStatus == null || curEntity.ApproveStatus.Value))
            {
                <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Transfers">@curEntity.Personal_ID</a></td>
                <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>  if (curEntity.PrisonerType == 3)
                {
                    <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>    }
                else
                {
                    <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>    }
                <td data-title="Նպատակ">@curEntity.PurposeLibItemLabel</td>
                <td data-title="Հանձնող անձ">@curEntity.PersonName</td>
                <td class="tableDateCol" data-title="Ամսաթիվ">@((curEntity.StartDate == null) ? "-" : curEntity.StartDate.Value.ToString("dd/MM/yyyy"))</td>
                <td data-title="Հաստատող անձ">@((curEntity.ApproverEmployeeID == null) ? "-" : curEntity.ApproverEmployeeName)</td>
                <td data-title="Կարգավիճակ" class="tableDateCol">
                    @curEntity.StateLibItemLabel
                </td>
                <td>
                    <div class="btn-group">
                        @if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                        {
                            if (curEntity.ApproveStatus != null && curEntity.ApproveStatus.Value && curEntity.StateLibItemID != 1552)
                            {
                                if ((curEntity.OrgUnitID == null || curEntity.OrgUnitID == ViewBag.SelectedOrgUnitID))
                                {
                                    <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeTransferRow"><i class="fa fa-check-square-o"></i></button>
                                }
                            }
                            //else if (curEntity.ApproveStatus == null)
                            else if (curEntity.ApproveStatus == null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                            {
                                <button data-id="@curEntity.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declineTransferRow"><i class="fa fa-ban"></i></button>
                                <button data-id="@curEntity.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approveTransferRow"><i class="fa fa-check"></i></button>
                            }
                        }
                    </div>
                </td>
            }
        </tr>
    }
    if (!Model.ListDashboardTransfer.Any())
    {
        @CommonLayer.HelperClasses.ConfigurationHelper.GetMessages().First(x => x.Key == "emptyList").Value
    }
}