body {
  background: #ffffff; }

#wrap {
  display: none; }

.toPrint {
  width: auto;
  border: 0;
  margin: 0;
  padding: 0;
  float: none !important;
  display: block !important; }

/* Default left, right, top, bottom margin is 2cm */
@page {
  margin: 2cm; }
/* First page, 10 cm margin on top */
@page :first {
  margin-top: 3cm; }
/* Left pages, a wider margin on the left */
@page :left {
  margin-left: 3cm;
  margin-right: 2cm; }
@page :right {
  margin-left: 2cm;
  margin-right: 3cm; }

/*# sourceMappingURL=main-print.css.map */
