﻿@model  MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities;

<div class="row" id="transferrowid">

    <div class="col-xs-12">
        <div class="form-group">
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Նպատակ</th>
                                <th>Տեղափոխմանը ներկայացող անձ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th class="tableDateCol">Վերադարձի ամսաթիվ</th>
                                <th>Տեղափոխման վայր</th>
                                <th>Թույլատրող անձ</th>
                                <th class="statusCol" >Կարգավիճակ</th>
                                <th class="statusCol" colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody id="maintablebody" class="maintablebody">
                            @if (Model.Transfer != null && Model.Transfer.Transfers != null && Model.Transfer.Transfers.Any())
                            {
                                @Html.Action("Draw_TransferTableRow", "_Popup_", new { Data = Model.Transfer.Transfers });
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
    {
        <div class="col-xs-12">
            <div class="btn-group btn-group-sm pull-right">
                <button id="addMainBtn" type="button" class="btn btn-default btn-flat">Ավելացնել</button>
            </div>
        </div>
    }
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileBtn">
                <span>Կցված ֆայլեր`</span>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                }
            </label>
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>Ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfileTableBody">
                            @if (Model.Transfer != null && Model.Transfer.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Transfer.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>