﻿@model MVC___Internal_System.Models.TransferViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Դատապարտյալ</th>
                <th>Դատապարտյալ(Կալանավոր)</th>
                <th>Նպատակ</th>
                <th>Տեղափոխմանը ներկայացող անձ</th>
                <th class="tableDateCol">Ամսաթիվ</th>
                <th class="tableDateCol">Վերադարձի ամսաթիվ</th>
                <th>Հաստատող անձ</th>
                <th>Կարգավիճակ</th>
                <th>Թույլատրող անձ</th>
            </tr>
        </thead>
        <tbody id="departureTableBody" class="loaderClass">
            @if (Model.ListDashboardTransfer != null && Model.ListDashboardTransfer.Any())
            {

                foreach (TransferDashboardEntity curEntity in Model.ListDashboardTransfer)
                {
                    <tr class="@if (curEntity.ApproveStatus != null) { @String.Format(((!curEntity.ApproveStatus.Value) ? "hasObjection" : "hasObjectionResult"))}">
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Transfers">@curEntity.Personal_ID</a></td>
                        }
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
                        @if (curEntity.PrisonerType == 3)
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>}
                        else
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>}
                        <td data-title="Նպատակ">@curEntity.PurposeLibItemLabel</td>
                        <td data-title="Հանձնող անձ">@curEntity.PersonName</td>
                        <td class="tableDateCol" data-title="Ամսաթիվ">@((curEntity.StartDate == null) ? "-" : curEntity.StartDate.Value.ToString("dd/MM/yyyy HH:mm"))</td>
                        <td data-title="Վերադարձի ամսաթիվ" class="tableDateCol">@(curEntity.EndDate != null ? curEntity.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")</td>
                        <td data-title="Հաստատող անձ">@((curEntity.ApproverEmployeeID == null) ? "-" : curEntity.ApproverEmployeeName)</td>
                        <td data-title="Կարգավիճակ" class="tableDateCol">
                            @curEntity.StateLibItemLabel
                            @if (curEntity.ApproveStatus != null && curEntity.ApproveStatus.Value && curEntity.StateLibItemID != 1552 && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                            {
                                if ((curEntity.OrgUnitID == null || curEntity.OrgUnitID == ViewBag.SelectedOrgUnitID))
                                {
                                    <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeTransferRow"><i class="fa fa-check-square-o"></i></button>
                                }
                            }
                        </td>
                        <td data-title="Թույլատրող անձ">
                            @if (curEntity.ApproverEmployeeName == null)
                            {
                                if (curEntity.ApproveStatus == null && (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions)))
                                {
                                    <button data-id="@curEntity.ID" title="Արգելել" type="button" class="btn btn-sm btn-flat btn-default declineTransferRow"><i class="fa fa-ban"></i></button>

                                    <button data-id="@curEntity.ID" title="Թույլատրել" type="button" class="btn btn-sm btn-flat btn-default approveTransferRow"><i class="fa fa-check"></i></button>
                                }

                            }
                            else
                            {
                                @curEntity.ApproverEmployeeName
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.TransferEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardTransfer != null && Model.TransferEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.TransferEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.TransferEntityPaging.CurrentPage == Model.TransferEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_TransferTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_TransferTableRow/@(Model.TransferEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass" data-pagenumber="@(Model.TransferEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.TransferEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                int i = 1;
                int t = Model.TransferEntityPaging.TotalPage;
                int c = Model.TransferEntityPaging.CurrentPage;
                int v = Model.TransferEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if (t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_TransferTableRow/@i" class="paginationBtn @((i == Model.TransferEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_TransferTableRow/@(Model.TransferEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_TransferTableRow/@Model.TransferEntityPaging.TotalPage" class="paginationBtn forward @nextClass" data-pagenumber="@t"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>
