﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

    <div class="row" id="item-list-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում`</th>
								<th>Ամսաթիվ`</th>
								<th colspan="2">Քանակ`</th>
                                
                            </tr>
                        </thead>
                        <tbody id="itemsobjectstablebody" class="itemsobjectstablebody">
                            @if (Model.Prisoner.ItemsObjects != null && Model.Prisoner.ItemsObjects.Items != null)
                            {
                                @Html.Action("Draw_ItemsObjectsTableRows", "_Popup_", new { Items = Model.Prisoner.ItemsObjects.Items })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <button type="button" class="btn btn-default btn-flat item-add-open" id="additemobjectBtn">Ավելացնել</button>
}
				 </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
				</label>
                <div class="tableWrap">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>Ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfileTableBody">
                            @if(Model.Prisoner.ItemsObjects != null && Model.Prisoner.ItemsObjects.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.ItemsObjects.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>