﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

    <div class="row" id="cell-list-wrap">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Խցիկի Համար`</th>
                                    <th>Ք.Կ.Հ</th>
                                    <th>Տեղափոխման վերաբերյալ ցուցում`</th>
                                    <th>Ցուցում տվող անձ`</th>
                                    <th>Մուտքի Ամսաթիվ`</th>
                                    <th>Ելքի Ամսաթիվ`</th>
                                    <th title="Հեռացնել"><i class="fa fa-trash-o"></i></th>
                                </tr>
                            </thead>
                            <tbody id="celltablebody" class="celltablebody">
                                @if (Model.Prisoner.CameraCard != null && Model.Prisoner.CameraCard.CameraCardItem != null)
                                {
                                    @Html.Action("Draw_CellTableRows", "_Popup_", new { Cells = Model.Prisoner.CameraCard.CameraCardItem });
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <button type="button" class="btn btn-sm btn-default btn-flat" id="addcellobjectBtn">Ավելացնել</button>

}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>

} </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>Ծավալ</th>
                                    <th class="tableDateCol">Ամսաթիվ</th>
                                    <th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfileTableBody">
                                @if (Model.Prisoner.CameraCard != null && Model.Prisoner.CameraCard.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.CameraCard.Files, PrisonerID = Model.Prisoner.ID });
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>