﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@{ string disabled = "disabled";}

@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
    disabled = "";
}
<div class="row">
    <div class="col-xs-12 @((Model.Prisoner.EducationsProfessions != null && Model.Prisoner.EducationsProfessions != null && Model.Prisoner.EducationsProfessions.MergeStatus != null && Model.Prisoner.EducationsProfessions.MergeStatus.Value) ? "" : "hidden") educationMergeWarningClass">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
            <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="education-status">Կրթություն`</label>
                    <select @disabled name="LibItemID" id="education-status"   class="getItems selectize-sm checkValidate selectize">
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.Education)
						{
                            <option value="@lib.ID" @(Model.Prisoner.EducationsProfessions.LibItemID == lib.ID ? "selected='selected'" : "")>@lib.Name</option>
						}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="profession">Մասնագիտություն`</label>
                    <select @disabled name="Professions" id="profession" class="objectItem getItems checkValidate selectize-sm selectize" multiple>
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.Profession)
						{
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.Professions != null && Model.Prisoner.EducationsProfessions.Professions.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
						}
                    </select>
                </div>
                <div class="form-group">
                    <label for="hobbies">Նախասիրություններ`</label>
                    <select @disabled name="Interests" id="hobbies" class="objectItem getItems checkValidate selectize-sm selectize" multiple>
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.Preferance)
						{
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.Interests != null && Model.Prisoner.EducationsProfessions.Interests.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
						}
                    </select>
                </div>
                <div class="form-group">
                    <label for="abilities">Ունակություններ, հմտություններ`</label>
                    <select @disabled name="AbilitiesSkills" id="abilities" class="objectItem getItems checkValidate selectize-sm selectize" multiple>
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.Abilities)
						{
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.AbilitiesSkills != null && Model.Prisoner.EducationsProfessions.AbilitiesSkills.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
						}
                    </select>
                </div>
                <div class="form-group">
                    <label for="languages">Լեզվի իմացություն`</label>
                    <select @disabled name="Languages" id="languages" class="objectItem getItems checkValidate selectize-sm selectize" multiple>
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.Languages)
						{
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.Languages != null && Model.Prisoner.EducationsProfessions.Languages.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
						}
                    </select>
                </div>
                <div class="form-group">
                    @*<label for="honors">`</label>
                    <select id="awards" class="objectItem  getItemOptional checkValidate selectize-sm selectize" multiple>
                        @foreach (LibsEntity lib in Model.OfficialGifts)
                        {
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.UniversityDegree != null && Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes != null && Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
                        }
                    </select>*@
                    <label for="honors" id="awards" class="objectItem getItems getItemOptional Awards" name="Awards">Պետական պարգևներ, մրցանակներ, պետական կոչումներ`</label>
                    @{
						List<int> checkedIDList = new List<int>();
						if (Model.Prisoner.EducationsProfessions != null && Model.Prisoner.EducationsProfessions.UniversityDegree != null && Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes != null)
						{
							foreach (var item in Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes)
							{
								checkedIDList.Add(item.LibItemID.Value);
							}
						}

						if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
						{
							@MyHelpers.DrawCustomSelect(Model.OfficialGifts, "Awards", true, null, checkedIDList)

						}
						else {
							for (int i = 0; i < checkedIDList.Count(); i++)
							{
								@MyHelpers.GetLibNameByID(checkedIDList[i]).ToString()<span>,</span>
							}
						}



					}
                </div>
            </div>
        </div>
        <div class="row hidden" id="academic-wrap">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="academic-degree">Գիտական աստիճան`</label>
                    <select @disabled name="UniversityDegree" id="academic-degree" class="getItems checkValidate getItemOptional selectize-sm selectize">
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.AcademicDegree)
                        {
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.UniversityDegree != null && Model.Prisoner.EducationsProfessions.UniversityDegree.AcademicDegreeLibItemID == lib.ID) ? "selected='selected'" : "")>@lib.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="academic-rank">Գիտական կոչում`</label>
                    <select @disabled id="science-academic-degree" class="getItemOptional checkValidate selectize-sm selectize">
                        <option value="">Ընտրել</option>
                        @foreach (LibsEntity lib in Model.ScienceDegree)
                        {
                            <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.UniversityDegree != null && Model.Prisoner.EducationsProfessions.UniversityDegree.DegreeLibItemID == lib.ID) ? "selected='selected'" : "")>@lib.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-xs-12">

				<div class="form-group">
					<label for="education-profession-info">Նշումներ`</label>
					<textarea @disabled name="Note" class="getItems form-control input-sm" id="education-profession-info" rows="4">@(Model.Prisoner.EducationsProfessions != null ? Model.Prisoner.EducationsProfessions.Note : "")</textarea>
				</div>
			</div>
	</div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="btn-group btn-group-sm pull-right">
						
						@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
						{
							<button type="button" class="btn btn-default btn-flat education-profession-add-apply" id="acceptBtn" disabled >Հաստատել</button>
						}
					    </div>
                </div>
            </div>
        </div>
    </div>
</div>