﻿@using CommonLayer.BusinessEntities;
@using System.Text.RegularExpressions;

@*Include additional files to head section*@
@helper InjectInitJavascript(List<string> FileNames)
{
if (FileNames != null)
{
    foreach (string FileName in FileNames)
    {
            <script type="text/javascript" src="~/Content/js/run/@FileName"></script>
    }
}
}

@helper DrawAmnestyPoints(List<AmnestyPointsEntity> List, int counter = 0)
{
foreach (AmnestyPointsEntity item in List)
{
        <li>
            <label>
                <span>@item.Order</span>
                <input class="form-control input-sm checkValidatePoints getPoints" type="text" value="@item.Name" data-id="@item.ID" data-tempid="@item.Order" data-parentid="@item.RealParentID" data-new="false" />
            </label>
            <div class="btn-group btn-group-sm pull-left">
                <button class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white removeRow" title="Վերացնել">
                    <i class="fa fa-close"></i>
                </button>
                <a href="#" title="Ավելացնել ենթապայման" type="button" class="btn btn-sm btn-default btn-flat addChild" @(counter == 2 ? "disabled" : "")>
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            @if (item.subItems.Any())
        {
                <ul data-depth="@item.Order">
                    @DrawAmnestyPoints(item.subItems, ++counter)
                </ul>
            }
        </li>
}
}

@*User info after login with logout button*@
@helper ShowSystemUserInfo(dynamic ViewBag)
{
    <li class="hdrUser dropdown">
        <a href="#" class="hdrUserToggle" title="User" data-target="#" id="hdrUSerToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @ViewBag.FirstName @ViewBag.LastName
        </a>
        <ul class="dropdown-menu dropdown-menu-right userDropdown">
            <li class="dropdown-menu-header color-1-bg">
                @* ~/Content/img/users/user-10.jpg *@
                <img src="/Media/Get/@ViewBag.Avatar" class="img-circle" alt="Նկար չկա">
                <p>
                    @ViewBag.FirstName @ViewBag.LastName<br />
                    @ViewBag.Position<br />
                    @{
                        string LastloginDate = (ViewBag.LastLoginDate == null) ? "" : ViewBag.LastLoginDate.ToString("dd/MM/yyyy");
                    }
                    Նախկին մուտք՝ @LastloginDate
                </p>
            </li>
            <li class="dropdown-menu-footer userMenuFooter">
                <div class="pull-left">
                    @*  <a href="#" class="btn btn-sm btn-flat btn-default">Profile</a>*@
                </div>
                <div class="pull-right">
                    <a href="/Login/Logout" class="btn btn-sm btn-flat btn-default" id="logoutbutton">Ելք</a>
                </div>
            </li>
        </ul>
    </li>
}

@*Drawing menus*@
@helper DrawMenus(List<PermEntity> permissions)
{
    <menu>
        <ul>
            <li><a name="Dashboard" class="menutab" href="/Dashboard/Index">Ղեկ․ վահանակ</a></li>
            @if (permissions.Exists(permission => permission.ID == 13))
            {
                <li><a name="Convicts" class="menutab" href="/Convicts/Index">Դատապարտյալներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 14))
            {
                <li><a name="Prisoners" class="menutab" href="/Prisoners/Index">Կալանավորներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 15))
            {
                <li><a name="Encouragements" class="menutab" href="/Encouragements/Index">Խրախուսանքներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 16))
            {
                <li><a name="Penalty" class="menutab" href="/Penalty/Index">Տույժեր</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 17))
            {
                <li><a name="EducationalCourses" class="menutab" href="/EducationalCourses/Index">Դասընթացներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 18))
            {
                <li><a name="WorkLoads" class="menutab" href="/WorkLoads/Index">Աշխատանք</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 19))
            {
                <li><a name="OfficialVisits" class="menutab" href="/OfficialVisits/Index">Այցելություններ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 20) || permissions.Exists(permission => permission.ID == (int)PermissionsHardCodedIds.Permissions))
            {
                <li><a name="PersonalVisits" class="menutab" href="/PersonalVisits/Index">Տեսակցություններ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 21) || permissions.Exists(permission => permission.ID == (int)PermissionsHardCodedIds.Permissions))
            {
                <li><a name="Packages" class="menutab" href="/Packages/Index">Հանձնուքներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 22) || permissions.Exists(permission => permission.ID == (int)PermissionsHardCodedIds.Permissions))
            {
                <li><a name="Departures" class="menutab" href="/Departures/Index">Մեկնումներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 25))
            {
                <li><a name="Amnesty" class="menutab" href="/Amnesty/Index">Համաներում</a></li>
            }
			@if (permissions.Exists(permission => permission.ID == 27))
			{
				<li><a name="Report" class="menutab" href="/Report/Index">Հաշվետվություններ</a></li>
			}
			@if (permissions.Exists(permission => permission.ID == 28) || permissions.Exists(permission => permission.ID == (int)PermissionsHardCodedIds.Permissions))
			{
				<li><a name="Transfers" class="menutab" href="/Transfers/Index">Տեղափողումներ</a></li>
			}
            @if (permissions.Exists(permission => permission.ID == 36))
            {
                <li><a name="Merge" class="menutab" href="/Merge/Index">Հաստատումներ</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 23))
            {
                <li><a name="ViewLogs" class="menutab" href="/ViewLogs/Index">Լոգերի դիտում</a></li>
            }
            @if (permissions.Exists(permission => permission.ID == 24/*Permissions ID*/))
            {
                <li><a name="Permissions" class="menutab" href="/Permissions/Index">Թույլատվություններ</a></li>
            }
            <!--<li><a href="11-info-fields.html">Տվյալների մուտքագրման դաշտ</a></li>-->
            <!--<li><a href="12-tabs.html">Tabs</a></li>-->
            <!--<li><a href="13-add.html">Add</a></li>-->
        </ul>
    </menu>
}

@helper DrawArrestProceedings(List<ArrestDataProceedingEntity> list)
{
foreach (var item in list)
{
        <tr class="getItemsCollectPoints" data-libid="@item.ProceedLibItemID" data-date="@item.Date">
            <td>@item.ProceedLibItemLabel</td>
            <td>@(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy") : "-")</td>
  @if((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
  {
            <td><button title="Հեռացնել" class="btn btn-sm btn-default btn-flat removeProceed"><i class="fa fa-trash-o"></i></button></td>
        }
		</tr>
}
}
@helper DrawArrestProceedingsViews(List<ArrestDataProceedingEntity> list)
{
foreach (var item in list)
{
		<tr class="getItemsCollectPoints" data-libid="@item.ProceedLibItemID" data-date="@item.Date">
			<td>@item.ProceedLibItemLabel</td>
			<td>@(item.Date != null ? item.Date.Value.ToString("dd/MM/yyyy") : "-")</td>
			
		</tr>
}
}

@helper DrawHeightWeight(List<HeightWeightEntity> list)
{
foreach (var item in list)
{
        <tr class="getHeightWeight @((item.MergeStatus != null && item.MergeStatus.Value) ? "hasPending" : "")" data-height="@item.Height" data-weight="@item.Weight" data-id="@item.ID" data-pptype="@((int)System.Web.HttpContext.Current.Session["PPType"])">
            <td>@item.ModifyDate.Value.ToString("dd/MM/yyyy")</td>
            <td>@item.Height</td>
            <td>@item.Weight</td>
            <td>
                @if ((item.MergeStatus == null || !item.MergeStatus.Value) && (int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <button class="btn btn-sm btn-default btn-flat removeHeightWeight"title="Հեռացնել"><i class="fa fa-trash-o" ></i></button>
                }
            </td>
        </tr>
}
}


@helper GetBoolName(bool State)
{
switch (State)
{
    default:
    case true:
            @String.Format("Ակտիվ");
        break;
    case false:
            @String.Format("Պասիվ");
        break;
}
}
}
@helper GetSpouseBoolName(bool State)
{
switch (State)
{
    default:
    case true:
            @String.Format("Ամուսնացած");
        break;
    case false:
            @String.Format("Ամուսնալուծված");
        break;
}
}
}

@helper GetBoolNameYesNo(bool State)
{
switch (State)
{
    default:
    case true:
            @String.Format("Այո");
        break;
    case false:
            @String.Format("Ոչ");
        break;
}
}
}

@helper GetBoolNameauthorized(bool? State)
{
switch (State)
{
    default:
    case true:
            @String.Format("Թույլատրված");
        break;
    case false:
    case null:
            @String.Format("Չթույլատրված");
        break;
}
}
}

@helper GetEducationalCourseName(bool State)
{
switch (State)
{
    default:
    case true:
            @String.Format("Ներգրավված");
        break;
    case false:
            @String.Format("Ազատված");
        break;
}
}
}

@helper GetChildrenTypeName(int Num)
{
switch (Num)
{
    default:
    case 1:
            @String.Format("Հարազատ");
        break;
    case 2:
            @String.Format("Որդեգրված");
        break;
    case 3:
            @String.Format("Խնամքի տակ");
        break;
}
}
}

@helper GetLibNameByID(int? id)
{
if (id != null)
{
    LibsEntity Lib = BusinessLayer.BusinessServices.BL_LibsLayer.getInstance().GetLibByID(LibID: id.Value);
    if (Lib != null)
    {
            @String.Format(Lib.Name);
        }
        else
        {
            @id;
    }
}
}
}

@helper GetNationalityByID(int? id)
{
if (id != null)
{
    BusinessLayer.BusinessServices.BL_LibsLayer BL_PrisonersLayer = new BusinessLayer.BusinessServices.BL_LibsLayer();
    List<NationalityEntity> nationality = BL_PrisonersLayer.GetNationality(id);
    if (nationality != null)
    {
        @String.Format(nationality.First().Label);
    }
    else
    {
        @id;
    }
}
}
}

@helper GetSysterBrotherNameByLibID(int? id)
{
if (id != null)
{
    LibsEntity Lib = BusinessLayer.BusinessServices.BL_LibsLayer.getInstance().GetLibByID(LibID: id.Value);
    if (Lib != null)
    {
        if (Lib.Name == "Իգական")
        {
                @String.Format("Քույր");
            }
            else if (Lib.Name == "Արական")
            {

                @String.Format("Եղբայր");
            }
        }
        else
        {
            @id;
    }
}
}
}

@helper GetPersonNameByID(int? id)
{
if (id != null)
{
    BusinessLayer.BusinessServices.BL_PrisonersLayer BL_PrisonersLayer = new BusinessLayer.BusinessServices.BL_PrisonersLayer();
    PersonEntity person = BL_PrisonersLayer.GetPerson(PersonID: id.Value);
    if (person != null)
    {
            @String.Format(person.FirstName + " " + person.LastName);
    }
    else
    {
            @id;
    }
}
}
}

@helper GetEmployeeNameByID(int? id)
{
if (id != null)
{
    BusinessLayer.BusinessServices.BL_OrganizatonLayer BL_OrgLayer = new BusinessLayer.BusinessServices.BL_OrganizatonLayer();
    EmployeeEntity employee = BL_OrgLayer.GetEmployee(EmployeeID: id.Value);
    if (employee != null)
    {
            @String.Format(employee.FirstName + " " + employee.LastName);
        }
        else
        {
            @id;
        }
    }
}


@helper GetOrgUnitNameByID(int? id)
{
if (id != null)
{
    BusinessLayer.BusinessServices.BL_OrganizatonLayer BL_OrgLayer = new BusinessLayer.BusinessServices.BL_OrganizatonLayer();
    OrgUnitEntity orgunit = BL_OrgLayer.GetOrgUnit(ID: id.Value, ParentID:null);
    if (orgunit != null)
    {
            @String.Format(orgunit.Label);
        }
        else
        {
            @id;
        }
    }
}

@helper DrawCustomSelect(List<LibsEntity> LibList, string name, bool multi = false, int? checkedID = null, List<int> checkedIDList = null)
{
    <div class="customSelectWrap">
        <div id="customSelect@(name)Drop" class="customSelectDropInside customSelectNames@(name) customSelectNamesItem">
            <a class="mainNode selectItems" href="javascript:;">Ընտրել</a>
        </div>
        <div id="customSelect@(name)" class="custom-select-dropdown dropdown-menu dropdown-menu-right">
            <section class="custom-select-dropdown-in-body">
                @CustomSelectRecursion(LibList, name, multi, checkedID, checkedIDList, "")
            </section>
        </div>
    </div>
}
@helper drawCustomSelectRecursionSelected(List<LibsEntity> LibList,  int? checkedID = null, List<int> checkedIDList = null, string newName = "")
{
        foreach (var curLib in LibList)
        {
            string matchName = "";
            Regex reg = new Regex(@"^((Հոդված\s{1}[\d]+\.)|([\d]+[\.|\)]))", RegexOptions.IgnoreCase);
            Match m = reg.Match(curLib.Name.TrimStart());
            while (m.Success)
            {
                matchName = m.Value;
                break;
            }
                if (curLib.subitems.Any())
                {
                   
                        @drawCustomSelectRecursionSelected(curLib.subitems, checkedID, checkedIDList, newName + " " + matchName)

                }
                else
                {
                            if ((checkedIDList != null && checkedIDList.FindAll(r => r == curLib.ID).Any()) || (checkedID != null && checkedID == curLib.ID))
                            {
                                <span>
                                    @(newName + " " + matchName)
                                </span>
                            }
                }
        }
}

@helper CustomSelectRecursion(List<LibsEntity> LibList, string name, bool multi = false, int? checkedID = null, List<int> checkedIDList = null, string newName = "")
{
    <ul>
        @foreach (var curLib in LibList)
        {
            string matchName = "";
            Regex reg = new Regex(@"^((Հոդված\s{1}[\d]+\.)|([\d]+[\.|\)]))", RegexOptions.IgnoreCase);
            Match m = reg.Match(curLib.Name.TrimStart());
            while (m.Success)
            {
                matchName = m.Value;
                break;
            }
            <li>
                @if (curLib.subitems.Any())
                {
                    <button data-target="#collapseSelect@(name)@(curLib.ID)" aria-controls="collapseSelect@(name)@(curLib.ID)" class="btn btn-primary" type="button" data-toggle="collapse" aria-expanded="false">
                        @curLib.Name
                    </button>
                    <div class="collapse" id="collapseSelect@(name)@(curLib.ID)">
                        
                        @CustomSelectRecursion(curLib.subitems, name, multi, checkedID, checkedIDList, (name == "SentencingDataArticles" ? newName + " " + matchName : ""))
                    </div>
                }
                else
                {

                    <label>
                        
                        <input data-newname="@(name == "SentencingDataArticles" ? newName + " " + matchName : newName)" class="customSelectInput@(name) checkItemsCustom" id="customSelectInput@(name)@curLib.ID" data-name="@curLib.Name" value="@curLib.ID" type="@(multi ? "checkbox" : "radio")" name="@name" @(((checkedIDList != null && checkedIDList.FindAll(r => r == curLib.ID).Any()) || (checkedID != null && checkedID == curLib.ID)) ? "checked" : "") />
                        <span>
                            @curLib.Name
                        </span>
                    </label>
                }
            </li>
        }
    </ul>
}

@helper drawImageSlides(List<string> images)
{
    <div>
        <div id="myCarousel" class="carousel slide">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                @for (int i = 0; i < images.Count; i++)
                {
                    <div class="item @(i == 0 ? "active" : "")">
                        <img src="@images[i]" alt="Նկար չկա" />
                        <a href="@images[i]" target="_blank"title="Դիտել" class="carousel-external-link">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                }
            </div>
            <!-- Left and right controls -->
            <a title="Նախորրդ" class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
            </a>
            <a title="Հաջորդ" class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <i class="fa fa-chevron-right"></i>
            </a>
            <ol class="carousel-indicators carousel-indicators-custom">
                @for (int i = 0; i < images.Count; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")">
                        <img src="@images[i]" alt="Նկար չկա" />
                    </li>
                }
            </ol>
        </div>
    </div>
}

@helper DrawLibItemNames(List<InjunctionItemObjectEntity> list)
{
string name = "";

for(int i = 0; i < list.Count; i++)
{
    if (i == 0)
    {
        name = list[i].LibItem_Label;
    }
    else
    {
            name += ", " + list[i].LibItem_Label;
    }
}
@name
}

@helper GetLibItemNamesByID(List<int> list) {

string name = "";

for (int i = 0; i < list.Count; i++)
{
    if (i == 0)
    {
        name = BusinessLayer.BusinessServices.BL_LibsLayer.getInstance().GetLibByID(LibID: list[i]).Name;
    }
    else
    {
        name += ", " + BusinessLayer.BusinessServices.BL_LibsLayer.getInstance().GetLibByID(LibID: list[i]).Name;
    }
}
@name
}


@helper DrawEmplooyeeNames(List<EmployeeEntity> list)
{

string name = "";

for (int i = 0; i < list.Count; i++)
{
    if (i == 0)
    {
        name = list[i].FirstName + list[i].LastName + list[i].MiddleName;
    }
    else
    {
        name += ", " + list[i].FirstName + list[i].LastName + list[i].MiddleName;
    }
}
    @name
}