﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
@{string disableMode = "disabled"; }
@{string noMode = ""; }
<div class="row">
    <div class="col-xs-12 @((Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.FamilyStatusID != null && Model.Prisoner.FamiltyRelative.MergeStatus != null && Model.Prisoner.FamiltyRelative.MergeStatus.Value) ? "" : "hidden") familyMergeWarningClass">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
            <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-marital-status">Ընտանեկան կարգավիճակ`</label>

                    <select @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1) { @noMode  } else { @disableMode  } name="FamilyStatusID" id="FamilyStatusID" class="selectize-sm selectize">
                        <option value="">Ընտրել</option>
                        <option value="1" @((Model.Prisoner.FamiltyRelative.FamilyStatusID != null && (int)Model.Prisoner.FamiltyRelative.FamilyStatusID == 1) ? "selected" : "")>Ամուսնացած չէ</option>
                        <option value="2" @((Model.Prisoner.FamiltyRelative.FamilyStatusID != null && (int)Model.Prisoner.FamiltyRelative.FamilyStatusID == 2) ? "selected" : "")>Ամուսնացած է</option>
                        <option value="3" @((Model.Prisoner.FamiltyRelative.FamilyStatusID != null && (int)Model.Prisoner.FamiltyRelative.FamilyStatusID == 3) ? "selected" : "")>Ամուսնալուծված է</option>
                    </select>

                </div>
            </div>
        </div>
        @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="acceptFamilyStatusButton" disabled>Հաստատել</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row" id="family-partner-wrap">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Ամուսնու`</label>
                    <div class="tableWrap">
                        <div class="tableWrapIn">
                            <table class="table table-bordered table-valignM">
                                <thead>
                                    <tr>
                                        <th>Ա.Ա.Հ.</th>
                                        <th>Անձնագիր</th>
                                        <th>Հասցե</th>
                                        <th>Ամուս. գրանցված է/չէ</th>
                                        <th>Ամուս. վկայական</th>
                                        <th colspan="2">Ամուս. կարգավիճակ</th>
                                    </tr>
                                </thead>
                                <tbody id="addspousetablebody" class="spouseLoader">
                                    @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Spouses != null)
                                    {
                                        @Html.Action("Draw_SpousesTableRow", "_Popup_", new { Data = Model.Prisoner.FamiltyRelative.Spouses })
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <div class="form-group text-right">
                        <button data-type="spouse" data-toggle="modal" data-target=".family-partner-add-modal" type="button" class="addRelativeBtn btn btn-sm btn-default btn-flat">Ավելացնել</button>
                    </div>
                }
            </div>
        </div>
        <div class="formsWrapSeparator"></div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-children-status">Երեխաներ`</label>
                    <select @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1) { @noMode  } else { @disableMode  } id="family-children-status" class="selectize-sm selectize">
                        <option value="1" @(!Model.Prisoner.FamiltyRelative.Childrens.Any() ? "selected" : "")>Չունի</option>
                        <option value="2" @(Model.Prisoner.FamiltyRelative.Childrens.Any() ? "selected" : "")>Ունի</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="family-children-wrap">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="tableWrap">
                        <div class="tableWrapIn">
                            <table class="table table-bordered table-valignM">
                                <thead>
                                    <tr>
                                        <th>Ա.Ա.Հ.</th>
                                        <th>Անձնագիր կամ ծննդ. վկայական</th>
                                        <th>Երեխան</th>
                                        <th>Որդեգրման կամ խնամակալության վկայական</th>
                                        <th colspan="2">Նշումներ</th>
                                    </tr>
                                </thead>
                                <tbody id="addchildrentablebody" class="childrenLoader">
                                    @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Childrens != null)
                                    {
                                        @Html.Action("Draw_ChildrensTableRow", "_Popup_", new { Data = Model.Prisoner.FamiltyRelative.Childrens })
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="col-xs-12">
                    <div class="form-group text-right">
                        <button data-toggle="modal" data-type="children" data-target=".family-child-add-modal" type="button" class="addRelativeBtn btn btn-sm btn-default btn-flat">Ավելացնել երեխա</button>
                    </div>
                </div>
            }
        </div>
        <div class="formsWrapSeparator"></div>
        <div class="row" id="family-parents-wrap">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Ծնողներ`</label>
                    <div class="tableWrap">
                        <div class="tableWrapIn">
                            <table class="table table-bordered table-valignM">
                                <thead>
                                    <tr>
                                        <th>Ա.Ա.Հ.</th>
                                        <th>Անձնագիր</th>
                                        <th>Հասցե</th>
                                        <th colspan="2">Հայր/մայր</th>
                                        @*<th colspan="2">Փոխկապակցված անձ</th>*@
                                    </tr>
                                </thead>
                                <tbody id="addparenttablebody" class="parentLoader">
                                    @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Parents != null)
                                    {
                                        @Html.Action("Draw_ParentsTableRow", "_Popup_", new { Data = Model.Prisoner.FamiltyRelative.Parents })
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="col-xs-12">
                    <div class="form-group text-right">
                        <button data-type="parent" data-toggle="modal" data-target=".family-parent-add-modal" type="button" class="addRelativeBtn btn btn-sm btn-default btn-flat">Ավելացնել ծնող</button>
                    </div>
                </div>
            }
        </div>
        <div class="formsWrapSeparator"></div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-siblings-status">Քույր(եղբայր)`</label>
                    <select @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1) { @noMode  } else { @disableMode  } id="family-siblings-status" class="selectize-sm selectize">
                        <option value="1" @(!Model.Prisoner.FamiltyRelative.SisterBrother.Any() ? "selected" : "")>Չունի</option>
                        <option value="2" @(Model.Prisoner.FamiltyRelative.SisterBrother.Any() ? "selected" : "")>Ունի</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="family-siblings-wrap">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="tableWrap">
                        <div class="tableWrapIn">
                            <table class="table table-bordered table-valignM">
                                <thead>
                                    <tr>
                                        <th>Ա.Ա.Հ.</th>
                                        <th>Անձնագիր կամ ծննդ. վկայական</th>
                                        <th colspan="2">Քույր / եղբայր</th>
                                    </tr>
                                </thead>
                                <tbody id="addsysterbrothertablebody" class="systerLoader">
                                    @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.SisterBrother != null)
                                    {
                                        @Html.Action("Draw_SisterBrotherTableRow", "_Popup_", new { Data = Model.Prisoner.FamiltyRelative.SisterBrother })
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="col-xs-12">
                    <div class="form-group text-right">
                        <button data-type="systerbrother" data-toggle="modal" data-target=".family-sibling-add-modal" type="button" class="addRelativeBtn btn btn-sm btn-default btn-flat">Ավելացնել քույր/եղբայր</button>
                    </div>
                </div>
            }
        </div>
        <div class="formsWrapSeparator"></div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-other-relatives-status">Այլ հարազատներ`</label>
                    <select @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1) { @noMode  } else { @disableMode  } id="family-other-relatives-status" class="selectize-sm selectize">
                        <option value="1" @(!Model.Prisoner.FamiltyRelative.OtherRelatives.Any() ? "selected" : "")>Չունի</option>
                        <option value="2" @(Model.Prisoner.FamiltyRelative.OtherRelatives.Any() ? "selected" : "")>Ունի</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" id="family-other-relatives-wrap">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="tableWrap">
                        <div class="tableWrapIn">
                            <table class="table table-bordered table-valignM">
                                <thead>
                                    <tr>
                                        <th>Ա.Ա.Հ.</th>
                                        <th>Անձնագիր կամ ծննդ. վկայական</th>
                                        <th colspan="2">Տեսակ</th>
                                    </tr>
                                </thead>
                                <tbody id="addotherrelativetablebody" class="otherLoader">
                                    @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.OtherRelatives != null)
                                    {
                                        @Html.Action("Draw_OtherRelativeTableRow", "_Popup_", new { Data = Model.Prisoner.FamiltyRelative.OtherRelatives })
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
            {
                <div class="col-xs-12">
                    <div class="form-group text-right">
                        <button data-type="otherrelative" data-toggle="modal" data-target=".family-other-relative-add-modal" type="button" class="addRelativeBtn btn btn-sm btn-default btn-flat">Ավելացնել հարազատ</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileBtn">
                <span>Կցված ֆայլեր`</span>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                }
            </label>
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>Ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th title="Ներբեռնել" colspan="2"><i class="fa fa-download" ></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfileTableBody" class="fileLoader">
                            @if (Model.Prisoner.FamiltyRelative != null && Model.Prisoner.FamiltyRelative.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.FamiltyRelative.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$(function () {
    //    var familyChildrenStatus = $("#family-children-status");

    //    function familyChildrenStatusVals() {
    //        var familyChildrenStatusValue = familyChildrenStatus.val();
    //        if (familyChildrenStatusValue == "2") {
    //            $("#family-children-wrap").removeClass("hidden");
    //        }
    //        else {
    //            $("#family-children-wrap").addClass("hidden");
    //        }
    //    }

    //    familyChildrenStatus.change(familyChildrenStatusVals);
    //    familyChildrenStatusVals();

    //    var familySiblingsStatus = $("#family-siblings-status");

    //    function familySiblingsStatusVals() {
    //        var familySiblingsStatusValue = familySiblingsStatus.val();
    //        if (familySiblingsStatusValue == "2") {
    //            $("#family-siblings-wrap").removeClass("hidden");
    //        }
    //        else {
    //            $("#family-siblings-wrap").addClass("hidden");
    //        }
    //    }

    //    familySiblingsStatus.change(familySiblingsStatusVals);
    //    familySiblingsStatusVals();

    //    var familyOtherRelativesStatus = $("#family-other-relatives-status");

    //    function familyOtherRelativesStatusVals() {
    //        var familyOtherRelativesStatusValue = familyOtherRelativesStatus.val();
    //        if (familyOtherRelativesStatusValue == "2") {
    //            $("#family-other-relatives-wrap").removeClass("hidden");
    //        }
    //        else {
    //            $("#family-other-relatives-wrap").addClass("hidden");
    //        }
    //    }

    //    familyOtherRelativesStatus.change(familyOtherRelativesStatusVals);
    //    familyOtherRelativesStatusVals();
    //});
</script>