﻿@model MVC___Internal_System.Models.DepartureViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Դատապարտյալ</th>
                <th>Դատապարտյալ(Կալանավոր)</th>
                <th>Մեկնումի նպատակ</th>
                <th>Մեկնումի վայր</th>
                <th>Մեկնումի տեսակ</th>
                <th>Տևողություն</th>
                <th>Թույլատրող անձ</th>
                <th class="tableDateCol">Մեկնումի ամսաթիվ</th>
                <th class="tableDateCol">Վերադարձի ամսաթիվ</th>
            </tr>
        </thead>
        <tbody id="departureTableBody" class="loaderClass">
            @if (Model.ListDashboardDeparture != null && Model.ListDashboardDeparture.Any())
            {
                foreach (DepartureDashboardEntity curEntity in Model.ListDashboardDeparture)
                {
                    <tr class="@if (curEntity.State != null) { @String.Format(((!curEntity.State.Value) ? "hasObjection" : "hasObjectionResult"))}">
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#Departures">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
                        @if (curEntity.PrisonerType == 3)
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
                        }
                        else
                        {
                            <td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
                        }
                        <td data-title="Մեկնումի նպատակ">@curEntity.PurposeLibItemLabel</td>
                        <td data-title="Մեկնումի նպատակ">@curEntity.Place</td>
                        <td data-title="Մեկնումի տեսակ">@curEntity.TypeLibItemLabel</td>
                        @if (curEntity.DuartionByHour == 0)
                        {
                            <td data-title="Տևողություն">@curEntity.Duration օր</td>
                        }
                        else
                        {
                            <td data-title="Տևողություն">@curEntity.Duration оր @curEntity.DuartionByHour ժամ </td>
                        }
                        <td data-title="Թույլատրող անձ">
                            @if(curEntity.ApproverEmployeeID == null && ((MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Departures) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))))
                            {
                                <button data-id="@curEntity.ID" class="btn btn-sm btn-flat btn-default declineMainRow @((curEntity.MergeStatus != null && curEntity.MergeStatus.Value) ? "hidden" : "")" title="Արգելել" type="button"><i class="fa fa-ban"></i></button>
                                <button data-id="@curEntity.ID" class="btn btn-sm btn-flat btn-default approveMainRow @((curEntity.MergeStatus != null && curEntity.MergeStatus.Value) ? "hidden" : "")" title="Թույլատրել" type="button"><i class="fa fa-check"></i></button>
                            }
                            else
                            {
                                @curEntity.ApproverEmployeeName
                            }
                        </td>
                        <td data-title="Մեկնումի ամսաթիվ" class="tableDateCol">@curEntity.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                        <td data-title="Վերադարձի ամսաթիվ" class="tableDateCol">
                            @if (curEntity.EndDate == null && curEntity.State != null && curEntity.State.Value)
                            {
                                if (MVC___Internal_System.Models.PrisonersViewModel.existGuard(ViewBag.PermissionGuards, PermissionsHardCodedIds.Departures) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                {
                                    <button data-id="@curEntity.ID" title="Ավարտել" class="btn btn-sm btn-flat color-red-bg color-red-hover-bg color-text-white completeDepartureRow">
                                        <i class="fa fa-check"></i>
                                    </button>
                                }
                            }
                            else
                            {
                                @(curEntity.EndDate != null ? curEntity.EndDate.Value.ToString("dd/MM/yyyy HH:mm") : "-")

                            }
                        </td>
                        </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.DepartureEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardDeparture != null && Model.DepartureEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.DepartureEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.DepartureEntityPaging.CurrentPage == Model.DepartureEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_DepartureTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_DepartureTableRow/@(Model.DepartureEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass" data-pagenumber="@(Model.DepartureEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.DepartureEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
                }
                int i = 1;
                int t = Model.DepartureEntityPaging.TotalPage;
                int c = Model.DepartureEntityPaging.CurrentPage;
                int v = Model.DepartureEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if (t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_DepartureTableRow/@i" class="paginationBtn @((i == Model.DepartureEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_DepartureTableRow/@(Model.DepartureEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Get_DepartureTableRow/@Model.DepartureEntityPaging.TotalPage" class="paginationBtn forward @nextClass" data-pagenumber="@t"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass" data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
    </div>
</div>
