﻿@model  MVC___Internal_System.Models.ConflictsViewModel
@using CommonLayer.BusinessEntities;

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Անհամատեղելի անձինք`</label>
                </div>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM collapseTable">
                            <thead>
                                <tr>
                                    <th>Անհատական համար</th>
                                    <th>Անուն Ազգանուն Հայրանուն</th>
                                    <th>Ծննդ. ամսաթիվ</th>
                                    <th>Անձնագիր</th>
                                </tr>
                            </thead>
                            <tbody id="conflictMainTableBody">
                                @if (Model.Conflict != null && Model.Conflict.ConflictsMain != null && Model.Conflict.ConflictsMain.Any())
                                {
                                    @Html.Action("Draw_ConflictMainTableRow", "_Popup_", new { Data = Model.Conflict.ConflictsMain });
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <label>Կոնֆլիկտային անձինք`</label>
        </div>
        <div class="form-group">
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM collapseTable">
                        <thead>
                            <tr>
                                <th>Անձնական համար</th>
                                <th>Անուն Ազգանուն Հայրանուն</th>
                                <th>Ծննդ. ամսաթիվ</th>
                                <th>Նկարագրություն</th>
                                <th colspan="2">Անձնագիր</th>
                            </tr>
                        </thead>
                        <tbody id="maintablebody">
                            @if (Model.Conflict != null && Model.Conflict.Conflicts != null && Model.Conflict.Conflicts.Any())
                            {
                                @Html.Action("Draw_ConflictTableRow", "_Popup_", new { Data = Model.Conflict.Conflicts });
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
    {
        <div class="col-xs-12">
            <div class="form-group">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" class="btn btn-default btn-flat" id="addMainBtn">Ավելացնել</button>
                </div>
            </div>
        </div>
    }
    <div class="col-xs-12">
        <div class="formsWrapSeparator"></div>
        <div class="form-group">
            <label class="add-file-label" id="addfileBtn">
                <span>Կցված ֆայլեր`</span>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
                {
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                }
            </label>
            <div class="tableWrap">
                <div class="tableWrapIn">
                    <table class="table table-bordered table-valignM">
                        <thead>
                            <tr>
                                <th>Անվանում</th>
                                <th>Տեսակ</th>
                                <th>Ծավալ</th>
                                <th class="tableDateCol">Ամսաթիվ</th>
                                <th colspan="2"><i class="fa fa-download"title="Ներբեռնել"></i></th>
                            </tr>
                        </thead>
                        <tbody id="addfileTableBody">
                            @if (Model.Conflict != null && Model.Conflict.Files != null)
                            {
                                @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Conflict.Files, PrisonerID = Model.Prisoner.ID })
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>