﻿@model  MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>
                                    @if (Model.Prisoner != null && Model.Prisoner.ID != null)
                                    {
                                       @(Model.Prisoner.Person.FirstName + " " + Model.Prisoner.Person.MiddleName + " " + Model.Prisoner.Person.LastName)
                                    }
                                    else
                                    {
                                        String.Format("Ավելացնել Դատապարտյալ");
                                    }
                                </span>
                                @if ((Model.Prisoner.ArchiveStatus != null && !Model.Prisoner.ArchiveStatus.Value))
                                {
                                    <span>
                                        @String.Format("(Համար " + Model.Prisoner.PersonalCaseNumber + ")")
                                    </span>
                                }
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            @if ((Model.Prisoner.ArchiveStatus != null && !Model.Prisoner.ArchiveStatus.Value) && (Model.Prisoner.State != null && Model.Prisoner.State.Value))
                            {
                                <button type="button" class="btn btn-sm btn-default btn-flat" id="openCaseBtn">Բացել</button>
                            }
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12 @((Model.MergeStatus != null && Model.MergeStatus.Value) ? "" : "hidden") mainMergeWarningClass">
                                        <div class="alert alert-warning">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
                                            <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="formsWrapTabs formsAddWrapTabs">
                                            <div class="formsWrapTabsLeft">
                                                <ul role="tablist" id="subControllerList">
                                                    @{ 
                                                        int id = 0;
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.MainData))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Initial_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.MainData)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Initial_" aria-controls="initialData" role="tab" data-toggle="tab">Անձնագրային տվյալներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.MainData))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Primary_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.MainData)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Primary_" aria-controls="_Data_Primary_" role="tab" data-toggle="tab">Հիմնական տվյալներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.PhysicalData))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Physical_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.PhysicalData)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Physical_" aria-controls="_Data_Physical_" role="tab" data-toggle="tab">Ֆիզիկական տվյալներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Medicals))
                                                    {
                                                        <li role="presentation" data-controller="Medical" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Medicals)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Medical" aria-controls="Medical" role="tab" data-toggle="tab">Բժշկական տվյալներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.FingerprintsTattoosScars))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Finger_Tattoo_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.FingerprintsTattoosScars)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Finger_Tattoo_" aria-controls="_Data_Finger_Tattoo_" role="tab" data-toggle="tab">Մատնահետքեր, դաջվածքներ, սպիներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.FamilyRelative))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Family_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.FamilyRelative)"><a id="subControl@(+id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Family_" aria-controls="_Data_Family_" role="tab" data-toggle="tab">Ընտանիք, հարազատներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.EducationsProfessions))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Education_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.EducationsProfessions)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Education_" aria-controls="_Data_Education_" role="tab" data-toggle="tab">Կրթություն, մասնագիտություն</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.MilitaryService))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Army_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.MilitaryService)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Army_" aria-controls="_Data_Army_" role="tab" data-toggle="tab">Ծառայությունը զինված ուժերում</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.AdoptionInformation))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Enterance_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.AdoptionInformation)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Enterance_" aria-controls="_Data_Enterance_" role="tab" data-toggle="tab">ՔԿՀ ընդունման տվյալներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.CameraCard))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Cell_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.CameraCard)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Cell_" aria-controls="_Data_Cell_" role="tab" data-toggle="tab">Խցիկային քարտ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.ItemsObjects))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Items_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.ItemsObjects)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Items_" aria-controls="_Data_Items_" role="tab" data-toggle="tab">Իրեր և առարկաներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataBans))
                                                    {
                                                    <li role="presentation" data-controller="_Data_Ban_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.DataBans)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Ban_" aria-controls="_Data_Ban_" role="tab" data-toggle="tab">Արգելանքներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Encouragements))
                                                    {
                                                        <li role="presentation" data-controller="Encouragements" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Encouragements)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Encouragements" aria-controls="Encouragements" role="tab" data-toggle="tab">Խրախուսանքներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Penalties))
                                                    {
                                                        <li role="presentation" data-controller="Penalty" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Penalties)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Penalty" aria-controls="Penalty" role="tab" data-toggle="tab">Տույժեր</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.EducationalCourses))
                                                    {
                                                        <li role="presentation" data-controller="EducationalCourses" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.EducationalCourses)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#EducationalCourses" aria-controls="EducationalCourses" role="tab" data-toggle="tab">Դասընթացներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.WorkLoads))
                                                    {
                                                        <li role="presentation" data-controller="WorkLoads" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.WorkLoads)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#WorkLoads" aria-controls="WorkLoads" role="tab" data-toggle="tab">Աշխատանք</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.OfficialVisits))
                                                    {
                                                        <li role="presentation" data-controller="OfficialVisits" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.OfficialVisits)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#OfficialVisits" aria-controls="OfficialVisits" role="tab" data-toggle="tab">Այցելություններ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.PersonalVisits) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                                    {
                                                        <li role="presentation" data-controller="PersonalVisits" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.PersonalVisits)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#PersonalVisits" aria-controls="PersonalVisits" role="tab" data-toggle="tab">Տեսակցություններ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Packages) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                                    {
                                                        <li role="presentation" data-controller="Packages" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Packages)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Packages" aria-controls="Packages" role="tab" data-toggle="tab">Հանձնուքներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Departures) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                                    {
                                                        <li role="presentation" data-controller="Departures" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Departures)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Departures" aria-controls="Departures" role="tab" data-toggle="tab">Մեկնումներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Transfers) || MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.Permissions))
                                                    {
                                                        <li role="presentation" data-controller="Transfers" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.Transfers)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Transfers" aria-controls="Transfers" role="tab" data-toggle="tab">Տեղափոխումներ</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.ConflictPersons))
                                                    {
                                                        <li role="presentation" data-controller="Conflicts" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.ConflictPersons)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#Conflicts" aria-controls="Conflicts" role="tab" data-toggle="tab">Անհամատեղելի անձինք</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataTerminate) && (Model.Prisoner.State == true || (Model.Prisoner.State == false && Model.Prisoner.ArchiveStatus == false)))
                                                    {
                                                        <li role="presentation" data-controller="_Data_Terminate_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.DataTerminate)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Terminate_" aria-controls="_Data_Terminate_" role="tab" data-toggle="tab">Գործի փակում</a></li>
                                                    }
                                                    @if (MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.DataArchive))
                                                    {
                                                        <li role="presentation" data-controller="_Data_Archive_" data-id="@(id)" class="subControllerListLi pendingUnit@((int)PermissionsHardCodedIds.DataArchive)"><a id="subControl@(id)" class="subControllerListA" data-id="@(id++)" href="#_Data_Archive_" aria-controls="_Data_Archive_" role="tab" data-toggle="tab">Արխիվ</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="formsWrapTabsRight">
                                                @if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Add" || (Model.Prisoner.State == false))
                                                {
                                                    <div class="formsWrapTabsRightControl clearfix">
                                                        <div class="pull-left">
                                                            <button class="btn btn-default btn-flat btn-add-page-prev" disabled>Նախորդ</button>
                                                            @*<button class="btn btn-default btn-flat btn-add-page-pass">Բաց թողնել</button>*@
                                                            <button class="btn btn-default btn-flat btn-add-page-next">Հաջորդ</button>
                                                        </div>
                                                        <div class="pull-right" style="margin-top: 3px;">
                                                            <div class="form-group clearfix">
                                                                <div class="pull-left">
                                                                    <label for="ArchiveData">Արխիվային`</label>
                                                                </div>
                                                                <div style="width: 100px;margin-left: 10px;" class="pull-left">
                                                                    <select name="ArchiveData" id="ArchiveData" class="getArchiveData selectize-sm selectizeArchiveData" @((Model.Prisoner.ID != null) || (!MVC___Internal_System.Models.PrisonersViewModel.exists(ViewBag.Permissions, PermissionsHardCodedIds.ArchivePrisoner)) ? "disabled" : "")>
                                                                        <option value="false" @((Model.Prisoner != null && Model.Prisoner.ArchiveData != null && !Model.Prisoner.ArchiveData.Value) ? "selected" : "")>Ոչ</option>
                                                                        <option value="true" @((Model.Prisoner != null && Model.Prisoner.ArchiveData != null && Model.Prisoner.ArchiveData.Value) ? "selected" : "")>Այո</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="formsWrapSeparator"></div>
                                                }

                                                <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade in active loaderClass" id="partialViewHolder">
                                                        @* HERE GOES SUB CONTROLLERS CONTENT*@
                                                    </div>
                                                </div>
                                                @if (HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "Add" || (Model.Prisoner.State == false))
                                                {
                                                    <div class="formsWrapSeparator"></div>
                                                    <div class="formsWrapTabsRightControl">
                                                        <button class="btn btn-default btn-flat btn-add-page-prev" disabled>Նախորդ</button>
                                                        @*<button class="btn btn-default btn-flat btn-add-page-pass">Բաց թողնել</button>*@
                                                        <button class="btn btn-default btn-flat btn-add-page-next">Հաջորդ</button>
                                                        <button class="btn btn-default btn-flat btn-add-page-preview">Ավարտել</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="boxFooter">
                            <div class="boxFooterLeft">

                            </div>
                            <div class="boxFooterRight">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="previewTableBody">
    <div class="modal fade add-person-complete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                    <h4 class="modal-title">Ավարտել</h4>
                </div>
                <div class="modal-body">
                    <section class="boxWrap">
                        <div class="box">
                            <div class="boxBody">
                                <div class="formsWrap">
                                    <div class="container-fluid">
                                        <div class="row previewLoadingPart" id="previewWrapRow">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal" id="closePrisonerBtn">Խմբագրել</button>
                        <button type="button" class="btn btn-sm btn-flat btn-default" id="approvePrisonerBtn">Հաստատել</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="widgetHolder">

</div>



