﻿@model MVC___Internal_System.Models.PreviewPrisonerViewModel
@using CommonLayer.BusinessEntities



<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Initial_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Primary_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Physical_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Finger_Tattoo_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Family_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Education_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Army_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Enterance_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Cell_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Items_", new { PrisonerID = Model.PrisonerID })
</div>
<div class="col-xs-12">
    @Html.Action("Edit", "_Data_Ban_", new { PrisonerID = Model.PrisonerID })
</div>