﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
@{string disableMode = "disabled"; }
@{string noMode = ""; }
<div class="row">
    <div class="col-xs-12 hidden armyMergeWarningClass">
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-close"></i></a>
            <strong>Ուշադրություն!</strong> Փոփոխությունները սպասում են հաստատման։
        </div>
    </div>
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="form-group">

					<label for="military-status">Առնչությունը զինվորական ծառայությանը`</label>
					<select @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{@noMode} else {@disableMode} id="military-status" class="selectize-sm selectizeControl">
						<option value="0" @(!Model.Prisoner.MilitaryService.Army.Any() ? "selected" : "")>Չի ծառայել</option>
						<option value="1" @(Model.Prisoner.MilitaryService.Army.Any() ? "selected" : "")>Ծառայել է</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row" id="no-military-wrap">
			<div class="col-xs-12">
				<div class="form-group">
					
					<label for="no-military-base">Հիմք չծառայելու վերաբերյալ`</label>
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
						<select name="ReasonLibItemID" id="no-military-base" class="getItems NoServe selectize-sm selectizeControl">
						<option value="">Ընտրել</option>
						@foreach (LibsEntity Lib in Model.NoMilitaryServe)
						{
							<option value="@Lib.ID" @((Model.Prisoner.MilitaryService.NotServed != null && Model.Prisoner.MilitaryService.NotServed.ReasonLibItemID != null && Model.Prisoner.MilitaryService.NotServed.ReasonLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
						}
					</select>
					}
					else {

					foreach (LibsEntity Lib in Model.NoMilitaryServe)
					{
						<span>@((Model.Prisoner.MilitaryService.NotServed != null && Model.Prisoner.MilitaryService.NotServed.ReasonLibItemID != null && Model.Prisoner.MilitaryService.NotServed.ReasonLibItemID == Lib.ID) ? Lib.Name : "")</span>
					}

					}
					

				</div>
				<div class="form-group">
					<label for="no-military-description">Նկարագրություն`</label>
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{					<textarea name="Description" class="getItems checkValidate NoServe form-control input-sm" id="no-military-description" rows="4">@((Model.Prisoner.MilitaryService.NotServed != null && Model.Prisoner.MilitaryService.NotServed.Description != null) ? Model.Prisoner.MilitaryService.NotServed.Description : "")</textarea>
					}
					else {					
						<span>@((Model.Prisoner.MilitaryService.NotServed != null && Model.Prisoner.MilitaryService.NotServed.Description != null) ? Model.Prisoner.MilitaryService.NotServed.Description : "")</span>
					}
				</div>
			</div>
		</div>
		<div class="row" id="yes-military-wrap">
			<div class="col-xs-12">
				<div class="form-group">
					<div class="tableWrap">
						<table class="table table-bordered table-valignM">
							<thead>
								<tr>
									<th>Ծառայության սկիզբ - ավարտ</th>
									@*<th>Զորքի տեսակը</th>*@
									<th>Զինվորական մասնագիտությունը</th>
									<th>Զինվորական կոչումը</th>
									<th colspan="2">Զինվորական պաշտոնը</th>
								</tr>
							</thead>
							<tbody id="armytablebody" class="armyLoader">
								@if (Model.Prisoner.MilitaryService.Army != null )
								{
									@Html.Action("Draw_ArmyTableRows", "_Popup_", new { Army = Model.Prisoner.MilitaryService.Army })
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{
					    <button type="button" title="Ավելացնել" class="btn btn-sm btn-default btn-flat" id="addarmyBtn">Ավելացնել</button>
					}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="military-awards-medals" class="getItems ArmyAwards" name="ArmyAwards">Պարգևներ, շքանշաններ`</label>
					@{
						List<int> checkedIDList = new List<int>();
						if (Model.Prisoner.MilitaryService.ArmyAwards != null)
						{
							foreach (var item in Model.Prisoner.MilitaryService.ArmyAwards)
							{
								checkedIDList.Add(item.LibItemID.Value);
							}
						}
						if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
						{
							@MyHelpers.DrawCustomSelect(Model.MilitaryAwards, "ArmyAwards", true, null, checkedIDList);

						}
						else {
							for (int i = 0; i < checkedIDList.Count(); i++)
							{
								@MyHelpers.GetLibNameByID(checkedIDList[i]).ToString()<span>,</span>
							}
						}
						
					}
				</div>
				<div class="form-group">
					<label for="military-involved-wars">Պատերազմի մասնակից`</label>
					@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
					{<select name="LibItemID" id="military-involved-wars" class="checkValidate WarInvolved getItems selectize-sm selectizeControl" multiple>
						<option value="">Ընտրել</option>
						@foreach (LibsEntity Lib in Model.MilitarWars)
						{
							<option value="@Lib.ID" @((Model.Prisoner.MilitaryService.WarInvolved != null && Model.Prisoner.MilitaryService.WarInvolved.FindAll(r => r.LibItemID == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
						}
					</select>}
					else {foreach (LibsEntity Lib in Model.MilitarWars)
					{
						<span>@((Model.Prisoner.MilitaryService.WarInvolved != null && Model.Prisoner.MilitaryService.WarInvolved.FindAll(r => r.LibItemID == Lib.ID).Any()) ? Lib.Name : "")</span>
					}}
					
				</div>
			</div>
			<div class="col-xs-12">
				<div class="btn-group btn-group-sm pull-right">
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
					<button type="button" class="btn btn-default btn-flat saveBtn" disabled>Հաստատել</button>
}
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="formsWrapSeparator"></div>
		<div class="form-group">
			<label class="add-file-label">
				<span>Կցված ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && (int)System.Web.HttpContext.Current.Session["ViewMode"] == 1)
{
				<span title="Ավելացնել" class="btn btn-sm btn-default btn-flat" id="addfileBtn"><i class="fa fa-plus"></i></span>

}</label>
			<div class="tableWrap">
				<table class="table table-bordered table-valignM">
					<thead>
						<tr>
							<th>Անվանում</th>
							<th>Տեսակ</th>
							<th>Նկարագրություն</th>
							<th class="tableDateCol">Ամսաթիվ</th>
							<th>Ծավալ</th>
							<th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
						</tr>
					</thead>
					<tbody id="filetablebody" class="fileLoader">
						@if (Model.Prisoner.MilitaryService.Files != null)
						{
							@Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.MilitaryService.Files, PrisonerID = Model.Prisoner.ID });
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



