﻿@model MVC___Internal_System.Models.MergeViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        @*<div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>*@
                    </div>
                    <div class="boxBody">
                        @*<div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
                                                <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="tableWrap" id="filterList">
                            @Html.Action("Draw_MergeTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>