﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

@{ string disabled = "disabled";}

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="education-status">Կրթություն`</label>
                    <span>
                        @if(Model.EducationItem != null && Model.EducationItem.LibItemID != null)
                        {
                            @MyHelpers.GetLibNameByID(Model.EducationItem.LibItemID)
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="profession">Մասնագիտություն`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.Professions != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.EducationItem.Professions)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                </div>
                <div class="form-group">
                    <label for="hobbies">Նախասիրություններ`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.Interests != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.EducationItem.Interests)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                </div>
                <div class="form-group">
                    <label for="abilities">Ունակություններ, հմտություններ`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.AbilitiesSkills != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.EducationItem.AbilitiesSkills)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                </div>
                <div class="form-group">
                    <label for="languages">Լեզվի իմացություն`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.Languages != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.EducationItem.Languages)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                </div>
                <div class="form-group">
                    @*<label for="honors">`</label>
                        <select id="awards" class="objectItem  getItemOptional checkValidate selectize-sm selectize" multiple>
                            @foreach (LibsEntity lib in Model.OfficialGifts)
                            {
                                <option value="@lib.ID" @((Model.Prisoner.EducationsProfessions.UniversityDegree != null && Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes != null && Model.Prisoner.EducationsProfessions.UniversityDegree.Awardes.FindAll(r => r.LibItemID == lib.ID).Any()) ? "selected='selected'" : "")>@lib.Name</option>
                            }
                        </select>*@
                    <label for="honors" id="awards" class="objectItem getItems getItemOptional Awards" name="Awards">Պետական պարգևներ, մրցանակներ, պետական կոչումներ`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.UniversityDegree != null && Model.EducationItem.UniversityDegree.Awardes != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.EducationItem.UniversityDegree.Awardes)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                   
                </div>
            </div>
        </div>
        <div class="row" id="academic-wrap">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="academic-degree">Գիտական աստիճան`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.UniversityDegree != null && Model.EducationItem.UniversityDegree.AcademicDegreeLibItemID != null)
                        {
                            @MyHelpers.GetLibNameByID(Model.EducationItem.UniversityDegree.AcademicDegreeLibItemID)
                        }
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="academic-rank">Գիտական կոչում`</label>
                    <span>
                        @if (Model.EducationItem != null && Model.EducationItem.UniversityDegree != null && Model.EducationItem.UniversityDegree.DegreeLibItemID != null)
                        {
                            @MyHelpers.GetLibNameByID(Model.EducationItem.UniversityDegree.DegreeLibItemID)
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div class="form-group">
                    <label for="education-profession-info">Նշումներ`</label>
                    <span>@(Model.EducationItem != null ? Model.EducationItem.Note : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>