﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="transfer-purpose">Նպատակ`</label>
                    @if (Model.TransferItems.PurposeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.TransferItems.PurposeLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="transfer-date">Ամսաթիվ`</label>
                    @if (Model.TransferItems.StartDate != null)
                    {
                        <span>@Model.TransferItems.StartDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="transfer-date">Ավարտ`</label>
                    @if (Model.TransferItems.EndDate != null)
                    {
                        <span>@Model.TransferItems.EndDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="transfer-state">Կարգավիճակ`</label>
                    @if (Model.TransferItems.StateLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.TransferItems.StateLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="transfer-place">Տեղափոխման վայր`</label>
                    @if (Model.TransferItems.TransferLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.TransferItems.TransferLibItemID)</span>
                    }
                </div>
            </div>
            @if (Model.TransferItems.OrgUnitID != null)
            {
                <div class="col-xs-12 col-md-4" id="UrgUnitRow">
                    <div class="form-group">
                        <label for="transfer-place-department">ՔԿՀ`</label>
                        @if (Model.TransferItems.TransferLibItemLabel != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.OrgUnitID)</span>
                        }
                    </div>
                </div>
            }
            @if (Model.TransferItems.HospitalLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="HospitalLibRow">
                    <div class="form-group">
                        <label for="transfer-place-hospital">Հիվանդանոց`</label>
                        @if (Model.TransferItems.HospitalLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.HospitalLibItemID)</span>
                        }
                    </div>
                </div>
            }
            @if (Model.TransferItems.CourtLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="CourtLibRow">
                    <div class="form-group">
                        <label for="transfer-place-court">Դատարան`</label>
                        @if (Model.TransferItems.CourtLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.CourtLibItemID)</span>
                        }
                    </div>
                </div>
            }
            @if (Model.TransferItems.HogebujaranLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="HogebujaranLibRow">
                    <div class="form-group">
                        <label for="HogebujaranLibItemID">Հոգեբուժարան`</label>
                        @if (Model.TransferItems.HogebujaranLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.HogebujaranLibItemID)</span>
                        }
                    </div>
                </div>
            }
            @if (Model.TransferItems.QnnchakanLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="QnnchakanLibRow">
                    <div class="form-group">
                        <label class="getItemsModal QnnchakanLibItemID" name="QnnchakanLibItemID">Քննչական Մարմիններ`</label>
                        @if (Model.TransferItems.QnnchakanLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.QnnchakanLibItemID)</span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @if (Model.TransferItems.EndLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="EndLibRow">
                    <div class="form-group">
                        <label for="transfer-end-place">Ավարտի վայր`</label>
                        @if (Model.TransferItems.EndLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.EndLibItemID)</span>
                        }
                    </div>
                </div>
            }
            @if (Model.TransferItems.EmergencyLibItemID != null)
            {
                <div class="col-xs-12 col-md-4" id="EmergencyLibRow">
                    <div class="form-group">
                        <label for="transfer-emergency">Շտապ`</label>
                        @if (Model.TransferItems.EmergencyLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.TransferItems.EmergencyLibItemID)</span>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="form-group">
                <label for="transfer-date">Նկարագրություն`</label>
                <span>@Model.TransferItems.Description</span>
            </div>
        </div>
    </div>
    <div class="part1">
        @{
            PersonEntity Person = new PersonEntity();
            Person.isEditable = true;

            if (Model.TransferItems != null && Model.TransferItems.Person != null)
            {
                Person.isEditable = true;
                Person = Model.TransferItems.Person;
            }
        }
        @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
    </div>

</div>
