﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities


<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-modal-complaint-name">Անվանում`</label>

                <span>@if (Model.MedicalComplaintItem != null && Model.MedicalComplaintItem.ComplaintsLibItemID != null) {
                    @MyHelpers.GetLibNameByID(Model.MedicalComplaintItem.ComplaintsLibItemID)
                }</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-modal-complaint-description">Նկարագրություն`</label>
            <span>@((Model.MedicalComplaintItem != null && Model.MedicalComplaintItem.Description != null) ? Model.MedicalComplaintItem.Description : "")</span>
        </div>
    </div>
</div>