﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="military-start-date">Ծառայության սկիզբ</label>
            @if (Model.ArmyItem.StartDate != null)
            {
                <span>@Model.ArmyItem.StartDate.Value.ToString("dd/MM/yyyy")</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="military-end-date">Ծառայության ավարտ</label>
            @if (Model.ArmyItem.EndDate != null)
            {
                <span>@Model.ArmyItem.EndDate.Value.ToString("dd/MM/yyyy")</span>
            }
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            @*<label class="getItemsArmy TypeLibItemID" name="TypeLibItemID">Զորքի տեսակը`</label>
                @{
                    List<int> checkedIDList = new List<int>();
                    if (Model.armyEntity != null && Model.armyEntity.TypeLibItemID != null)
                    {
                        checkedIDList.Add(Model.armyEntity.TypeLibItemID.Value);
                    }
                    @MyHelpers.DrawCustomSelect(Model.MilitaryType, "TypeLibItemID", false, null, checkedIDList)
                }*@
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="military-profession">Զինվորական մասնագիտությունը`</label>
                    @if (Model.ArmyItem.ProffessionLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.ArmyItem.ProffessionLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="getItemsArmy RankLibItemID" name="RankLibItemID">Զինվորական կոչումը`</label>
                    @if (Model.ArmyItem.RankLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.ArmyItem.RankLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="getItemsArmy PositionLibItemID" name="PositionLibItemID">Զինվորական պաշտոնը`</label>
                    @if (Model.ArmyItem.PositionLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.ArmyItem.PositionLibItemID)</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>