﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="box">
    <div class="boxBody">
        <div class="formsWrap">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="BaseLibItemID">Հիմք`</label>
                                @if (Model.PrisonerPunishmentTypeItems.BaseLibItemID != null)
                                {
                                    <span>@MyHelpers.GetLibNameByID(Model.PrisonerPunishmentTypeItems.BaseLibItemID)</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="TypeLibItemID">Տեսակ`</label>
                                @if (Model.PrisonerPunishmentTypeItems.TypeLibItemID != null)
                                {
                                    <span>@MyHelpers.GetLibNameByID(Model.PrisonerPunishmentTypeItems.TypeLibItemID)</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="AccessDate">Ամսաթիվ`</label>
                                @if (Model.PrisonerPunishmentTypeItems.AccessDate != null)
                                {
                                    <span>@Model.PrisonerPunishmentTypeItems.AccessDate</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="Description">Նկարագրություն`</label>
                                @if (Model.PrisonerPunishmentTypeItems.Description != null)
                                {
                                    <span>@Model.PrisonerPunishmentTypeItems.Description</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>