﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="Number">Համար`</label>
            <span>@(Model.CameraCardItem != null ? Model.CameraCardItem.Number.ToString() : "")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="cell-date">Մուտքի Ամսաթիվ`</label>
            <span>@(Model.CameraCardItem != null && Model.CameraCardItem.InputDate != null ? Model.CameraCardItem.InputDate.Value.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="cell-date">Ելքի Ամսաթիվ`</label>
            <span>@(Model.CameraCardItem != null && Model.CameraCardItem.OutputDate != null ? Model.CameraCardItem.OutputDate.Value.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="cell-direction">Տեղափոխման վերաբերյալ ցուցում`</label>
            <span>@((Model.CameraCardItem != null && Model.CameraCardItem.Note != null) ? Model.CameraCardItem.Note.ToString() : "")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="cell-direction-person">Ցուցում տվող անձ`</label>
            <span>
            @if (Model.CameraCardItem != null && Model.CameraCardItem.EmployeeID != null)
            {
                @MyHelpers.GetEmployeeNameByID(Model.CameraCardItem.EmployeeID)
            }
            </span>
        </div>
    </div>
</div>