﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="modal-body">
    <section class="boxWrap">
        <div class="box">
            <div class="boxBody">
                <div class="formsWrap">
                    <div class="container-fluid">
                        <div id="benefit-add-page-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <div class="form-group">
                                        <label for="benefit-type">Խրախուսանքի միջոց`</label>
                                        @if (Model.EncouragementItems.TypeLibItemID != null)
                                        {
                                            <span>@MyHelpers.GetLibNameByID(Model.EncouragementItems.TypeLibItemID)</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="form-group">
                                        <label for="benefit-info-date">Խրախուսանքի նշանակման ամսաթիվ`</label>
                                        @if (Model.EncouragementItems.StartDate != null)
                                        {
                                            <span>@Model.EncouragementItems.StartDate</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="benefit-info">Նկարագրություն`</label>
                                        @if (Model.EncouragementItems.Note != null)
                                        {
                                            <span>@Model.EncouragementItems.Note</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="benefit-preseting-person">Խրախուսանքի ներկայացնող անձ՝</label>
                                        @if (Model.EncouragementItems.EmployeerID != null)
                                        {
                                            <span>@(Model.EncouragementItems.EmployeerName==null?MyHelpers.GetEmployeeNameByID(Model.EncouragementItems.EmployeerID).ToString() : Model.EncouragementItems.EmployeerName)</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div class="form-group">
                                        <label for="benefit-type">Խրախուսանքի Հիմք`</label>
                                        @if (Model.EncouragementItems.BaseLibItemID != null)
                                        {
                                            <span>@MyHelpers.GetLibNameByID(Model.EncouragementItems.BaseLibItemID)</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>