﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities


<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                @if (Model.FileItem != null)
                {
                    <div class="form-group">
                        <label>Ֆայլ`</label>
                        <a href="@(Model.FileItem != null ? BusinessLayer.BusinessServices.BL_Files.getInstance().GetLink(Model.FileItem.ID.Value) : "")" target="_blank">@Model.FileItem.FileName</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="add-file-status">Կարգավիճակ`</label>
            <span>@((Model.FileItem != null && Model.FileItem.State.Value) ? "Ակտիվ" : "Պասիվ")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="add-file-description">Ավելացման Ամսաթիվ`</label>
            <span>@((Model.FileItem != null) ? Model.FileItem.ModifyDate.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="add-file-description">Ծավալ`</label>
            <span>@((Model.FileItem != null) ? Model.FileItem.ContentLength.ToString() : "")</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="add-file-description">Նկարագրություն`</label>
            <span>@((Model.FileItem != null) ? Model.FileItem.Description : "")</span>
        </div>
    </div>
</div>



