﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="physical-skin-color">Մաշկի գույն`</label>
            <span>@if (Model.PhysicalContentItem != null)
                    {
                        @MyHelpers.GetLibNameByID(Model.PhysicalContentItem.SkinColorLibItem_ID)
                    }
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="physical-eye-color">Աչքերի գույն`</label>
            <span>
                @if (Model.PhysicalContentItem != null)
                {
                    @MyHelpers.GetLibNameByID(Model.PhysicalContentItem.EyesColorLibItem_ID)
                }
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="physical-hair-color">Մազերի գույն`</label>
            <span>
                @if (Model.PhysicalContentItem != null)
                {
                    @MyHelpers.GetLibNameByID(Model.PhysicalContentItem.HairsColorLibItem_ID)
                }
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="physical-blood-type">Արյան կարգ`</label>
            <span>
                @if (Model.PhysicalContentItem != null)
                {
                    @MyHelpers.GetLibNameByID(Model.PhysicalContentItem.BloodTypeLibItem_ID)
                }
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="physical-blood-type">Նկարագրություն`</label>
            <span>
                @if (Model.PhysicalContentItem != null && Model.PhysicalContentItem.ExternalDesc != null)
                {
                    <span>@Model.PhysicalContentItem.ExternalDesc</span>
                }
            </span>
        </div>
    </div>
</div>
