﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="medical-diagnose-name">Անվանում`</label>
            <span>
                @if (Model.MedicalDiagnosisItem != null && Model.MedicalDiagnosisItem.NameLibItemID != null)
            {
                @MyHelpers.GetLibNameByID(Model.MedicalDiagnosisItem.NameLibItemID)
            }
        </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="medical-diagnose-initial">Նախնական`</label>
            @if (Model.MedicalDiagnosisItem.State != null && !Model.MedicalDiagnosisItem.State.Value == true)
            {
                <span>Ոչ</span>
            }
            else if (Model.MedicalDiagnosisItem.State == null)
            {
                <span></span>
            }
            else
            {
                <span>Այո</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-diagnose-description">Նկարագրություն`</label>
            <span>@((Model.MedicalDiagnosisItem != null && Model.MedicalDiagnosisItem.Description != null) ? Model.MedicalDiagnosisItem.Description.ToString() : "")</span>
        </div>
    </div>
</div>