﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="physical-modal-addiction-date">Առողջական վիճակ՝</label>
            <span>@if(Model.MedicalContentItem != null && Model.MedicalContentItem.HealthLibItemID != null){
                @MyHelpers.GetLibNameByID(Model.MedicalContentItem.HealthLibItemID)
            }
            </span>
        </div>
    </div>
</div>