﻿@model MVC___Internal_System.Models.MergeApproveViewModel
@using CommonLayer.BusinessEntities

@if (Model.CurrentMerge.Type != 1 && Model.Old_PrisonerViewModel != null)
{
    <div class="col-xs-12 col-md-6">
        <div class="row">
            <div class="col-xs-12">
                <h2>Ընթացիկ</h2>
            </div>
        </div>
        @switch ((MergeEntity.TableIDS)Model.CurrentMerge.EID)
        {
            case MergeEntity.TableIDS.ENTERANCE_SENTENCE:
                @Html.Partial("~/Views/Merge/Merge_SentencingData_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ENTERANCE_PrisonerTypeStatus:
                @Html.Partial("~/Views/Merge/Merge_PrisonerTypeStatus_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;

            case MergeEntity.TableIDS.ENTERANCE_PRISONERPUNISHMENTTYPE:
                @Html.Partial("~/Views/Merge/Merge_PrisonerPunishmentType_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ARMY_CONTENT:
                @Html.Partial("~/Views/Merge/Merge_ArmyContent_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ARMY_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Army_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ENTERANCE_PROTOCOL:
                @Html.Partial("~/Views/Merge/Merge_PrisonProtocol_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.BAN_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Data_Ban_PopUp.cshtml", Model.Old_PrisonerViewModel)
                break;
            case MergeEntity.TableIDS.ENTERANCE_ARREST_DATA:
                @Html.Partial("~/Views/Merge/Merge_Enterance_PopUp.cshtml", Model.Old_PrisonerViewModel)
                break;

            case MergeEntity.TableIDS.CELL_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Cell_Card_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.INITIAL_DOC_IDENTITY:
                @Html.Partial("~/Views/Merge/Merge_DocIdentity_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PRIMARY_PREVENTION:
                @Html.Partial("~/Views/Merge/Merge_PrevConviction_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PHYSICAL_HEIGHT_WEIGHT:
                @Html.Partial("~/Views/Merge/Merge_HeightWeight_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PHYSICAL_CONTENT:
                @Html.Partial("~/Views/Merge/Merge_PhysicalContent_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PHYSICAL_LEANINGS:
                @Html.Partial("~/Views/Merge/Merge_Leanings_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PHYSICAL_INVALIDS:
                @Html.Partial("~/Views/Merge/Merge_Invalids_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.TRANSFERS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Transfers_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.DEPARTURES_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Departures_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PACKAGES_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Packages_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PERSONAL_VISITS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_PersonalVisit_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.OFFICIAL_VISITS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_OfficialVisits_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.WORKLOADS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_WorkLoads_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.EDUCATION:
                @Html.Partial("~/Views/Merge/Merge_Education_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.EDUCATIONAL_COURSES_MAIN:
                @Html.Partial("~/Views/Merge/Merge_EducationalCourses_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.PENALTY_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Penalty_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ENCOURAGEMENTS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Encouragements_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.CONFLICTS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Conflicts_PopUp.cshtml", Model.Old_PrisonerViewModel)

                break;
            case MergeEntity.TableIDS.ITEMS_MAIN:
                @Html.Partial("~/Views/Merge/Merge_Items_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_MedicalContent_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_COMPLATIN:
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_COMPLATIN:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_COMPLATIN:
            @Html.Partial("~/Views/Merge/Merge_MedicalComplaint_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_DIAGNOISIS:
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_DIAGNOSIS:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_DIAGNOSIS:
            @Html.Partial("~/Views/Merge/Merge_MedicalDiagnosis_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_EXTERNAL_EXAMINATION:
            @Html.Partial("~/Views/Merge/Merge_MedicalExternalExamination_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY:
            @Html.Partial("~/Views/Merge/Merge_MedicalHistory_PopUp.cshtml", Model.Old_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_RESEARCH:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_RESEARCH:
            @Html.Partial("~/Views/Merge/Merge_MedicalResearch_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FINGERTATOOSCARS_FINGERS:
        case MergeEntity.TableIDS.FINGERTATOOSCARS_SCARS:
        case MergeEntity.TableIDS.FINGERTATOOSCARS_TATOOS:
            @Html.Partial("~/Views/Merge/Merge_FingerTatooScars_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_FamilyContent_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_CHILDRENS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_OTHERS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_PARENTS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_SPOUSES:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_SYSTER_BROTHER:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.PHYSICAL_FILES:
        case MergeEntity.TableIDS.PRIMARY_IMAGES:
        case MergeEntity.TableIDS.PRIMARY_FIELS:
        case MergeEntity.TableIDS.MEDICAL_FILES:
        case MergeEntity.TableIDS.FAMILY_FILES:
        case MergeEntity.TableIDS.ARMY_FILES:
        case MergeEntity.TableIDS.ENTERANCE_FILES_ARREST:
        case MergeEntity.TableIDS.ENTERANCE_FILES:
        case MergeEntity.TableIDS.CELL_FILES:
        case MergeEntity.TableIDS.ITEMS_FILES:
        case MergeEntity.TableIDS.BAN_FILES:
        case MergeEntity.TableIDS.ENCOURAGEMENTS_FILES:
        case MergeEntity.TableIDS.PENALTY_FILES:
        case MergeEntity.TableIDS.EDUCATIONAL_COURSES_FILES:
        case MergeEntity.TableIDS.WORKLOADS_FILES:
        case MergeEntity.TableIDS.OFFICIAL_VISITS_FILES:
        case MergeEntity.TableIDS.PERSONAL_VISITS_FILES:
        case MergeEntity.TableIDS.PACKAGES_FILES:
        case MergeEntity.TableIDS.DEPARTURES_FILES:
        case MergeEntity.TableIDS.TRANSFERS_FILES:
        case MergeEntity.TableIDS.CONFLICTS_FILES:
            @Html.Partial("~/Views/Merge/Merge_Files_PopUp.cshtml", Model.Old_PrisonerViewModel)
            break;

        }
    </div>
}

@if ((Model.CurrentMerge.Type == 3 || Model.CurrentMerge.Type == 1) && Model.New_PrisonerViewModel != null)
{
<div class="col-xs-12 col-md-6">
    <div class="row">
        <div class="col-xs-12">
            <h2>@if (Model.CurrentMerge.Type == 3)
            {
                @String.Format("Փոփոխված")
            }
            else
            {
                @String.Format("Ավելացված")
            }
            </h2>
        </div>
    </div>
    @switch ((MergeEntity.TableIDS)Model.CurrentMerge.EID)
    {
        case MergeEntity.TableIDS.ENTERANCE_SENTENCE:
            @Html.Partial("~/Views/Merge/Merge_SentencingData_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ENTERANCE_PrisonerTypeStatus:
            @Html.Partial("~/Views/Merge/Merge_PrisonerTypeStatus_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ARMY_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_ArmyContent_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ARMY_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Army_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ENTERANCE_PRISONERPUNISHMENTTYPE:
            @Html.Partial("~/Views/Merge/Merge_PrisonerPunishmentType_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ENTERANCE_PROTOCOL:
            @Html.Partial("~/Views/Merge/Merge_PrisonProtocol_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.CONFLICTS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Conflicts_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;

        case MergeEntity.TableIDS.BAN_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Data_Ban_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.CELL_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Cell_Card_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ENTERANCE_ARREST_DATA:
            @Html.Partial("~/Views/Merge/Merge_Enterance_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.INITIAL_DOC_IDENTITY:
            @Html.Partial("~/Views/Merge/Merge_DocIdentity_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PRIMARY_PREVENTION:
            @Html.Partial("~/Views/Merge/Merge_PrevConviction_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PHYSICAL_HEIGHT_WEIGHT:
            @Html.Partial("~/Views/Merge/Merge_HeightWeight_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PHYSICAL_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_PhysicalContent_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PHYSICAL_LEANINGS:
            @Html.Partial("~/Views/Merge/Merge_Leanings_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PHYSICAL_INVALIDS:
            @Html.Partial("~/Views/Merge/Merge_Invalids_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.TRANSFERS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Transfers_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.DEPARTURES_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Departures_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PACKAGES_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Packages_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PERSONAL_VISITS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_PersonalVisit_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.OFFICIAL_VISITS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_OfficialVisits_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.WORKLOADS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_WorkLoads_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.EDUCATION:
            @Html.Partial("~/Views/Merge/Merge_Education_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.EDUCATIONAL_COURSES_MAIN:
            @Html.Partial("~/Views/Merge/Merge_EducationalCourses_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.PENALTY_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Penalty_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ENCOURAGEMENTS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Encouragements_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.ITEMS_MAIN:
            @Html.Partial("~/Views/Merge/Merge_Items_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_MedicalContent_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_COMPLATIN:
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_COMPLATIN:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_COMPLATIN:
            @Html.Partial("~/Views/Merge/Merge_MedicalComplaint_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_DIAGNOISIS:
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_DIAGNOSIS:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_DIAGNOSIS:
            @Html.Partial("~/Views/Merge/Merge_MedicalDiagnosis_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_PRELIMINARY_EXTERNAL_EXAMINATION:
            @Html.Partial("~/Views/Merge/Merge_MedicalExternalExamination_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY:
            @Html.Partial("~/Views/Merge/Merge_MedicalHistory_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.MEDICAL_AMBULATOR_HISTORY_RESEARCH:
        case MergeEntity.TableIDS.MEDICAL_STATIONARY_HISTORY_RESEARCH:
            @Html.Partial("~/Views/Merge/Merge_MedicalResearch_PopUp.cshtml", Model.New_PrisonerViewModel)

            break;
        case MergeEntity.TableIDS.FINGERTATOOSCARS_FINGERS:
        case MergeEntity.TableIDS.FINGERTATOOSCARS_SCARS:
        case MergeEntity.TableIDS.FINGERTATOOSCARS_TATOOS:
            @Html.Partial("~/Views/Merge/Merge_FingerTatooScars_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_CONTENT:
            @Html.Partial("~/Views/Merge/Merge_FamilyContent_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_CHILDRENS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_OTHERS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_PARENTS:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_SPOUSES:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.FAMILY_SYSTER_BROTHER:
            @Html.Partial("~/Views/Merge/Merge_FamilyRelatives_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;
        case MergeEntity.TableIDS.PHYSICAL_FILES:
        case MergeEntity.TableIDS.PRIMARY_IMAGES:
        case MergeEntity.TableIDS.PRIMARY_FIELS:
        case MergeEntity.TableIDS.MEDICAL_FILES:
        case MergeEntity.TableIDS.FAMILY_FILES:
        case MergeEntity.TableIDS.ARMY_FILES:
        case MergeEntity.TableIDS.ENTERANCE_FILES_ARREST:
        case MergeEntity.TableIDS.ENTERANCE_FILES:
        case MergeEntity.TableIDS.CELL_FILES:
        case MergeEntity.TableIDS.ITEMS_FILES:
        case MergeEntity.TableIDS.BAN_FILES:
        case MergeEntity.TableIDS.ENCOURAGEMENTS_FILES:
        case MergeEntity.TableIDS.PENALTY_FILES:
        case MergeEntity.TableIDS.EDUCATIONAL_COURSES_FILES:
        case MergeEntity.TableIDS.WORKLOADS_FILES:
        case MergeEntity.TableIDS.OFFICIAL_VISITS_FILES:
        case MergeEntity.TableIDS.PERSONAL_VISITS_FILES:
        case MergeEntity.TableIDS.PACKAGES_FILES:
        case MergeEntity.TableIDS.DEPARTURES_FILES:
        case MergeEntity.TableIDS.TRANSFERS_FILES:
        case MergeEntity.TableIDS.CONFLICTS_FILES:
            @Html.Partial("~/Views/Merge/Merge_Files_PopUp.cshtml", Model.New_PrisonerViewModel)
            break;

    }
</div>
}