﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-examination">Անվանում`</label>
            <span>
                @if (Model.MedicalResearchItem != null && Model.MedicalResearchItem.NameLibItemID != null)
            {
                @MyHelpers.GetLibNameByID(Model.MedicalResearchItem.NameLibItemID)
            }
        </span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-examination-description">Նկարագրություն`</label>
            <span>@((Model.MedicalResearchItem != null && Model.MedicalResearchItem.Description != null) ? Model.MedicalResearchItem.Description : "")</span>
        </div>
    </div>
</div>