﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="modal-body">
    <section class="boxWrap">
        <div class="box">
            <div class="boxBody">
                <div class="formsWrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="Objects">Արգելանքի առարկա`</label>
                                    @if (Model.BanListItems.Objects != null)
                                    {
                                        foreach (InjunctionItemObjectEntity entity in Model.BanListItems.Objects)
                                        {
                                        <span>@MyHelpers.GetLibNameByID(entity.LibItem_ID)</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="ban-date">Ամսաթիվ`</label>
                                    @if (Model.BanListItems.Date != null)
                                    {
                                        <span>@Model.BanListItems.Date</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="ban-number">Որոշման համար`</label>
                                    @if (Model.BanListItems.Voroshman_Hamar != null)
                                    {
                                        <span>@Model.BanListItems.Voroshman_Hamar</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label class="getItemsBan checkValidateBan VoroshoxLibItem_ID" name="VoroshoxLibItem_ID">Որոշող մարմին`</label>
                                    @if (Model.BanListItems.VoroshoxLibItem_ID != null)
                                    {
                                        <span>@MyHelpers.GetLibNameByID(Model.BanListItems.VoroshoxLibItem_ID)</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="ban-date">Դադարեցման համար`</label>
                                    <span>@((Model.BanListItems != null && Model.BanListItems.TerminationNumber != null) ? Model.BanListItems.TerminationNumber : "-")</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="ban-date">Դադարեցման Ամսաթիվ`</label>
                                    <span>@((Model.BanListItems != null && Model.BanListItems.TerminationDate != null) ? Model.BanListItems.TerminationDate.Value.ToString("dd/MM/yyyy") : "-")</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="ban-person">Դադարեցման Որոշող մարմին`</label>
                                    @if (Model.BanListItems != null && Model.BanListItems.TerminationVoroshoxLibItem_ID != null)
                                    {
                                        <span>@MyHelpers.GetLibNameByID(Model.BanListItems.TerminationVoroshoxLibItem_ID)</span>
                                    }
                                    else
                                    {
                                        <span>-</span>
                                    }
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="ban-state">Կարգավիճակ`</label>
                                        @if (Model.BanListItems.State != null)
                                        {
                                            <span>@MyHelpers.GetBoolName(Model.BanListItems.State.Value)</span>

                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>