﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="id-doc-citizenship">Քաղաքացիություն`</label>
                    <span>@((Model.IdDocItem != null && Model.IdDocItem.CitizenshipLibItem_ID != null) ? Model.IdDocItem.CitizenshipLibItem_Name : "")</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="id-doc-type">Տեսակ`</label>
                    <span>@((Model.IdDocItem != null && Model.IdDocItem.TypeLibItem_ID != null) ? Model.IdDocItem.TypeLibItem_Name : "")</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="id-doc-number">Համար`</label>
                    <span>@((Model.IdDocItem != null && Model.IdDocItem.Number != null) ? Model.IdDocItem.Number : "")</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="id-doc-date">Ամսաթիվ`</label>
                    <span>@((Model.IdDocItem != null && Model.IdDocItem.Date != null) ? Model.IdDocItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="id-doc-from">Ում կողմից`</label>
                    <span>@((Model.IdDocItem != null && Model.IdDocItem.FromWhom != null) ? Model.IdDocItem.FromWhom : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>