﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="physical-modal-height">Հասակ (սմ)`</label>
            <span>@(Model.HeightWeightItem != null && Model.HeightWeightItem.Height.HasValue ? Model.HeightWeightItem.Height.ToString(): "")</span>            
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="physical-modal-weight">Կշիռ (կգ)`</label>
            <span>@(Model.HeightWeightItem != null && Model.HeightWeightItem.Weight.HasValue ? Model.HeightWeightItem.Weight.ToString() : "")</span>
        </div>
    </div>
</div>