﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="modal-body">
    <section class="boxWrap">
        <div class="box">
            <div class="boxBody">
                <div class="formsWrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="item-name">իր/առարկա`</label>
                                    @if (Model.ItemItems.LibItemID != null)
                                    {
                                        <span>@MyHelpers.GetLibNameByID(Model.ItemItems.LibItemID)</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="item-count">Քանակ`</label>
                                    @if (Model.ItemItems.Count != null)
                                    {
                                        <span>@Model.ItemItems.Count</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="item-date">Ամսաթիվ`</label>
                                    @if (Model.ItemItems.Date != null)
                                    {
                                        <span>@Model.ItemItems.Date</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>