﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="part1">
    @{	PersonEntity Person = new PersonEntity();
        Person.isEditable = true;

        if (Model.Person != null)
        {
            Person.isEditable = true;
            Person = Model.Person;
        }
    }
    @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
</div>
<div>
    <div class="@(Model.FamilySpouseItem != null ? "" : "hidden" ) part3" id="family-spouse">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-partner-marital-status">Ամուսնությունը</label>
                    <span>@if (Model.FamilySpouseItem != null && Model.FamilySpouseItem.MarriageRegistered != null && Model.FamilySpouseItem.MarriageRegistered.Value)
                    {
                        @String.Format("Գրանցված է")
                    }
                    else if (Model.FamilySpouseItem != null && Model.FamilySpouseItem.MarriageRegistered != null && !Model.FamilySpouseItem.MarriageRegistered.Value)
                    {
                        @String.Format("Գրանցված չէ")
                    }</span>
                </div>
            </div>
            <div class="@(Model.FamilySpouseItem != null ? "" : "hidden" ) col-xs-12 col-md-4" id="family-partner-marital-document-wrap">
                <div class="form-group">
                    <label for="family-partner-marital-document">Ամուսնության վկայական</label>
                    @if (Model.FamilySpouseItem != null && Model.FamilySpouseItem.Certificate != null)
                    {
                        <span>@(Model.FamilySpouseItem != null ? Model.FamilySpouseItem.Certificate.ToString() : "")</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-partner-marital-current-status">Կարգավիճակը</label>
                    <span>
                        @if (Model.FamilySpouseItem != null && Model.FamilySpouseItem.State != null && Model.FamilySpouseItem.State.Value)
                        {
                            @String.Format("Ամուսնացած")
                        }
                        else if (Model.FamilySpouseItem != null && Model.FamilySpouseItem.State != null && !Model.FamilySpouseItem.State.Value)
                        {
                            @String.Format("Ամուսնալուծված")
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="@(Model.FamilyChildrenItem != null ? "" : "hidden" ) part3" id="family-children">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="family-child-status">Երեխան`</label>
                    <span>
                        @if (Model.FamilyChildrenItem != null && Model.FamilyChildrenItem.ChildrenType != null && (int)Model.FamilyChildrenItem.ChildrenType == 1)
                        {
                            @String.Format("Հարազատ")
                        }
                        else if (Model.FamilyChildrenItem != null && Model.FamilyChildrenItem.ChildrenType != null && (int)Model.FamilyChildrenItem.ChildrenType == 2)
                        {
                            @String.Format("Որդեգրած")
                        }
                        else if (Model.FamilyChildrenItem != null && Model.FamilyChildrenItem.ChildrenType != null && (int)Model.FamilyChildrenItem.ChildrenType == 3)
                        {
                            @String.Format("Խնամքի տակ")
                        }
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-8" id="family-child-status-document-wrap">
                <div class="form-group">
                    <label for="family-child-status-document">Որդեգրման կամ խնամակալության վկայական</label>
                    @if (Model.FamilyChildrenItem != null && Model.FamilyChildrenItem.Certificate != null)
                    {
                    <span>@(Model.FamilyChildrenItem != null ? Model.FamilyChildrenItem.Certificate.ToString() : "")</span>
                    }
                </div>
            </div>
        </div>
    </div>

    @*<div class="hidden part3" id="family-systerbrother">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label for="family-sibling-status">Քույր / եղբայր`</label>
                        <select name="RelationLibItemID" id="family-sibling-status" class="checkValidate-systerbrother getItems-systerbrother selectize-sm selectizePopup">
                            <option value="">Ընտրել</option>
                            @foreach (LibsEntity Lib in Model.SysterBrotherType)
                            {
                                <option value="@Lib.ID" @((Model.systerEntity != null && Model.systerEntity.RelationLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="@(Model.OtherParentItem != null ? "" : "hidden" ) part3" id="family-otherrelative">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="family-other-relative-status">Տեսակ`</label>
                    <span>@if (Model.OtherParentItem != null && Model.OtherParentItem.RelationLibItemID != null)
                    {
                        @MyHelpers.GetLibNameByID(Model.OtherParentItem.RelationLibItemID)
                    }</span>
                </div>
            </div>
        </div>
    </div>
</div>