﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="part1" id="gov-body-visit-add-page-1">

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="private-visit-type">Տեսակ`</label>
                @if (Model.PersonalVisitItems.TypeLibItemID != null)
                {
                    <span>@MyHelpers.GetLibNameByID(Model.PersonalVisitItems.TypeLibItemID)</span>
                }
            </div>
        </div>
        @*<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="private-visit-status">Կարգավիճակ`</label>
                @if (Model.PersonalVisitItems != null)
                {
                    <span>@MyHelpers.GetBoolNameauthorized(Model.PersonalVisitItems.VisitStatus)</span>
                }
            </div>
        </div>*@
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label for="private-visit-start-date">Սկիզբ`</label>
                @if (Model.PersonalVisitItems.StartDate != null)
                {
                    <span>@Model.PersonalVisitItems.StartDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                }
            </div>
        </div>
        <div class="col-xs-12 col-md-2">
            <div class="form-group">
                <label for="private-visit-end-date">Ավարտ`</label>
                @if (Model.PersonalVisitItems.EndDate != null)
                {
                    <span>@Model.PersonalVisitItems.EndDate.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
                <div class="form-group">
                    <label for="private-visit-visitor-sibling">Հարազատների ցուցակ`</label>
                    @if (Model.PersonalVisitItems.VisitorList != null)
                    {
                        <span>@Model.PersonalVisitItems.VisitorList</span>
                    }
                </div>
            </div>
        
        <div class="col-xs-12">
            <div class="row">
                @if (Model.PersonalVisitItems.PurposeLibItemID != null)
                {
                <div class="col-xs-12 col-md-4">
                    <div class="form-group hidden">
                        <label for="private-visit-purpose">Նպատակ`</label>
                        
                            <span>@MyHelpers.GetLibNameByID(Model.PersonalVisitItems.PurposeLibItemID)</span>
                        
                    </div>
                </div>
                }
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Description">Նկարագրություն`</label>
                        @if (Model.PersonalVisitItems.Description != null)
                        {
                            <span>@Model.PersonalVisitItems.Description</span>
                        }
                    </div>
                </div>
                <div class="part1">
                    @{
                        PersonEntity Person = new PersonEntity();
                        Person.isEditable = true;

                        if (Model.PersonalVisitItems != null && Model.PersonalVisitItems.Person != null)
                        {
                            Person.isEditable = true;
                            Person = Model.PersonalVisitItems.Person;
                        }
                    }
                    @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
                </div>
            </div>
        </div>
    </div>

</div>