﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

        <div class="container-fluid">
    <div class="part1">
        @{
            PersonEntity Person = new PersonEntity();
            Person.isEditable = true;

            if (Model.PackageItems != null && Model.PackageItems.Person != null)
            {
                Person.isEditable = true;
                Person = Model.PackageItems.Person;
            }
        }
        @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
    </div>
    <div class="part2">
        <div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="package-preseting-person">Ընդունող անձ՝</label>
                        @if (Model.PackageItems.EmployeeID != null)
                        {
                            <span>@MyHelpers.GetEmployeeNameByID(Model.PackageItems.EmployeeID)</span>
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label for="private-visit-start-date">Ամսաթիվ`</label>
                        <span>@((Model.PackageItems != null && Model.PackageItems.Date != null) ? Model.PackageItems.Date.Value.ToString("dd/MM/yyyy HH:mm:ss") : "")</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="package-type">Հանձնուքի (ծանրոցի) տեսակ`</label>
                        @if (Model.PackageItems.TypeLibItemID != null)
                        {
                            <span>@MyHelpers.GetLibNameByID(Model.PackageItems.TypeLibItemID)</span>
                        }
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="form-group">
                        <label for="package-weight">Հանձնուքի քաշը (ընդհանուր, կգ)`</label>
                        @if (Model.PackageItems.Weight != null)
                        {
                            <span>@Model.PackageItems.Weight</span>
                        }
                    </div>
                </div>
            </div>
            @if (Model.PackageItems.ContentList != null)
            {
            <div class="row">
                <div class="col-xs-12">
                    <div class="formsWrapSeparator"></div>
                    <div class="form-group">
                        <label>Պարունակությունը`</label>
                    </div>
                    @foreach (PackageContentEntity items in Model.PackageItems.ContentList)
                    {
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label for="ContentTypeLibItemID">Տիպ`</label>
                                @if (items.TypeLibItemID != null)
                                {
                                    <span>@MyHelpers.GetLibNameByID(items.TypeLibItemID)</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label for="package-in-item">Ապրանք`</label>
                                @if (items.GoodsLibItemID != null)
                                {
                                    <span>@MyHelpers.GetLibNameByID(items.GoodsLibItemID)</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label for="package-in-unit">Չափման միավոր`</label>
                                @if (items.MeasureLibItemID != null)
                                {
                                    <span>@MyHelpers.GetLibNameByID(items.MeasureLibItemID)</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label for="WeightCount">Քաշ/քանակ`</label>
                                @if (items.WeightCount != null)
                                {
                                    <span>@items.WeightCount</span>
                                }
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

