﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities


<div class="row">
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="medical-external-examination">Վնասվածքներ`</label>
            <span>@((Model.MedicalExternalExaminationItem != null && Model.MedicalExternalExaminationItem.State != null && Model.MedicalExternalExaminationItem.State.Value) ? "Ունի" : "Չունի")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="form-group">
            <label for="medical-external-examination-date">Ամսաթիվ`</label>
            <span>@((Model.MedicalExternalExaminationItem != null && Model.MedicalExternalExaminationItem.Date != null) ? Model.MedicalExternalExaminationItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-external-examination-description">Նկարագրություն`</label>
            <span>@((Model.MedicalExternalExaminationItem != null && Model.MedicalExternalExaminationItem.Description != null) ? Model.MedicalExternalExaminationItem.Description.ToString() : "")</span>
        </div>
    </div>
</div>