﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="training-type">Դասընթաց`</label>
                    @if (Model.EducationalCoursesItems.TypeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.EducationalCoursesItems.TypeLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="training-end-date">Դասընթացի ավարտի ամսաթիվ`</label>
                    @if (Model.EducationalCoursesItems.EndDate != null)
                    {
                        <span>@Model.EducationalCoursesItems.EndDate</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="training-info">Նկարագրություն`</label>
            @if (Model.EducationalCoursesItems.Note != null)
            {
                <span>@Model.EducationalCoursesItems.Note</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="training-involvement-date">Ներգրավման ամսաթիվ`</label>
                    @if (Model.EducationalCoursesItems.EngagementDate != null)
                    {
                        <span>@Model.EducationalCoursesItems.EngagementDate</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <label for="training-involvement-base">Ներգրավման հիմք`</label>
                    @if (Model.EducationalCoursesItems.EngagementBasisLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.EducationalCoursesItems.EngagementBasisLibItemID)</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="training-involvement-status">Ներգրավվածության կարգավիճակ`</label>
            @if (Model.EducationalCoursesItems.EngagementState != null)
            {
                <span>@MyHelpers.GetEducationalCourseName(Model.EducationalCoursesItems.EngagementState.Value)</span>
            }
        </div>
    </div>
    <div class="col-xs-12 @((Model.EducationalCoursesItems != null && Model.EducationalCoursesItems.EngagementState != null && Model.EducationalCoursesItems.EngagementState.Value) ? "hidden" : "")" id="training-free-wrap">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="training-free-date">Ազատման ամսաթիվ`</label>
                    @if (Model.EducationalCoursesItems.ReleaseDate != null)
                    {
                        <span>@Model.EducationalCoursesItems.ReleaseDate</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <label for="training-free-base">Ազատման հիմք`</label>
                    @if (Model.EducationalCoursesItems.ReleaseBasisLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.EducationalCoursesItems.ReleaseBasisLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="training-free-cause">Ազատման պատճառ`</label>
                    @if (Model.EducationalCoursesItems.ReleaseNote != null)
                    {
                        <span>@Model.EducationalCoursesItems.ReleaseNote</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>