﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            @{PersonEntity OfficialVisitPerson = new PersonEntity();
                OfficialVisitPerson.isEditable = true;

                if (Model.OfficialVisitItems != null && Model.OfficialVisitItems.Person != null)
                {
                    OfficialVisitPerson.isEditable = true;
                    OfficialVisitPerson = Model.OfficialVisitItems.Person;
                }
            }
            @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = OfficialVisitPerson })
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="gov-body-visit-purpose">Այցելության նպատակ`</label>
                    @if (Model.OfficialVisitItems.TypeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.OfficialVisitItems.TypeLibItemID)</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="gov-body-visit-start-date">Սկիզբ`</label>
                    @if (Model.OfficialVisitItems.StartDate != null)
                    {
                        <span>@Model.OfficialVisitItems.StartDate</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="gov-body-visit-end-date">Ավարտ`</label>
                    @if (Model.OfficialVisitItems.EndDate != null)
                    {
                        <span>@Model.OfficialVisitItems.EndDate</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                       <label for="gov-body-visit-role">Պաշտոն`</label>
                         @if (Model.OfficialVisitItems.PositionLibItemID != null)
                         {
                            <span>@MyHelpers.GetLibNameByID(Model.OfficialVisitItems.PositionLibItemID)</span>
                         }
                </div>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="Description">Նկարագրություն`</label>
                    @if (Model.OfficialVisitItems.Description != null)
                    {
                        <span>@Model.OfficialVisitItems.Description</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.OfficialVisitItems.VisitorList != null)
{
<div class="col-xs-12">
    <div class="tableWrap searchuserloader">
        <table class="table table-bordered table-valignM collapseTable" id="foundusertable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Անուն Ազգանուն Հայրանուն</th>
                    <th>Ծննդ. ամսաթիվ</th>
                    <th>Սոց. քարտ</th>
                    <th>Անձնագիր</th>
                </tr>
            </thead>
            @foreach (VisitorEntity Person in Model.OfficialVisitItems.VisitorList)
            {
            <tbody id="searchuserinfoshort">
                <tr>
                    <td data-title="Անուն Ազգանուն Հայրանուն">@Person.Person.FirstName @Person.Person.LastName @Person.Person.MiddleName</td>
                    <td data-title="Ծննդ. ամսաթիվ">@Person.Person.Birthday.ToString()</td>
                    <td data-title="Սոց. քարտ">@Person.Person.Personal_ID</td>
                    <td data-title="Անձնագիր">@((Person.Person.IdentificationDocuments != null && Person.Person.IdentificationDocuments.Any()) ? Person.Person.IdentificationDocuments.First().Number.ToString() : "-")</td>
                </tr>
            </tbody>
            }
        </table>
        <p class="hidden" id="foundusererrorp"></p>
    </div>
</div>
}