﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="education-status">Պարգևներ, շքանշաններ`</label>
                    <span>
                        @if(Model.MilitaryItem != null && Model.MilitaryItem.ArmyAwards != null)
                        {
                            List<int> list = new List<int>();
                            foreach (var item in Model.MilitaryItem.ArmyAwards)
                            {
                                list.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(list)
                        }
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="profession">Պատերազմի մասնակից`</label>
                    <span>
                        @if (Model.MilitaryItem != null && Model.MilitaryItem.WarInvolved != null)
                        {
                            List<int> LibIdList = new List<int>();
                            foreach (var item in Model.MilitaryItem.WarInvolved)
                            {
                                LibIdList.Add(item.LibItemID.Value);
                            }
                            @MyHelpers.GetLibItemNamesByID(LibIdList)
                        }
                    </span>
                </div>
                <div class="form-group">
                    <label for="hobbies">Հիմք չծառայելու վերաբերյալ`</label>
                    <span>
                        @if (Model.MilitaryItem != null && Model.MilitaryItem.NotServed != null && Model.MilitaryItem.NotServed.ReasonLibItemID != null)
                        {
                            @MyHelpers.GetLibNameByID(Model.MilitaryItem.NotServed.ReasonLibItemID)
                        }
                    </span>
                </div>
            </div>   
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="education-profession-info">Նկարագրություն``</label>
                    <span>@((Model.MilitaryItem != null && Model.MilitaryItem.NotServed.Description != null && Model.MilitaryItem.NotServed.Description != null) ? Model.MilitaryItem.NotServed.Description : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>