﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="prevCodeLibItemID">Օրենսգիրք`</label>
                    @if (Model.PrevConvItem.CodeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.PrevConvItem.CodeLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="personal-old-sentence-punishment">Հոդված`</label>
                    @{List<int> libtList = new List<int>();

                        foreach (SentencingDataArticleLibsEntity Lib in Model.PrevConvItem.SentencingDataArticles)
                        {
                            libtList.Add(Lib.LibItem_ID.Value);
                        }
                        @MyHelpers.drawCustomSelectRecursionSelected(Model.SentencingArticles, null, libtList)
                    }
                </div>
            </div>

            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="personal-old-sentence-punishment">Պատժատեսակ`</label>
                    @if (Model.PrevConvItem.PenaltyLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.PrevConvItem.PenaltyLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label>Պատժաչափ`</label>
                    <div class="form-group-in">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="entrance-punishment-duration-days">Օր`</label>
                                    @if (Model.PrevConvItem.PenaltyDay != null)
                                    {
                                        <span>@Model.PrevConvItem.PenaltyDay</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="entrance-punishment-duration-months">Ամիս`</label>
                                    @if (Model.PrevConvItem.PenaltyMonth != null)
                                    {
                                        <span>@Model.PrevConvItem.PenaltyMonth</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label for="entrance-punishment-duration-years">Տարի`</label>
                                    @if (Model.PrevConvItem.PenaltyYear != null)
                                    {
                                        <span>@Model.PrevConvItem.PenaltyYear</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                            <label for="personal-old-sentence-start-date">Պատժի սկիզբ`</label>
                            @if (Model.PrevConvItem.StartDate != null)
                            {
                                <span>@Model.PrevConvItem.StartDate.Value.ToString("dd/MM/yyyy")</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                            <label for="personal-old-sentence-end-date">Պատժի ավարտ`</label>
                            @if (Model.PrevConvItem.EndDate != null)
                            {
                                <span>@Model.PrevConvItem.EndDate.Value.ToString("dd/MM/yyyy")</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="personal-old-sentence-info">Նշումներ</label>
                            @if (Model.PrevConvItem.Notes != null)
                            {
                                <span>@Model.PrevConvItem.Notes</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
