﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities


<div class="row">
    <div class="col-xs-12 col-md-6">
        @if (Model.FingerTatooScarItem == null)
        {
            <div class="form-group">
                <label for="add-file-toggle" class="add-file-label">
                    <span>Ֆայլ`</span>
                    <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat">Ավելացնել</span>
                </label>
                <span id="filename" class=""></span>
                <div hidden>
                    <input class="" type="file" id="add-file-toggle" accept="image/*,application/pdf,application/msword" />
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>Ֆայլ`</label>
                <img class="img-responsive" src="@(Model.FingerTatooScarItem != null ? BusinessLayer.BusinessServices.BL_Files.getInstance().GetLinkImage(Model.FingerTatooScarItem.FileID,200,null) : "")" />
            </div>
        }
    </div>
    <div class="col-xs-12 col-md-6 ">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="add-file-status">Կարգավիճակ`</label>
                <span>@((Model.FingerTatooScarItem != null && Model.FingerTatooScarItem.State.Value) ? "Ակտիվ" : "Պասիվ")</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="add-file-description">Անվանում`</label>
                <span>@((Model.FingerTatooScarItem != null) ? Model.FingerTatooScarItem.Name : "")</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="add-file-description">Նկարագրություն`</label>
                <span>@((Model.FingerTatooScarItem != null) ? Model.FingerTatooScarItem.Description : "")</span>
            </div>
        </div>
    </div>

</div>