﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label class="getItemsPopup checkValidatePopup TypeLibItem_ID" name="TypeLibItem_ID">Տեսակ`</label>
            <span>
                @if (Model.LeaningItem != null && Model.LeaningItem.TypeLibItem_ID != null)
            {
                @MyHelpers.GetLibNameByID(Model.LeaningItem.TypeLibItem_ID)
            }
        </span>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="physical-modal-addiction-date">Ամսաթիվ՝</label>
            <span>@((Model.LeaningItem != null && Model.LeaningItem.Date != null) ? Model.LeaningItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="physical-modal-addiction-description">Նկարագրություն`</label>
            <span>@((Model.LeaningItem != null && Model.LeaningItem.Description != null) ? Model.LeaningItem.Description : "")</span>
        </div>
    </div>
</div>