﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-examination">Ընտանեկան կարգավիճակ`</label>
            <span>
            @if(Model.FamiltyRelativeItem != null)
            {
                if ((int)Model.FamiltyRelativeItem.FamilyStatusID == 1)
                {
                    @String.Format("Ամուսնացած չէ");
                }
                else if ((int)Model.FamiltyRelativeItem.FamilyStatusID == 2)
                {
                    @String.Format("Ամուսնացած է");
                }
                else if ((int)Model.FamiltyRelativeItem.FamilyStatusID == 3)
                {
                    @String.Format("Ամուսնալուծված է");
                }
            }
            </span>
        </div>
    </div>
</div>