﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    @*<div class="col-xs-12">
            <div class="form-group">
                <label for="entrance-case-performing-person">Վարույթ իրականացնող մարմին`</label>
                <select name="ProceedingLib_ID" id="entrance-case-performing-person" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                    <option value="">Ընտրել</option>
                    @foreach (LibsEntity Lib in Model.VaruytMarmin)
                    {
                        <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.ProceedingLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                    }
                </select>
            </div>
        </div>*@
    <div class="col-xs-12">
        <div class="form-group">
            <label for="entrance-court-name-1">Կալանավորում խափանման միջոց ընտրած մարմին`</label>
            @if (Model.ArrestDataItem.ArrestLib_ID != null)
            {
                <span>@MyHelpers.GetLibNameByID(Model.ArrestDataItem.ArrestLib_ID)</span>
            }
        </div>
    </div>
    @*<div class="col-xs-12">
            <div class="form-group">
                <label for="entrance-court-name-2">Դատավճիռ կայացրած մարմին`</label>
                <select name="VerdictLib_ID" id="entrance-court-name-2" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                    <option value="">Ընտրել</option>
                    @foreach (LibsEntity Lib in Model.SentencePerformingPersons)
                    {
                        <option value="@Lib.ID" @((Model.arrestDataEntity != null && Model.arrestDataEntity.VerdictLib_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                    }
                </select>
            </div>
        </div>*@
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-verdict-number">Որոշման համար`</label>
            @if (Model.ArrestDataItem.VerdictNumber != null)
            {
                <span>@Model.ArrestDataItem.VerdictNumber</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-court-judge">Դատավոր`</label>
            @if (Model.ArrestDataItem.Judge != null)
            {
                <span>@Model.ArrestDataItem.Judge</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-court-date">Որոշման ամսաթիվ`</label>
            @if (Model.ArrestDataItem.VerdictDate != null)
            {
                <span>@Model.ArrestDataItem.VerdictDate</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-sentence-code">Օրենսգիրք`</label>
            @if (Model.ArrestDataItem.CodeLibItem_ID != null)
            {
                <span>@MyHelpers.GetLibNameByID(Model.ArrestDataItem.CodeLibItem_ID)</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="form-group">
            <label for="entrance-court-judge"></label>
            @if (Model.ArrestDataItem.SentencingDataArticles != null)
            {
                List<int> libtList = new List<int>();

                foreach (SentencingDataArticleLibsEntity Lib in Model.ArrestDataItem.SentencingDataArticles)
                {
                    libtList.Add(Lib.LibItem_ID.Value);
                }
                @MyHelpers.drawCustomSelectRecursionSelected(Model.SentencingArticles, null, libtList)
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-arrest-start-date">Կալանավորման սկիզբ`</label>
            @if (Model.ArrestDataItem.DetentionStart != null)
            {
                <span>@Model.ArrestDataItem.DetentionStart</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-arrest-end-date">Կալանավորման ավարտ`</label>
            @if (Model.ArrestDataItem.DetentionEnd != null)
            {
                <span>@Model.ArrestDataItem.DetentionEnd</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="CodeNumber">Քրեական գործի համար`</label>
            @if (Model.ArrestDataItem.CodeNumber != null)
            {
                <span>@Model.ArrestDataItem.CodeNumber</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <div class="tableWrap">
                <table class="table table-bordered table-valignM">
                    <thead>
                        <tr>
                            <th>Վարույթ իրականացնող մարմին`</th>
                            <th colspan="2">Ամսաթիվ`</th>
                        </tr>
                    </thead>
                    <tbody id="proceedingsTableRow" class="proceedingLoader">
                        @if (Model.ArrestDataItem.ArrestDataProceedings != null)
                        {
                            foreach (ArrestDataProceedingEntity entity in Model.ArrestDataItem.ArrestDataProceedings)
                            {
                                <tr>
                                    <td>
                                        <span>@MyHelpers.GetLibNameByID(entity.ProceedLibItemID)</span>
                                    </td>
                                    <td>
                                        <span>@entity.Date</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="medical-examination-description">Նկարագրություն`</label>
                @if (Model.ArrestDataItem.Description != null)
                {
                    <span>@Model.ArrestDataItem.Description</span>
                }
            </div>
        </div>
    </div>
