﻿@model MVC___Internal_System.Models.MergeViewModel
@using CommonLayer.BusinessEntities
@using CommonLayer.HelperClasses;

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Բաժին</th>
                <th>Մաս</th>
                <th>Տեսակ</th>
                <th>Հաստատում</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.ListDashboardMerge != null && Model.ListDashboardMerge.Any())
            {
                foreach (MergeDashboardEntity curEntity in Model.ListDashboardMerge)
                {

                    string EID = curEntity.EID.ToString();
                    int unit = int.Parse(EID.Substring(1, 2));
                    int subunit = int.Parse(EID.Substring(3, 2));
                    int table = int.Parse(EID.Substring(5, 2));

                    <tr class="mergeApproveRow" data-id="@curEntity.ID">
                        <td data-title="Անհատական համար">@curEntity.Personal_ID</td>                      
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
						@if (curEntity.PrisonerType == 3)
						{
						<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
						<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}

                        <td data-title="Բաժին">@UnitNameHelper.GetUnitName(unit)</td>
                        <td data-title="Մաս">@*@curEntity.EngagementDate*@</td>
                        <td data-title="Տեսակ">@*@curEntity.EngagementBasisLibItemLabel*@</td>
                        <td data-title="Գործողություն">
                            @if (curEntity.Type == 1)
                            {
                                @Html.Raw("Ավելացում")
                            }
                            else if (curEntity.Type == 2)
                            {
                                @Html.Raw("Հեռացում")
                            }
                            else if (curEntity.Type == 3)
                            {
                                @Html.Raw("Խմբագրում")
                            }
                         </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.MergeEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardMerge != null && Model.MergeEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.MergeEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.MergeEntityPaging.CurrentPage == Model.MergeEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergePrisonerTableRow/@(Model.PrisonerID)/1/" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergePrisonerTableRow/@(Model.PrisonerID)/@(Model.MergeEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int l = Model.MergeEntityPaging.TotalPage;
                int c = Model.MergeEntityPaging.CurrentPage;
                int v = Model.MergeEntityPaging.ViewCount;

                if (c > v * i - (v / 2 - 1) && l > v)
                {
                    i = c - (v / 2 - 1);
                    l = c + (v / 2 - 1);
                }
                else if (l >= v)
                {
                    l = i + (v - 1);
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergePrisonerTableRow/@(Model.PrisonerID)/@i" class="paginationBtn @((i == Model.MergeEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergePrisonerTableRow/@(Model.PrisonerID)/@(Model.MergeEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergePrisonerTableRow/@(Model.PrisonerID)/@Model.MergeEntityPaging.TotalPage" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
