﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="work-type">Աշխատանքի տեսակ`</label>
                    @if (Model.WorkLoadItems.JobTypeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.WorkLoadItems.JobTypeLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="work-name">Աշխատանքի անվանում`</label>
                    @if (Model.WorkLoadItems.WorkTitleLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.WorkLoadItems.WorkTitleLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="work-employer">Գործատու`</label>
                    @if (Model.WorkLoadItems.EmployerLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.WorkLoadItems.EmployerLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="work-end-date">Ավարտի ամսաթիվ`</label>
                    @if (Model.WorkLoadItems.EndDate != null)
                    {
                        <span>@Model.WorkLoadItems.EndDate</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="work-info">Նկարագրություն`</label>
            @if (Model.WorkLoadItems.Note != null)
            {
                <span>@Model.WorkLoadItems.Note</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="work-salary">Աշխատավարձ (Դրամ)`</label>
                    @if (Model.WorkLoadItems.Salary != null)
                    {
                        <span>@Model.WorkLoadItems.Salary</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="work-document-number">Պայմանագրի համար`</label>
                    @if (Model.WorkLoadItems.ContractNumber != null)
                    {
                        <span>@Model.WorkLoadItems.ContractNumber</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="work-info-date">Ներգրավման ամսաթիվ`</label>
                    @if (Model.WorkLoadItems.EngagementDate != null)
                    {
                        <span>@Model.WorkLoadItems.EngagementDate</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="work-involvement-base">Ներգրավման հիմք`</label>
                    @if (Model.WorkLoadItems.EngagementBasisLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.WorkLoadItems.EngagementBasisLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <label for="work-involvement-status">Ներգրավվածության կարգավիճակ`</label>
                    @if (Model.WorkLoadItems.EngagementState != null)
                    {
                        if (Model.WorkLoadItems.EngagementState == true)
                        {
                            <span>Ներգրավված</span>
                        }
                        else
                        {
                            <span>Ազատված</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 @((Model.WorkLoadItems != null && Model.WorkLoadItems.EngagementState != null && Model.WorkLoadItems.EngagementState.Value) ? "hidden" : "")" id="work-free-wrap">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="form-group">
                    <label for="work-free-base">Ազատման հիմք`</label>
                    @if (Model.WorkLoadItems.ReleaseBasisLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.WorkLoadItems.ReleaseBasisLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="work-free-date">Ազատման ամսաթիվ`</label>
                    @if (Model.WorkLoadItems.ReleaseDate != null)
                    {
                        <span>@Model.WorkLoadItems.ReleaseDate</span>
                    }
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="work-free-cause">Ազատման Նկարագրություն`</label>
                    @if (Model.WorkLoadItems.ReleaseNote != null)
                    {
                        <span>@Model.WorkLoadItems.ReleaseNote</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>