﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            @{PersonEntity Person = new PersonEntity();
                Person.isEditable = true;

                if (Model.ConflictItems != null && Model.ConflictItems.Person != null)
                {
                    Person.isEditable = true;
                    Person = Model.ConflictItems.Person;
                }
            }
            @Html.Action("Draw_PersonFullData", "_Popup_Views_", new { Person = Person })
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="medical-examination-description">Նկարագրություն`</label>
                    <span>@((Model.ConflictItems != null && Model.ConflictItems.Description != null) ? Model.ConflictItems.Description : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>
