﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="entrance-sentence-performing-person">Դատավճռի որոշումը կայացրած մարմին`</label>
            @if (Model.SentenceDataItem.SentencingDecisionLibItem_ID != null)
            {
                <span>@MyHelpers.GetLibNameByID(Model.SentenceDataItem.SentencingDecisionLibItem_ID)</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-sentence-number">Դատավճռի համար`</label>
            @if (Model.SentenceDataItem.SentencNumber != null)
            {
                <span>@Model.SentenceDataItem.SentencNumber</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-sentence-judge">Դատավոր`</label>
            @if (Model.SentenceDataItem.Judge != null)
            {
                <span>@Model.SentenceDataItem.Judge</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-sentence-date">Դատապարտման ամսաթիվ`</label>
            @if (Model.SentenceDataItem.SentencingDate != null)
            {
                <span>@Model.SentenceDataItem.SentencingDate</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="entrance-sentence-entry-date">Դատավճիռը օրինական ուժի մեջ մտնելու ամսաթիվ`</label>
            @if (Model.SentenceDataItem.SentencingVerdictDate != null)
            {
                <span>@Model.SentenceDataItem.SentencingVerdictDate</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label for="entrance-sentence-code">Օրենսգիրք`</label>
                    @if (Model.SentenceDataItem.CodeLibItem_ID != null)
                    {

                        <span>@MyHelpers.GetLibNameByID(Model.SentenceDataItem.CodeLibItem_ID)</span>



                        List<int> libtList = new List<int>();

                        foreach (SentencingDataArticleLibsEntity Lib in Model.SentenceDataItem.SentencingDataArticles)
                        {
                            libtList.Add(Lib.LibItem_ID.Value);
                        }
                        @MyHelpers.drawCustomSelectRecursionSelected(Model.SentencingArticles, null, libtList)

                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="entrance-punishment-type">Պատժատեսակ`</label>
                    <span>@((Model.SentenceDataItem != null && Model.SentenceDataItem.PunishmentLibItemLabel != null) ? Model.SentenceDataItem.PunishmentLibItemLabel : "")</span>
                    @if (Model.SentenceDataItem != null && Model.SentenceDataItem.PunishmentLibItemLabel == null && Model.SentenceDataItem.PunishmentLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.SentenceDataItem.PunishmentLibItemID)</span>
                    }
                </div>
            </div>

            <div class="col-xs-12 col-md-8 articlesHolder">
            </div>
        </div>
    </div>
    @*<div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="entrance-punishment-type">Պատժատեսակ`</label>
                <select name="PenaltyLibItem_ID" id="entrance-punishment-type" class="getItemsModal checkValidateModal selectize-sm selectizeSentence">
                    <option value="">Ընտրել</option>
                    @foreach (LibsEntity Lib in Model.SentencePunishmentType)
                    {
                        <option value="@Lib.ID" @((Model.sentenceData != null && Model.sentenceData.PenaltyLibItem_ID != null && Model.sentenceData.PenaltyLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                    }
                </select>
            </div>
        </div>*@
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="entrance-punishment-type">Պատժի ծանրություն`</label>
                    @if (Model.SentenceDataItem.SentenceArticleType != null)
                    {
                        switch (Model.SentenceDataItem.SentenceArticleType)
                        {
                            case 1:
                                <span>Առանձնապես ծանր</span>
                                break;
                            case 2:
                                <span>Ծանր</span>
                                break;
                            case 3:
                                <span>Միջին ծանրության</span>
                                break;
                            case 287:
                                <span>Ոչ մեծ ծանրության</span>
                                break;


                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="early-date">Վաղաժամկետ ազատման ամսաթիվ`</label>
            @if (Model.SentenceDataItem.EarlyDate != null)
            {
                <span>@Model.SentenceDataItem.EarlyDate</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="form-group">
            <label for="early-type">Պայմանական վաղաժամկետ ազատում`</label>
            @if (Model.SentenceDataItem.EarlyType != null)
            {
                switch (Model.SentenceDataItem.EarlyType)
                {
                    case 1:
                        <span>1/3</span>
                        break;
                    case 2:
                        <span>1/2</span>
                        break;
                    case 3:
                        <span>2/3</span>
                        break;
                    case 4:
                        <span>1/4</span>
                        break;


                }
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="LowSuit">Քաղ. հայց`</label>
                    @if (Model.SentenceDataItem.LowSuit != null)
                    {
                        if (Model.SentenceDataItem.LowSuit.Value)
                        {
                            <span>Ունի</span>
                        }
                        else
                        {
                            <span>Չունի</span>
                        }
                    }
                </div>
            </div>
            @if (Model.SentenceDataItem.LowSuitAmount != null && Model.SentenceDataItem.LowSuit != null && Model.SentenceDataItem.LowSuit.Value)
            {
                <div class="col-xs-12 col-md-8" id="LowSuitIn">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="LowSuitAmount">Գումար`</label>

                                <span>@Model.SentenceDataItem.LowSuitAmount</span>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="LowSuitPayAmount">Մասնակի մարված`</label>
                                @if (Model.SentenceDataItem.LowSuitPayAmount != null)
                                {
                                    <span>@Model.SentenceDataItem.LowSuitPayAmount</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="LowSuitState">Մուծված`</label>
                                @if (Model.SentenceDataItem.LowSuitState != null)
                                {
                                    if (Model.SentenceDataItem.LowSuitState == true)
                                    {
                                        <span value="true">Այո</span>
                                    }
                                    else
                                    {
                                        <span value="false">Ոչ</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label for="PropertyConfiscationLibItemID">Գույքի բռնագրավում`</label>
                    @if (Model.SentenceDataItem.PropertyConfiscationLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.SentenceDataItem.PropertyConfiscationLibItemID)</span>
                    }
                </div>
            </div>
            @if (Model.SentenceDataItem.PropertyConfiscationValue != null)
            {
                <div class="col-xs-12 col-md-8" id="PropertyConfiscationValueIn">
                    <div class="form-group">
                        <label for="PropertyConfiscationValue">Արժեք`</label>

                        <span>@Model.SentenceDataItem.PropertyConfiscationValue</span>

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="FineHas">Տուգանք`</label>
                    @if (Model.SentenceDataItem.FineHas != null)
                    {
                        if (Model.SentenceDataItem.FineHas == true)
                        {
                            <span>Ունի</span>
                        }
                        else
                        {
                            <span>Չունի</span>
                        }
                    }
                </div>
            </div>
            @if (Model.SentenceDataItem.Fine != null && Model.SentenceDataItem.FineHas != null && Model.SentenceDataItem.FineHas.Value)
            {
                <div class="col-xs-12 col-md-9 " id="FineHasIn">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="Fine">Տուգանք`</label>

                                <span>@Model.SentenceDataItem.Fine</span>

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="FinePay">Մասնակի մարված`</label>
                                @if (Model.SentenceDataItem.FinePay != null)
                                {
                                    <span>@Model.SentenceDataItem.FinePay</span>
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="FineState">Մուծված`</label>
                                @if (Model.SentenceDataItem.FineState != null)
                                {
                                    if (Model.SentenceDataItem.FineState == true)
                                    {
                                        <span value="true">Այո</span>
                                    }
                                    else
                                    {
                                        <span value="false">Ոչ</span>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label>Պատժաչափ`</label>
            <div class="form-group-in">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label for="entrance-punishment-duration-days">Օր`</label>
                            @if (Model.SentenceDataItem.PenaltyDay != null)
                            {
                                <span>@Model.SentenceDataItem.PenaltyDay</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label for="entrance-punishment-duration-months">Ամիս`</label>
                            @if (Model.SentenceDataItem.PenaltyMonth != null)
                            {
                                <span>@Model.SentenceDataItem.PenaltyMonth</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label for="entrance-punishment-duration-years">Տարի`</label>
                            @if (Model.SentenceDataItem.PenaltyYear != null)
                            {
                                <span>@Model.SentenceDataItem.PenaltyYear</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                            <label for="SentencingStartDate">Պատժի սկիզբ`</label>
                            @if (Model.SentenceDataItem.SentencingStartDate != null)
                            {
                                <span>@Model.SentenceDataItem.SentencingStartDate</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <div class="form-group">
                            <label for="entrance-punishment-end-date">Պատժի ավարտ`</label>
                            @if (Model.SentenceDataItem.SentencingEndDate != null)
                            {
                                <span>@Model.SentenceDataItem.SentencingEndDate</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="medical-examination-description">Նկարագրություն`</label>
            @if (Model.SentenceDataItem.Description != null)
            {
                <span>@Model.SentenceDataItem.Description</span>
            }
        </div>
    </div>
</div>