﻿@model MVC___Internal_System.Models.MergeViewModel
@using CommonLayer.BusinessEntities
@using CommonLayer.HelperClasses;

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Վերջին փոփոխության ամսաթիվը</th>
                <th>Փոփոխությունների քանակը</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody">
            @if (Model.ListDashboardMerge != null && Model.ListDashboardMerge.Any())
            {
                foreach (MergeDashboardEntity curEntity in Model.ListDashboardMerge)
                {
                    <tr>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action( "Prisoner", "Merge", new { id = curEntity.PrisonerID })#Merge">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }                        
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
						@if (curEntity.PrisonerType == 3)
						{
						<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
						<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
                        <td data-title="Վերջին փոփոխության ամսաթիվը">@curEntity.LastModificationDate</td>
                        <td data-title="Փոփոխությունների քանակը">@curEntity.ModificationCount</td>                       
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.MergeEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardMerge != null && Model.MergeEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.MergeEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.MergeEntityPaging.CurrentPage == Model.MergeEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergeTableRow/1/" class="paginationBtn back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergeTableRow/@(Model.MergeEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }

                int i = 1;
                int t = Model.MergeEntityPaging.TotalPage;
                int c = Model.MergeEntityPaging.CurrentPage;
                int v = Model.MergeEntityPaging.ViewCount;
                int l = v;

                if (t > v)
                {
                    if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
                    {
                        i = c - (v / 2 - 1) - v % 2;
                        l = c + v / 2;
                    }
                    else if (c >= t - ((double)v / 2.0))
                    {
                        i = t - v + 1;
                        l = t;
                    }
                }
                else if(t < v)
                {
                    l = t;
                }
                for (; i <= l; i++)
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergeTableRow/@i" class="paginationBtn @((i == Model.MergeEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergeTableRow/@(Model.MergeEntityPaging.CurrentPage + 1) " class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_MergeTableRow/@Model.MergeEntityPaging.TotalPage" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
