﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label>Խուզարկու (իրականացնող)`</label>
            <div class="form-group-in">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="entrance-report-arrest-detective-rank">Կոչում`</label>
                            @if (Model.ProtocolItem.RankLib_ID != null)
                            {
                                <span>@MyHelpers.GetLibNameByID(Model.ProtocolItem.RankLib_ID)</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="entrance-report-arrest-detective-select">Աշխատակից`</label>
                            @if (Model.ProtocolItem.EmployeeID != null)
                            {
                                <span>@MyHelpers.GetEmployeeNameByID(Model.ProtocolItem.EmployeeID)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-report-building-type">ՔԿ հիմնարկության տեսակ`</label>
            @if (Model.ProtocolItem.PrisonInstitutionTypeLib_ID != null)
            {
                <span>@MyHelpers.GetLibNameByID(Model.ProtocolItem.PrisonInstitutionTypeLib_ID)</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="entrance-report-date">ՔԿՀ ընդունման ամսաթիվ`</label>
            @if (Model.ProtocolItem.PrisonAccessDate != null)
            {
                <span>@Model.ProtocolItem.PrisonAccessDate</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="entrance-report-base">ՔԿՀ ընդունման հիմք`</label>
            @if (Model.ProtocolItem.AdoptionBasis != null)
            {
                <span>@Model.ProtocolItem.AdoptionBasis</span>
            }
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="">ՔԿՀ ընդունելիս մարմնական զննության արդյունքներ`</label>
            @if (Model.ProtocolItem.PhysicalExamnationResult != null)
            {
                <span>@Model.ProtocolItem.PhysicalExamnationResult</span>
            }
        </div>
        <div class="form-group">
            <label for="">ՔԿՀ ընդունելիս անձնական խուզարկության արդյունքներ`</label>
            @if (Model.ProtocolItem.PersonalSearchResults != null)
            {
                <span>@Model.ProtocolItem.PersonalSearchResults</span>
            }
        </div>
        <div class="form-group">
            <label for="">Անձնական իրերի և հագուստի վերաբերյալ արձանագրություն`</label>
            @if (Model.ProtocolItem.PPIC != null)
            {
                <span>@Model.ProtocolItem.PPIC</span>
            }
        </div>
        <div class="form-group">
            <label for="">Սոցիալ-հոգեբանական վիճակ`</label>
            @if (Model.ProtocolItem.SPC != null)
            {
                <span>@Model.ProtocolItem.SPC</span>
            }
        </div>
        <div class="form-group">
            <label for="entrance-arrest-description">Նկարագրություն`</label>
            @if (Model.ProtocolItem.Description != null)
            {
                <span>@Model.ProtocolItem.Description</span>
            }
        </div>
    </div>
</div>