﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities


<div class="row">
    @if (Model.InvalidItem != null && Model.InvalidItem.FileSrc != null)
    {
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label class="add-file-label" for="modal-invalid-photo">
                    <span>Նկար`</span>
                </label>
            </div>
            <div class="hidden">
                <input type="file" name="CertificateFileID" class="getItemsPopup checkValidatePopup" id="modal-invalid-photo" />
            </div>
            <img id="modal-invalid-photolink" src="@((Model.InvalidItem.FileSrc != null) ? Model.InvalidItem.FileSrc : "")" alt="" class="img-responsive" />
        </div>
    }

    @if (Model.InvalidItem != null && Model.InvalidItem.FileSrc != null)
    {

        <div class="col-xs-12">
            <div class="form-group">
                <label>Վկայական`</label>
                <div class="form-group-in">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-number">Համար</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateNumber != null) ? Model.InvalidItem.CertificateNumber.ToString() : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-date">Ամսաթիվ</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateDate != null) ? Model.InvalidItem.CertificateDate.Value.ToString("dd/MM/yyyy") : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-issuer">Ում կողմից</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateFrom != null) ? Model.InvalidItem.CertificateFrom.ToString() : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="physical-modal-degree-of-disability">Կարգ`</label>
                                @if (Model.InvalidItem.ClassLibItem_ID == null)
                                {
                                    <span></span>
                                }
                                else
                                {
                                    <span>@MyHelpers.GetLibNameByID(Model.InvalidItem.ClassLibItem_ID)</span>

                                }

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label for="physical-modal-disability-date">Ամսաթիվ</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.Date != null) ? Model.InvalidItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 ">
                            <div class="form-group">
                                <label for="physical-modal-addiction-description">Նկարագրություն`</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.Description != null) ? Model.InvalidItem.Description : "")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12">
            <div class="form-group">
                <label>Վկայական`</label>
                <div class="form-group-in">
                    <div class="row">
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-number">Համար</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateNumber != null) ? Model.InvalidItem.CertificateNumber.ToString() : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-date">Ամսաթիվ</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateDate != null) ? Model.InvalidItem.CertificateDate.Value.ToString("dd/MM/yyyy") : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                <label for="physical-modal-disability-document-issuer">Ում կողմից</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.CertificateFrom != null) ? Model.InvalidItem.CertificateFrom.ToString() : "")</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                <label for="physical-modal-degree-of-disability">Կարգ`</label>
                                @if (Model.InvalidItem.ClassLibItem_ID == null)
                                {
                                    <span></span>
                                }
                                else
                                {
                                    <span>@MyHelpers.GetLibNameByID(Model.InvalidItem.ClassLibItem_ID)</span>

                                }

                            </div>
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="form-group">
                                <label for="physical-modal-disability-date">Ամսաթիվ</label>
                                <span>@((Model.InvalidItem != null && Model.InvalidItem.Date != null) ? Model.InvalidItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 ">
            <div class="form-group">
                <label for="physical-modal-addiction-description">Նկարագրություն`</label>
                <span>@((Model.InvalidItem != null && Model.InvalidItem.Description != null) ? Model.InvalidItem.Description : "")</span>
            </div>
        </div>
    }

</div>

