﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="box">
    <div class="boxBody">
        <div class="formsWrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="penalty-type">Միջոց`</label>
                            @if (Model.PenaltyItems.TypeListItemID != null)
                            {
                                <span>@MyHelpers.GetLibNameByID(Model.PenaltyItems.TypeListItemID)</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="penalty-foul-date">Խախտման ամսաթիվ`</label>
                            @if (Model.PenaltyItems.ViolationDate != null)
                            {
                                <span>@Model.PenaltyItems.ViolationDate</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="penalty-date">Տույժի ամսաթիվ`</label>
                            @if (Model.PenaltyItems.PenaltyDate != null)
                            {
                                <span>@Model.PenaltyItems.PenaltyDate</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="getItemsPen checkValidatePen ViolationList" name="ViolationList">Տեսակ`</label>
                            @if (Model.PenaltyItems.ViolationList != null)
                            {
                                {
                                    List<int> list = new List<int>();
                                    foreach (var item in Model.PenaltyItems.ViolationList)
                                    {
                                        list.Add(item.LibItemID.Value);
                                    }
                                    <span>@MyHelpers.GetLibItemNamesByID(list)</span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="StateLibItemID">Կարգավիճակ`</label>
                            @if (Model.PenaltyItems.StateLibItemID != null)
                            {
                                <span>@MyHelpers.GetLibNameByID(Model.PenaltyItems.StateLibItemID)</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="penalty-end-date">Տույժի ավարտի ամսաթիվ`</label>
                            @if (Model.PenaltyItems.PenaltyEndDate != null)
                            {
                                <span>@Model.PenaltyItems.PenaltyEndDate</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label for="penalty-redeem-date">Տույժի մարման ժամկետ`</label>
                            @if (Model.PenaltyItems.PenaltiesMaturity != null)
                            {
                                <span>@Model.PenaltyItems.PenaltiesMaturity</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row" id="StateLibItemIDIn">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="penalty-objection-base">Կարգավիճակի փոփոխման հիմք`</label>
                                    @if (Model.PenaltyItems.StatusChangeBasisLibItemID != null)
                                    {
                                        <span>@MyHelpers.GetLibNameByID(Model.PenaltyItems.StatusChangeBasisLibItemID)</span>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="penalty-status-change-date">Կարգավիճակի փոփոխման ամսաթիվ`</label>
                                    @if (Model.PenaltyItems.StatusChangeBasis != null)
                                    {
                                        <span>@Model.PenaltyItems.StatusChangeBasis</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="penalty-info-description">Նկարագրություն</label>
                            @if (Model.PenaltyItems.Notes != null)
                            {
                                <span>@Model.PenaltyItems.Notes</span>
                            }
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="penalty-presenting-person">Տույժը ներկայացնող անձ`</label>
                            @if (Model.PenaltyItems.EmployeerID != null)
                            {
                                <span>@((Model.PenaltyItems.EmployeerName==null)?MyHelpers.GetEmployeeNameByID(Model.PenaltyItems.EmployeerID).ToString() : Model.PenaltyItems.EmployeerName)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>