﻿@model MVC___Internal_System.Models.BansViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="Objects">Արգելանքի առարկա`</label>
            <select name="Objects" id="Objects" class="getItemsBan checkValidateBan selectize-sm selectizeBan" multiple readonly>
                <option value="">Ընտրել</option>
                @foreach (LibsEntity Lib in Model.BanItems)
            {
            <option value="@Lib.ID" @((Model.Item != null && Model.Item.Objects != null && Model.Item.Objects.FindAll(r => r.LibItem_ID == Lib.ID).Any()) ? "selected" : "")>@Lib.Name</option>
            }
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="ban-date">Ամսաթիվ`</label>
            <input name="Date" value="@(Model.Item != null && Model.Item.Date != null? Model.Item.Date.Value.ToString("dd/MM/yyyy") : "")" class="Dates getItemsBan checkValidateBan form-control input-sm" type="text" id="ban-date" readonly />
        </div>
    </div>
    <div class="col-xs-12">
        <div class="form-group">
            <label for="ban-number">Որոշման համար`</label>
            @if(Model.Item != null && Model.Item.TerminationNumber != null)
            {
                <span>@Model.Item.TerminationNumber</span>
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="ban-person">Որոշող մարմին`</label>
            <select name="VoroshoxLibItem_ID" id="ban-item" class="getItemsBan checkValidateBan selectize-sm selectizeBan" readonly>
                <option value="">Ընտրել</option>
                @foreach (LibsEntity Lib in Model.BanPerson)
            {
                    <option value="@Lib.ID" @((Model.Item != null && Model.Item.VoroshoxLibItem_ID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                }
            </select>
        </div>
    </div>
</div>