﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="departure-type">Տեսակ`</label>
                    @if (Model.DepartureItems.TypeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.DepartureItems.TypeLibItemID)</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label for="departure-purpose">Նպատակ`</label>
                    @if (Model.DepartureItems.PurposeLibItemID != null)
                    {
                        <span>@MyHelpers.GetLibNameByID(Model.DepartureItems.PurposeLibItemID)</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="departure-start-date">Սկիզբ`</label>
                    @if (Model.DepartureItems.StartDate != null)
                    {
                        <span>@Model.DepartureItems.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="departure-end-date">Ավարտ`</label>
                    @if (Model.DepartureItems.EndDate != null)
                    {
                        <span>@Model.DepartureItems.EndDate.Value.ToString("dd/MM/yyyy HH:mm")</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="departure-duration">Տևողություն (օր)`</label>
                    @if (Model.DepartureItems.Duration != null)
                    {
                        <span>@Model.DepartureItems.Duration</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="departure-duration-by-hour">Տևողություն (ժամ)`</label>
                    @if (Model.DepartureItems.DuartionByHour != null)
                    {
                        <span>@Model.DepartureItems.DuartionByHour</span>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label for="departure-Place">Վայր`</label>
                    @if (Model.DepartureItems.Place != null)
                    {
                        <span>@Model.DepartureItems.Place</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

