﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities
<div class="box">
    <div class="boxBody">
        <div class="formsWrap">
            <div class="container-fluid">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="PrisonerType">Տեսակ`</label>
                                @if (Model.PrisonerTypeStatusItems.PrisonerType != null)
                                {
                                    if (Model.PrisonerTypeStatusItems.PrisonerType == 2)
                                    {
                                        <span>Դատապարտյալ</span>
                                    }
                                    else
                                    {
                                        <span>Կալանավոր</span>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="Date">Ամսաթիվ`</label>
                                @if (Model.PrisonerTypeStatusItems.Date != null)
                                {
                                    <span>@Model.PrisonerTypeStatusItems.Date</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>