﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="medical-ambulator-modal-name">Անուն`</label>
            <span>@((Model.MedicalHistoryItem != null && Model.MedicalHistoryItem.Name != null) ? Model.MedicalHistoryItem.Name : "")</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="form-group">
            <label for="medical-ambulator-modal-date">Ամսաթիվ`</label>
            <span>@((Model.MedicalHistoryItem != null && Model.MedicalHistoryItem.Date != null) ? Model.MedicalHistoryItem.Date.Value.ToString("dd/MM/yyyy") : "")</span>
        </div>
    </div>
</div>