﻿@model MVC___Internal_System.Models.MergeViewModel
@using CommonLayer.BusinessEntities;


<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">

                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Անձ՝</label>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-2 col-lg-1">
                                                    <div class="user-select-img-wrap" style="background-image: url(@Model.Person.PhotoLink)"></div>
                                                </div>
                                                <div class="col-xs-12 col-md-10 col-lg-11">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-name-1">Անուն`</label>
                                                                <span>@Model.Person.FirstName</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-name-2">Ազգանուն`</label>
                                                                <span>@Model.Person.LastName</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-name-3">Հայրանուն`</label>
                                                                <span>@Model.Person.MiddleName</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-bd">Ծննդ. ամսաթիվ`</label>
                                                                <span>@Model.Person.Birthday.Value.ToShortDateString()</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-social-id">Սոց. քարտ`</label>
                                                                <span>@Model.Person.Personal_ID</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-3 col-lg-2">
                                                            <div class="form-group">
                                                                <label for="user-select-person-passport">Անձնագիր`</label>
                                                                <span>@Model.Person.IdentificationDocuments[0].Number</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row loaderClass">
                                    <div class="col-xs-12">
                                        <div class="tableWrap" id="filterList">
                                            @Html.Action("Draw_MergePrisonerTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), new { FilterData = Model.FilterMerge, page = 1 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div id="widgetHolder"></div>

