﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities;

<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>@ViewBag.Title</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Ընդլայնված որոնում" type="button" class="btn btn-sm btn-default btn-flat" data-toggle="collapse" aria-expanded="false">
                                <i class="fa fa-search"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="formsWrap collapse" id="searchCollapse">
                            <div class="container-fluid">
                                <div class="row">
                                    <form id="filterPersonForm">
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Այցելության նպատակ`</label>
                                                <select name="TypeLibItemID" id="TypeLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.TypeLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.TypeLibItemID != null && Model.FilterOfficialVisits.TypeLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-sex">Պաշտոն`</label>
                                                <select name="PositionLibItemID" id="PositionLibItemID" class="selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    @foreach (LibsEntity Lib in Model.PositionLibList)
                                                    {
                                                        <option value="@Lib.ID" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.PositionLibItemID != null && Model.FilterOfficialVisits.PositionLibItemID == Lib.ID) ? "selected" : "")>@Lib.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-1">Անուն`</label>
												<input name="FirstName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-1" value="@Model.FilterOfficialVisits.FirstName" />
											</div>
										</div>                                    
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-2">Ազգանուն`</label>
												<input name="LastName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-2" value="@Model.FilterOfficialVisits.LastName" />
											</div>
										</div>
										<div class="col-xs-12 col-md-2">
											<div class="form-group">
												<label for="encouragments-name-3">Հայրանուն`</label>
												<input name="MiddleName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-3" value="@Model.FilterOfficialVisits.MiddleName" />
											</div>
										</div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Դատապարտյալ(Կալանվոր)`</label>
                                                <select name="PrisonerType" id="prisoner-type" class="getItemsFilter selectize-sm selectizeFilter">
                                                    <option value="">Ընտրել</option>
                                                    <option value="2" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.PrisonerType == 2) ? "selected" : "")>Դատապարտյալ</option>
                                                    <option value="3" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.PrisonerType == 3) ? "selected" : "")>Կալանավոր</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="encouragments-name-4">Այցելուի անուն`</label>
                                                <input name="VisitorFirstName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-4" value="@Model.FilterOfficialVisits.VisitorFirstName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="encouragments-name-5">Այցելուի ազգանուն`</label>
                                                <input name="VisitorLastName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-4" value="@Model.FilterOfficialVisits.VisitorLastName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="encouragments-name-6">Այցելուի հայրանուն`</label>
                                                <input name="VisitorMiddleName" class="getItemsFilter form-control input-sm" type="text" id="encouragments-name-4" value="@Model.FilterOfficialVisits.VisitorMiddleName" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Սկիզբ`</label>
                                                <input name="StartDate" class="FilterDates form-control input-sm" type="text" id="encouragement-start-date" value="@(Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.StartDate != null ? Model.FilterOfficialVisits.StartDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">Վերջ`</label>
                                                <input name="EndDate" class="FilterDates form-control input-sm" type="text" id="encouragement-end-date" value="@(Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.EndDate != null ? Model.FilterOfficialVisits.EndDate.Value.ToString("dd/MM/yyyy") : "")" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-name-2">ՔԿՀ`</label>
                                                <select name="OrgUnitIDList" id="orgunitidlist" class="selectize-sm selectizeFilter" multiple>
                                                    <option value="">Ընտրել</option>
                                                    @foreach (KeyValuePair<int, string> item in ViewBag.VisibleOrgUnits)
                                                    {
                                                        <option value="@item.Key" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.OrgUnitIDList != null && Model.FilterOfficialVisits.OrgUnitIDList.FindAll(r => r == item.Key).Any()) ? "selected" : "")>@item.Value</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form-group">
                                                <label for="convict-archived">Արխիվացված`</label>
                                                <select name="ArchiveStatus" id="prisoner-archived" class="getItemsFilter selectize-sm selectizeFilterArchive">
                                                    <option value="">Ընտրել</option>
                                                    <option value="false" @((Model.FilterOfficialVisits != null && !Model.FilterOfficialVisits.ArchiveStatus) ? "selected" : "")>Այո</option>
                                                    <option value="true" @((Model.FilterOfficialVisits != null && Model.FilterOfficialVisits.ArchiveStatus) ? "selected" : "")>Ոչ</option>
                                                </select>
                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="formsWrapBtns">
                                            <div class="formsWrapBtnsIn">
												<button title="Չեղարկել" type="button" class="btn btn-default btn-flat" id="reloadFilterBtn">Չեղարկել</button>
                                                <button aria-controls="searchCollapse" data-target="#searchCollapse" title="Փակել" type="button" class="btn btn-default btn-flat" data-toggle="collapse" aria-expanded="false">Փակել</button>
                                                <button title="Որոնել" type="button" class="btn btn-default btn-flat" id="acceptFilterBtn">Որոնել</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tableWrap" id="filterList">
                            @Html.Action("Draw_OfficialVisitTableRow", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString())
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>