﻿@model MVC___Internal_System.Models.OfficialVisitsViewModel
@using CommonLayer.BusinessEntities

<div class="tableWrapIn">
    <table class="table table-bordered table-valignM">
        <thead>
            <tr>
                <th>Անհատական համար</th>
                <th>Անուն Ազգանուն Հայրանուն</th>
				<th>Դատապարտյալ(Կալանավոր)</th>
                <th>Այցելության ամսաթիվ</th>
                <th>Այցելու</th>
                <th>Պաշտոն</th>
                <th>Այցելության նպատակ</th>
                <th colspan="2">Կարգավիճակ</th>
            </tr>
        </thead>
        <tbody id="convictsTableBody"class="loaderClass">
            @if (Model.ListDashboardOfficialVisits != null && Model.ListDashboardOfficialVisits.Any())
            {
                foreach (OfficialVisitsDashboardEntity curEntity in Model.ListDashboardOfficialVisits)
                {
                    <tr>
                        @if (Enumerable.Any(ViewBag.Permissions))
                        {
                            <td data-title="Անհատական համար"><a href="@Url.Action((curEntity.ArchiveStatus.Value) ? "Edit" : "Preview", (curEntity.PrisonerType == 2) ? "Convicts" : "Prisoners", new { id = curEntity.PrisonerID })#OfficialVisits">@curEntity.Personal_ID</a></td>
                        }
                        else
                        {
                            <td data-title="Անհատական համար">@curEntity.Personal_ID</td>
                        }                        
                        <td data-title="Դատապարտյալ">@curEntity.PrisonerName</td>
						@if (curEntity.PrisonerType == 3)
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Կալանավոր</td>
						}
						else
						{
							<td data-title="Դատապարտյալ(Կալանավոր)">Դատապարտյալ</td>
						}
                        <td data-title="Այցելության ամսաթիվ">@curEntity.StartDate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                        <td data-title="Այցելու">@curEntity.PersonName</td>
                        <td data-title="Պաշտոն">@curEntity.PositionLibItemLabel</td>
                        <td data-title="Այցելության նպատակ">@curEntity.TypeLibItemLabel</td>
                        <td data-title="Կարգավիճակ" class="statusCol">
                            @if (curEntity.EndDate == null)
                            {
                                <span>Կայացած</span>
                            }
                            else
                            {
                                <span>Սպասման մեջ</span>
                            }
                        </td>
                        <td>
                            <a title="Տպել" type="button" data-id="@curEntity.ID" href="/OfficialVisits/OfficialVisitReportList" target="_blank" class="printReport btn btn-sm btn-default btn-flat">
                                <i class="fa fa-file-text"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="tableWrapPagination">
    <div class="tableWrapPaginationLeft">
        Գտնվել է <strong>@Model.OfficialVisitsEntityPaging.TotalCount</strong> արդյունք
    </div>
    <div class="tableWrapPaginationRight">
        <ul class="pagination pagination-sm">
            @if (Model.ListDashboardOfficialVisits != null && Model.OfficialVisitsEntityPaging.TotalPage > 1 /*&& Model.ListPrisoners.Count > Model.PrisonerEntityPaging.ViewCount*/)
            {
                string backClass = "";
                string nextClass = "";
                if (Model.OfficialVisitsEntityPaging.CurrentPage == 1)
                {
                    backClass = "disabled";
                }

                if (Model.OfficialVisitsEntityPaging.CurrentPage == Model.OfficialVisitsEntityPaging.TotalPage)
                {
                    nextClass = "disabled";
                }

                if (backClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_OfficialVisitTableRow/1/" class="paginationBtn back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_OfficialVisitTableRow/@(Model.OfficialVisitsEntityPaging.CurrentPage - 1)" data-pagenumber="@(Model.OfficialVisitsEntityPaging.CurrentPage - 1)" class="paginationBtn latest @backClass"><i class="fa fa-angle-left"></i></a></li>
                }
                else
                {
                    <li><a class="back @backClass" data-pagenumber="1"><i class="fa fa-angle-double-left"></i></a></li>
                    <li><a class="latest @backClass" data-pagenumber="@(Model.OfficialVisitsEntityPaging.CurrentPage - 1)"><i class="fa fa-angle-left"></i></a></li>
				}

				int i = 1;
				int t = Model.OfficialVisitsEntityPaging.TotalPage;
				int c = Model.OfficialVisitsEntityPaging.CurrentPage;
				int v = Model.OfficialVisitsEntityPaging.ViewCount;
				int l = v;

				if (t > v)
				{
					if (c > ((double)v / 2.0) && c <= t - ((double)v / 2.0))
					{
						i = c - (v / 2 - 1) - v % 2;
						l = c + v / 2;
					}
					else if (c >= t - ((double)v / 2.0))
					{
						i = t - v + 1;
						l = t;
					}
				}
				else if (t < v)
				{
					l = t;
				}
				for (; i <= l; i++)
				{
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_OfficialVisitTableRow/@i" class="paginationBtn @((i == Model.OfficialVisitsEntityPaging.CurrentPage) ? "active" : "")">@i</a></li>
                }
                if (nextClass.IsEmpty())
                {
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_OfficialVisitTableRow/@(Model.OfficialVisitsEntityPaging.CurrentPage + 1) " data-pagenumber="@(c + 1)" class="paginationBtn next @nextClass"><i class="fa fa-angle-right"></i></a></li>
                    <li><a href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Draw_OfficialVisitTableRow/@Model.OfficialVisitsEntityPaging.TotalPage" data-pagenumber="@t" class="paginationBtn forward @nextClass"><i class="fa fa-angle-double-right"></i></a></li>
                }
                else
                {
                    <li><a class="next @nextClass" data-pagenumber="@(c + 1)"><i class="fa fa-angle-right"></i></a></li>
                    <li><a class="forward @nextClass"data-pagenumber="@t "><i class="fa fa-angle-double-right"></i></a></li>
                }
            }
        </ul>
     </div>
</div>
