﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Այցելություն";
}
<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxBody">
                        <div class="reportTableWrap">
                            <div class="reportTableWrapIn">
                                @Html.ReportViewer(ViewBag.OfficialVisitReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>