﻿@model MVC___Internal_System.Models.PrisonersViewModel
@using CommonLayer.BusinessEntities

    
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Կալանավորման տվյալներ`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Կալանավորում խափանման միջոց ընտրած մարմին</th>
                                            <th>Որոշման համար</th>
                                            <th>Դատավոր</th>
                                            <th>Որոշման ամսաթիվ</th>
                                            <th>Կալանավորման սկիզբ - ավարտ</th>
											<th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="arrestdatatablebody" class="arrestDataLoader">
                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.ArrestData != null)
                                        {
                                            @Html.Action("Draw_ArrestDataTableRows", "_Popup_", new { Data = Model.Prisoner.AdoptionInformation.ArrestData })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                {
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addarrestdataBtn">Ավելացնել</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Դատապարտման տվյալներ`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Դատավճռի որոշումը կայացրած մարմին</th>
                                            <th>Դատավճռի համար</th>
                                            <th>Դատավոր</th>
                                            <th>Դատապարտման ամսաթիվ</th>
                                            <th>Դատավճիռը օրինական ուժի մեջ մտնելու ամսաթիվ</th>
                                            <th>Պատժաչափ</th>
                                            <th colspan="2">Պատժի ավարտ</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sentencedatatablebody" class="sentenceLoader">
                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.SentencingData != null)
                                        {
                                            @Html.Action("Draw_SentenceTableRows", "_Popup_", new { Data = Model.Prisoner.AdoptionInformation.SentencingData })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                {
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addsentencedataBtn">Ավելացնել</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>ՔԿՀ մուտք գործելու արձանագրություն`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Խուզարկու (իրականացնող)</th>
                                            <th>ՔԿ հիմնարկության տեսակ</th>
                                            <th>ՔԿՀ ընդունման ամսաթիվ</th>
                                            <th>ՔԿՀ ընդունման հիմք</th>
                                            <th>Մարմնական զննության արդյունքներ</th>
                                            <th>Անձնական խուզարկության արդյունքներ</th>
                                            <th>Իրերի և հագուստի վերաբերյալ արձանագրություն</th>
											<th>Սոցիալ-հոգեբանական վիճակ</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="protocoltablebody" class="arrestProtocolLoader">
                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.PrisonAccessProtocol != null)
                                        {
                                            @Html.Action("Draw_SentenceProtocolTableRows", "_Popup_", new { Data = Model.Prisoner.AdoptionInformation.PrisonAccessProtocol })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                {
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addprotocolBtn">Ավելացնել</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Դատապարտյալ/Կալանավոր`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Տեսակ՝</th>
                                            <th colspan="2">Ամսաթիվ`</th>
                                        </tr>
                                    </thead>
                                    <tbody id="prisonertypestatustablebody" class="prisonertypestatusLoader">
                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.PrisonerTypeList != null)
                                        {
                                            @Html.Action("Draw_PrisonerTypeStatusTableRow", "_Popup_", new { Data = Model.Prisoner.AdoptionInformation.PrisonerTypeList })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                {
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addprisonertypestatus">Ավելացնել</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Դատապարտման Տեսակ`</label>
                        <div class="tableWrap">
                            <div class="tableWrapIn">
                                <table class="table table-bordered table-valignM">
                                    <thead>
                                        <tr>
                                            <th>Հիմք՝</th>
                                            <th>Տեսակ՝</th>
                                            <th>Նկարագրություն՝</th>
                                            <th colspan="2">Ամսաթիվ`</th>
                                        </tr>
                                    </thead>
                                    <tbody id="prisonerpunishmenttypetablebody" class="prisonerpunishmenttypeLoader">
                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.PrisonerPunishmentTypeList != null)
                                        {
                                            @Html.Action("Draw_PrisonerPunishmentTypeTableRow", "_Popup_", new { Data = Model.Prisoner.AdoptionInformation.PrisonerPunishmentTypeList })
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                {
                    <div class="col-xs-12">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-default btn-flat" id="addprisonerpunishmenttype">Ավելացնել</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Ձերբակալման արձանագրություն`</label>
                        <div class="form-group-in">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label class="add-file-label" id="addfilesentenceBtn">
                                            <span>Ֆայլեր`</span>
@if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
{
                                            <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
}
                                        </label>
                                        <div class="tableWrap">
                                            <div class="tableWrapIn">
                                                <table class="table table-bordered table-valignM">
                                                    <thead>
                                                        <tr>
                                                            <th>Անվանում</th>
                                                            <th>Տեսակ</th>
                                                            <th>Ծավալ</th>
                                                            <th>Ամսաթիվ</th>
                                                            <th title="Ներբեռնել" colspan="2"><i class="fa fa-download"></i></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="addfilesentencetablebody" class="fileSentenceLoader">
                                                        @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.SentencingData != null)
                                                        {
                                                            @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.AdoptionInformation.ArrestFiles, PrisonerID = Model.Prisoner.ID })
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="formsWrapSeparator"></div>
            <div class="form-group">
                <label class="add-file-label" id="addfileBtn">
                    <span>Կցված ֆայլեր`</span>
                    @if ((int)System.Web.HttpContext.Current.Session["PPType"] != 0 && ((int)System.Web.HttpContext.Current.Session["ViewMode"] == 1 || System.Web.HttpContext.Current.Session["CaseOpenEntity"] != null))
                    {
                        <span title="Ավելացնել" class="btn btn-sm btn-default btn-flat"><i class="fa fa-plus"></i></span>
                    }
                </label>
                <div class="tableWrap">
                    <div class="tableWrapIn">
                        <table class="table table-bordered table-valignM">
                            <thead>
                                <tr>
                                    <th>Անվանում</th>
                                    <th>Տեսակ</th>
                                    <th>Ծավալ</th>
                                    <th>Ամսաթիվ</th>
                                    <th colspan="2" title="Ներբեռնել"><i class="fa fa-download"></i></th>
                                </tr>
                            </thead>
                            <tbody id="addfiletablebody" class="fileLoader">
                                @if (Model.Prisoner.AdoptionInformation != null && Model.Prisoner.AdoptionInformation.Files != null)
                                {
                                    @Html.Action("Draw_AddFileTableRow", "_Popup_", new { Files = Model.Prisoner.AdoptionInformation.Files, PrisonerID = Model.Prisoner.ID })
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
