﻿<section class="contentWrap">
    <div class="row">
        <div class="col-xs-12">
            <section class="boxWrap">
                <div class="box">
                    <div class="boxHeader">
                        <div class="boxHeaderLeft">
                            <h3>
                                <span>Կառուցվածք</span>
                            </h3>
                        </div>
                        <div class="boxHeaderRight">
                            <!--
                            <button title="Նոր" type="button" class="btn btn-sm btn-default btn-flat">
                                <i class="fa fa-plus"></i>
                            </button>          
                            -->
                            <button type="button" class="btn btn-sm btn-flat btn-default" id="buildTreeBtn">Ծառի Դիտում</button>
                                
                        </div>
                    </div>
                    <div class="boxBody">
                        <div class="row">
                            <div class="col-xs-12 col-md-3">
                                <div class="managerTree">
                                    <div class="managerTreeContent structureTreeLoader" id="structureTreeHolder">

                                        @StructureHelpers.DrawStructureList(Model.RootOrganizationUnit)

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-9 loaderDiv" id="viewholder">

                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <div class="boxFooterLeft">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div class="modal fade userOrderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="userOrderModalLabel">Հրամանագիր</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="OrderNumber">Հրամանի համար`</label>
                                                <input class="orderfields form-control input-sm" type="text" id="OrderNumber" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="OrderBy">Ում կողմից`</label>
                                                <input class="orderfields form-control input-sm" type="text" id="OrderBy" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="OrderDate">Հրամանի ամսաթիվ`</label>
                                                <input class="orderfields form-control input-sm" type="text" id="OrderDate" value="" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="form-group">
                                                <label for="OrderFile">Հրամանի Ֆայլ`</label>
                                                <input type="file" id="OrderFile" />
                                                <span class="orderfields" id="OrderFileName"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal">Փակել</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" id="orderfrommodal">Հաստատել</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel">Հաստատել</h4>
            </div>
            <div class="modal-body">
                <section class="boxWrap">
                    <div class="box">
                        <div class="boxBody">
                            <div class="formsWrap">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="">Վստա՞հ եք, որ ցանկանում եք հեռացնել այս բաժինը</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-sm btn-flat btn-default rowRemoveToggleConfirm" data-dismiss="modal" id="confirmdelete">Այո</button>
                    <button type="button" class="btn btn-sm btn-flat btn-default" data-dismiss="modal" id="declinedelete">Ոչ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="widgetHolder"></div>